<?php $_orders = $this->getOrders(); ?>
<div class="dashboard">
    <div class="welcome-msg">
        <div class="myaccount-content-title"><?php echo $this->__('My Orders') ?></div>
    </div>
  
    <div class="myaccount-left-content">
        <div class="myaccount-container-top"></div>

        <div class="myaccount-container-mid">
          
            <div class="myorders">
  
                <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
                <?php echo $this->getChildHtml('info');?>
                <?php echo $this->getPagerHtml(); ?>
                <?php if($_orders->getSize()): ?>
                <table class="data-table" id="my-orders-table">
                    <col width="1" />
                    <col width="1" />
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <thead>
                        <tr>
                            <th><?php echo $this->__('Order #') ?></th>
                            <th><?php echo $this->__('Date') ?></th>
                            <th><?php echo $this->__('Ship To') ?></th>
                            <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $_odd = ''; ?>
                        <?php foreach ($_orders as $_order): ?>
                        <tr>
                            <td><?php echo $_order->getRealOrderId() ?></td>
                            <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
                            <td><?php echo $_order->getShippingAddress() ? $this->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                            <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                            <td><em><?php echo $_order->getStatusLabel() ?></em></td>
                            <td class="a-center">
                                <span class="nobr"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                                    <?php /*<span class="separator">|</span><a href="<?php echo $this->getTrackUrl($_order) ?>"><?php echo $this->__('Track Order') ?></a>&nbsp;*/ ?>
                                    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                                    <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                                    <?php endif ?>
                                </span>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <script type="text/javascript">decorateTable('my-orders-table');</script>
                <?php echo $this->getPagerHtml(); ?>
                <?php else: ?>
                    <div class="noorder-text">
                        <p><?php echo $this->__('You have placed no orders.'); ?></p>
                    </div>
                <?php endif ?>
                
            </div>

        </div>
        <div class="myaccount-container-bottom"></div>
    </div>
</div>