<div class="cart">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>
	<h1 class="loginsign"><?php echo $this->__('Order Review') ?></h1>    
	<div class="clear"></div>    
	<div class="checkout-onepage">
		<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
			<fieldset>
				<table id="shopping-cart-table" class="data-table cart-table">
					<col width="1" />
					<col />
					<col width="1" />
				<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
					<col width="1" />
				<?php endif ?>
				<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
					<col width="1" />
				<?php endif; ?>
				<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
					<col width="1" />
				<?php endif; ?>
					<col width="1" />
				<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
					<col width="1" />
				<?php endif; ?>
				<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
					<col width="1" />
				<?php endif; ?>
					<col width="1" />

				<?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
					<thead>
						<tr>
							<th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Image') ?></th>
							<th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
							<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"><?php echo $this->__('Move to Wishlist') ?></span></th>
							<?php endif ?>
							<th class="a-center" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
							<th class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Subtotal') ?></th>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center">&nbsp;</th>
						</tr>
						<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
						<tr>
							<th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
							<th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
							<th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
							<th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
						</tr>
						<?php endif; ?>
					</thead>
					<tfoot>
						<tr>
							<td colspan="50" class="a-right">
								<?php if($this->getContinueShoppingUrl()): ?>
									<button type="button" id="continue_button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
								<?php endif; ?>
								<button type="submit" title="<?php echo $this->__('Update Shopping Cart') ?>" class="button btn-update"><span><span><?php echo $this->__('Update Shopping Cart') ?></span></span></button>
							</td>
						</tr>
					</tfoot>
					<tbody>
					<?php foreach($this->getItems() as $_item): ?>
						<?php echo $this->getItemHtml($_item) ?>
					<?php endforeach ?>
					</tbody>
				</table>
				<script type="text/javascript">decorateTable('shopping-cart-table')</script>
			</fieldset>
			<input type="hidden" name="return_url" value="<?php echo $this->getUrl('checkout/onepage') ?>" />
		</form>
	</div>
	<?php echo $this->getChildHtml('gift.tofriend') ?>
	<div id="discount"><span><?php echo $this->__('Click here to apply discount coupons'); ?></span></div>
	<div class="discount_coupons">
		<div class="coupon" id="discount_coupon" style="display:none">
			<div class="col-1">
				<?php echo $this->getChildHtml('coupon') ?>			
			</div>
		</div>
		<div class="totals">
			<?php echo $this->getChildHtml('totals'); ?>
		</div>
	</div>


</div>
<script>
	var click = 0;
	var count = 0;
	Event.observe($("discount"),"click",function(){
	click = click + 1;
	count = (click%2);
	if(count!=0){
		Effect.SlideDown('discount_coupon');
	}else{
		Effect.SlideUp('discount_coupon');
	}
	});
</script>