<?php
$_links = $this->getLinks();
if (count($_links) > 0):
    $iter = 0;
    foreach($_links as $_link):
        $iter++;
        if ($_link instanceof Mage_Core_Block_Abstract):
            echo $_link->toHtml();
        else:
?>
            <li class="level0 ncnav-<?php echo $iter ?><?php if ($_link->getIsFirst()): ?> first<?php endif; if ($_link->getIsLast()): ?> last<?php endif; ?>" <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><span><?php echo $_link->getLabel() ?></span></a><?php echo $_link->getAfterText() ?></li>
<?php
        endif;
    endforeach;
?>
</ul>
<?php endif; ?>
