<?php $current_url = $this->helper('core/url')->getCurrentUrl(); ?> 

<div id="top-share-links">

  <ul>
    <li><a rel="nofollow" href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($current_url); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-facebook.jpg') ?>" alt="" /></a></li>
    <li><a rel="nofollow" href="javascript:popWin('http://twitter.com/share?text=An%20Awesome%20ikOala%20Deal&amp;url=<?php echo urldecode($current_url); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-twitter.jpg') ?>" alt="" /></a></li>
    <li><a rel="nofollow" href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($current_url); ?>', 'google+', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google+') ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-google+.jpg') ?>" alt="" /></a></li>
    <li><a rel="nofollow" href="mailto:?subject=An Awesome ikOala Deal&amp;body=Hi, I found this deal on ikOala and thought you might like it <?php echo $current_url; ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-email.jpg') ?>" alt="" /></a></li>
    <li><a rel="nofollow" rel="nofollow" href="javascript:popWin('//pinterest.com/pin/create/button/?url=<?php echo Mage::getBaseUrl() ?>&media=<?php echo $this->getSkinUrl('images/logo.png') ?>&description=<?php echo $this->__('Save up to 98% off retail prices at ikOala, the daily deals website for everyday products and travel packages. Find daily deals and online bargains updates in Sydney, Melbourne, Brisbane and all over Australia.')  ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');"/><img class="pinit" src="<?php echo $this->getSkinUrl('images/pinit2.png') ?>" /></a></li>
  </ul>
</div>
