<div class="new_cl">
    <div class="deal-menutabs2" id="tab_con">	
        <div class="tabs2">
            <ul>
                <li><a href="#" class="tabLink2 activeLink" id="cont-1"><?php echo $this->__('Most Popular') ?> </a></li>
                <li><a href="#" class="tabLink2 " id="cont-2"><?php echo $this->__('Newest') ?></a></li>
                <li><a href="#" class="tabLink2 " id="cont-3"><?php echo $this->__('You May Also Like') ?></a></li>
            </ul>
        </div>
        <div id="product_1492_tabs_contents" class="product-tabs-content"><span class="scroll-wrapper"> 
            <img src='<?php echo $this->getSkinUrl('images/home-tab-next.png') ?>' id="previmg3"> 
            <img src='<?php echo $this->getSkinUrl('images/home-tab-prev.png') ?>' id="nextimg3"></span>

            <div class="tab-info2"  id="cont-1-1">
                <?php echo $this->getLayout()->createBlock('ikoala_catalog/product_tabs_popular')->toHtml()?>
            </div>     
            <div class="tab-info2 hide" id="cont-2-1">
                <?php echo $this->getLayout()->createBlock('ikoala_catalog/product_tabs_newest')->toHtml() ?>
            </div> 

            <div class="tab-info2 hide" id="cont-3-1">
                <?php echo $this->getLayout()->createBlock('ikoala_catalog/product_tabs_related')->toHtml() ?>
            </div>    
        </div>
    </div>    
</div>

















<script>
    
jQuery(document).ready(function() {
    jQuery(".tabLink2").each(function(){
      jQuery(this).click(function(){
        tabeId = jQuery(this).attr('id');
        jQuery(".tabLink2").removeClass("activeLink");
        jQuery(this).addClass("activeLink");
        jQuery(".tab-info2").addClass("hide");
        jQuery("#"+tabeId+"-1").removeClass("hide")   
        return false;	  
      });
    });  
  });

jQuery(function() {

	jQuery('div.products_gallery ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		next: '#nextimg',
		prev: '#previmg'
	});	
});

jQuery(function() {
	jQuery('div.products_gallery2 ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		prev: '#previmg2',
		next: '#nextimg2'
	});	
});



jQuery(function() {
	jQuery('div.tab-info2 ul.products-grid').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 5000,
		prev: '#previmg3',
		next: '#nextimg3'
	});	
});


jQuery(function() {
	
	jQuery('.new_cl .testimonials_new ').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		//prev: '#previmg3',
		//next: '#nextimg3'
		pager: '#pager	'
		
	});	
});

/*
jQuery(document).ready(function() {
    jQuery("img.lazy-bottom").lazyload({ effect : "show", event: 'loadImages' });
    jQuery(document).scroll(function(){
        console.log('test');
    	jQuery("img.lazy-bottom").trigger('loadImages');
    });
});
*/

</script>
