<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body class="page-pdf<?php echo $this->getBodyClass()?$this->getBodyClass():'' ?>">
<div>
    <?php echo $this->getChildHtml('content') ?>
</div>
<script type="text/javascript">                 
   window.print();            
</script>
</body>
</html>
