<div class="dashboard">
    <div class="welcome-msg">
        <div class="myaccount-content-title"><?php echo $this->__('Address Book') ?></div>
    </div>

    <div class="myaccount-left-content">
        <div class="myaccount-container-top"></div>

        <div class="myaccount-container-mid">
            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            <div class="col2-set addresses-list">
                <div class="col-1 addresses-primary">
                    <h2 class="sub-title"><?php echo $this->__('Default Addresses') ?></h2>
                    <ol>
                    <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
                        <li class="info-box">
                            <h3 class="box-title"><?php echo $this->__('Default Billing Address') ?> <span class="separator">|</span> <a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Billing Address') ?></a></h3>
                            <address class="box-content">
                            <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                            </address>
                       </li>
                    <?php else: ?>
                        <li class="info-box">
                            <h3 class="box-title"><?php echo $this->__('Default Billing Address') ?></h3>
                            <p class="box-content"><?php echo $this->__('You have no default billing address in your address book.') ?></p>
                        </li>
                    <?php endif ?>

                    <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
                        <li class="info-box">
                            <h3 class="box-title"><?php echo $this->__('Default Shipping Address') ?> <span class="separator">|</span> <a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Shipping Address') ?></a></h3>
                            <address class="box-content">
                                <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                            </address>
                        </li>
                    <?php else: ?>
                        <li class="info-box">
                            <h3 class="box-title"><?php echo $this->__('Default Shipping Address') ?></h3>
                            <p class="box-content"><?php echo $this->__('You have no default shipping address in your address book.') ?></p>
                        </li>
                    <?php endif ?>
                    </ol>
                </div>
                <div class="col-2 addresses-additional">
                    <h2 class="sub-title"><?php echo $this->__('Additional Address Entries') ?></h2>
                    <ol>
                    <?php if($_pAddsses = $this->getAdditionalAddresses()): ?>
                        <?php foreach($_pAddsses as $_address): ?>
                        <li class="item">
                            <address>
                                <?php echo $this->getAddressHtml($_address) ?><br />
                            </address>
                            <p class="actions">
                                <a href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>"><?php echo $this->__('Edit Address') ?></a>
                                <span class="separator">|</span>
                                <a href="#" onclick="return deleteAddress('<?php echo $_address->getId() ?>');"><?php echo $this->__('Delete Address') ?></a>
                            </p>
                        </li>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <li class="item empty">
                            <p><?php echo $this->__('You have no additional address entries in your address book.') ?></p>
                        </li>
                    <?php endif ?>
                    </ol>
                </div>
            </div>

            <div>
                <button type="button" title="<?php echo $this->__('Add New Address') ?>" class="button" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><span><?php echo $this->__('Add New Address') ?></span></span></button>
            </div>

        </div>
        <div class="myaccount-container-bottom"></div>
    </div>
</div>


<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo $this->__('Are you sure you want to delete this address?') ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>
