<div class="dashboard">
    <div class="welcome-msg">
        <div class="myaccount-content-title">BILLING ADDRESS</div>
    </div>

    <div class="myaccount-left-content">

        <div class="myaccount-address">
            <div class="address-label-left">CONTACT INFORMATION</div>
            <div class="address-label-right">ADDRESS</div>

            <div class="clear"></div>
        </div>

        <div class="myaccount-container-top"></div>
        <div class="myaccount-container-mid">
            <div class="myaccount-container-content">

                <div class="myaccount-address-form">
                    <form action="<?php echo $this->getBillingSaveUrl() ?>" method="post" id="form-validate">

                        <div class="notice-required"><strong>*</strong> <?php echo $this->__('Required Fields') ?></div>

                        <div class="address-form-left">

                            <?php echo $this->getBlockHtml('formkey')?>

                            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />

                            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

                            <?php echo $this->getNameBlockHtml() ?>

                            <div>
                                <label for="company"><?php echo $this->__('Company') ?></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="company" id="company" title="<?php echo $this->__('Company') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" class="input-text" />
                                </div>
                            </div>

                            <div>
                                <label for="telephone" class="required"><?php echo $this->__('Telephone') ?> <strong>*</strong></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="telephone" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="telephone" />
                                </div>
                            </div>

                            <div>
                                <label for="fax"><?php echo $this->__('Fax') ?></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" class="input-text" />
                                </div>
                            </div>

                        </div>

                        <div class="address-form-right">
                            <div>
                                <label for="street_1" class="required"><?php echo $this->__('Street Address') ?> <strong>*</strong></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="street[]" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
                                </div>
                            </div>

                            <div>
                                <label for="city" class="required"><?php echo $this->__('City') ?> <strong>*</strong></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="city" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
                                </div>
                            </div>

                            <div>
                                <label for="region_id" class="required"><?php echo $this->__('State') ?></label>
                                <div class="input-container">
                                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                       <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>

                                    <script type="text/javascript">
                                    //<![CDATA[
                                        $('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                    </script>

                                    <input type="text" class="input" id="region" name="region" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" />
                                </div>
                            </div>

                            <div>
                                <label for="zip" class="required"><?php echo $this->__('Post Code') ?></label>
                                <div class="input-container">
                                    <input type="text" class="input" name="postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
                                </div>
                            </div>

                            <div>
                                <label for="country" class="required"><?php echo $this->__('Country') ?> <strong>*</strong></label>
                                <div class="input-container">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="button-container">
                            <button type="submit" class="input-save" title="<?php echo $this->__('Save Address') ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="myaccount-container-bottom"></div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>