<div id="sort-toolbar">
  <h2>Sort By:</h2>
  <?php echo $this->getChildHtml('ikoala_city_switcher'); ?>
  <?php
    $active_cats = $this->getActiveCategories();
    $is_home = (Mage::getSingleton('cms/page')->getIdentifier() == 'home');
  ?>
  <?php if (count($active_cats)): ?>
    <div class="shop-sort">
      <select onchange="location.href=this.value" title="Select Shop" id="shop-switcher">
        <option value="" selected="selected">Shop</option>
        <option <?php if ($is_home): ?>class="current"<?php endif; ?> value="<?php echo Mage::getBaseUrl() ?>">All Deals</option>
        <?php foreach ($this->getActiveCategories() as $url => $meta): ?>
        <?php list($name, $is_current) = $meta; ?>
          <option <?php if ($is_current): ?>class="current"<?php endif; ?> value="<?php echo $url ?>"><?php echo $name ?></option>
        <?php endforeach; ?>
      </select>
    </div>
  <?php endif; ?>

  <div class="price-sort">
    <select onchange="location.href=this.value" title="Sort by Price" id="price-switcher">
      <option value="" selected="selected">Price</option>
      <option value="?dir=asc&amp;order=price">Ascending</option>
      <option value="?dir=desc&amp;order=price">Descending</option>
    </select>
  </div>

  <div class="discount-sort">
    <select onchange="location.href=this.value" title="Sort by Discount" id="discount-switcher">
      <option value="" selected="selected">Discount</option>
      <option value="?dir=asc&amp;order=discount">Ascending</option>
      <option value="?dir=desc&amp;order=discount">Descending</option>
    </select>
  </div>
</div>
