*{ margin:0; padding:0; outline:0; }
.Fleft { float:left!important; }
.Fright { float:right!important; }
.Middle { vertical-align:middle; }
.nobdr { border:none!important; }
.nobg { background:none!important; }
.nobdr_top { border-top:none!important; }
.nobdr_left{ border-left:none!important;}
.nobdr_right{ border-right:none;}
.nomargin { margin:0px !important; }
.nopadding { padding:0px; }
.alignbottom { vertical-align:text-top; }
.padd_rgt { padding-right:0; }
.hidden{ overflow:hidden!important;}
.margin-left{ margin-left:0px !important;}
img{ border:0px;}
ul { list-style-type:none; list-style:none; padding:0; margin:0; }
ul li { list-style:none; padding:0; margin:0;}
a { text-decoration:none; outline:none; }
.clear { padding:0; margin:0; line-height:0; height:0; font-size:0; clear:both; width:100%; display:block; }
aside, details, figcaption, figure, ins, summary, small, mark, title, video footer, header, hgroup, nav, section, article { display: block }
h1, h2, h3, h4, h5, h6 {font-weight: normal; padding:0; margin:0; }
.clearfix:after { clear: both; width: 100%; height: 0; content: ""; display:block;}
html, body { height: 100%; padding: 0; margin: 0; min-width:1200px; text-align: left;}
::selection {background: #65afdf; color:#FFFFFF;/* Safari */}
::-moz-selection {background: #65afdf; color:#FFFFFF; /* Firefox */}
/*=================================font-facestart================================*/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clanotbook';
    src: url('fonts/clanot-book-webfont.eot');
    src: url('fonts/clanot-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clanot-book-webfont.woff') format('woff'),
         url('fonts/clanot-book-webfont.ttf') format('truetype'),
         url('fonts/clanot-book-webfont.svg#clanotbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'clanotnews';
    src: url('fonts/clanot-news-webfont.eot');
    src: url('fonts/clanot-news-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clanot-news-webfont.woff') format('woff'),
         url('fonts/clanot-news-webfont.ttf') format('truetype'),
         url('fonts/clanot-news-webfont.svg#clanotnews') format('svg');
    font-weight: normal;    font-style: normal;

}

@font-face {
    font-family: 'clanotmedium';
    src: url('fonts/clanot-medium-webfont.eot');
    src: url('fonts/clanot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clanot-medium-webfont.woff') format('woff'),
         url('fonts/clanot-medium-webfont.ttf') format('truetype'),
         url('fonts/clanot-medium-webfont.svg#clanotmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clanotbold';
    src: url('fonts/clanot-bold-webfont.eot');
    src: url('fonts/clanot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clanot-bold-webfont.woff') format('woff'),
         url('fonts/clanot-bold-webfont.ttf') format('truetype'),
         url('fonts/clanot-bold-webfont.svg#clanotbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*=====================font-face-End==============================*/
#wrapper{ width:100%;}
.header{ width:100%; background:#212427; height:68px; padding: 0;}
.logo{ float:left; width:205px;}
/*===========================Header-css-start======================*/
.nav{ width:44%; float:left; margin:0px 0 0 10px; height:68px;}
.nav ul{ list-style:none;}
.nav ul li{ float:left; position:relative;}
.nav ul li a { color:#fff; font:13px/68px 'proxima_nova_rgregular'; padding:0 15px;text-transform:uppercase;}
.nav ul li a:hover{ color:#74c136;}
.nav ul li a img{ padding:0 0 0 10px;}

.submenu-2{ display:none;}
.nav ul li:hover .submenu-2{ display:block; position:absolute; background:#212427; left:0px;  top:67px; padding:0; z-index:999; min-width:140px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -o-border-radius:0 0 5px 5px; -ms-border-radius:0 0 5px 5px; webkit-border-radius:0 0 5px 5px;}
.nav .submenu-2{ list-style:none; }
.nav .submenu-2 li{ margin:0px; display:block; height:auto;  float:none; border-top:1px dotted #CCCCCC; color:#00000;}
.nav .submenu-2 li:hover{ background:#999999;}
.nav .submenu-2 li:first-child{ border:none;}
.nav .submenu-2 li a{ color:#00000; font:13px/20px 'proxima_nova_rgregular'; text-align:left!important; padding:0; display:block; padding:5px 0 5px 10px;}
.nav .submenu-2 li a:hover{color:#000000;}







.rigt-hed{ float:right;}
.rigt-hed ul{ list-style:none;}
.rigt-hed ul li{float:left; background:url(../images/top-bor.gif) repeat-y; height:68px; padding:0 10px; color:#fff; font:12px/18px'proxima_nova_rgregular'; }
.rigt-hed ul li a{color:#fff; font:12px/68px 'proxima_nova_rgregular';  text-transform:uppercase;}
.rigt-hed ul li img{ vertical-align:middle; padding:0 8px 0 5px;}
.rigt-hed ul li a:hover{color:#74c136;}
.rigt-hed ul li:last-child{ border:none;}

.main{ background-image: none; border: none; }
.serac-box{ width:190px; height:36px; background:#f8f8f8;  margin:15px 0 0 0; border-radius:5px; padding:0 5px; position:relative;}
.serac-box input{ background:#f8f8f8; color:#212427;  font:13px/36px 'proxima_nova_rgregular'; border:none; text-transform:uppercase; width:145px; height:36px; float:left; padding:0 0 0 5px;}
.serac-box input[type="submit"]{ background:url(../images/search-icon.png) no-repeat right top; width:20px; height:21px; text-indent:-99999px; position:absolute; top:6px; right:15px; cursor:pointer;}
/*===========================banner-css-start======================*/
.banner{ width:100%; }
.bnr-box{ width:33.3%; float:left; position:relative;}
.bnr-box:hover{ background:#161717;}
.bnr-box:hover img{ opacity:0.5;}
.bnr-box img{ width:100%; display:block;}



.link-box{ background:url(../images/link-bg.png) repeat; float:left; position:absolute; bottom:213px;}
.link-box a { color:#fff;font:30px/74px 'clanotbook'; text-transform:uppercase; padding:0px 30px 0px 10px; display:inline-block; background:url(../images/link-next.jpg) center right no-repeat;}

.link-box:hover{ z-index:999; position:absolute;} 

/*===============prodcut-sl-css-start=======================*/
.prodcut-sl{ width:90%; margin:0 auto; padding:5px 0 10px 0; position:relative;}
.prodcut-sl h1{ color:000; font:19px/22px 'clanotbold'; text-transform:uppercase; padding:25px 0 15px 0px; text-align:left;}
.feature-left{ width:65%; float:left; margin:25px 0 0 15px; }
.feature-left h3{ color:#000000; font:22px/24px 'clanotnews';text-align:left; padding:0 0 7px 0; text-transform:uppercase;}
.feature-left p{ color:#999999; font:13px/16px 'clanotnews';text-align:left;}

.bx-slider-outer{  margin:0 auto; width:100%!important; height:450px!important;}
.bx-slider-1{ width:100%!important; margin:0 auto; }
.bx-slider-2{  width:32.3%; float:left; margin:0 5px ;}

.img-box-2{ height:auto; width:auto;}
.box-txt{ height:80px; width:auto;}


.feature-products{ width:98%; float:left; background:#eeeeee; text-align:center; margin:0; padding:0 1% 50px 1%;} 
.feature-products img{ padding:13px 0 0 0; width:96%;}

.feature-right{ width:30%; float:right;margin:25px 0 0 0px;}
.feature-right h3{color:#000000; font:21px/25px 'clanotnews';  text-transform:uppercase;}
.feature-right img{ text-align:inherit; padding:0px; width:auto;}

/*======================slider-script======csss==========================*/
.bx-wrapper {position: relative;margin: 0 auto;padding: 0;*zoom: 1;max-width:99%!important;}
.bx-wrapper img {max-width: 100%;}
.bx-wrapper .bx-prev {right:-25px;background: url(../images/next.png);}
.bx-wrapper .bx-next {right:10px;background: url(../images/pre.png);}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;
z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url(../images/next.png) -86px -11px no-repeat;margin: 0 3px;}

.bx-default-pager{ display:none;}
.bx-controls-direction{ padding:0; position:absolute; right:1%; width:100px; height:40px; top:20px;} 
#previmg2{ width:32px; height:32px; background:url(../images/pre.png) no-repeat; width:32px!important; position:absolute; right:50px; top:0px; cursor:pointer;}
#nextimg2{ width:32px; height:32px; background:url(../images/next.png) no-repeat; width:32px!important; position:absolute; right:12px; top:0px; cursor:pointer;}

/*=================From The Blog=================================*/

.blog-sec{ width:85%; background:url(../images/botm-border.gif) repeat-x; padding:15px 0 35px 0; margin:0 auto;}
.blog-sec:after{ width:100%; height:0; clear:both; content:""; display:block;}
.blog-part{ width:100%; float:left; padding:10px 0 0 0;}
.blog-part:after{ width:100%; height:0; clear:both; content:""; display:block;}
.blog-box{ float:left;  border:#ecebeb solid 1px; margin:10px 0 0 0px;}
.blog-box a{ text-decoration:none; color:#000000;}
.blog-box img{width:100%; display:block;}
.blog-box small{ color:#5e5f60; font:11px/16px 'clanotnews'; padding:10px 5px 5px 15px;}
.blog-box h5{ font:14px/24px 'clanotmedium'; padding:10px 5px 5px  15px;}

.blog-left { float: left;  width:79%;}
.blog-left h2{ color:000; font:19px/22px 'clanotbold'; text-transform:uppercase; padding:20px 0 0 0;}

.blog-outer{ float:left; width:auto;}
.blog-outer-2{ float:right; width:auto;}


.row-1{ width:250px; float:left;}
.row-1 h2{ color:000; font:20px/22px 'clanotbold'; text-transform:uppercase; padding:20px 0 0 0;}
.log-box{  float:left; margin:52px 0 0 5px; width:268px;}
.log-box .clm{border:#ebeaea solid 1px;  margin:0 auto; width:268px;}
.log-box a{ text-decoration:none; color:#000000;}
.log-box img{ width:100%;}                
.log-box small{color:#5e5f60; font:11px/16px 'clanotnews'; padding:20px 5px 5px 15px;}
.log-box h5{ font:15px/24px 'clanotbold'; padding:10px 10px 5px  15px;}
.log-box p{ color:#5e5f60;font:12px/29px 'clanotnews'; padding:0px 5px 20px  15px;}
.instagram .clm2{ margin:0 auto;}
.instagram{ width:320px; float:left; margin:0 0 0 0px; }
.instagram h2{ color:000; font:20px/22px 'clanotbold'; text-transform:uppercase; padding:20px 0 5px 15px;}
.pop-box{ width:44%; float:left; border:#ebeaea solid 1px; margin:5px 0 5px 7px; padding:4px;}
.pop-box img{ width:100%;}

.blog-right{ float:right; width:290px;}
.feed-back{ width:100%; float:left; margin:0 0 0 5px;}
.feed-back h2{ color:000; font:20px/22px 'clanotbold'; text-transform:uppercase; padding:20px 0 5px 5px;}
.feed-back-form{ background: #eeeeee; width:96%; padding:2% 5%; margin:5px 0 0 0;}
.feed-back-form label{ color:#474a51; font:12px/18px 'clanotnews';} 
.feed-back-form input{ width:96%; background:#FFFFFF; height:35px; color:#474a51; font:12px/35px 'clanotnews'; padding:0 5px; border:none; margin:5px 0;}
.feed-back-form textarea{ width:96%; background:#FFFFFF; height:100px; color:#474a51; font:12px/18px 'clanotnews'; padding:5px 5px 0 5px; border:none; margin:5px 0; resize:none; height:116px;}
.feed-back-form input[type="submit"]{ width:100%; height:50px; background:#74c136;  font:16px/50px 'clanotmedium'; color:#FFFFFF; text-align:center; text-transform:uppercase; cursor:pointer;}

/*===============================footer-css-start==================================*/
.footer{ width:100%!important; background:#212427; margin:0 auto; border-bottom:#35383a solid 1px; padding:0 0 30px  0;}
.footer-inner{ width:85%; margin:0 auto;}
.fotr-box{ width:22%; float:left; margin:25px 0 0 5px;}
.fotr-box img{ float:left;}
.fotr-box h4{ font:14px/22px 'clanotbold'; color:#fff; text-transform:uppercase; padding:10px 0 10px 0;}
.fotr-box ul{ list-style:none;}
.fotr-box ul li{ display:block;}
.fotr-box ul li a{ color:#909293;font:12px/29px 'clanotnews'; background:url(../images/left-arrow.png) center left no-repeat; padding:0 0 0 13px;}
.fotr-box ul li a:hover{ color:#74c136;}


.fotr-box2{ width:22%; float:left; margin:25px 0 0 12px;}
.fotr-box2 img{ float:left;}
.fotr-box2 h4{ font:14px/22px 'clanotbold'; color:#fff; text-transform:uppercase; padding:10px 0 10px 0;}
.fotr-box2 ul{ list-style:none;}
.fotr-box2 ul li{ display:block; padding-bottom:7px;}
.fotr-box2 ul li a{ color:#909293;font:12px/29px 'clanotnews';  padding:0 0 0 13px;}
.fotr-box2 ul li a:hover{ color:#74c136;}



.fotr-box3{ width:20%; float:left; margin:25px 0 0 12px;}
.fotr-box3 img{ vertical-align:middle; padding:0 7px 0 0;}
.fotr-box3 h4{ font:14px/22px 'clanotbold'; color:#fff; text-transform:uppercase; padding:10px 0 10px 0;}
.fotr-box3 ul{ list-style:none;}
.fotr-box3 ul li{ display:block; padding-bottom:7px;}
.fotr-box3 ul li a{ color:#909293;font:12px/29px 'clanotnews';  padding:0 0 0 13px;}
.fotr-box3 ul li a:hover{ color:#74c136;}



.map-box{ width:40%; float:left; margin:25px 0 0 0;}
.map-box img{ float:left; margin:0 25px 0 0;}
.map-box h4{ font:14px/22px 'clanotbold'; color:#fff; text-transform:uppercase; padding:10px 0 10px 0;}
.map-box ul{ list-style:none;}
.map-box ul li{ display:block;color:#909293;font:12px/29px 'clanotnews';}
.map-box ul li a{  color:#909293;}
.map-box ul li img{ vertical-align:middle; float:none; margin:0 7px 0 0;}
.map-box ul li a:hover{ color:#74c136;}

.newsletter{ width:30%; float:right; margin:25px 0 0 0;}
.newsletter h4{ font:14px/22px 'clanotbold'; color:#fff; text-transform:uppercase; padding:10px 0 10px 0;}
.newsletter label{font:12px/29px 'clanotnews'; color:#909293; display:block;}
.newsletter input{ width:65%; float:left;border:none; height:40px; padding:0 10px 0 10px;font:12px/29px 'clanotnews';border-radius: 2px 0 0 2px	;}
.newsletter [type="submit"]{ width:50px;  background:#74c136; border:none;height:40px; cursor:pointer; text-transform:uppercase; color:#fff; margin:0 0 0 5px;font:12px/29px 'clanotnews'; border-radius:0;}
/*======================footer quick-link-css=======================*/
.socal-icon img{ padding:0 2px 0 2px;}
.socal-icon{ width:100%; margin:15px 0 0 0; float:left;}
.socal-icon a{ float:left; display:block; margin:0 2px;} 
.socal-icon a.in-icon{ width:42px; height:42px; background:url(../images/link-din.jpg) no-repeat;}
.socal-icon a.in-icon:hover{ width:42px; height:42px; background:url(../images/link-din-2.jpg) no-repeat;}

.socal-icon a.t-icon{ width:42px; height:42px; background:url(../images/t-icon.jpg) no-repeat;}
.socal-icon a.t-icon:hover{ width:42px; height:42px; background:url(../images/t-icon-2.jpg) no-repeat;}

.socal-icon a.f-icon{ width:42px; height:42px; background:url(../images/facebook-icon.jpg) no-repeat;}
.socal-icon a.f-icon:hover{ width:42px; height:42px; background:url(../images/facebook-icon-2.jpg) no-repeat;}

.socal-icon a.p-icon{ width:42px; height:42px; background:url(../images/pin-icon.jpg) no-repeat;}
.socal-icon a.p-icon:hover{ width:42px; height:42px; background:url(../images/pin-icon-2.jpg) no-repeat;}

.socal-icon a.g-icon{ width:42px; height:42px; background:url(../images/google-icon.jpg) no-repeat;}
.socal-icon a.g-icon:hover{ width:42px; height:42px; background:url(../images/google-icon-2.jpg) no-repeat;}

.coppy-right{ width:100%; margin:0 auto; background:#212427; padding:10px 0 10px 0;}
.coppy-right p{ color:#4d5052;font:12px/29px 'clanotnews'; padding:0 0 0 12px}




/*======================contant-part-css-start-here=======================*/
.contant-outer{ width:85%; margin:20px auto 0 auto; background: url("../images/botm-border.gif") repeat-x; padding:35px 0;}
.contant-outer:after{ width:100%; height:0; clear:both; content:""; display:block;}
.contant-left{ float:left; width:40%;}
.img-box{ position:relative; width:100%;}
.img-box img{ max-width:100%; width:100%;}
.img-txt{ background:url(../images/link-bg.png) repeat; color:#fff;font:30px/55px 'clanotbook'; padding:0 15px; position:absolute; right:0; bottom:40px;}

.contant-right{ float:right; width:58%;}
.contant-right h4{ font:26px/30px 'clanotbold'; color:#000000; margin:0 0 20px 0;}
.contant-right h5{ font:20px/32px 'clanotbook'; color:#242222;}
.contant-right p{ font:14px/29px 'clanotbook'; color:#5e5f60; padding:10px 0;}

.find-out{ background:url(../images/black-arrow.png) no-repeat 90% 15px;  font:16px/42px 'clanotnews'; color:#000000; border:2px solid #000000; width:220px; text-align:center; text-transform:uppercase; display:block; margin:5px 0 0 0;}
.find-out img{ vertical-align:middle; margin:0 0 0 10px;}
.find-out:hover{ color:#74C136; border:2px solid #74C136; background:url(../images/greenarrow.png) no-repeat 90% 15px;}
/*======================contant-part-css-end-here=======================*/


/*======================product-detail-page-part-css-start-here=======================*/

.detail-part-outer{ width:100%; margin:0 auto; background:#FFFFFF; }




.detail-mid-part{ width:90%; margin:0 auto; padding:20px 0;}
.detail-mid-part:after{ width:100%; height:0; clear:both; content:""; display:block;}


.detail-top-part{ width:100%; margin:0 auto;}
.detail-top-part:after{ width:100%; height:0; clear:both; content:""; display:block;}

.detail-top-left{ width:42%; float:left;}



.detail-top-right{ width:57%; float:right;}
.detail-top-right a{ text-decoration:none;}
.detail-top-right h2{ font:45px/56px clanotbook; color:#000000; text-transform:uppercase;}
.detail-top-right h3{ font:45px/56px clanotmedium; color:#74c136; text-transform:uppercase;}
.bdr{ width:100%; border-top:1px solid #ececec; margin:10px 0;}

.detail-top-right h5{ font:13px/25px clanotnews; color:#000000; margin:5px 0; display:inline-block;}
.detail-top-right h5 a{ text-decoration:none; color:#000000;}
.detail-top-right p{ font:13px/25px clanotnews; color:#333333; margin:5px 0; display:inline-block;}

.price-row{ width:100%; margin:10px 0; padding:10px 0;}
.price-row:after{ width:100%; height:0; clear:both; display:block; content:"";}
.price-row h4{font:38px/45px clanotbook; color:#62ab27; text-decoration:line-through; float:left;}
.price-row h5{font:38px/45px clanotmedium; color:#000000;  margin:0 0 0 20px; float:left;}

.price-row h6{font:14px/45px clanotnews; color:#333333;   margin:0 0 0 40px; float:left;}

.price-row .quantity-input{ float:left; position:relative; border:1px solid #e1e1e1;  border-radius:5px; margin:0  0 0 15px; height:37px; }

.price-row .quantity-input input{ border:none; font:15px/37px proxima_nova_rgregular; color:#000000; width:45px;  height:37px; border-radius:5px 0 0 5px; padding:0 5px 0 10px; float:left;  border-right:1px solid #e1e1e1;}
.price-row .quantity-input span{ float:right; }
.price-row .quantity-input span a{ float:none!!important; display:block; }
.price-row .quantity-input span .plus{ border-radius:0 5px  5px 0;}
.price-row .quantity-input span .minus{ }
.price-row .quantity-input span .minus img{ border-radius:0  0 5px 0; display:block;}
.price-row .quantity-input span .plus img{ border-radius:0  5px 0 0; display:block;}

.bt-row{  width:100%; margin:20px 0 20px 0; padding:10px 0;}
.bt-row:after{width:100%; height:0; clear:both; display:block; content:"";}

.bt-row .cart-bt{ background: #74c136 url(../images/cart-bt-icon.png) 25px 15px no-repeat; width:250px; text-align:center; font:16px/50px clanotmedium; color:#ffffff; display:block; text-transform:uppercase; float:left;}
.bt-row .cart-bt:hover{ color:#000000; background:#61ab26 url(../images/cart-bt-icon.png) 25px 15px no-repeat;;}

.bt-row .email-bt{ background: #fbe39a url(../images/heart-icon.png) 15px 18px no-repeat; width:125px;  font:13px/50px clanotnews; color:#cd9f00; display:block; text-transform:uppercase; margin:0 0 0 15px; float:left; padding:0 0 0 45px;}
.bt-row .email-bt:hover{ color:#000000; background:#ffecb4 url(../images/heart-icon.png) 15px 18px no-repeat;}

.bt-row .wish-list-bt{ background: #fbe39a url(../images/email-icon.png) 15px 18px no-repeat; width:135px; font:13px/50px clanotnews; color:#cd9f00; display:block; text-transform:uppercase; margin:0 0 0 10px; float:left; padding:0 0 0 45px;}
.bt-row .wish-list-bt:hover{ color:#000000; background:#ffecb4 url(../images/email-icon.png) 15px 18px no-repeat;}


.detail-top-right h1{ font:24px/35px clanotmedium; color:#000000; text-transform:uppercase; margin:10px 0 0 0;}

.detail-top-right ul{ list-style:none; margin:10px 0 0 0;}
.detail-top-right ul li{   font:13px/35px clanotnews; color:#333333; background:url(../images/li-icon.png) no-repeat left; padding:0 0 0 15px;}


.similar-product{ width:100%; margin:10px 0 0 0; padding:20px 0 35px 0;}
.similar-product:after{ width:100%; height:0; clear:both; display:block; content:"";}
.similar-product h2{ font:24px/35px clanotmedium; color:#000000; text-transform:uppercase; padding:0 0 20px 0;}

.clm-4{ width:25%; float:left;}
.product-box{ background:#eeeeee; padding:10px 8px; margin:0 5px;}
.product-box img{ width:100%;}
.product-txt{ padding:10px 0 0 0;}
.product-txt:after{ width:100%; height:0; clear:both; content:""; display:block;}
.product-txt-left{ float:left;}
.product-txt-left h4{  font:13px/35px clanotnews; color:#000000; text-transform:uppercase;}
.product-txt-right{ float:right;}
.product-txt-right h5{  font:17px/20px clanotnews; color:#000000;}


/*-----------------------Thumb-slider-css-start-------------------------*/
.slider-outer{ background:#eeeeee!important; padding:10px; float:left; }
#banner{width:100%;} 
#slider-wrap{ height:545px!important; position:relative; text-align:center;}
#slider-wrap .slide{width:100% !important; height:auto !important; position:relative}
#slider-wrap img{ height:541px; max-width:100%; width:100%;}
.navi{margin:0; position:relative; z-index:9;}
.navi ol{margin:0;padding:0}
.navi ol li{list-style:none; float:left; margin:0 1px; border:1px solid #e9e9e9;  background:#FFFFFF; padding:0; border-radius:5px;}
.navi ol li img{ text-align:center;}
/*-----------------------Thumb-slider-css-end-------------------------*/





/******************tab-css-start-here******************/

.social-icon-2{ position:absolute; right:15px; top:5px;}
.social-icon-2 a{ float:left; margin:0 2px;}

.tab-outer{ position:relative; width:100%;  border:1px solid #e6e5e5; margin:30px 0 0 0;}
.tab-outer:after{ content:""; clear:both; display:block; width:100%; height:0;}
.tab-box{ padding:0; width:100%;  background:#ffffff; position:relative;}
.tab-box:after{ content:""; clear:both; display:block; width:100%; height:0;}


.tab-box ul{ list-style:none; }
.tab-box li{ margin:0 0 -1px 0; border-right:1px solid #e6e5e5; border-left:1px solid #e6e5e5;  float:left; text-align:center;   position:relative; }
.tab-box li:first-child{ border:none;}
.tab-box li a { padding:0 30px; display:block;  border-bottom:1px solid #e6e5e5;  font:16px/50px clanotmedium; color:#000000;   text-decoration:none;  text-transform:uppercase; text-align:center; }

.tab-box li a.activeLink { background:#ffffff;  color:#3a3233; display:block; border-bottom:none; position:relative; padding-top:1px; }

.tabcontent{display:inline-block; padding:15px 0; border-top:1px solid #e6e5e5;}
.tabcontent-box{ padding:10px 15px;}
.tabcontent-box p{font:13px/25px clanotnews; color:#333333;  padding:5px 0;}
.tabcontent-box h6{font:12px/25px robotobold; color:#3a3233; padding:5px 0; text-transform:uppercase;}
.tabcontent-box ul{ list-style:none; margin:20px 0 0 0;}
.tabcontent-box ul li{   font:13px/35px clanotnews; color:#333333; background:url(../images/li-icon.png) no-repeat left; padding:0 0 0 15px;}

.tabcontent:after{ width:100%; height:0px; clear:both; display:block; content:"";}

.hide { display: none;}
.minigallery{ width: 112px; text-align: center;}
/******************tab-css-start-here******************/



/*======================product-detail-page-part-css-end-here=======================*/




/*=================terms-page-css-start==============================*/
.inner-page{ width:90%; margin:0 auto;}
.bread-cum-outer{ width:100%; margin:20px auto 0 auto; border-bottom:#f3f3f3 solid 1px; padding:0 0 10px 0;}
.bread-cum{ width:90%; margin:0 auto;}
.bread-cum ul{ list-style:none;}
.bread-cum ul li { float:left;font:13px/24px 'proxima_nova_rgregular'; color:#909193; padding:0 0px 0 7px;}
.bread-cum ul li a{color:#909193;}




.content-page{ width:100%; margin:0 auto; padding:0 0 30px 0;}
.content-page h1{ color:#000;font:26px/28px 'clanotbold'; padding:20px 0 18px 0;}
.content-page h2{ color:#000;font:18px/28px 'clanotbold'; text-transform:capitalize; padding:3px 0;}
.content-page{color:#000;font:10px/18px 'clanotbold'; }
.content-page p{font:15px/27px 'proxima_nova_rgregular'; padding:10px 0 10px 0; color:#3c3f41;}
/*=================terms-page-css-end==============================*/


/*==========================FAQ-page-css=============================*/
.glossymenu{margin: 5px 0;width:100%;}
.glossymenu a.menuitem{background: url(../images/acdr-bg.jpg) repeat-x;font:14px/18px 'clanotmedium';color:#000000!important;display: block;position: relative; width: auto;
padding:15px 0 13px 20px; border-radius:5px;border:#e6e4e4 solid 1px;margin-bottom:10px;}
.glossymenu a.menuitem .statusicon{position: absolute;top: 15px;right: 10px;border: none;}
/*==========================FAQ-page-css-End=============================*/

/*=================== new css =============================== */
.wrapper, .col1-layout .col-main, .std ul{ padding: 0; }
.main, .footer ul.links li, .footer ul li{ margin: 0; }
.std ul, .std ol, .std dl, .std p, .std address, .std blockquote, .std table{ margin-bottom: 0; }
.nav img { vertical-align: middle; }
.detail-top-right img { vertical-align: baseline; }
.footer ul, .footer ul.links{ margin: 0; }
.notavail{ display: block; font-size: 27px; float:left; font-weight: bold; line-height: 30px; background: #ddd; padding: 10px; color: red; }
#messages_product_view{ width: 80%; margin: 10px auto; }
.reviews-count { margin-top: -10px; display: block; float:left; }

.box-reviews{ font: 13px/35px clanotnews; }
.box-reviews dd { border-bottom: 1px dotted #ddd; }
.box-reviews dt { font-size: 12px; }
.box-reviews dt span{ font-style: italic; }
.box-reviews dt a { font-weight: bold; }
.ratings-table { font-size: 10px; }
.ratings-table  th{ margin: -10px 10px 0 0; display: block; }
.tabcontent-box ul li { background: none; }
.submit-review{ padding: 10px; background: #61AB26; color:#fff; float: right; font-weight: bold; border: none;}
