<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct();   ?>

<?php $_deal = $this->getDeal(); ?>
<?php $dealHelper = $this->helper('dailydeals/cart'); ?>

<?php $productName = $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
<?php $productUrl = $_helper->productAttribute($_product, $_product->getProductUrl(), 'product_url'); ?>
<?php $productImage = $_product->getImageUrl() ?>
<?php $dateNow = date("Y-m-d H:i:s", Mage::getModel('core/date')->timestamp(time())); ?>
<?php
    if(Mage::registry('current_category')){
        $cat_name = Mage::registry('current_category')->getName();
    } else {
        $cat_name = '';
    }
    
    $class = '';
?>

<?php
$showBuyButton = false;
if($_deal->getCanPurchase()):
	$showBuyButton = true;
endif;
?>
<?php 
	$_minimalPriceTax = $_product->getFinalPrice();
	if($_product->getTypeId() == "bundle"){
		$_priceModel  = $_product->getPriceModel();
		list($_minimalPriceTax, $_maximalPriceTax) = $_priceModel->getTotalPrices($_product, null, null, false); 
	}

    $_buynow_btn = '';
    $_notavail_btn = '';
    if($_product->getFactoryFastId() != ''){
        $class = "fact-fast";
    }
    if($_deal->getApproved() == 1 && strtotime($_product->getDealFromDate()) <= strtotime($dateNow)){
        if ($showBuyButton && $_product->isSaleable()){ 
            $params = array( 'deal' => $_deal->getId() ); 
            if($_product->getTypeId() == "configurable"){      
                $_buynow_btn = '<div class="btn_buy">
                    <a href="#" id="show_config_options"><div>'.$this->__("BUY NOWasdsa").'</div></a>asdasd
                </div>
                <script type="text/javascript">
                    Event.observe($("show_config_options),"click",function(){
                    $("config_options").show();
                    $("config_options_background").show();
                    });                                     
                </script>';
            } elseif($_product->getTypeId() == "bundle" || $this->hasOptions()){
                $_buynow_btn = '<div class="attr-holder '.$class.'">'.$this->getChildChildHtml('container2', '', true, true).'</div>';
                $_buynow_btn .= '<div class="add-to-cart"><div class="buynowbtn-bg"><button type="button" onclick="productAddToCartForm.submit(this)">BUY NOW</button></div></div>';
            } else {
                $_buynow_btn = '<div class="add-to-cart"><div class="buynowbtn-bg"><button type="button" onclick="productAddToCartForm.submit(this)">BUY NOW</button></div></div>';
            }
        }else{
            $class = 'not-avail';
            $_notavail_btn = '<div class="btn_finished">
                <span>'.$this->__("Sorry,<br/>Sold Out!").'</span>
            </div>';        
        }
    } else {
        $_notavail_btn = '<div class="btn_finished">
            <span>'.$this->__("Not Yet available").'</span>
        </div>';
    }

echo $this->getChildHtml('sidebar_deals');
?>
<?php if($class != 'not-avail' && $_product->getLinkUrl() != ''): ?>
    <?php $_buynow_btn = "<a class='view-now' href='javascript:void(0).' link-href='".$_product->getLinkUrl()."'><div class='add-to-cart'><div class='buynowbtn-bg'><button type='button'>VIEW NOW</button></div></div></a>"; ?>
<?php endif; ?>
    
    	<div class="deal">
            <div class="deal-info-holder">
                <div class="deal-top">
                    <div class="deal-title">
                            <h2 class="product-name"><?php echo $_product->getName(); ?></h2>
                    </div>
                    <div class="product-description">
                        <?php echo $_product->getShortDescription(); ?>
                    </div>
                    <div class="clear"></div>
                </div>
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>
                    <div class="deal-info">
        			<div class="leftcol">
                        
                        <div class="timer-holder">
                            <?php if($_notavail_btn == ''): ?>
                                <?php if($_product->getVisibleTimer() == '2' || $_product->getVisibleTimer() == ''): ?>
                                    <?php echo $this->getChildHtml('cert'); ?>
                                <?php else: ?>
                                    <?php echo $this->getChildHtml('timer'); ?>
                                <?php endif; ?>
                            <?php else: ?>
                                <div class="not-avail">
                                    <?php echo $_notavail_btn; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        
                        <div class="special-price <?php echo $class ?>">
                            <?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?>
                        </div>
                        
                        <?php if($_product->getPostage() > 0): ?>
                            <div class="postage-holder attr-holder">
                                <span><?php echo $this->__('Postage:')." ".$_coreHelper->currency($_product->getPostage(),1,0); ?></span>
                            </div>
                        <?php endif; ?>
                        

                        <?php if($_buynow_btn != ''): ?>
                            <?php echo $_buynow_btn; ?>
                        <?php else: ?>
                        <div class="empty-buynow"></div>
                    <?php endif; ?>
                        <?php #echo $this->getChildHtml('addtocart'); ?>
                        <?php echo $this->getChildHtml('discount'); ?>

        				<?php echo $this->getChildHtml('tipometer'); ?>     
                        <div class="deal-share-this">
                            <span><?php echo $this->__('Share This') ?></span><br/> 
                            <a onClick="_gaq.push(['_trackEvent', 'Product Share Button', 'Clicked', 'Facebook Share']);" href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>"><img src="<?php echo $this->getSkinUrl('images/fb2.png');?>" alt="Facebook" /></a>
                            <a onClick="_gaq.push(['_trackEvent', 'Product Share Button', 'Clicked', 'Twitter Share']);" href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>"><img src="<?php echo $this->getSkinUrl('images/twee2.png');?>" alt="Twitter" /></a>
                            <a onClick="_gaq.push(['_trackEvent', 'Product Share Button', 'Clicked', 'Email Share']);" href="mailto:?subject=An Awesome ikOala Deal&amp;body=Hi, I found this deal on ikOala and thought you might like it. <?php echo $_product->getName()." go to - ".$_product->getUrl(); ?>"><img src="<?php echo $this->getSkinUrl('images/massag2.png');?>" alt="E-mail" /></a>
                            <a onClick="_gaq.push(['_trackEvent', 'Product Share Button', 'Clicked', 'Google Plus Share']);" href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>"><img src="<?php echo $this->getSkinUrl('images/google2.png');?>" alt="Google Plus" /></a>
                            <a onClick="_gaq.push(['_trackEvent', 'Product Share Button', 'Clicked', 'Pinterest']);" href="javascript:popWin('//pinterest.com/pin/create/button/?url=<?php echo $productUrl ?>&media=<?php echo $productImage ?>&description=<?php echo htmlentities($_product->getShortDescription(), ENT_QUOTES, "UTF-8") ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Pinterest') ?>"><img class="pinterest" src="<?php echo $this->getSkinUrl('images/pinterest.jpg');?>" alt="Pinterest" /></a>
                        </div>
        			</div>

        			<div class="rightcol">
        				<div class="product-img-box">
                            <?php echo $this->getChildHtml('media'); ?>			
                        </div>
        			</div>
        			<div class="clear"></div>
        		</div>
             
        		<?php
        			$is_featured_product = $this->getRequest()->getParam('options');
        		?>
        		<?php if($_product->isSaleable() && $this->hasOptions() && $_product->getTypeId() != "configurable"){ ?>
        		<div id="bundle_options_background" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>"></div>
        		<div id="bundle_options" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>">						
        		</div>	
        		<?php } ?>
                </form>
                
                <?php echo $this->getChildHtml('postage');  ?>
            </div>
                
    	</div>
    
    <div class="deal-tabs">
	   <?php echo $this->getChildHtml('tabs') ?>
       <div class="buynow-bottom">
            <div class="special-price">
                <?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?>
            </div>
            <?php if($_deal->getApproved() == 1 && $showBuyButton && $_product->isSaleable() && strtotime($_product->getDealFromDate()) <= strtotime($dateNow)): ?>
                <div class="buynow-btn">
                    <?php echo $this->getChildHtml('addtocart'); ?>
                </div>
            <?php endif; ?>
        </div>
       <div class="prod-feature-tabs">
           <div class="tabs-preloader"></div>
       </div>

    </div>
    
    <div class="deal-provider-container">
        <div class="pop-provider"></div>
        <div class="logo-provider">
            <img src='<?php echo $_product->getProviderLogo() ?>' />
            <div><?php echo $this->__('REDIRECTING YOU NOW TO YOUR DEAL. PLEASE WAIT...') ?></div>
        </div>
    </div>
    
    <script type="text/javascript">
        
        jQuery('.view-now').live('click',function(){
            popupwindow(jQuery(this).attr('link-href'),960,700);
        });
        
        var url = "<?php echo Mage::getUrl('deals/index/renderblocks') ?>";
        jQuery(document).one("scroll",function(){
            jQuery.ajax({
                url: url,
                type: 'POST',
                data: {id: <?php echo $_product->getId() ?>},
                success: function(blocks) {
                    jQuery('.prod-feature-tabs').html(blocks);
                }
            });
        });

        
    //<![CDATA[
        var factfastForm = new VarienForm('factfast-form');

        Validation.add('validate-postage','Invalid Postage',function(the_field_value){
            if(the_field_value == 'Estimate Delivery Cost'){
                return false;
            }
            return true;
        });

        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);


		Event.observe($('bundle_options_background'),"click",function(){
		$('bundle_options').hide();
		$('bundle_options_background').hide();
		});	
    //]]>		
    </script>	
	
<?php
if($_product->isSaleable() && $_product->getTypeId() == "configurable"){
 echo $this->getChildHtml('configurable_options'); 
 }
 ?>	
<?php echo $this->getChildHtml('newsletter.subscription.popup'); ?>

<script type="text/javascript">
    function popupwindow(url, w, h) {
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      return window.open(url, 'Ikoala', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    } 
 </script>   
