<?php if(count($this->getGroups())>1){ ?>
            	<ul class="links">
					<?php foreach ($this->getGroups() as $_group): ?>
					<li class="">
						<a title="" href="<?php echo $_group->getHomeUrl() ?>"><?php echo $this->htmlEscape($_group->getName()) ?></a>
					</li>
			        <?php endforeach; ?>
             	</ul>
<?php } ?>	
