<?php
    $_productCollection=$this->getProductCollection()
             ->addAttributeToSort('deal_from_date', 'DESC')
             ->clear()
             ->setPageSize(4)
             ->load();
    $_helper = $this->helper('catalog/output');
    $_coreHelper = $this->helper('core');
    $il=0;
    $apcl = '';
?>
<div class="today">
    <div class="all_deal_wrapper">
        <div class="all_deals">
            <div class="left_corner"></div>
            <div class="right_corner"></div>
            <h3>ALL deals <span>Today's <?php echo Mage::app()->getStore()->getName(); ?> Deals!</span></h3>
        </div>

        <div class="populerdeals">
        <?php foreach ($_productCollection as $_product): ?>
        <?php 
            $il++;  
            if($il==1){
                $apcl=" leftmargin";
            } else {
                $apcl = '';
            }
        ?>
                <div class="populer_product  <?php echo $apcl?>">
                    <h3><?php echo Mage::helper('core/string')->truncate($_product->getName(), 35)?></h3>
                    <img width="224" height="157" title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->lazyImage($_product) ?>" class="img" />
                    <div class="price2"> 
                        <?php echo $this->__('Price') ?><br />
                        <span class="orrange"><?php echo $_product->getFormatedPrice();?></span>
                    </div>
                    <div class="divider"><img src="<?php echo $this->getSkinUrl('images/sep22.jpg')?>" /></div>
                    <div class="price2"><?php echo $this->__('Discount') ?><br />
                        <span><?php echo Mage::helper('ikoala_catalog/percent')->getDealDiscount($_product);?></span> 
                    </div>
                    <a href="<?php echo $_product->getUrlKey(); ?>"><img src="<?php echo $this->getSkinUrl('images/buy-now.jpg')?>" alt="buy now" width="249" /></a>
                </div>

        <?php endforeach; ?>
        </div>
    </div>
</div>

