<div class="clear"></div>
<div class="aggregator">
<?php 
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $is_home = (Mage::getSingleton('cms/page')->getIdentifier() == 'home');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

    <?php if ($is_home) { ?>
            <h5><?php echo $this->__('All The ').$this->getLayer()->getCurrentCategory()->getName() ?></h5>
    <?php } ?>

    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
        <?php $_iterator = 0; ?>
        <ol class="products-list" id="products-list">
        <?php foreach ($_productCollection as $_product): ?>
            <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">                            <div class="deal1">								            								            <div class="mid">								              								               <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(186,139); ?>" width="186" height="139" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>								              								              <div class="pdes"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></div>								               <div class="boxp">								               								                <div class="boxreal">Value<br />								                  <span>$<?php echo number_format($_product->getPrice(), 2);?></span></div>								                <div class="boxreal">Discount<br />								                  <span><?php $special_percent = ceil(100 - (( 100/$_product->getPrice() ) * $_product->getSpecialPrice() )); echo $special_percent.'%';?></span></div>								                <div class="boxreal">Save<br />								                  <span>$<?php echo "".number_format(($_product->getPrice() -$_product->getSpecialPrice()), 2)."";?></span></div>								              </div>								              <div class="boxprice">								                <div class="left">$<?php echo number_format($_product->getSpecialPrice(), 2);?></div>								                <div class="right">								                								                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">View now</a></div>								              </div>								            </div>								           								  </div>                
                
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount();     //$_columnCount=3;?>
        <div class="category-products">
            <div class="deals_wrapper products-listing">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
                <?php if ($i++%$_columnCount==0): ?>
                    <ul class="products-gridnobg products-grid">
                <?php endif ?>
                        <li class="populer <?php if(($i-1)%$_columnCount==0): ?> nomarginleft<?php endif; ?>">
                            <h3><?php echo Mage::helper('core/string')->truncate($_product->getName(), 60)?></h3>
							<div class="img-holder">
								<img title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(255,159); ?>" />
							</div>
                            <div class="price2"><?php echo $this->__('Price') ?><br />
                                <span class="orrange"><?php echo $_product->getFormatedPrice();?></span>
                            </div>
                            <div class="divider"><img src="<?php echo $this->getSkinUrl('images/sep22.jpg')?>" /></div>
                            <div class="price2"><?php echo $this->__('Discount') ?><br />
                                <span><?php echo Mage::helper('ikoala_catalog/percent')->getDealDiscount($_product);?></span> 
                            </div>
                            <a href="<?php echo $_product->getUrlKey(); ?>"><img src="<?php echo $this->getSkinUrl('images/buy-now.jpg')?>" alt="buy now" width="249" /></a>
                        </li>
                <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                    </ul>
                <?php endif ?>
            <?php endforeach ?>
            </div>
        </div>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
 <div class="clear"></div>
    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>

<?php endif; ?>
</div>
