body {
	background: url(../images/bg-body.jpg) repeat;
}

body > header dl {
	border-bottom: 2px solid #3F484E;
	background: url(../images/bg-top-nav.jpg) repeat;
}
.page-title {
	background: -webkit-linear-gradient(top, #82BE1A, #208B00);
	background: -moz-linear-gradient(top, #82BE1A, #208B00);
	background: -ms-linear-gradient(top, #82BE1A, #208B00);
	background: -o-linear-gradient(top, #82BE1A, #208B00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82be1a", endColorstr="#208b00");
	background: linear-gradient(top, #82BE1A, #208B00);
	-pie-background: linear-gradient(top, #82be1a, #208b00);
	behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
	-moz-box-shadow: -1px -1px 0 0 #7cbd1b;
	-webkit-box-shadow: -1px -1px 0 0 #7cbd1b;
	box-shadow: -1px -1px 0 0 #7cbd1b;
	-moz-border-radius: 3px 2px 2px 3px;
	-webkit-border-radius: 3px 2px 2px 3px;
	-khtml-border-radius: 3px 2px 2px 3px;
	border-radius: 3px 2px 2px 3px;
	-pie-border-radius: 3px 2px 2px 3px;
	behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #5FAC10;
	border-left: 1px solid #5FAC10;
	border-right: 1px solid #90C34C;
	border-top: 1px solid #B6DC79;
	color: #237602;
	font-size: 125%;
	padding: 0.75em 0 0.5em 25px;
	width: auto;
	position: relative;
	margin-left: 0px;	
}

.dailydeals-upcoming-index .page-title, .dailydeals-recent-index .page-title, .catalog-category-view .page-title {
	width: auto;	
}

.catalog-product-view {
	background: url(../images/bg-body.jpg) repeat;
}

.footer-iphone {
	border-top: 2px solid #3F484E;
	background: url(../images/footer2bg.jpg) repeat;
	height: 45px;
}
.footer-iphone .current_store {
	text-align: left;
  left: 0px;
  top: 0px;
  margin-left: 10px;
}
#nav li a {
	background-color: #1E9635;
    background-image: -moz-linear-gradient(center top , #84B935 0%, #1E9635 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84B935', endColorstr='#1E9635'); 
	background: -webkit-gradient(linear, center top, center bottom, from(#84B935), to(#1E9635)); 
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #237602;
    margin-right: 6px;
    padding-bottom: 15px;
    padding-top: 15px;
	filter:none;	

}

#nav-container #nav li a span {
	color: #237602;
	font-size: 17px;
}

body > header dt.login > a {
	background: url("../images/login.png") no-repeat scroll center center transparent;
}

.daily-deal .deals {
	padding: 5px 5px 5px 5px;
}

.deals .ui-block-a, .deals .ui-block-b {
	margin: 2% 2% 0% 2%;
}

#shopping-cart-table {
	background: #F2F2F2;
}

#shopping-cart-table td{
	min-width:50px;
}

#mobile_newsletter_form {
  float: left;
  margin-left: 5%;
  position: absolute;
  top: 24%;
  width: 90%;
  z-index: 100000;
  height: 120px;
}

#mobile_newsletter_form .city-selector {
  float: left;
  width: 100px; 
  margin-right: 5px;
  margin-top: 3px;
}

#mobile_newsletter_form .city-selector select{
  height: 44px;
  width: 100px;
}

.round_clear {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  border: 5px solid #87B156;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

#mobile_newsletter_form_bg {
  background: none repeat scroll 0 0 #000000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.register2 {
  width: 95%;
  margin: 0 auto;
}

#mobile_newsletter_form .newsletter {
  margin-top: 3px;
  float: left;
  width: 100px;
}

#mobile_newsletter_form .newsletter input {
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #333333;
  outline: medium none;
  padding: 5px;
  text-shadow: 0 1px 0 #FFFFFF;
  height: 44px;
  width: 100px;
}

.newsletter-btn {
  width: 50px;
  float: left;
  margin-top: 9px;
}

#mobile_newsletter_form #close {
  margin-top: 8px;
  margin-left: 8px;
}

#mobile_newsletter_form .go {
  width: 60px;
  float: left;
}

#mobile_newsletter_form .go button{
  background: none;
  border: none;
  height: 40px;
}

.main_content button{
  margin-left: 0px;
}

.switcher-site{
  margin-top  : 10px;
}
.footer-iphone div{
  float: left;
  margin-top: 10px;
}
