<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.0
 * @since        Class available since Release 1.0
 */
?>
<div style="clear:both">
<?php
	
	
	$i = 0;
	
	$blocks = $this->getSortedChildren();
	
	$total_blocks = count($blocks);
	
	foreach ($blocks as $name): if($content = trim($this->getChildHtml($name))){ ?>
		
		<div class="box-<?php echo $i%2 ? 'right' : 'left';?>">
		    <?php echo $content; ?>
		</div>
		
		<?php $i++; if($i%2==0 || $i == $total_blocks):?><div class="clear"></div><?php endif;?>
		
	<?php } endforeach; ?>
</div>