<?php $_product = $this->getProduct(); ?>
<?php $galleryCollection = $_product->getMediaGalleryImages(); ?>
<div id="slider-wrap">
    <?php foreach ($galleryCollection as $_image): ?>
        <div class="slide">
            <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(583,541); ?>" alt="<?php echo $_product->getName() ?>">
        </div>
    <?php endforeach; ?>
</div>

<div class="navi">
<ol>
    <?php foreach ($galleryCollection as $_image): ?>
        <li class="minigallery">
            <a href="javascript:void(0);" onclick="popWin('<?php echo $_image->getUrl() ?>', 'gallery', 'width=1024,height=768,left=450,top=150,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;">
                <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(112,69); ?>" alt="<?php echo $_product->getName() ?>">
            </a> 
        </li>
    <?php endforeach; ?>
</ol>
</div>

