<?php
    $deps = $this->getDepartments();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
<div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-us-header')->toHTML();?>
</div>
<div class="clear"></div>
<div class="std">
<div class="standard">
<div class="contactus">
    <h2><?php echo $this->__('Have any questions...?') ?></h2>
    <div class="number"><?php echo $this->__('1800 IKOALA (1800 456 252)') ?> </div>
    <div class="clear"></div>
    <p><?php echo $this->__('Our team is standing by ready to help you. Office hours are 9am - 5pm Monday - Friday EST. Please complete the contact form below and one of our team members will respond to you. Alternatively you may try our') ?> <?php if(Mage::getStoreConfig('livechat_options/chatenable/livechatenable') == 1): ?><a href='javascript:void(0)' onclick="javascript:$zopim.livechat.window.show()"><?php echo $this->__('Live Chat') ?></a> <?php echo $this->__('or') ?><?php endif; ?> <a href="<?php echo $this->getWebsite();?>/faq">Help page</a>.</p>
    <div class="form1">
        <div class="mid">
            <h2><?php echo $this->__('Please Submit your Enquiry Details') ?></h2>
            <div class="contact">
                <div class="left-clm">
                    <h3><?php echo $this->__('Mailing Address &amp; Contact Details<br>
                    PO BOX 246, CHATSWOOD, NSW, 2057') ?></h3>
                    <p>  
                        <img src="<?php echo $this->getSkinUrl('images/fone.png')?>" class="imgleft" align="absmiddle" /><?php echo $this->__('(02) 9119 3170') ?><br />
                        <img src="<?php echo $this->getSkinUrl('images/mobile.png')?>" class="imgleft" align="absmiddle" /><?php echo $this->__('(02) 8072 2191') ?><br />
                        <!--<img src="<?php echo $this->getSkinUrl('images/mail.png')?>" class="imgleft" align="absmiddle" /> <a href="mailto:support@ikoala.com.au"><?php echo $this->__('support@ikoala.com.au') ?></a> -->
                    </p>
                </div>
                <div class="right-clm">
                    <h3><?php echo $this->__('Mailing Address &amp; Contact Details') ?></h3>
                    <img src="<?php echo $this->getSkinUrl('images/map.jpg')?>" alt="ikola" />
                </div>
            </div>
            <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
            
            <div class="leftpart">
                <label for="enquiry" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Enquiry Type') ?></label>
                <div class="inputbox3">
                    <select name="encontact-form-rightquiry" id="enquiry" >
                        <option value="general-enquiry"><?php echo $this->__('General Enquiry') ?></option>
                        <option value="business"><?php echo $this->__('Business') ?></option>
                    </select>
                </div>
                <label for="company_name"><?php echo Mage::helper('contacts')->__('Company Name') ?></label><br/>
                <div class="inputbox">
                    <input name="company_name" id="company_name" title="<?php echo Mage::helper('contacts')->__('Company Name') ?>" value="" class="input-text required-entry" type="text" />
                </div>
                
                <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email Address') ?></label>
                <div class="inputbox">
                    <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                </div>
                
                 <?php if (count($deps)): ?>
                    <label for="department_id"><?php echo $this->__('Department') ?></label><br/>
                    <div class="inputbox3">
                        <select name="department_id" id="department_id">
                            <option>Please select Department</option>
                            <?php foreach ($deps as $dep): ?>
                            <option value="<?php echo $dep->getId()?>" <?php if (Mage::app()->getStore()->getId() == $dep->getPrimaryStoreId()) echo " selected ";?>><?php echo $dep->getName()?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="department_id" value="0"/>
                <?php endif;?>
                
                <span class="bounce2" >
                     <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                    <button type="submit" title="Submit" class="button"><span><span style="width:94px;"></span></span></button>
                </span>
      
            </div>
            
            <div class="rgtpart">
                <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Full Name') ?></label>
                <div class="inputbox">
                    <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                </div>
                
                <label for="telephone" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Phone Number') ?></label>
                <div class="inputbox">
                    <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text required-entry" type="text" />
                </div>
                
                <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Message') ?></label>
                <div class="inputbox2">
                    <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>  
            
            </div>
            <div class="clear"></div>
            
        </form>
    </div>
    
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>
