<div id="content">
    <ul>
        <li><a href="#inline1"  class="test"></a><div style="display:none;">
        <div id="inline1" style="width:955px; height:527px;">
            <div class="env-header">
                <span class="gday"><?php echo $this->__("G'Day!") ?></span>
                <div>
                    <span>
                        <?php echo $this->__('Complete Your Details Below To See Your Selection of Free Gifts!*') ?>
                    </span>
                </div>
            </div>
            <form action="<?php echo $this->getUrl('promotions/index/validate/'); ?>" method="POST" id="ik_promotions" name="ik_promotions">
                <div class="searh-field">
                    <select class="select validate-select required-entry" id="cont" name="cont">
                        <option value=''><?php echo $this->__('Please Select') ?></option>
                        <option value="NSW"><?php echo $this->__('NSW') ?></option>
                        <option value="QLD"><?php echo $this->__('QLD') ?></option>
                        <option value="VIC"><?php echo $this->__('VIC') ?></option>
                        <option value="ACT"><?php echo $this->__('ACT') ?></option>
                        <!--<?php //foreach ($this->getGroups() as $_group): ?>
                            <option value="<?php //echo $_group->getId() ?>"><?php //echo $this->htmlEscape($_group->getName()) ?></option>
                        <?php //endforeach; ?> -->
                    </select>
                    
                    <input type="text" name="email" placeholder="Enter your email here" class="input-text required-entry validate-email inputbox" />
                    <input type="submit" value=''/>
                </div> 
                <div class="new-box">
                    <h3><?php echo $this->__('My Envelope Colour  is') ?></h3>
                    <div class="env-container">
                        <input type="hidden" name="question" value="1">
                        <input type="radio" class="validate-one-required-by-name" class="validate-one-required" name="answer" id="red" value="red"><label for="red"><span><?php echo $this->__('Red') ?></span></label>
                        <input type="radio" class="validate-one-required-by-name" name="answer" id="yellow" value="yellow"><label for="yellow"><span><?php echo $this->__('Yellow') ?></span></label>
                    </div>
                </div><!--new-box-End-->
                <div class="contr">
                    <div class="hurry-env">
                        <span><?php echo $this->__('Hurry, before stock runs out!') ?></span>
                        <div>
                            <?php echo $this->__('ikOala and Yellow Media Brands have teamed up to bring you a line up of FREE GIFTS* up to the value of $49! By completing 
                            your details you agree to receive information, marketing and communications from ikOala and Yellow Media Brands. Joining is FREE and you
                            can unsubscribe at any time.') ?>
                        </div>
                    </div>
                    <div class="agree-env">
                        <p> <input type="checkbox" checked="checked" class="required-entry" name="privacy" id="privacy" value="color"><label for="privacy"><?php echo $this->__("I agree to ikOala's Privacy Policy and Terms and Conditions.") ?></label></p>
                    </div>
                </div> <!--contr-End-->
            </div>
        </form>
        </div>
        </li>
    </ul>
</div>

<script type="text/javascript">
    //<![CDATA[
    var ik_promotions = new VarienForm('ik_promotions', true);
    //]]>
</script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".test").fancybox().trigger('click');
        
        jQuery('#fancybox-close').live('click',function(){
                window.location.href = '<?php echo Mage::getBaseUrl(); ?>';
            });
    });
</script>
