<style>
body.page-pdf{
    font-family: verdana;
    margin: 10px auto;
    padding: 5px;
    width: 620px;
}
.main_block{
    border: 1px solid #6eb43f;
	padding: 5px;
}
tr{
	 vertical-align: top;
}
tr.header{
	background:#6eb43f;
}
.coupon_code{
    float: right;
    padding: 24px 24px 0 0;
	text-align: right;
}
.coupon_code .title{
	float:left;
	margin-right:5px
}
h1.deal_name{
    color: #6EB43F;
    font-size: 16px;
    text-align: center;
}
h2.product_name{
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
}
.redeem_at {
    background: #F2F2F2;
    margin: 15px 0;
    padding: 5px;
}
.redeem_at p{
	margin:5px 0;
}
td.coupon-details-table{
    border: 1px solid #6EB43F;
    padding: 5px;
}
td.coupon-details-table table{
	margin-left: 10px;
}
tr.footer{
	background:#6eb43f;
}
.pdf_footer{
    padding: 8px;
    text-align: center;
}
.title{
	font-size:14px;
	font-weight:bold;
}
.item-options{
    background: none repeat scroll 0 0 #F2F2F2;
    font-size: 12px;
    padding: 5px;
    width: 270px;
}
</style>
<?php 
if($this->getHistoryId()){
	$history_id = $this->getHistoryId();
}else{
	$r = $this->getRequest();
	$history_id = $r->getParam('history_id');
}
$history = Mage::getModel('dailydeals/history')->load($history_id);
$order_id = $history->getOrderId();
$status = $history->getStatus();
// $history_id = $history->getHistoryId();
// $product_id = Mage::getModel('dailydeals/deal')->load($history->getDealId())->getProductId();
// $product = Mage::getModel('catalog/product')->load($product_id);
$_coreHelper = $this->helper('core'); 
?>
<div class="main_block">

<table width="100%" border="0" cellpadding="0"  cellspacing="0">
  <tr class="header">
    <td>	<div class="logo">
		<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)."frontend/default/basic/images/logo_print.gif"; ?>" />
	</div>
    </td>
    <td align="right" style="float: right;">
	<div class="coupon_code">
		<table border="0" align="right">
			<tr>
				<td><div class="title" style="width: 105px;">Order ID :</div></td>
				<td>		
					<?php 
						$order = Mage::getModel('sales/order')->load($order_id);
						echo "#".$order->getRealOrderId();
					?>
				</td>
			</tr>
			<tr>
				<td><div class="title" style="width: 105px;">Order Date :</div></td>
				<td><?php echo date("F d,Y", strtotime($order->getCreatedAt())); ?></td>
			</tr>
		</table>
	</div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
	<h1 class="deal_name"><?php echo $history->getDealName();?></h1>
	<h2 class="product_name"><?php echo $history->getProductName();?></h2>
        <?php if($_options = $history->getItemOptions()): ?>
        <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
            <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>

                <?php $_formatedOptionValue = $history->getFormatedOptionValue($_option) ?>
                <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
                    <?php echo $_formatedOptionValue['value'] ?>
                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                    <div class="truncated_full_value">
                        <dl class="item-options">
                            <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
                            <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                        </dl>
                    </div>
                    <?php endif; ?>
                </dd>

        <?php endforeach; ?>
        </dl>
        <?php endif; ?>	
    </td>
  </tr>
  <tr style="border: 1px solid #6EB43F;">
    <td>	<div class="left_block">
		<img src="<?php $image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$history->getImageUrl();echo $image_url; ?>" width="280px" height="175px" />
	</div>
    </td>
    <td class="coupon-details-table">
		<table border="0">
			<tr>
				<td><?php echo $this->__('Coupon Code') ?></td>
				<td>:</td>
				<td><?php echo $history->getCouponCode();?></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Redeem Code') ?></td>
				<td>:</td>
				<td><?php echo $history->getRedeemCode();?></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Quantity') ?></td>
				<td>:</td>
				<td><?php echo $history->getQty();?></td>
			</tr>
			<tr>
				<td><?php echo $this->__('Price') ?></td>
				<td>:</td>
				<td><?php echo $_coreHelper->currency($history->getAmount(),true,false); ?></td>
			</tr>
		</table>
		<div class="barcode">
			<img src="<?php echo Mage::getModel('dailydeals/history')->getBarcodeUrl($history_id);?>">
		</div>	
    </td>
  </tr>
  <tr>
    <td colspan="2">	
    <div class="redeem_at">
		<div class="title"><strong>Redeem at</strong></div>
		<div class="content">
		<?php echo $history->getRedeemLocation(); ?>
		</div>
	</div>	
    </td>
  </tr>
  <tr>
    <td style="padding-right:5px;">
			<div class="title">The Fine Print</div>
			<div class="content"><?php echo $history->getFineprint(); ?></div>
    </td>
    <td style="padding-left:5px;">
			<div class="title">Highlight</div>
			<div class="content"><?php echo $history->getHighlight(); ?></div>

    </td>
  </tr>
  <tr class="footer">
    <td colspan="2">
<div class="pdf_footer"><?php echo Mage::getStoreConfig('design/footer/copyright'); ?></div>
    </td>
  </tr>
</table>
</div>