<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php 
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
	$products = $this->getProductCollection();
	$count = $products->getSize();
?>

<?php if($count){ ?>
	<div class="slider_wrapper">
		<h2><?php echo $this->__('Featured Deal') ?></h2>
		<div id="slider">
			<div class="scroller">
				<div class="content">
					<?php $i=1;?>
					<?php foreach ($products->getItems() as $_product): ?>
						<?php
							$productId = $_product->getId();
							$deal = Mage::getModel('dailydeals/deal')->load($productId, 'product_id');
							if($deal && $_product->getIsDeal()){
						?>
						<div class="sectionslide" id="section<?php echo $i ?>" >
							<div class="deal-img">
								<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(440,267); ?>" width="440" height="267" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							</div>
							
							<div class="deal-info">
								<div class="deal-name"><h1><?php echo $deal->getDealName(); ?></h1></div>
								<div class="product-name"><h2><?php echo $_product->getName(); ?></h2></div>
								<button type="button" class="deal_btn_buy" onclick="setLocation('<?php echo $_product->getProductUrl()  ?>')">
									<span><?php echo $this->__('View Deal') ?></span>
								</button>	
							</div>
						</div>
						<?php $i++;?>	
						<?php } ?>
					<?php endforeach; ?>
				</div>
			</div>
			
			<div class="slidercontrolwr">
				<div class="slidercontrol">
					<?php  $i=1; foreach ($products->getItems() as $_product): ?>
						<a class="" href="#section<?php echo $i ?>"> <?php echo $i ?> </a>
					<?php  $i++; endforeach; ?>
				</div>
			</div>	
		</div>
	</div>
	<script charset="utf-8" type="text/javascript">
		var my_glider = new Glider('slider', {duration:0.7, autoGlide: true, frequency: 4, initialSection: 'section1'});   
	</script>
	<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
<?php } ?>