<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct(); ?>


<?php $_deal = $this->getDeal(); ?>
<?php $dealHelper = $this->helper('dailydeals/cart'); ?>

<?php
$showBuyButton = false;
if($_deal->getCanPurchase()):
	$showBuyButton = true;
endif;
?>
<?php 
	$_minimalPriceTax = $_product->getFinalPrice();
	if($_product->getTypeId() == "bundle"){
		$_priceModel  = $_product->getPriceModel();
		list($_minimalPriceTax, $_maximalPriceTax) = $_priceModel->getTotalPrices($_product, null, null, false);
	}
?>
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
		
	<div class="deal">
		<div class="deal-title">
			<h1 class="deal-name"><?php echo $_product->getDealName(); ?></h1>
			<h2 class="product-name"><?php echo $_product->getName(); ?></h2>
		</div>
		<div class="deal-info">
			<div class="leftcol">
				<div class="price_tag">
                  <div class="price_tag_inner">
                    <div class="amount"><?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?></div>
					<?php if ($showBuyButton && $_product->isSaleable()){ ?>					
						<?php $params = array( 'deal' => $_deal->getId() ); ?>
							<?php if($_product->getTypeId() == "configurable"){ 	?>				
										<div class="btn_buy">
											<a href="#" style="text-decoration:none;" id="show_config_options"><span><?php echo  $this->__("BUY NOW") ?></span></a>
										</div>
										<script type="text/javascript">
											Event.observe($('show_config_options'),"click",function(){
											$('config_options').show();
											$('config_options_background').show();
											});										
										</script>
								<?php }elseif($_product->getTypeId() == "bundle" || $this->hasOptions()){	?>
										<div class="btn_buy">
											<a href="#" style="text-decoration:none;" id="show_bundle_options"><span><?php echo  $this->__("BUY NOW") ?></span></a>
										</div>	
										<script type="text/javascript">
											Event.observe($('show_bundle_options'),"click",function(){
											$('bundle_options').show();
											$('bundle_options_background').show();
											});	
										</script>										
								<?php }else{ ?>	
											<button type="button" class="btn_buy" onclick="setLocation('<?php echo $dealHelper->getBuyUrl($_product,$params) ?>')"></button>
								<?php } ?>
					<?php }else{ ?>
						<div class="btn_finished">
							<span><?php echo  $this->__("No Longer Available") ?></span>
						</div>					
					<?php } ?>
                  </div>
                </div>

				<?php echo $this->getChildHtml('discount'); ?>
				<?php if ($showBuyButton && $_product->isSaleable() ){ ?>
					<?php if($_product->getTypeId() != "configurable"){ ?>					
						<?php if($_product->getTypeId() != "bundle"){ ?>
							<?php if(!$this->hasOptions()){ ?>
								<?php echo $this->getChildHtml('giftadeal'); ?>
							<?php } ?>						
						<?php } ?>	
					<?php } ?>				
					<?php echo $this->getChildHtml('tipometer'); ?>		
					<?php echo $this->getChildHtml('timer'); ?>
				<?php } ?>			
				<?php echo $this->getChildHtml('share'); ?>
			</div>

			<div class="rightcol">
				<?php echo $this->getChildHtml('media'); ?>			
		
				<?php echo $this->getChildHtml('info'); ?>
			</div>
			<div class="clear"></div>
			
		</div>
		<?php
			$is_featured_product = $this->getRequest()->getParam('options');
		?>
		<?php if($_product->isSaleable() && $this->hasOptions() && $_product->getTypeId() != "configurable"){ ?>
		<div id="bundle_options_background" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>"></div>
		<div id="bundle_options" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>">			
				<?php echo $this->getChildHtml('product_type_data') ?>
				<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>					
		</div>	
		<?php } ?>	
	</div>
		
	</form>
	<?php echo $this->getChildHtml('tabs') ?>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);


		Event.observe($('bundle_options_background'),"click",function(){
		$('bundle_options').hide();
		$('bundle_options_background').hide();
		});	
    //]]>		
    </script>	
	
<?php
if($_product->isSaleable() && $_product->getTypeId() == "configurable"){
 echo $this->getChildHtml('configurable_options'); 
 }
 ?>	