<div class="left_search">               
    <?php if(Mage::app()->getRequest()->getModuleName() != 'customer'): ?>
    <h4><?php echo $this->__('Search / Filter') ?></h4>        
    <form name="filter" id="filter" action="" method="GET">              
        <?php $groups = $this->getGroups(); ?>
        <select id="select-city" name="___store" title="<?php echo $this->__('Select City') ?>">
            <option value="" selected="selected"><?php echo $this->__('City:') ?></option>
            <?php foreach ($groups as $group): ?>
                <?php foreach ($group->getStores() as $_store): ?>
                    <option value="<?php echo $_store->getCode() ?>"<?php if ($_store->getId() == $this->getCurrentStoreId()): ?> selected <?php endif; ?>>
                        <?php echo $_store->getName() ?>
                    </option>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </select>              
        <input type="hidden" name="dir" value="asc"/>
        <select name="order">
            <option value=""><?php echo $this->__('Sort By:') ?></option>
            <option value="price" <?php if($this->getRequest()->getParam('order') == 'price') echo 'selected' ?>><?php echo $this->__('Price') ?></option>
            <option value="name" <?php if($this->getRequest()->getParam('order') == 'name') echo 'selected' ?>><?php echo $this->__('Name') ?></option>
            <option value="position" <?php if($this->getRequest()->getParam('order') == 'position') echo 'selected' ?>><?php echo $this->__('Position') ?></option>
        </select>  
       <a onClick="jQuery('#filter').submit()" name="search"><span class="search">&nbsp;</span></a>
    </form>
    <?php endif; ?>
    <div class="category_list">
        <h5 class="filter-h5">Category</h5>
        <?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('catalog/navigation/left_nav.phtml')->toHtml()?>
    </div>
</div>
