<ul id="nav">
    <li class="nobg">          
        <a href="<?php echo $this->getUrl('') ?>" title="All deals" >
            <?php echo $this->__('ALL DEALS') ?>
        </a>
    </li>
    <!-- <li>
        <a href="<?php echo $this->getUrl('') ?>" title="Previous deals" >
            <?php echo $this->__('PREVIOUS DEALS') ?>
        </a>            
    </li> -->
    <li>            
        <a href="<?php echo $this->getUrl('help-2nddeals')?>" title="help" >
            <?php echo $this->__('HELP') ?>
        </a>
    </li>
    <li class="level0 nav-1 first level-top parent">   		
    <a  class="level-top"><?php echo $this->__('2nds Shopping') ?></a>
    <?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top-2') ?>   		
    <?php if($_menu): ?>
        <ul class="level0">
            <?php echo $_menu ?>
        </ul> 
    <?php endif ?>
    </li>
</ul>
