<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_deal = $this->getDeal(); ?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $dateNow = date("Y-m-d H:i:s", Mage::getModel('core/date')->timestamp(time())); ?>
<?php 
    if(Mage::getSingleton('core/session')->getFactFastId() != $_product->getFactoryFastId()){
        Mage::getSingleton('core/session')->unsFactFastShipping();
        Mage::getSingleton('core/session')->unsFactFastId();
    }
?>
<?php if($_deal->getCanPurchase() && $_product->isSaleable() && $_deal->getApproved() == 1 && strtotime($_product->getDealFromDate()) <= strtotime($dateNow)): ?>
    <?php if($_product->getFactoryFastId() != '' && $_product->getMerchantId() == Ikoala_Catalog_Model_Observer::FACT_FAST_ID): ?>
        <div class="postage-form">
        <!-- initial form -->
            <form name="factfast-form" id="factfast-form" action="<?php echo $this->getUrl('catalog/product/factfastpostage') ?>" method="post">
                <input type="hidden" name="product_id" value="<?php echo $_product->getFactoryFastId(); ?>"/>
                <input type="text" class="required-entry validate-number" name="postcode" placeholder="<?php echo $this->__('Enter Postcode here') ?>"/>
                <input type="hidden" name="url" value="<?php echo $_product->getProductUrl(); ?>"/>
                <input type="submit" value="FIND OUT COST"/>
            </form>
        </div>
        
        <?php if($_product->getFactoryFastId() != '' && $_product->getMerchantId() == Ikoala_Catalog_Model_Observer::FACT_FAST_ID): ?>
            <script type="text/javascript"> 
                var postage;
                jQuery( document ).ready(function() {
                jQuery('.input-box .input-text').addClass('validate-postage').attr('readonly',true);
                <?php if(Mage::getSingleton('core/session')->getFactFastShipping()): ?>
                    postage = '<?php echo  $_coreHelper->currency(Mage::getSingleton('core/session')->getFactFastShipping(),false,false) ?>';
                    jQuery('.validate-postage').val(postage);
                    //jQuery('.validate-postage').hide();
                    //jQuery('.input-box').append('<span>Postage: '+postage+'</span>');
                <?php else: ?>
                    jQuery('.validate-postage').val('Estimate Delivery Cost');
                <?php endif; ?>
                });
            </script>
        <?php endif; ?>
        <!-- end here-->
    <?php endif; ?>
<?php endif; ?>
