<?php $_product = $this->getProduct(); ?>
<div class="media">	
<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(140,100); ?>" 
width="140" height="100" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
</div>
