<div class="page-title">
    <h1><?php echo $this->__('My Coupons') ?></h1>
</div>
<?php
	$r = $this->getRequest();
	$order_id = $r->getParam('order_id');

	$couponCollection = Mage::getModel('dailydeals/history')
								->getCollection()
								->addFieldToFilter('order_id',$order_id);
	/*							
	$customer_id = Mage::getSingleton('customer/session')->getCustomer()->getId();
	$customer_email = Mage::getSingleton('customer/session')->getCustomer()->getEmail();	
	
	$history_collection = Mage::getModel('dailydeals/history')->getCollection()->getCustomerCoupons($customer_id,$customer_email);
	*/
	$size = count($couponCollection);
	if($size){
	
?>
<?php 	$_coreHelper = $this->helper('core'); ?>
<?php echo $this->getPagerHtml(); ?>
<table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Deal Image') ?></th>
            <th><?php echo $this->__('Deal Name') ?></th>
            <th><?php echo $this->__('Coupon Code') ?></th>
            <th><?php echo $this->__('Redeem Code') ?></th>
            <th><?php echo $this->__('Quantity') ?></th>
            <th><?php echo $this->__('Price') ?></th>
            <th><?php echo $this->__('Action') ?></th>
        </tr>
    </thead>
    <tbody>
<?php 
	foreach($couponCollection as $coupon){
	if($coupon->getStatus()=="P") 
	{
?>	
        <tr>
            <td><img src="<?php $image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$coupon->getImageUrl();echo $image_url; ?>" width="80px" height="50px" /></td>
            <td style="width:150px;"><?php echo $coupon->getDealName();?></td>
            <td><?php echo $coupon->getCouponCode();?></td>
            <td><?php echo $coupon->getRedeemCode();?></td>
            <td><?php echo $coupon->getQty();?></td>
            <td><?php echo $_coreHelper->currency($coupon->getAmount(),true,false);?></td>
            <td><?php echo $this->__('Pending') ?></td>
        </tr>
		<?php }else{ ?>
        <tr>
            <td><img src="<?php $image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$coupon->getImageUrl();echo $image_url; ?>" width="80px" height="50px" /></td>
            <td style="width:150px;"><?php echo $coupon->getDealName();?></td>
            <td><?php echo $coupon->getCouponCode();?></td>
            <td><?php echo $coupon->getRedeemCode();?></td>
            <td><?php echo $coupon->getQty();?></td>
            <td><?php echo $_coreHelper->currency($coupon->getAmount(),true,false);?></td>
            <td><a href="<?php echo $this->getUrl('deals/coupon/print', array('history_id' => $coupon->getHistoryId())); ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Coupon /') ?></a></br>
			<a href="<?php echo $this->getUrl('deals/coupon/pdf', array('history_id' => $coupon->getHistoryId())); ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Download Coupon') ?></a>
			</td>
        </tr>		
		<?php } ?>
        <?php } ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php }else{ ?>
<img style="margin-left: 80px;" src="<?php echo $this->getSkinUrl('images/nocoupon.jpg') ?>" width="550px" height="550px" />
<?php } ?>