<div class="dashboard">
	<h1 class="loginsign"><?php echo $this->__('Billing Address') ?></h1>
	<div class="clear"></div>
	<div class="std my-account-form">
		<form action="<?php echo $this->getBillingSaveUrl() ?>" method="post" id="form-validate">
			<div class="fieldset">
				<form action="<?php echo $this->getBillingSaveUrl() ?>" method="post" id="form-validate">

					<?php echo $this->getBlockHtml('formkey')?>
					<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
					<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
					
					<h2><?php echo $this->__('Contact Information') ?></h2>
					<div class="billing-address">

						<?php echo $this->getNameBlockHtml() ?>

						<div class="billing-fields">
							<label for="company"><?php echo $this->__('Company') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="company" id="company" title="<?php echo $this->__('Company') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" class="input-text" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="telephone" class="required"><strong>*</strong> <?php echo $this->__('Telephone') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="telephone" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="telephone" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="fax"><?php echo $this->__('Fax') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" class="input-text" />
							</div>
						</div>
					</div>
					
					<h2><?php echo $this->__('Address') ?></h2>
					
					<div class="billing-address">
						<div class="billing-fields">
							<label for="street_1" class="required"><strong>*</strong> <?php echo $this->__('Street Address') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="street[]" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="city" class="required"><strong>*</strong> <?php echo $this->__('City') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="city" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="region_id" class="required"><?php echo $this->__('State') ?></label>
							<div class="input-box">
								<select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
								   <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
								</select>

								<script type="text/javascript">
								//<![CDATA[
									$('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
								//]]>
								</script>

								<input type="text" class="input" id="region" name="region" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="zip" class="required"><?php echo $this->__('Post Code') ?></label>
							<div class="input-box">
								<input type="text" class="input" name="postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
							</div>
						</div>

						<div class="billing-fields">
							<label for="country" class="required"><strong>*</strong> <?php echo $this->__('Country') ?></label>
							<div class="input-box">
								<?php echo $this->getCountryHtmlSelect() ?>
							</div>
						</div>
					</div>
					
					<div class="buttons-set">
						<p class="required"><?php echo $this->__('* Required Fields') ?></p>
						<p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
						<button type="submit" title="<?php echo $this->__('Save Address') ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
					</div>
				</form>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>

