<?php $groups = $this->getGroups(); ?>
<?php if (count($groups) > 1): ?>
    <div class="city-switcher">
        <select id="select-city" title="<?php echo $this->__('Select City') ?>" onchange="location.href=this.value">
            <option value="" selected="selected">City</option>
            <?php foreach ($groups as $group): ?>
                <?php foreach ($group->getStores() as $_store): ?>
                    <option value="<?php echo $_store->getUrl('') ?>"<?php if ($_store->getId() == $this->getCurrentStoreId()): ?> class="current"<?php endif; ?>>
                        <?php echo $_store->getName() ?>
                    </option>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </select>
    </div>
<?php endif; ?>
