@font-face {
    font-family: 'Zurich BT';
    src: url('zurich-bt-bold-webfont.eot');
    src: url('zurich-bt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurich-bt-bold-webfont.woff') format('woff'),
         url('zurich-bt-bold-webfont.ttf') format('truetype'),
         url('zurich-bt-bold-webfont.svg#zurich_btbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zurich BT';
    src: url('zurich-bt-roman-webfont.eot');
    src: url('zurich-bt-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurich-bt-roman-webfont.woff') format('woff'),
         url('zurich-bt-roman-webfont.ttf') format('truetype'),
         url('zurich-bt-roman-webfont.svg#zurich_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
