<?php
    $deps = $this->getDepartments();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
<div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-us-header')->toHTML();?>
</div>
<div class="contact-us-form">
    <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
        <div class="contact-top">
            <div class="contact-text"><?php echo $this->__('Have any questions...?') ?></div>
            <div class="contact-number">1800 IKOALA (1800 456 252)</div>
        </div>
        <div class="fieldset">
            <div class="contact-info">
                Our team is standing by ready to help you. Office hours are 10am - 3pm Monday - Friday EST. Please complete the contact form below and one of our team members will respond to you. Alternatively you may try our <a href="http://www.comm100.com/livechat/">Live Chat</a> or <a href="<?php echo $this->getWebsite();?>/faq">Help page</a>. 
            </div>
            <div class="contact-form-fields">
                <div class="contact-form-left">
                    <div class="contact-info">Please Submit your Enquiry Details</div>
                    <div class="field">
                        <label for="enquiry" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Enquiry Type') ?></label>
                        <div class="input-box">
                            <select name="enquiry" id="enquiry" style="width: 100%;">
                                <option value="general-enquiry">General Enquiry</option>
                                <option value="business">Business</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                    </div>

                    <div class="field">
                        <label for="company_name"><?php echo Mage::helper('contacts')->__('Company Name') ?></label>
                        <div class="input-box">
                            <input name="company_name" id="company_name" title="<?php echo Mage::helper('contacts')->__('Company Name') ?>" value="" class="input-text required-entry" type="text" />
                        </div>
                    </div>

                    <div class="field">
                        <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
                        </div>
                    </div>

                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>

                    <div class="field">
                        <?php if (count($deps)): ?>
                            <label for="department_id"><?php echo $this->__('Department') ?></label><br/>
                            <select name="department_id" id="department_id">
                                <option>Please select Department</option>
                                <?php foreach ($deps as $dep): ?>
                                <option value="<?php echo $dep->getId()?>" <?php if (Mage::app()->getStore()->getId() == $dep->getPrimaryStoreId()) echo " selected ";?>><?php echo $dep->getName()?></option>
                                <?php endforeach;?>
                            </select>
                        <?php else: ?>
                            <input type="hidden" name="department_id" value="0"/>
                        <?php endif;?>
                    </div>

                    <div class="wide">
                        <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
                        <div class="input-box">
                            <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="contact-form-right">
                    <img src="<?php echo $this->getSkinUrl('images/map.jpg')?>" alt="ikola" />
                    <p>Mailing Address & Contact Details</p>
                    <p>
                        Mailing Address & Contact Details<br />
                        PO BOX 246, CHATSWOOD, NSW, 2057<br />
                        <img src="<?php echo $this->getSkinUrl('images/fone.png')?>" class="imgleft" align="absmiddle" />(02) 9119 3170<br />
                        <img src="<?php echo $this->getSkinUrl('images/mobile.png')?>" class="imgleft" align="absmiddle" />(02) 8072 2191<br />
                        <img src="<?php echo $this->getSkinUrl('images/mail.png')?>" class="imgleft" align="absmiddle" /> <a href="mailto:support@ikoala.com.au">support@ikoala.com.au</a>
                    </p>
                </div>
                <div class="buttons-set">
                    <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
                    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                    <div class="bounce2" >
                        <button type="submit" title="<?php echo Mage::helper('contacts')->__('Send') ?>" class="button">
                            <span>
                                <span style="width:94px;"><?php echo Mage::helper('contacts')->__('') ?></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>
