<?php $website = Mage::app()->getWebsite(Mage::app()->getStore()->getWebsiteId()); ?>
<?php $groups = Mage::getModel('core/website')->load($website->getId()); ?>
<?php $stores = $groups->getStores(); ?>
<?php $cat = Mage::getModel('catalog/category')->loadByAttribute('url_key', 'localdeals') ?>
<?php $cat = $cat->getChildrenCategories(); ?>

<div class="handpick-localdeals">
    <div class="localdeals-sub local-select">
        <span><h1><?php echo $this->__('HAND PICKED LOCAL DEALS') ?></h1></span>
        
        <form class="form1">
            <select class="select1">
                <option value=""><?php echo $this->__('SELECT LOCATION') ?></option>
                <?php foreach ($stores as $store): ?>
                    <option value="<?php echo $store->getCode(); ?>"><?php echo $store->getName(); ?></option>
                <?php endforeach; ?>
            </select>
            
            <select class="select2">
                <option value=""><?php echo $this->__('SELECT LOCAL OFFER') ?></option>
                <?php foreach($cat as $val): ?>
                    <option value="<?php echo $val->getUrl() ?>"><?php echo $val->getName() ?></option>
                <?php endforeach; ?>
            </select>
            <input type='button' value='GO' class='go' onclick="redirectme(jQuery('.select1').val(),jQuery('.select2').val())"/>
        </form>
        
        <span class="more"><?php echo $this->__('Restaurants, Beauty Salons, Lifestyle, Adventures, Escapes, Services and Much More!') ?></span>
    </div>
    <div class="localdeals-sub partners">
        <a class="partnerlogo" href="#"><img src="<?php echo $this->getSkinUrl('images/localmenu/ik.jpg') ?>" /></a>
        <a class="partnerlogo2" href="#"><img src="<?php echo $this->getSkinUrl('images/localmenu/groupon.jpg') ?>" /></a>
        <a class="partnerlogo2" href="#"><img src="<?php echo $this->getSkinUrl('images/localmenu/ourdeal.jpg') ?>" /></a>
        <a class="partnerlogo2" href="#"><img src="<?php echo $this->getSkinUrl('images/localmenu/livingsocial.jpg') ?>" /></a>
        <a href="#" class="partnerlogo3"><?php echo $this->__('+ MORE!') ?></a>
    </div>
</div>


<script type="text/javascript">
    jQuery('.tab-box a').live('click',function(){ jQuery('.local-deal-part ').hide(); });
    jQuery('.localdeal-li').live('click',function(){ jQuery('.local-deal-part ').show(); }); 
    function redirectme(loc,cat){
        if(loc != '' & cat != ''){
            window.location.href = cat+'?___store='+loc;
        }
    }
</script>
    
