<?php 
if ($_POST)
{
    $output = $this->featureBusinessEmail();
    echo $output;
}
?>
<div class="standard">
    <form action="<?php $_SERVER['PHP_SELF'] ?>" id="contactForm" method="post">
        <div class="feature-business">
            <h3>welcome to the next evolution of group-buying</h3>
            <div class="clear"></div>
            <div class="form">
               <div class="left" style="background-size: 713px 18px;"></div>
                <div class="midfeat">
                    <h2>Get new customers. Fast.</h2>
                    <p>ikOala is the new and exciting way to acquire thousands of new customers through the power of group buying. Request an information pack today and find out how ikOala can deliver a new flow of customers, free of any upfront charges. It&#39;s risk free advertising with guaranteed results. Easy.</p>
                    <div class="leftfeat1">
                        <label >Company Name</label>
                        <div class="inputfeat"><input type="text" id="company_name" name="co_name" /></div>
                         <label>Email Address <strong>*</strong></label>
                        <div class="inputfeat"><input type="text" id="email" name="email" class="required-entry input-text" /></div>
                          <label>Website Address </label>
                        <div class="inputfeat"><input type="text" name="website" /></div>

                        <br /> 

                        <input type="image" src="<?php echo $this->getSkinUrl('images/submit.png')?>" class="send" />

                        <div class="clear"></div>
                    </div>
	
                    <div class="leftfeat2">
                        <label >Your Full Name<strong>*</strong></label>
                        <div class="inputfeat"><input type="text" name="name" id="name" class="required-entry input-text" /></div>
                        <label>Phone Number<strong>*</strong>(include area code)</label>
                        <div class="inputfeat"><input type="text" name="phone" id="telephone" class="required-entry input-text" /></div>
                        <label>Comments <strong>*</strong></label>
                        <div class="inputfeattext"><textarea name="msg" id="comment" class="required-entry input-text"></textarea></div>

                        <div class="clear"></div>
                    </div>

                    <div class="rgt1" style="bottom:-12px;"><img src="<?php echo $this->getSkinUrl('images/AustralianGlobe.jpg')?>" width="219px;"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="rgt" style="background-size: 713px 21px;"></div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
