<div class="footer-container">
    <div class="footer">

		<div class="footer-info">
		<dl style="height: 136px;width:165px;"> 
		<dt>Company</dt> 
		<dd><a href="#">About</a></dd> 
		<dd><a href="#">Contact Us</a></dd> 
		<dd><a href="#">Terms &amp; Conditions</a></dd> 
		<dd><a href="#">Privacy Policy</a></dd> 
		</dl> 

		<dl style="height: 136px;width:185px;"> 
		<dt>Learn More</dt> 
		<dd><a href="#">How DailyDeals Works?</a></dd> 
		<dd><a href="#">FAQ</a></dd> 
		<dd><a href="#">Dailydeals for Business</a></dd> 
		</dl> 
		
		<dl style="height: 136px;width:160px;"> 
		<dt>Others</dt> 
		<dd><a href="<?php echo $this->getUrl('deals/recent'); ?>">Recent Deals</a></dd> 
		<dd><a href="<?php echo $this->getUrl('deals/upcoming'); ?>">Upcoming Deals</a></dd> 
		</dl>
		
		<dl style="height: 136px;width:125px;"> 
		<dt>Follow Us</dt> 
		<dd><a target="_blank" href="#">Twitter</a></dd> 
		<dd><a target="_blank" href="#">Facebook</a></dd> 
		</dl>

		</div>
		<img src="<?php echo $this->getSkinUrl('images/dd/paypal_icon.png'); ?>" alt="" class="payment_logos" />
		<div class="clear"></div>
		 <address><?php echo $this->getCopyright() ?></address>
    </div>
</div>
