<?php $cat = Mage::getModel('catalog/category')->loadByAttribute('url_key', 'shop'); ?>
<?php $cat = $cat->getChildrenCategories(); ?>
<div class="styled-select">     
  <select name="cat" id="cat">
    <option value=""><?php echo $this->__('Category Selection') ?></option>
    <option value=""><?php echo $this->__('Search All Deals') ?></option>
    <?php foreach($cat as $val): ?>
        <option href="<?php echo $val->getUrl() ?>" value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
    <?php endforeach; ?>
  </select>             
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        
        jQuery('.go-cat').live('click',function(){
            jQuery(location).attr('href',jQuery('#cat option:selected').attr('href'));
            //location.href = link;
        });
        
        jQuery('.jqTransformSelectWrapper ul li a').bind('click',function(){ switchLink(); }); 
        jQuery('#search').bind('input',function(){ switchLink(); });
        
        function switchLink(){
            if(jQuery('#cat option:selected').val() != '' && (jQuery.trim(jQuery('#search').val()) == '' || jQuery('#search').val() == 'Search')){
                jQuery('.go-submit').hide();
                jQuery('.go-cat').show();
            }
            else{
                jQuery('.go-submit').show();
                jQuery('.go-cat').hide();
            }
        }
    });

</script>

