<?php
$footer_block_ids = array('footer_company_info',
                          'footer_ikoala',
                          'footer_follow_us',
                          'footer_get_in_touch');
?>
<div class="footer-container">
    <?php if(Mage::app()->getRequest()->getModuleName() != 'checkout' && Mage::app()->getRequest()->getModuleName() != 'gomage_checkout'): ?>
        <div class="twitter_link pop_up">
            <div class="button"><a href="javascript:void(0);">&nbsp;</a></div>
            <div class="twitter_ballon">
                <a href="javascript:void(0);" class="closebtn close"><img src="http://www.espritwellness.com/wp-content/themes/twentyeleven/images/twitter_close.png" alt="Close" />
                </a>
                <a href="<?php echo Mage::getUrl('facts-fun') ?>"> <img src=<?php echo $this->getSkinUrl("images/map.png")?> alt="img" class="map"></a>
            </div>  
            <div class="twitter_ballon2" style="display:none;">
                <a href="#" class="closebtn close"><img src="http://www.espritwellness.com/wp-content/themes/twentyeleven/images/twitter_close.png" alt="Close" /></a>
            </div>        
        </div>
    <?php endif; ?>
     
	<div class="footer">
        <!--<a href="<?php //echo Mage::getUrl('ikoala-funnies') ?>"><div class ="koala-fun"></div></a> -->
		<div class="footer-blocks">
			<?php foreach ($footer_block_ids as $footer_block_id): ?>
				<div id="<?php echo $footer_block_id ?>">
					<?php echo $this->getChildHtml($footer_block_id); ?>
				</div>
			<?php endforeach; ?>
		</div>
		
		<div class="footer-logo">
			<div class="footer-logo-content"></div>
			<div class="ssl-badge">
				<img src="<?php echo $this->getSkinUrl('images/badge-rapidssl.gif') ?>"/>
				<div class="ssl-badge-text">SHOP WITH CONFIDENCE</div>
			</div>
			<div class="clear"></div>
			<div class="your-order">your order is safe and secure</div>
		</div>
	</div>
</div>

<div class="footer-container footer2wrap">
	<div class="footer">		
		<div class="copyright">
			<p><?php echo $this->getCopyright() ?></p>
		</div>
		
		<div id="social-media-links">
			<ul>
				<li><p><a rel="nofollow" href="https://www.facebook.com/pages/Ikoalacomau/105494469524646"><img src="<?php echo $this->getSkinUrl('images/fb-1.png') ?>" /></a></p></li>
				<li><p><a rel="nofollow" href="https://twitter.com/ikOalaEveryday"><img src="<?php echo $this->getSkinUrl('images/tweet-1.png') ?>"/></a></p></li>
				<li><p><a rel="nofollow" href="javascript:;"><img src="<?php echo $this->getSkinUrl('images/google+.png') ?>" /></a></p></li>
				<li><p><a rel="nofollow" href="javascript:;"><img src="<?php echo $this->getSkinUrl('images/massag.png') ?>" /></a></p></li>
                <li><p><a rel="nofollow" href="http://www.pinterest.com/ikoala/"><img src="<?php echo $this->getSkinUrl('images/pin1.png') ?>" /></a></p></li>
			</ul>
		</div>
		
		<div id="financial-badges">
			<div id="cc-badges">
				<ul>
				  <?php foreach (array('paypal', 'visa', 'mastercard', 'amex') as $badge): ?>
				  <li><img src="<?php echo $this->getSkinUrl("images/cc-badge-$badge.jpg"); ?>"/></li>
				  <?php endforeach ?>
				</ul>
			</div>
		</div>

		<div id="ssl-seal">
			<img src="<?php echo $this->getSkinUrl('images/badge-rapidssl.gif') ?>"/>
		</div>

	</div>
</div>
<?php /* if(Mage::helper('ikoala_mobile/switch')->isMobile()): ?>
    <div>
        <a style="color:#1394CA;font-size: 24px;" href="<?php echo Mage::helper('ikoala_mobile/switch')->getMobileUrl(); ?>"><strong><?php echo $this->__('< BACK TO MOBILE VERSION') ?></strong></a>
    </div>
<?php endif; */ ?>


<!-- provided by ikoala -->
<script type="text/javascript">
    var sec = 5;
    //$(document).ready(function() {

    window.onload = function()
    { 
    var timer = setInterval(function()
     { 
       if(sec!=-1)
         //	jQuery('#hideMsg span').text(sec--);
       if (sec == -1) {
         // jQuery('.twitter_ballon').fadeOut('fast');				
          clearInterval(timer);
       } 
    }, 1000);

    var timer	=	null;
    //setTimeout("jQuery('.twitter_ballon').show().slideUp('slow')",40000 );
    jQuery(".close").click(function ()
     {
    if(jQuery(".twitter_ballon2").css("display")=='block')
        jQuery(".twitter_ballon2").show().slideUp('slow');
    else
        jQuery(".twitter_ballon").show().slideUp('slow');
    clearTimeout(timer); 
    });

    jQuery(".twitter_link .button ").click(function () 
            {
            clearTimeout(timer); 
            if(jQuery(".twitter_ballon2").css("display")=='block')
                jQuery(".twitter_ballon2").show().slideUp('slow');
            else
                jQuery(".twitter_ballon").hide().slideDown('slow');
                
            if(jQuery(".twitter_ballon").css('display')=="block"){
            sec=5;
                jQuery('#hideMsg span').show(sec);
               timer = setTimeout("jQuery('.twitter_ballon').show().slideUp('slow')",40000 );
            }
    });
    //});
    };
</script>
