<?php
$_menu = $this->getHtml();
$is_home = (Mage::getSingleton('cms/page')->getIdentifier() == 'home');
$is_product = (!is_null(Mage::registry('current_product')) || !is_null(Mage::registry('product')));
$is_category = (!$is_product && !is_null(Mage::registry('current_category')));

/*
 * make it visible to all pages
 * */
//if ($_menu && ($is_home || $is_category || $is_product)):
?>
<?php 
    $cat = Mage::getModel('catalog/category')->loadByAttribute('url_key', 'shop');
    $currCatId = '';
    $parentIds = array();
    if($cat){
        $shopId = $cat->getId();
        $shop = $cat->getChildrenCategories();
    }
?>
<div class="nav-container">
  <ul id="nav">
    <li class="level0 nav-0"><a href="<?php echo Mage::getBaseUrl() ?>"><span>All Deals</span></a></li>
    <?php echo $_menu ?>
    <?php echo $this->getChildHtml('topLinks') ?>
    <li class="level0 nav-7 li-shop-item"><a href="#" id="drop-shop-main"><?php echo $this->__('Shop') ?><img src="<?php echo $this->getSkinUrl('images/arrow1.png'); ?>" /></a>
        <div class="drop-shop">
            <ul>
            <?php foreach($shop as $cat): ?>
                <li>
                    <?php if($cat->getChildrenCount()): ?>
                        <?php $arrow_url = $this->getSkinUrl('images/arrow12.png');?>
                        <?php $arrow = 'background:url('.$arrow_url.') center right no-repeat;'; ?>
                    <?php else: ?>
                        <?php $arrow = ''; ?>
                    <?php endif; ?>
                    <a href="<?php echo $cat->getUrl() ?>" style="<?php echo $arrow; ?>">
                        <?php echo $cat->getName() ?>
                    </a> 
                    <?php if($cat->getChildrenCount()): ?>
                        <?php $subCat = Mage::getModel('catalog/category')->load($cat->getId())->getChildrenCategories(); ?>
                        <?php if(count($subCat) > 0): ?>
                            <div class="subcat-div">
                                <ul>
                                    <?php foreach($subCat as $val): ?>
                                        <?php if($val->getProductCount() > 0): ?>
                                            <li><a href='<?php echo $val->getUrl() ?>'><?php echo $val->getName() ?></a></li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </div>
    </li>
  </ul>
</div>
<?php //endif ?>
<script type="text/javascript">
    try {
        var url_path = window.location.pathname.substr(1);
        if(url_path.length) {
            var url_regxp = /[a-zA-Z0-9\-]*/;
            url_regxp.exec(url_path).each(function(match) {
                mElem = $$('#nav > li a[href*='+match+']');
                if(mElem.size()) {
                    mElem.each(function(item){
                        item.addClassName('active-shop-cat');
                        item.up().addClassName('active');
                    });
                }
            });
        }
    } catch (e) {
        console.log(e);
    }
</script>










