<?php $current_url = $this->helper('core/url')->getCurrentUrl(); ?>
<div id="top-share-links">
  <ul>
    <li><a href="http://www.facebook.com/sharer.php?u=<?php echo $current_url; ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-facebook.jpg') ?>" alt="" /></a></li>
    <li><a href="http://twitter.com/share?text=An%20Awesome%20ikOala%20Deal&amp;url=<?php echo $current_url; ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-twitter.jpg') ?>" alt="" /></a></li>
    <li><a href="mailto:?subject=An Awsesome ikOala Deal&amp;body=Hi, I found this deal on ikOala and thought you might like it <?php echo $current_url; ?>"><img src="<?php echo $this->getSkinUrl('images/social-media-top-email.jpg') ?>" alt="" /></a></li>
  </ul>
</div>