<?php 
$_product = $this->getProduct();
$_coreHelper = $this->helper('core');

?>

<?php
	$is_featured_product = $this->getRequest()->getParam('options');
?>
<?php
if($_product->getTypeId() == "configurable"){  
// $configOptions = Mage::getModel('catalog/product_type_configurable')->getAllowProductsAM($_product);

$configOptions = $this->getConfigurableOptions($_product);
?>


<div id="config_options" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>">
	<div id="config_options_top">
		<div class="config_options_block">
			<div class="heading">
				<h1>Please select an option:</h1>
			</div>
			<div class="content">
				<table class="pledges">
					<tbody>
				<?php
					$url = $this->getUrl('checkout/cart/add');
					$count = 0; 
					foreach($configOptions as $option){
					
						$i = $count%2;
						$value = "product=".$_product->getId()."&qty=1";
						$params = "";
						foreach($option['attribute'] as $key => $subOption){
							$params = $params."&super_attribute[".$key."]=".$subOption;
						}
						$querystring = "?".$value.$params;
				?>

							<tr class="<?php if($i == 0){echo "even";}else{echo "odd";} ?>">
							  <td class="description">
								<a class="title" href="<?php echo $url.$querystring; ?>"><?php echo $option['name']; ?></a>  
							  </td>
							  <td class="status">
								<?php if($option['price']) { ?>
									<div><?php echo "+ ".$option['price'];?></div>
								<?php } ?>
							  </td>
							  <td class="purchase">
								<a class="buy_button" href="<?php echo $url.$querystring ?>"><span class="buy">
								<?php echo $_coreHelper->currency(($option['price'] + $_product->getFinalPrice()),true,false); ?></span>
								</a>
							  </td>
							</tr>
 
				<?php 
				$count++;
				} ?>
					</tbody>
				</table>				
			</div>
		</div>
	
	</div>
	<div id="config_options_bottom">&nbsp;</div>
</div>
<div id="config_options_background" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>">&nbsp;</div>
					<script type="text/javascript">
						Event.observe($('config_options_background'),"click",function(){
						$('config_options').hide();
						$('config_options_background').hide();
						});
					</script>
<?php } ?>