	<div class="deal_discount clearfix">
		  <dl>
			<dt><?php echo $this->__('Value') ?></dt>
			<dd><?php echo $this->getDealValue(); ?></dd>
		  </dl>
		  <dl class="discount">
			<dt><?php echo $this->__('Discount') ?></dt>
			<dd><?php echo $this->getDealDiscount(); ?></dd>
		  </dl>
		  <dl class="save">
			<dt><?php echo $this->__('You Save') ?></dt>
			<dd><?php echo $this->getDealSaving();	?></dd>
		  </dl>
		  <div class="clear"></div>
	</div>	