<?php $_product = $this->getProduct(); ?>
<?php	$galleryCollection = $_product->getMediaGalleryImages(); ?>
<?php if (count($galleryCollection) > 1){ ?>
 
<div class="product-slider">
	 <div id="slider" class="slider">
		<div class="scroller">
			<div class="content">	
				<?php $j=1;?>		
				<?php foreach ($galleryCollection as $_image): ?>
				<div class="sectionslide" id="section<?php echo $j;?>">
					<a href="#" style="height:267px;width:440px;display:block;">
						<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(440,267); ?>" width="440px" height="267px" />
					</a>
				</div>
				<?php $j++;?>			
				<?php endforeach; ?>
			</div>
		</div>
		<div class="slidercontrolwr">
		<a onClick="my_glider.previous()" id="previous"></a>
			<div class="slidercontrol">
					<?php $i=1;?>
					<?php foreach ($galleryCollection as $_image): ?>
							<a href="#section<?php echo $i;?>" style="height:35px;width:57px;display:block;">
							<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->keepFrame(false)->resize(57,35); ?>" width="57px" height="35px" />
							</a>
					<?php $i++;?>
					<?php endforeach; ?>			
			</div>
		<a onClick="my_glider.next()" id="next"></a>
		</div>	
	</div>
	<script charset="utf-8" type="text/javascript">
		var my_glider = new Glider('slider', {duration:0.5, autoGlide: true, frequency: 4, initialSection: 'section1'});   
	</script>
</div>

<?php }else{ ?>

<div class="media">	
	<a href="<?php echo $_product->getProductUrl(); ?>">
		<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(460,267); ?>" 
		width="460px" height="267px" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
	</a>
</div>
<?php } ?>
