<?php
$_product = $this->getProduct();
?>
<div class="timer-grid">
	<?php
		$systemtimezone = Mage::app()->getStore()->getConfig('general/locale/timezone');
		$timezone = new DateTimeZone($systemtimezone);
		$offset = $timezone->getOffset(new DateTime("now"));
	?>
	<?php
		$hours = Mage::getStoreConfig('dailydeals/general/start_time');
		$lead_time = $hours*60*60;
		$targetDate  = $_product->getDealToDate();
		$my_time = strtotime($targetDate) + $lead_time;
	?>			
	<div class="remaining_time">
		<p>Time left to buy</p>
		<div class="timercontainer" id="cdcontainer_<?php echo $_product->getId(); ?>"></div>
		<span class="day-text">Day</span>
		<span class="hour-text">Hour</span>
		<span class="min-text">Minutes</span>
		<span class="sec-text">Seconds</span>
		<script type="text/javascript">					
			var dealActiveUntil = new Date();
			dealActiveUntil.setTime(<?php echo $my_time*1000; ?>);
			var serverNow = new Date();
			serverNow.setSeconds(serverNow.getSeconds() + <?php echo $offset ?>);
			var launchdate_<?php echo $_product->getId(); ?>=new cdLocalTime("cdcontainer_<?php echo $_product->getId(); ?>", "server-php", 0, dealActiveUntil.toString(), serverNow.toUTCString());
			launchdate_<?php echo $_product->getId(); ?>.displaycountdown("days", formatresults3);
		</script>
	</div>
</div>	