<?php

$systemtimezone = Mage::app()->getStore()->getConfig('general/locale/timezone');
$timezone = new DateTimeZone($systemtimezone);
$offset = $timezone->getOffset(new DateTime("now"));


?>
	<?php
		$_deal = $this->getDeal();
		$hours = Mage::getStoreConfig('dailydeals/general/start_time');
		$lead_time = $hours*60*60;
		$targetDate  = $_deal->getDateTo();
		$my_time = strtotime($targetDate) + $lead_time;
	?>			
	<div class="remaining_time">
		<p class="timer_text"><?php echo $this->__('Time left to Buy') ?></p>
		<div class="timercontainer" id="cdcontainer_<?php echo $_deal->getDealId(); ?>"></div>
		<script type="text/javascript">					
			var dealActiveUntil = new Date();
			dealActiveUntil.setTime(<?php echo $my_time*1000; ?>);
			var serverNow = new Date();
			serverNow.setSeconds(serverNow.getSeconds() + <?php echo $offset ?>);
			var launchdate_<?php echo $_deal->getDealId(); ?>=new cdLocalTime("cdcontainer_<?php echo $_deal->getDealId(); ?>", "server-php", 0, dealActiveUntil.toString(), serverNow.toUTCString());
			launchdate_<?php echo $_deal->getDealId(); ?>.displaycountdown("days", formatresults3);
		</script>
	</div>