<?php
	$deal = $this->getDeal();
	$sold_count = $deal->getSoldCount() + $deal->getDummyCount();
?>

<?php if($deal->getTargetCount()){ ?>
<div class="bought">
		<?php			
			$target_count = $deal->getTargetCount();
			$remaining_count = $target_count - $sold_count;
			
			$tipping_point_pos = $sold_count*187/$target_count;
			if($tipping_point_pos > 187) {
				$tipping_point_pos = 187;
			}
		?>   
		<?php	if($sold_count < $target_count){	?>
			<h3><?php echo $sold_count; ?>	<?php echo $this->__('bought') ?></h3>
			<div class="tipometer">
				<div style="left: <?php echo $tipping_point_pos ?>px;" class="tipping_point"></div>
					<div class="progress_bar">
						<div class="pre_tipped  left_end_cap"></div>
						<div style="width: <?php echo $tipping_point_pos ?>px;" class="pre_tipped left_bar "></div>
					</div>
				<span class="min">0</span><span class="max"><?php echo $deal->getTargetCount() ?></span>
			</div>
		<?php	} ?>
				
		<?php	if($remaining_count > 0){ ?>
				<p class="tipping-live">
					<span class="number"><?php echo $remaining_count ?></span> <?php echo $this->__('more needed to get the deal') ?>
				</p>
		<?php } else { ?>
				<p class="tipping-on">
					<?php echo $this->__('Deal is on with') ?> <span class="number"><?php echo $target_count ?></span> <?php echo $this->__('bought') ?>
				</p>
		<?php } ?>
</div>
<?php }else{ ?>
<div class="bought">
				<p class="tipping-on">
					<?php echo $this->__('Deal is on with') ?> <span class="number"><?php echo $sold_count ?></span> <?php echo $this->__('bought') ?>
				</p>
</div>
<?php } ?>
