<?php $currCat = Mage::registry('current_category'); ?>
<?php $catName = $currCat->getName(); ?>
<?php $categ = Mage::getModel('catalog/category')->load($currCat->getId()); ?>
<?php $cat = $categ->getChildrenCategories(); ?>

<?php if(count($cat) == 0 && $categ->getLevel() > 3): ?>
    <?php $cat = Mage::getModel('catalog/category')->load($categ->getParentCategory()->getId()); ?>
    <?php $catName = $cat->getName(); ?>
    <?php $cat = $cat->getChildrenCategories(); ?>
<?php endif; ?>

<?php if(count($cat) > 0): ?>
    <h4 class="side-subcat <?php if(strlen($catName) > 21) echo 'subcat-height'; ?>"><?php echo $catName; ?></h4>   
    <ul class="rightnav subcatlist">
        <?php foreach($cat as $val): ?>
            <li>
            	<a href="<?php echo $val->getUrl() ?>"><?php echo $val->getName() ?></a>
            	<?php if($val->getChildrenCount()): ?>
		        <?php $subCat = Mage::getModel('catalog/category')->load($val->getId())->getChildrenCategories(); ?>
		            <?php if(count($subCat) > 0): ?>
		                <ul class="sub-category">
		                    <?php foreach($subCat as $sub): ?>
		                        <?php if($sub->getProductCount() > 0): ?>
		                            <li><a href="<?php echo $sub->getUrl() ?>"><?php echo $sub->getName() ?></a></li>
		                        <?php endif; ?>
		                    <?php endforeach; ?>
		                </ul>
		            <?php endif; ?>
		        <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
