<h4><?php echo $this->__('SHOP') ?></h4>
<ul class="rightnav">
<?php if(Mage::registry('shop_cat')): ?>
    <?php $cat = Mage::registry('shop_cat'); ?>
<?php else: ?>
    <?php $cat = Mage::getModel('catalog/category')->loadByAttribute('url_key', 'shop'); ?>
    <?php $cat = $cat->getChildrenCategories(); ?>
<?php endif; ?>
<?php foreach($cat as $val): ?>
    <li><a href="<?php echo $val->getUrl() ?>"><?php echo $val->getName() ?></a>
        <?php if($val->getChildrenCount()): ?>
        <?php $subCat = Mage::getModel('catalog/category')->load($val->getId())->getChildrenCategories(); ?>
            <?php if(count($subCat) > 0): ?>
                <ul class="sub-category">
                    <?php foreach($subCat as $sub): ?>
                        <?php if($sub->getProductCount() > 0): ?>
                            <li><a href="<?php echo $sub->getUrl() ?>"><?php echo $sub->getName() ?></a></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        <?php endif; ?>
    </li>
<?php endforeach; ?>
</ul>

<div class="add-part">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ik_add')->toHtml()  ?>
</div>