<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_collectionSize = $_productCollection->count();

if (!$_collectionSize): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php
else:
     echo $this->getAdditionalHtml();
     $_columnCount = $this->getColumnCount();
     $i = 0;
?>
<div class="category-products">
<?php
    foreach ($_productCollection as $_product):
        if (($i++ % $_columnCount) == 0): ?>
    <ul class="products-grid">
<?php endif ?>
        <li class="item<?php if ((($i - 1) % $_columnCount) == 0): ?> first<?php elseif (($i % $_columnCount) == 0): ?> last<?php endif; ?>">
            <div class="boxtop"></div>
            <div class="boxmid">
                <ul class="prod-info">
                    <li class="prodname"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></li>
                    <li><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></li>
                    <li>
                        <div class="boxp">
                            <div class="boxreal">Value<br />
                                <span>$<?php echo number_format($_product->getPrice(), 2);?></span>
                            </div>
                            <div class="boxreal">Discount<br />
                                <span><?php $special_percent = round(100 - (( 100/$_product->getPrice() ) * $_product->getSpecialPrice() )); echo $special_percent.'%';?></span>
                            </div>
                            <div class="boxreal">Save<br />
                                <span>$<?php echo "".number_format(($_product->getPrice() -$_product->getSpecialPrice()), 2)."";?></span>
                            </div>
                        </div>
                        <div class="boxprice">
                            <div class="left">
                                $<?php echo number_format($_product->getSpecialPrice(), 2);?>
                            </div>
                            <div class="right">
                                <a href="<?php echo $_product->getProductUrl(); ?>">View now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="boxbtm"></div>
        </li>
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
    </ul>
    <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
<?php endif; ?>
</div>
<div class="toolbar-bottom">
    <?php echo $this->getToolbarHtml() ?>
</div>
<?php endif; ?>
