<?php 
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_coreHelper = $this->helper('core');
?>

<?php if(Mage::app()->getRequest()->getModuleName() == 'catalogsearch'): ?>
    <div class="aggregator">
        <?php if (!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php else: ?>
        <?php
            $_collectionSize = $_productCollection->count();
            $_columnCount = $this->getColumnCount();
            $i = 0;
        ?>
        <div class="home-page-container">
            <div class="category-products">
                <div class="page-title"><h1><img src="<?php echo $this->getSkinUrl('images/h1-bg-dollar-2.png') ?>" />All ikOala <?php echo Mage::getModel('catalog/layer')->getCurrentCategory()->getName(); ?> Deals!</h1></div>
                <div class="search-listing products-listing">
                    <div class="right_part"><div class="pagi_top"><?php echo $this->getToolbarHtml() ?></div>
                        <ul class="product products-grid">
                            <?php foreach ($_productCollection as $_product): ?>
                            <?php $discount = ($_product->getPrice() - $_product->getFinalPrice()); ?>
                                <li>
                                    <div>
                                        <a href="<?php echo $_product->getProductUrl(); ?>" alt="<?php echo $_product->getName(); ?>">
                                            <img width="207" height="164" class='lazy' title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->getSkinUrl('images/grey.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(207,164); ?>" />
                                            <span class="title">
                                                <span class="title-padding">
                                                    <span class="deal-title"> 
                                                        <?php echo Mage::helper('core/string')->truncate($_product->getName(), 65)?>
                                                    </span>
                                                    <span class="deal-desc-snippet">
                                                        <?php echo Mage::helper('core/string')->truncate(strip_tags($_product->getShortDescription()), 80)?>
                                                    </span>
                                                </span>
                                            </span>
                                            <h4>
                                                <span class="price">
                                                    <small><?php echo $this->__('now only') ?></small><br/>
                                                    <span class="currency"><?php echo $this->__('$') ?></span>
                                                    <?php echo Mage::getModel('directory/currency')->format($_product->getFinalPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false) ?>
                                                </span>
                                                <span><?php echo $this->__('View now') ?></span>
                                            </h4>
                                        </a> 
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                        
                        <div class="right_part" style="float:left">
                            <div class="pagi_top2">
                                <?php echo $this->getToolbarHtml() ?>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <?php endif; ?>
        </div>
    </div>
<?php else: ?>
    <div class="aggregator">
        <?php if (!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php else: ?>	
            <?php
                $_collectionSize = $_productCollection->count();
                $_columnCount = $this->getColumnCount();
                $i = 0;
            ?>
            <div class="category-products">
                <div class="page-title">
                    <h1><img src="<?php echo $this->getSkinUrl('images/h1-bg-dollar-2.png') ?>" />All ikOala <?php echo Mage::getModel('catalog/layer')->getCurrentCategory()->getName(); ?> Deals!</h1>
                </div>
                <div class="products-listing">
                    <div class="category_list">
                        <!-- left nav category list -->
                        <?php echo $this->getChildHtml('catlist_sub') ?>
                        <?php echo $this->getChildHtml('catlist') ?>
                          <form class="search" id="search-box" method="GET" action="<?php echo Mage::getUrl('catalogsearch/result') ?>">
                                <input type="text" value="Search here" name="q" onfocus="if(this.value  == 'Search here') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Search here'; }">
                                <input type="button" onclick="this.form.submit()">
                          </form>
                          
                            <?php if(count($this->getTestimonials()) > 0): ?>  
                                <div class="testi">
                                    <div class="testimonials-wrap2">
                                        <div class="testimonials_new2 <?php if(count($this->getTestimonials()) == 1) echo 'single-item'; ?>">
                                            <?php foreach($this->getTestimonials()->getData() as $val): ?>
                                                <div>
                                                    <span><?php echo Mage::helper('core/string')->truncate($val['testimonial_text'],250) ?></span>
                                                    <span class="author"><?php echo $val['testimonial_name'] ?><br><?php echo $val['testimonial_company'] ?></span> 
                                                </div>
                                            <?php endforeach; ?>
                                        </div>
                                        <span id="pager2"> </span>      
                                    </div>
                                </div>
                            <?php endif; ?>
                            
                          <div class="logos-section">
                            <h5><?php echo $this->__('Shop With') ?> </h5>
                            <ul>
                              <li><img src=<?php echo $this->getSkinUrl("images/ikola-logo-small.jpg") ?> alt="ikola"></li>
                              <li><a href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>" class="logo3"><img src=<?php echo $this->getSkinUrl("images/garunty1.png") ?> alt="ikoala"></a> 
                              <a href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>" class="logo2"><img src=<?php echo $this->getSkinUrl("images/no-spam1.png") ?> alt="ikoala"></a> <a href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/ssl1.png") ?> alt="ikoala"></a></li>
                              <li><a href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/national.jpg") ?> width="121" height="37" alt="logos"></a></li>
                              <li class="master-card"><a class="logo3" href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/mastre1.png") ?> width="46" height="28" alt="ikoala"></a> <a class="logo3" href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/paypal1.png") ?> alt="ikoala"></a> <a class="logo3" href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/visa1.png") ?> alt="ikoala"></a> <a class="logo3" href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img src=<?php echo $this->getSkinUrl("images/amex1.png") ?> width="46" height="28" alt="ikoala"></a></li>
                            </ul>
                          </div>
                        </div>
                            
                    
                    <div class="right_part">
                        <div class="pagi_top"><?php echo $this->getToolbarHtml() ?></div>
                        <ul class="product products-grid">
                        <?php foreach ($this->newCollection($_productCollection) as $_product): ?>
                            <li>
                                <div>
                                    <a href="<?php echo $_product->getProductUrl(); ?>" alt="<?php echo $_product->getName(); ?>">
                                        <img style="width:auto;" height="164" class='lazy' title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->getSkinUrl('images/grey.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(207,164); ?>" />
                                        <span class="title">
                                            <span class="title-padding">
                                                <span class="deal-title"> 
                                                    <?php echo Mage::helper('core/string')->truncate($_product->getName(), 45)?>
                                                </span>
                                                <span class="deal-desc-snippet">
                                                    <?php echo Mage::helper('core/string')->truncate(strip_tags($_product->getShortDescription()), 105)?>
                                                </span>
                                            </span>
                                        </span>
                                        <h4>
                                            <span class="price">
                                                <small><?php echo $this->__('now only') ?></small><br/>
                                                <span class="currency"><?php echo $this->__('$') ?></span>
                                                <?php echo Mage::getModel('directory/currency')->format($_product->getFinalPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false) ?>
                                            </span>
                                            <span><?php echo $this->__('View now') ?></span>
                                        </h4>
                                    </a>
                                </div>
                            </li>
                        <?php endforeach; ?>
                        </ul>
                        
                        <div class="right_part">
                            <div class="pagi_top2">
                                <?php echo $this->getToolbarHtml() ?>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="clear"></div>
                
              
                
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>

<?php echo $this->getChildHtml('caticon') ?>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("img.lazy").lazyload({ effect : "fadeIn" });
        jQuery('.testi .testimonials_new2').cycle({
            fx: 'scrollHorz',
            pause: true,
            autorun: false,
            timeout: 5000,
            //prev: '#previmg3',
            //next: '#nextimg3'
            pager: '#pager2'
            
        });	
    });
</script>

