<?php 
$useIas = Mage::getStoreConfigFlag('catalog/frontend/useajaxscroll');
$useUitotop = Mage::getStoreConfigFlag('catalog/frontend/useuitotop');
if ($useIas) {
	// Get the default setting for grid or list mode
	$productListMode = Mage::getStoreConfig('catalog/frontend/list_mode');
	if ($productListMode == 'grid-list')
		$productListMode = 'grid';
	elseif ($productListMode == 'list-grid')
		$productListMode = 'list';

	// Check if this setting is overwritten by the user
	if ($this->getRequest()->getParam('mode')) {
		if($this->getRequest()->getParam('mode') == 'grid')
			$productListMode = 'grid';
		else
			$productListMode = 'list';
	}
}
?>
<?php if ($useIas || $useUitotop): ?>
<script type="text/javascript">
<?php if ($useIas): ?>
jQuery.ias({
	//container : '<?php echo $this->getContainerClass() ?> .category-products',
	//<?php if ($productListMode == 'grid'): ?>
	//item: '.products-grid',
	//<?php else: ?>
	//item: '.products-list',
	//<?php endif; ?>
	//pagination: '.toolbar .pager',
	//next: '.next',
	//loader: '<img src="<?php echo($this->getSkinUrl('images/ajaxscroll/loader.gif')); ?>" /> <p><?php echo __('Loading more products, please be patient...'); ?></p>'
});
<?php endif; ?>
<?php if ($useUitotop): ?>
jQuery(document).ready(function() {
	jQuery().UItoTop({ easingType: 'easeOutQuart' });		
});
<?php endif; ?>
</script>
<?php endif; ?>
