<div class="aggregator">
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_coreHelper = $this->helper('core');

if (!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php
else:
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();
    $i = 0;
?>
<div class="category-products">
  <h1>All ikOala <?php echo Mage::app()->getStore()->getName(); ?> Deals!</h1>
<?php
    foreach ($_productCollection as $_product):
        $discount = ($_product->getPrice() - $_product->getFinalPrice());
        if (($i++ % $_columnCount) == 0):
?>
  <ul class="products-grid">
  <?php endif ?>
    <li class="item<?php if ((($i - 1) % $_columnCount) == 0): ?> first<?php elseif (($i % $_columnCount) == 0): ?> last<?php endif; ?>">
      <div class="product">
		<div class="description"><?php echo $_product->getName(); ?></div>
		<div class="thumbnail">				
		  <img title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(186,140); ?>" width="186px" height="140px"/>
		</div>
        <ul class="deal_discount_info">
          <li class="deal_value">
            <p><?php echo $this->__('Value'); ?></p>
            <p><span class="symbol"><?php echo $_coreHelper->currency($_product->getPrice(),true,false); ?></span></p>
          </li>
          <li class="deal_discount">
            <p><?php echo $this->__('Discount'); ?></p>
			<p><span class="symbol"><?php echo number_format(100 - number_format(($_product->getFinalPrice() / $_product->getPrice()) * 100, 2), 0); ?>%</span></p>
		  </li>
          <li class="deal_savings">
            <p><?php echo $this->__('Save'); ?></p>
            <p><span class="symbol"><?php echo $_coreHelper->currency($discount); ?></span></p>
          </li>
        </ul>
        <ul class="deal_price_info">
          <li class="deal_price">
            <p><?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false); ?></p>
          </li>
          <li class="deal_link">
            <p><a href="<?php echo $_product->getProductUrl(); ?>">View Now</a></p>
          </li>
        </ul>
	  </div>	
    </li>
<?php if ((($i % $_columnCount) ==0) || ($i == $_collectionSize)): ?>
  </ul>
  <div class="toolbar-bottom">
      <?php echo $this->getToolbarHtml() ?>
  </div>
<?php
    endif;
endforeach; ?>
</div>
<?php endif; ?>
</div>