<?php
/**
 * Customer login form template
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
  <h1><?php echo $this->__('LOGIN/SIGNUP') ?></h1>
</div>

<div class="standard">
  <div class="clear"></div>
  <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
    <div class="signup-persistent">
      <div class="sign-up">
        <div class="login">
          <h2>new customer</h2>
          <h2 class="right">Existing customer</h2>
        </div>
      </div>

      <div class="clear"></div>
      <div class="form1">
        <div class="top"></div>
        <div class="clear"></div>
        <div class="mid">

          <div class="leftlogin">
            <p>New to <span> <a href="sign-up.html">ikOala? Sign Up</a></span> for a new account today. <br><strong>Its</strong><b> FREE</b></p>
            <div class="signup1">
              <a href="<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>"><img src="<?php echo $this->getSkinUrl('images/signup4.png')?>" alt="signup"/></a>
            </div>
          </div>

          <div class="rightlogin">
            <p>If you have an account with us, please log in.</p>
            <label>Email Address<strong>*</strong></label><br />
            <div class="inputlogin">
              <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
            </div>
            <label>Password<strong>*</strong></label><br />
            <div class="inputlogin">
              <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
            </div>
            <div class="forget">
              <a href="<?php echo $this->getForgotPasswordUrl() ?>">Forgotten Password?</a>
            </div>
            <div class="chek">
               <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            </div>
            <br/>
            <div class="signup1">
              <input type="submit" class="button" title="<?php echo $this->__('Login') ?>" value="" name="send" id="send2"/>
            </div>	
          </div>

          <div class="clear"></div>
        </div>

        <div class="bot"></div>
      </div>
    </div>
    <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
        <input name="context" type="hidden" value="checkout" />
    <?php endif; ?>
  </form>
</div>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('login-form', true);
//]]>
</script>
