<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
    <!--subscribe-row-left-start-->
    <div class="subscribe-row-left">
	    <h4>subscribe</h4>
	    <h6>for the best deals</h6>
    </div>
    <!--subscribe-row-left-end-->
    <!--subscribe-row-right-start-->
    <div class="subscribe-row-right">
    	<input type="text" name="email" value="Email" onfocus="if (this.value == 'Email') {this.value = '';} else{fun(this)}" onblur="if (this.value == '') {this.value = 'Email';}" class="email input-text required-entry validate-email">
    	<div class="email-icon"><img src="<?php echo $this->getSkinUrl('images/email-icon.jpg') ?>" alt="image"></div>
	    <select title="<?php echo $this->__('Select City') ?>" class="validate-select">
            <option value=""><?php echo $this->__('Select City') ?></option>
			<?php foreach ($this->getGroups() as $_group): ?>
				<option value="<?php echo $_group->getId() ?>"><?php echo $this->htmlEscape($_group->getName()) ?></option>
			<?php endforeach; ?>
			</select>
            <div class="select-arrow"></div>
    	<input type="submit" value="submit">
    </div>
    <!--subscribe-row-right-end-->
</form>

<script type="text/javascript">
//<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>
