<div class="blog-sec">

<!--blog-outer-start--> 
<div style="width:46%; float:left ">
<div class="blog-outer">

 <!--row-1-start-->
 <div class="row-1">
   <h2>From The Blog</h2>
   
  <!--blog-sec-start-->  
 <div class="blog-box">
 
 <a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/tea-cup-2.jpg") ?>'> <h5>Drink Tea To Lose Weight Slim Down</h5> </a></div>

  <!--blog-sec-End-->
  
  <!--blog-sec-End--> 
 <div class="blog-box">
 <a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/red-tea-2.jpg") ?>'> <h5>Drink Tonic Time Tea to lose weight and slim down</h5></a>
</div>
 <!--blog-sec-End-->
 
 </div> 
 <!--row-1-End-->

<!--log-box-strat--> 
 <div class="log-box">
 <a href="#"><div class="clm"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/model-2.jpg") ?>'> <h5>Tonic Time for slim Tea, well being Fitness wear and more </h5> </div></a>
 </div>
  <!--log-box-End-->
</div>
 </div>
 <!--blog-outer-end-->
 
 <!--instagran-part-start-->
   <div style="width:26%; float:left; margin:0 auto "> 
 <div class="instagram">
 <div class="clm2"> <h2>Instagram</h2>

<div class="pop-box">

<a href="#"><img src='<?php echo $this->getSkinUrl("images/pizz.jpg") ?>' alt="Healthburst"></a>

</div> 
<!--pop-box-end-->

<div class="pop-box">
<a href="#"><img src='<?php echo $this->getSkinUrl("images/pop-small2.jpg") ?>' alt="Healthburst"></a>
</div>
 <!--pop-box-end-->
 
<div class="pop-box">
<a href="#"><img src='<?php echo $this->getSkinUrl("images/pop-small3.jpg") ?>' alt="Healthburst"></a>
</div>
 <!--pop-box-end-->
 
<div class="pop-box">
<a href="#"><img src='<?php echo $this->getSkinUrl("images/pop-small4.jpg") ?>' alt="Healthburst"></a>
</div>
 <!--pop-box-end-->

<div class="pop-box">

<a href="#"><img src='<?php echo $this->getSkinUrl("images/pizz.jpg") ?>' alt="Healthburst"></a>

</div>
 <!--pop-box-end-->
 
<div class="pop-box">
<a href="#"><img src='<?php echo $this->getSkinUrl("images/pizz.jpg") ?>' alt="Healthburst"></a>
</div> 
<!--pop-box-end-->

 </div>
 </div>
</div>
 <!--instagran-part-endt-->

 <!--blog-right-part-strat-->
    <div style="width:27%; float:right;  margin:0 auto "> 
<div class="blog-right"> 
 <!--feed-back-part-strat-->
<div class="feed-back">
<h2>share your feedback</h2>

<div class="feed-back-form">
<form>
<label>Name:</label>
<input type="text">


<label>Email:</label>
<input type="text">

<label>City:</label>
<input type="text">

<label>Comment:</label>
<textarea></textarea>	

<input type="submit" value="submit">

</form>
</div>

</div>
 <!--feed-back-part-->
</div>
</div>
 <!--blog-right-part-end-->
 </div>
