<div class="contant-outer"> 
    <!--contant-left-start--> 
    <div class="contant-left">
        <div class="img-box">
            <img src='<?php echo $this->getSkinUrl("images/contant-img.jpg") ?>' alt="image">
            <div class="img-txt">Get That Bikini Body</div>
        </div>
    </div>
    <!--contant-left-end--> 

    <!--contant-right-start--> 
    <div class="contant-right">
    <h4>Why Choose Tonic Time ?</h4>
    <h5>Chances are you are here because you want to look and feel your best. Tonic Time is your partner and personal coach in all things slimming, health, fitness, weight loss, sports fashion and beauty. </h5>
    <p>Tonic Time is an Australian based 100% natural health supplements, slim tea and fitness wear company.</p>
    <p>We're part of a 350,000 strong subscriber base and we deliver worldwide. So tell your mates!</p>
    <p>Our mission is simple. To promote a balanced and healthy lifestyle to Tonic Timers everywhere, improving your wellbeing and helping you achieve your health and fitness goals. Tonic Time will have you covered with our fab range of slimming teas, wellbeing and arthritis supplements, gym and fitness wear and more. Our flagship is our 15 Day Slim Tea Programme - a powerful mix of all natural health and weight loss ingredients, that will assist you to slim down quickly.</p>
    <p>Time will have you looking and feeling great, without those expensive high street store costs.</p>
    <p>Tonic Time is Just the Tonic.</p>
    <a href="#" class="find-out">find out more </a>
    </div>
    <!--contant-right-end-->
 </div>
