<?php 
  /*
  * ikOala 06/06/2013
  * Added clear()->setPageSize(20)->load() to limit mini deals to 20
  */
  $products = $this->getProductCollection()
             ->addAttributeToSort('deal_from_date', 'DESC')
             ->clear()
             ->setPageSize(12)
             ->load();
  $_helper = $this->helper('catalog/output');
  $_coreHelper = $this->helper('core');
  $deal_count = $products->getSize();
  $deal_display_count = count($products->getItems());
?>
<?php if($deal_count){ ?> 
<?php $_iterator = 0; ?>
  <div class="block side-deals <?php echo $this->getClassName() ?> ">    
    <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'you-beaut-guarantee'): ?>
        <div class="you-beaut-right">
            <div class="form-part">
            <h2><?php echo $this->__('contact us') ?></h2> 
            <form method="POST" id="contactForm" action='<?php echo Mage::getUrl('contacts/index/post/') ?>'>
                <input type="text" id="name" name="name" value="Name:" onFocus="if (this.value == 'Name:') {this.value = '';} " onBlur="if (this.value == '') {this.value = 'Name:';}" />
                <input type="text" id="email" name="email" value="Email:" onFocus="if (this.value == 'Email:') {this.value = '';} " onBlur="if (this.value == '') {this.value = 'Email:';}" class="validate-email" />
                <input type="text" id="telephone" name="telephone" value="Phone:" onFocus="if (this.value == 'Phone:') {this.value = '';} " onBlur="if (this.value == '') {this.value = 'Phone:';}" />
                <textarea id="comment" name="comment" value="" onFocus="if (this.value == 'Comments:') {this.value = '';} " onBlur="if (this.value == '') {this.value = 'Comments:';}" class="massage-bg">Comments:</textarea>
                <input type="submit" value="submit">
                <input type="hidden" name="antibot-field" value="antibot-553">
                <input type="hidden" name="origin-beaut" value="1"/>
            </form>
            </div>
            <div class="add"> <img src="<?php echo $this->getSkinUrl('images/add.jpg') ?>" alt="image"></div>
        </div>
    <?php endif; ?>
    
    <?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('mini_deals_ad')->toHtml(); ?>
    <?php echo $this->getLayout()->createBlock('banner/banner', 'prod.banner')->setBannerGroupCode('prod_banner')->setTemplate('unibanner/effects/homeadd.phtml')->toHtml(); ?>
    
    <div class="block-content">
      <ol class="products-list" id="products-list-<?php echo $this->getClassName(); ?>">
        <?php foreach ($products->getItems() as $_product): ?>
        <?php $productId = $_product->getId();    ?>
        <?php $this->setProduct($_product);?>
        <li class="deal_item">
          <div class="side_deal">
              <div class="deal_title">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName(); ?>">
                  <?php echo Mage::helper('core/string')->truncate($_product->getName(), 50)?>
                </a>
              </div>
              <div class="popdeals">
                  <div class="info-img">
                      <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                          <img src="<?php echo $this->getSkinUrl('images/grey.gif') ?>" class="lazy" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(70); ?>" width="70" height="70" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                      </a>
                  </div>
                  <div class="price-holder">
                      <div class="value">
                          <p><?php echo Mage::helper('core')->currency($_product->getFinalPrice(),true,false) ?></p>
                      </div>
                      <div class="viewnow">
                          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">VIEW NOW</a>
                      </div>
                  </div>
              </div>
            
            <a href="<?php echo $_product->getProductUrl() ?>" class="light"></a>
          </div>
        </li>
        <?php endforeach; ?>    
      </ol>
      <div class="viewmore-link">
        <a href="javascript:minideals()" id="more-link" class="viewmore-link">VIEW MORE</a>
      </div>
      <div id="loading-img" style="display: none; text-align: center;">
        <img src="<?php echo $this->getSkinUrl('images/loading.gif'); ?>" />
      </div>
    </div>
    <script type="text/javascript">decorateList('products-list-<?php echo $this->getClassName(); ?>', 'none-recursive')</script>
  </div>
  <input type="hidden" id="last_deal_id" value="<?php echo $productId; ?>" /><br />
<?php } ?>  


<script type="text/javascript">
    
    jQuery(document).ready(function() {
        jQuery("img.lazy").lazyload({ effect : "show", threshold: 1100 });
    });

    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
  function minideals(){
    jQuery('#loading-img').show();
    var url = '<?php echo Mage::getBaseUrl(); ?>/deals/index/minideals';
    if(jQuery("#last_deal_id").val() == '' || jQuery("#last_deal_id").val() == 'null'){
      jQuery("#more-link").hide();
      jQuery('#loading-img').hide();
    }

    jQuery.ajax({
          url: url,
          type: 'POST',
          dataType: 'json',
          data: {id: jQuery("#last_deal_id").val()},
          success: function(data) {
            if(data.deal_id == '' || data.deal_id == 'null'){
              jQuery("#more-link").hide();
              jQuery('#loading-img').hide();
            }

            jQuery('#loading-img').hide();
            jQuery("#last_deal_id").val(data.deal_id);
            jQuery(".block-content #products-list-special").hide().append(data.deal_item).fadeIn();
          }
      });
  }
 /* jQuery(document).ready(function(){

    var url = '<?php echo Mage::getBaseUrl(); ?>/deals/index/minideals';

    if(jQuery("#last_deal_id").val() == ''){
      jQuery("#more-link").hide();
    }

    jQuery('#more-link').click(function() {
        location.href = '#minideals-add';
        jQuery.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: {id: jQuery("#last_deal_id").val()},
            success: function(data) {
              location.href = '#minideals-add';
              jQuery("#last_deal_id").val(data.deal_id);
              jQuery(".block-content #products-list-special").append(data.deal_item);
            }
        });

    });
  });*/
</script>
