<?php 
  /*
  * 2nd Deals 06/06/2013
  * Added clear()->setPageSize(20)->load() to limit mini deals to 8
  */
  $products = $this->getProductCollection()
             ->addAttributeToSort('deal_from_date', 'DESC')
             ->clear()
             ->setPageSize(8)
             ->load();
  $_helper = $this->helper('catalog/output');
  $_coreHelper = $this->helper('core');
  $deal_count = $products->getSize();
  $deal_display_count = count($products->getItems());

  $_collectionSize = $products->count();
  $_columnCount = 4;
  $i=0;
  $x=0;
  $nobg = '';
  
?>

<?php if($_collectionSize > 0): ?>
<div class="pagewrap">
  <div class="page">
    <div class="minideals">
      <a style="pointer-events: none; cursor: default;">Mini Deals</a>
      <div class="view">
        <a href="<?php echo Mage::getBaseUrl() ?>"><?php echo $this->__('View all') ?><img src="<?php echo $this->getSkinUrl('images/arrow.gif'); ?>" alt="arrow"></a>
      </div>
    </div>
    <?php foreach ($products->getItems() as $_product): ?>
      <?php $productId = $_product->getId();    ?>
      <?php $this->setProduct($_product);?>
      
      <?php if ($i++%$_columnCount==0): ?>
        <ul class="listing">
      <?php endif ?>
        <?php
          if($i==1) {
            $cl="nomarginleft";
          } elseif ($i==4) {
            $cl="nobg nopaddingright";
          } else {
            $cl="";
          }
        ?>
        <?php
          if (strlen($this->getDealSaving()) == 9) {
            $span_padd = ' style="padding: 3px 0 0 3px;"';
            $li_padd_left = ' style="padding-left: 3px;"';
            $li_padd_right = ' style="padding-right: 3px;"';
          } else {
            $span_padd = '';
            $li_padd_left = '';
            $li_padd_right = '';
          }
        ?>
        <li class="deallist <?php echo $cl; ?>">
          <h3><?php echo Mage::helper('core/string')->truncate($_product->getName(), 25)?></h3>
          <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(78, 83);?>"  />
          <span class="rgt"<?php echo $span_padd; ?>>
            <ul>
              <li<?php echo $li_padd_right; ?>>
                <?php echo $this->__('Price') ?><br />
                <span><?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false) ?></span>
              </li>
              <li<?php echo $li_padd_left; ?>>
                <?php echo $this->__('Save') ?><br />
                <span><?php echo $this->getDealSaving(); ?></span>
              </li>
            </ul>
          </span>
          <div class="findout"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName(); ?>">Find Out More</a></div>
        </li>
        <?php if ($i==$_columnCount || $x==$_collectionSize): ?>
          <?php $i = 0; ?>
            </ul>
        <?php endif ?>
    <?php endforeach; ?>
  </div>
</div>
<?php endif; ?>
