<div class="myaccount-container-top"></div>
<div class="myaccount-container-mid">
    <div class="myaccount-container-title">DEFAULT DELIVERY ADDRESS <span class="myaccount-container-edit"><a href="<?php echo $this->getShippingAddressEditUrl() ?>">EDIT</a></span></div>
    <div class="clear"></div>
    
    <div class="myaccount-container-content">
        <?php echo $this->getPrimaryShippingAddressHtml() ?><br />
        
        <div class="button-container">
            <a href="<?php echo $this->getShippingAddressEditUrl() ?>"><?php echo $this->__('Edit Address') ?></a>
        </div>
    </div>
</div>
<div class="myaccount-container-bottom"></div>