<div class="myaccount-container-top"></div>
<div class="myaccount-container-mid">
    <div class="myaccount-container-title">CONTACT INFORMATION <span class="myaccount-container-edit"><a href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('Edit') ?></a></span></div>
    <div class="clear"></div>
    
    <div class="myaccount-container-content">
        <?php echo $this->htmlEscape($this->getCustomer()->getName()) ?><br />
        <?php echo $this->htmlEscape($this->getCustomer()->getEmail()) ?>
        
        <div class="button-container">
            <a class="contact-changepass-link" href="<?php echo $this->getChangePasswordUrl() ?>"><?php echo $this->__('Change Password') ?></a>
        </div>
    </div>
</div>
<div class="myaccount-container-bottom"></div>