<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<?php 
	$products = $this->getProductCollection();
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
	$count = $products->getSize();
?>
<?php $_iterator = 0; ?>
<?php if($count){ ?>
	<ol class="products-list" id="products-list">
		<?php foreach ($products->getItems() as $_product): ?>
		<?php
			$productId = $_product->getId();
			$deal = Mage::getModel('dailydeals/deal')->load($productId, 'product_id');
			if($deal && $_product->getIsDeal()){
		?>
		<?php 
			$_minimalPriceTax = $_product->getFinalPrice();
			if($_product->getTypeId() == "bundle"){
				$_priceModel  = $_product->getPriceModel();
				list($_minimalPriceTax, $_maximalPriceTax) = $_priceModel->getTotalPrices($_product, null, null, false);
			}
		?>
		<li class="item<?php if( ++$_iterator == $count ): ?> last<?php endif; ?>">
			<div class="deal">
				<div class="deal-title">
					<h1 class="deal-name"><?php echo $_product->getDealName(); ?></h1>

				</div>
				<div class="deal-info">
					<div class="leftcol">
						<?php $params = array( 'deal' => $deal->getId() ); ?>
						<div class="price_tag">
						  <div class="price_tag_inner">
							<div class="amount"><?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?></div>	
							<?php if($_product->getTypeId() == "configurable"){ 	?>	
								<div class="btn_buy">
									<a href="<?php echo $this->getBuyUrl($_product,$params) ?>" style="text-decoration:none;" class="show_config_options"><span><?php echo  $this->__("BUY NOW") ?></span></a>
								</div>
							<?php }else{ ?>
								<?php if($_product->getHasOptions()){ ?>
									<button type="button" class="btn_buy custom_options" onclick="setLocation('<?php echo $this->getBuyUrl($_product,$params) ?>')"></button>									
								<?php }else{ ?>
									<button type="button" class="btn_buy" onclick="setLocation('<?php echo $this->getBuyUrl($_product,$params) ?>')"></button>							
								<?php } ?>
							<?php } ?>							

						  </div>
						</div>
						<?php echo $this->getDiscountHtml($_product,$deal) ?>
						<?php echo $this->getGiftadealHtml($_product,$deal) ?>	
						<?php echo $this->getBoughtHtml($_product,$deal) ?>
						<?php echo $this->getTimerHtml($_product,$deal) ?>
						<?php echo $this->getShareHtml($_product,$deal) ?>
					</div>
					<div class="rightcol">
					<?php echo $this->getMediaHtml($_product,$deal) ?>
					<h2 class="featured_product_name">	
						<a href="<?php echo $_product->getProductUrl() ?>" class="product-name"><?php echo $_product->getName(); ?></a>
					</h2>	
						<?php // echo $this->getInfoHtml($_product,$deal) ?>
					</div>
					<div class="clear"></div>
					<?php // echo $this->getTabsHtml($_product,$deal) ?>			
				</div>
			</div>
		</li>
			<?php } ?>
	<?php endforeach; ?>		
	</ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
	
<?php } ?>

<?php echo $this->getChildHtml('newsletter_subscription'); ?>	