<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct(); ?>


<?php $_deal = $this->getDeal(); ?>
<?php $dealHelper = $this->helper('dailydeals/cart'); ?>

<?php $categories = $_product->getCategoryIds(); ?>
<?php foreach($categories as $k => $_category_id): ?>
            <?php $_category = Mage::getModel('catalog/category')->load($_category_id) ?>
            <?php $_cat_name = $_category->getName(); ?>
<?php endforeach; ?>

<?php
$showBuyButton = false;
if($_deal->getCanPurchase()):
	$showBuyButton = true;
endif;
?>
<?php 
	$_minimalPriceTax = $_product->getFinalPrice();
	if($_product->getTypeId() == "bundle"){
		$_priceModel  = $_product->getPriceModel();
		list($_minimalPriceTax, $_maximalPriceTax) = $_priceModel->getTotalPrices($_product, null, null, false);
	}

    $_buynow_btn = '';

    if ($showBuyButton && $_product->isSaleable()){ 
        $params = array( 'deal' => $_deal->getId() ); 
        if($_product->getTypeId() == "configurable"){      
            $_buynow_btn = '<div class="btn_buy">
                <a href="#" id="show_config_options"><div>'.$this->__("BUY NOWasdsa").'</div></a>asdasd
            </div>
            <script type="text/javascript">
                Event.observe($("show_config_options),"click",function(){
                $("config_options").show();
                $("config_options_background").show();
                });                                     
            </script>';
        } elseif($_product->getTypeId() == "bundle" || $this->hasOptions()){
            $_buynow_btn = $this->getChildChildHtml('container1', '', true, true);
        } else {
            $_buynow_btn = '<button type="button" class="btn_buy" onclick="setLocation(\''.$dealHelper->getBuyUrl($_product,$params).'\')"></button>';
        }
    }else{
        $_buynow_btn = '<div class="btn_finished">
            <span>'.$this->__("No Longer Available").'</span>
        </div>';        
    }

?>

    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
    	<div class="deal">
            <div class="page-title">
                <h1><?php echo $_cat_name; ?></h1>
            </div>
            <div class="deal-info-holder">
                <div class="deal-top">
            		<div class="deal-title">
                        <h2 class="product-name"><?php echo $_product->getName(); ?> <?php echo $_product->getDealName(); ?></h2>
            		</div>
                    <div class="product-description">
                        <?php echo $_product->getDescription(); ?>
                    </div>
                </div>
        		<div class="deal-info">
        			<div class="leftcol">
                        <div class="timer-holder">
                            <?php echo $this->getChildHtml('timer'); ?>
                        </div>
                        <div class="special-price">
                            <?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?>
                        </div>
                        <?php if ($this->hasOptions()):?>
                            <div class="attr-holder">
                                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                            </div>
                        <?php endif; ?>
                        <?php #echo $_buynow_btn; ?>
                        <?php echo $this->getChildHtml('discount'); ?>
        				<?php echo $this->getChildHtml('tipometer'); ?>     
                        <div class="deal-share-this">
                            <span>Share This</span> <img src="<?php echo $this->getSkinUrl('images/facebook.png');?>" alt="Facebook" /> <img src="<?php echo $this->getSkinUrl('images/twitter.png');?>" alt="Twitter" /> <img src="<?php echo $this->getSkinUrl('images/mail-mono.png');?>" alt="E-mail" />
                        </div>
        			</div>

        			<div class="rightcol">
        				<div class="product-img-box">
                            <?php echo $this->getChildHtml('media'); ?>			
                        </div>
        			</div>
        			<div class="clear"></div>
        		</div>
             
        		<?php
        			$is_featured_product = $this->getRequest()->getParam('options');
        		?>
        		<?php if($_product->isSaleable() && $this->hasOptions() && $_product->getTypeId() != "configurable"){ ?>
        		<div id="bundle_options_background" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>"></div>
        		<div id="bundle_options" style="<?php if(!$is_featured_product){echo 'display:none;'; } ?>">						
        		</div>	
        		<?php } ?>
            </div>
    	</div>
	</form>
    <div class="deal-tabs">
	   <?php echo $this->getChildHtml('tabs') ?>
       <div class="buynow-bottom">
            <div class="special-price">
                <?php echo $_coreHelper->currency($_minimalPriceTax,true,false) ?>
            </div>
            <div class="buynow-btn">
                <?php echo $this->getChildHtml('addtocart'); ?>
            </div>
        </div>

        <div class="popular-deals">
            <?php echo $this->getChildHtml('mostviewed'); ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);


		Event.observe($('bundle_options_background'),"click",function(){
		$('bundle_options').hide();
		$('bundle_options_background').hide();
		});	
    //]]>		
    </script>	
	
<?php
if($_product->isSaleable() && $_product->getTypeId() == "configurable"){
 echo $this->getChildHtml('configurable_options'); 
 }
 ?>	