<?php
$top_level_category = $this->getTopLevelCategory();
$current_category = Mage::getModel('catalog/layer')->getCurrentCategory();
?>
<div id="sidebar-deals">
  <ul class="category-links">
    <li<?php if (($this->helper('core/url')->getCurrentUrl() == Mage::getBaseUrl()) || (Mage::getSingleton('cms/page')->getIdentifier() == 'home')) { echo ' class="current"'; } ?>><a href="<?php echo Mage::getBaseUrl() ?>">Home page</a></li>
<?php
foreach ($this->getSidebarCategories() as $category):
    if (!$category->getIsActive()) {
        continue;
    }
?>
    <li class="<?php echo $this->htmlEscape($category->getUrlKey()); if ($current_category->getId() == $category->getId()) { echo ' current'; } ?>"><a href="<?php echo $this->getCategoryUrl($category) ?>"><?php echo $this->htmlEscape($category->getName()); ?></a></li>
<?php
endforeach;
?>
  </ul>
</div>