<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body>
<table width="100%" cellpadding="0" cellspacing="0" style="background:#e4f1fa;">
  <tr><td>
<table width="766" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#e4f1fa;">
  <tr>
    <td><img src="{{skin url="images/teddy.jpg" _area='frontend'}}" width="170" height="801" border="0"  /></td>
    <td align="right" valign="top"><table width="565" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td><img src="{{skin url="images/top.jpg" _area='frontend'}}" width="596" height="114" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><table width="596" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td valign="top" style="background:#2c3339; width:565px;  height:243px;"><table width="565" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2" align="center" style="height:59px; vertical-align:middle;"><img src="{{skin url="images/title.jpg" _area='frontend'}}" width="524" height="35" /></td>
            </tr>
          <tr>
            <td colspan="2"><img src=""{{skin url="images/line.jpg" _area='frontend'}}"" width="564" height="3" /></td>
            </tr>
          <tr>
            <td width="299" style="padding:20px 20px 20px 20px;"><p style="color:#fff; font-family:Trebuchet MS; font-size:13px;"><span style="color:#0f83e7;">Hi {{htmlescape var=$customer.name}}</span> Welcome to ikoala! <br />
              You will now receive email each day with the most amazing deals in your city.<br />
              To log in when visiting our site just click<br />
              <span style="color:#0f83e7;"> Login</span> at the top of every page, and then enter your e-mail address and password.</p></td>
            <td width="266" ><img style="z-index:-10;" src="{{skin url="images/main-right-bg1.jpg" _area='frontend'}}" width="244" height="142" border="0" usemap="#Map2" /><p style="color:#ffffff; z-index:100; margin-top:-60px; margin-left: 30px;">E-mail: <span style="color:#0f83e7;">{{var customer.email}}</span></p><p style="color:#ffffff; z-index:100; margin-left: 30px;" >Password: <span style="color:#0f83e7;">{{htmlescape var=$customer.password}}</span></p></td>
            </tr>
          </table></td>
        <td rowspan="4"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top" style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/" target="_blank"><img src="{{skin url="images/everyday.jpg" _area='frontend'}}" width="31" height="116" border="0" alt="Everyday" /></a></td>
          </tr>
          <tr>
            <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/" target="_blank"><img src="{{skin url="images/kids.jpg" _area='frontend'}}" width="31" height="76" border="0" alt="Kids" /></a></td>
          </tr>
          <tr>
            <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/" target="_blank"><img src="{{skin url="images/business.jpg" _area='frontend'}}" width="31" height="109" border="0" alt="Business" /></a></td>
          </tr>
          <tr>
            <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/" target="_blank"><img src="{{skin url="images/travel.jpg" _area='frontend'}}" width="31" height="85" border="0" alt="Travel" /></a></td>
          </tr>
          <tr>
            <td style="padding-bottom:3px;"><a href="http://www.ikoala.com.au/index.php?cityfilter=alldeals" target="_blank"><img src="{{skin url="images/all-deals.jpg" _area='frontend'}}" width="31" height="102" border="0" alt="All Deals" /></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#FEFEFE"><img src="{{skin url="images/heading.jpg" _area='frontend'}}" width="565" height="53" /></td>
        </tr>
      <tr>
        <td valign="top" style="background:#ffffff;"></td>
        </tr>
		<tr>
        <td align="center" valign="top" bgcolor="#FFFFFF"><table width="95%" border="0" align="center" cellpadding="1" cellspacing="2" style="font-family:Trebuchet MS;  font-size:12px; color:#343b41; margin-top:20px;">
          <tr>
            <td width="4%"><img src="{{skin url="images/tick.jpg" _area='frontend'}}" width="11" height="11" /></td>
            <td width="50%">Safe and secure shopping guaranteed</td>
            <td width="3%"><img src="{{skin url="images/tick.jpg" _area='frontend'}}" width="11" height="11" /></td>
            <td width="43%">Phone orders</td>
            </tr>
          <tr>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Amazing offers from businesses you can trust</td>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Peace of mind with an Aussie company</td>
            </tr>
          <tr>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Dedicated live chat support</td>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Shop with confidence</td>
            </tr>
          <tr>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Telephone customer service 1800 Ikoala (456252)</td>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td> Your Order is Secure and Safe</td>
            </tr>
          <tr>
            <td><img src="{{skin url="images/tick.jpg" _area='frontend'}}" alt="" width="11" height="11" /></td>
            <td>Convenient payment options</td>
            <td>&nbsp;</td>
            <td><img src="{{skin url="images/safe.jpg" _area='frontend'}}" width="12" height="14" /></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td><img src="{{skin url="images/visa.jpg" _area='frontend'}}" width="31" height="19" alt="Visa Card" /></td>
                <td><img src="{{skin url="images/master.jpg" _area='frontend'}}" width="31" height="19" alt="Master Card" /></td>
                <td><img src="{{skin url="images/american.jpg" _area='frontend'}}" width="31" height="19" alt="American" /></td>
                <td><img src="{{skin url="images/paypal.jpg" _area='frontend'}}" width="31" height="19" alt="Paypal" /></td>
                </tr>
              </table></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          </table></td>
        </tr>
		
      <tr>
        <td align="center" valign="top" bgcolor="#FFFFFF" > <img src="{{skin url="images/view-all-deals.jpg" _area='frontend'}}" width="564" height="59" border="0" usemap="#Map3" /></td>
        </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="66%"><p style="font-family:Trebuchet MS; font-size:12px; color:#83a2b7; line-height:20px;">Have a question? Email us at <span style="color:#0f83e7; text-decoration:none;"><a href="mailto:support@ikoala.com.au" style="text-decoration:none; color:#0f83e7;">support@ikoala.com.au</a></span>
              <br />
              Team Ikoala | PO Box 6362 | North Sydney, NSW 2059, Australia Manage your subscription | Send to a friend<br />
              <br />
              Your Daily Deal - National / Unsubscribe
              </p></td>
            <td width="34%" valign="top"><!--<img src="{{skin url="images/share.jpg" _area='frontend'}}"  alt="" width="193" height="41" border="0" usemap="#Map4"/>--></td>
            </tr>
          </table></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table></td>
  </tr>
</table>
</td></tr></table>

<map name="Map" id="Map">
  <area shape="rect" coords="513,2,595,32" href="http://www.ikoala.com.au/index.php/customer/account/login/" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="72,77,198,93" href="#" target="_blank" />
<area shape="rect" coords="91,97,216,112" href="#" target="_blank" />
</map>

<map name="Map3" id="Map3"><area shape="rect" coords="454,10,545,43" href="http://www.ikoala.com.au/" target="_blank" />
</map>
<!--<map name="Map4" id="Map4">
<area shape="circle" coords="99,20,15" href="#" target="_blank" />
<area shape="circle" coords="130,21,14" href="#" target="_blank" />
<area shape="circle" coords="161,19,14" href="#" target="_blank" />
</map>--></body>