<!--@subject Coupons for Friend @-->
<div class="main-container-email" style="width:670px;padding:20px 20px 20px 20px;background-color:#86ad53;background-repeat:no-repeat;background-position:center top;	border-width:5px;border-style:solid;border-color:#deedcc;">
	<table width="100%" cellspacing="0" cellpadding="0" style="background-color:#fff">
		<tbody>
			<tr>
			  <td colspan="2" style="vertical-align: top;">
				<div class="email-header" style="border-bottom:4px solid #4B8B9B;height: 104px; background:#313131; width:100%;">
					<div class="email-logo" style="float: left;height: 80px;padding: 10px 0 0 10px;width: 120px;">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a>						
					</div>
					<div class="email-social-icons" style="color: #FFFFFF;float: right;width: 125px;">
						<p style="color:#b0aea6;font-size:11px;font-family:Helvetica, Arial, sans-serif;font-weight:700;">follow us:
							<a target="_blank" href="#" style="margin-left:10px;">
								<img style="border:none;vertical-align:middle; height:16px; width:17px;" src="{{media url="socialmedia/email-icon-facebook.gif"}}" alt="Facebook">
							</a>
							<a target="_blank" href="#" style="margin-left:10px;">
								<img style="border:none;vertical-align:middle; height:16px; width:17px;" src="{{media url="socialmedia/email-icon-twitter.gif"}}" alt="Twitter">
							</a>
						</p>					  
					</div>
					<div class="email-clear" style="clear:both;"></div>
				</div>
			  </td>
			</tr>
			<tr>
			  <td colspan="2" style="vertical-align: top;">
			  <div class="email-content-area" style="padding:20px;">
					<div class="email-welcome-area">
						<p><strong>Hello {{var recipent_name}},</strong></p>
						<p>{{var gift_from_name}}, has gifted a coupon from {{var store_name}} specially for you</p>
						<h4 style="font-size:14px;">Gift Message</h4>
						<em>{{var gift_message}}</em>
						<p>Use the following coupons at the merchant's location to avail the benefit.</p>						
					</div>				
					<div class="email-content">
						<div class="left_block" style="width:300px;float:left;">
							<table cellspacing="0" width="100%" border="0">
								<tr>
									<td width="100" style="vertical-align: top;">Deal</td>
									<td style="vertical-align: top;">{{var deal_name}}</td>
								</tr>
								<tr>
									<td style="vertical-align: top;">Coupon code</td>
									<td style="vertical-align: top;">{{var coupon_code}}</td>
								</tr>
								<tr>

									<td style="vertical-align: top;">Redeem code</td>

									<td style="vertical-align: top;">{{var redeem_code}}</td>

								</tr>								

								<tr>

									<td style="vertical-align: top;">Quantity</td>
									<td style="vertical-align: top;">{{var qty}}</td>
								</tr>
								<tr>
									<td style="vertical-align: top;">Location:</td>
									<td style="vertical-align: top;">{{var location}}</td>
								</tr>			
							</table>
							<div style="float:left;margin:25px">
								<img src="{{var barcode_url}}" />
							</div>
							<div style="clear:both"></div>
						</div>
						<div class="right_block" style="width:300px;float:right;">
							<img src="{{var image_url}}" width="275" />
						</div>
						<div style="clear:both"></div>
					</div>
				</div>
				</td>
			</tr>			
		</tbody>
	</table>
</div>
