<!--@subject Coupons for Order # {{var order_id}} - Coupon id # {{var history_id}}@-->
<!-- <html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></head><body style="font-family:Arial, Helvetica, sans-serif;"> -->
<table width="700" style="background:#f0f1f3;padding:10px;font-family:Arial, Helvetica, sans-serif;">
	<tbody>
		<tr>
			<td>
				<table style="width:100%;">
					<thead>
						<tr style="background:#313131;">
							<th style="padding:0;text-align:left;border-bottom:2px solid #f1461e;">
								<a href="{{store url=""}}">
									<img style="float:left;" width="100%"  src="{{skin url="images/top.jpg" _area="frontend" _package="enterprise" _theme="ikoala"}}" alt="">
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr style="background:#fff;">
							<td style="font-size:11px; padding:15px; color:#808080; ">
								<div style="text-align:left;clear:both;margin:0 0 10px 0;">
									<h3 style="padding:0px; font-size:22px; font-weight:bold; margin:0px; color:#333333;">{{var deal_name}}</h3>
									<span style="width:413px; font-size:13px; color:#333333; "> Redeemable at: <strong>{{var deal_merchant_description}}</strong></span>
								</div>	
								<div style="float:left; width:46%;">
									<a href="">
										<img width="100%" style="border:2px solid #D6D7D9;" src="{{var image_url}}" alt="">
									</a>
								</div>
								<div style="float:right; width:50%;">	
									<div style="margin-top:10px;clear:both;margin:0 0 3px; padding:0 0 0 2px;">
										<span style="font-size:12px; color:#333333; ">
											Customer Name: <span style="font-weight:bold;">{{var customer_name}}</span>
										</span><br />
									</div>
									<table width="100%" style="font-size:11px;margin:0px 0px 0px; border-top:1px dashed #DDDDDD; padding-bottom:5px;">
										<tbody>
											<tr>
												<td style="color:#333333; padding:0; width:70px; padding-top:4px; ">Coupon #:</td>
												<td style="padding:0; padding-top:4px;">{{var coupon_code}}</td>
											</tr>
											<tr>
												<td style="color:#333333; padding:0; ">Valid Until:</td>
												<td style="padding:0;">{{var deal_coupon_expiration_date}}</td>
											</tr>
											<tr>
												<td style="color:#333333; ">Value:</td>
												<td style="padding:0;">{{var special_price}}</td>
											</tr>

											<tr>
												<td style="color:#333333; ">{{var prod_options_label_1}}</td>
												<td style="padding:0;">{{var prod_options_value_1}}</td>
											</tr>

											<tr>
												<td style="color:#333333; ">{{var prod_options_label_2}}</td>
												<td style="padding:0;">{{var prod_options_value_2}}</td>
											</tr>

											<tr>
												<td style="color:#333333; ">{{var prod_options_label_3}}</td>
												<td style="padding:0;">{{var prod_options_value_3}}</td>
											</tr>
										</tbody>
									</table>
									<div style="padding:12px 0 0 0px;">
										<table width="100%" style="font-size:11px;margin:0px 0px 0px; padding:10px 0px 3px 0; border-top:1px dashed #DDDDDD;" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td colspan="2">
														<span style="font-size:11px; color:#333333">CONTACT INFO:</span>
													</td>
												</tr>
												<tr>
													<td style="color:#333333; padding:1px 0px; width:50px;">
														<span style="color:#333333;">Phone:</span>
													</td>
													<td style="padding:1px 0px;">
														{{var merchant_phone}}
													</td>
												</tr>
												<tr>
													<td style="color:#333333; padding:1px 0px; width:50px;">
														<span style="color:#333333;">E-Mail:</span>
													</td>
													<td style="padding:1px 0px;">
														support@ikoala.com.au
													</td>
												</tr>
												<tr>
													<td style="color:#333333; padding:1px 0px; width:50px;">
														<span style="color:#333333;">Website:</span>
													</td>
													<td style="padding:1px 0px;">
														{{var merchant_website}}
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div style="float:left; width:100%; border-top:1px dashed #DDDDDD; margin:8px 0 0; padding:10px 0 0;">
									<div style="float:left; width:48%; padding-right:5px;">
										<h3 style="display:block; padding:0px; font-size:14px; font-weight:bold; margin:0; color:#333333;">Highlights</h3>
										{{var deal_highlight}}
									</div>
                                    {{var how_to_redeem}}
                                    <div style="float:left; width:48%">
										<h3 style="display:block; padding:0px; font-size:14px; font-weight:bold; margin:0; color:#333333;">Conditions</h3>
										<p>{{var fineprint}}</p>
									</div>
								</div>
							</td> 
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- </body></html> -->
