<!--@subject Request for Merchant Account@-->
<div class="main-container-email" style="width:670px;padding:20px 20px 20px 20px;background-color:#86ad53;background-repeat:no-repeat;background-position:center top;	border-width:5px;border-style:solid;border-color:#deedcc;">
	<table width="100%" cellspacing="0" cellpadding="0" style="background-color:#fff">
		<tbody>
			<tr>
			  <td colspan="2" style="vertical-align: top;">
				<div class="email-header" style="border-bottom:4px solid #4B8B9B;height: 104px; background:#313131; width:100%;">
					<div class="email-logo" style="float: left;height: 80px;padding: 10px 0 0 10px;width: 120px;">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a>						
					</div>
					<div class="email-clear" style="clear:both;"></div>
				</div>
			  </td>
			</tr>
			<tr>
			  <td colspan="2" style="vertical-align: top;">
			  <div class="email-content-area" style="padding:20px;">
					<div class="email-welcome-area">
						<p>The following is the information regarding customer who wants to create an merchant account.</p><br/>
					</div>				
					<div class="email-content" style="margin-bottom:30px;">
						<div class="left_block">
								<p><strong>Customer Details:</strong></p>						
							<table cellspacing="0" width="100%" border="">
								<tr>
									<td style="vertical-align: top;">Customer Name</td>
									<td style="vertical-align: top;">{{var sender_name}}</td>
								</tr>
								<tr>
									<td style="vertical-align: top;">Company Name</td>
									<td style="vertical-align: top;">{{var company_name}}</td>
								</tr>
								<tr>
									<td style="vertical-align: top;">Address</td>
									<td style="vertical-align: top;">{{var address}}</td>
								</tr>		
								<tr>
									<td style="vertical-align: top;">Telephone</td>
									<td style="vertical-align: top;">{{var telephone}}</td>
								</tr>									
							</table>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="email-message">
						<table cellspacing="0" width="100%" border="0">
							<tr>
								<td style="vertical-align: top;"><strong>Message from customer:</strong></td>
							</tr>
							<tr>
								<td style="vertical-align: top;">{{var message}}</td>
							</tr>									
						</table>						
					</div>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>