<div id="newsletter_form_bg" style="display: none;"></div>
<div style="display: none;" class="container_16 round_clear pushy" id="newsletter_form">
		<div id="close">
			<img src="<?php echo $this->getSkinUrl('images/newsletter_popup/close.png'); ?>" />
		</div>
        <div id="pop-head">
            <img src="<?php echo $this->getSkinUrl('images/newsletter_popup/join.png'); ?>" />
        </div>
        <div class="border-bottom"></div>
		<div class="clear"></div>
		<div class="register2">
			<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="popup-newsletter-validate-detail">
				<?php if(count($this->getGroups())>1): ?>
				<div class="city-selector">
					<select id="select-city-2" name="cities" title="<?php echo $this->__('Select City') ?>">
					<?php foreach ($this->getGroups() as $_group): ?>
						<?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
						<option value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
					<?php endforeach; ?>
					</select>
                    <div class="city">
                        <div class="state"><?php echo $this->__('National') ?></div>
                        <div class="arrow-dropdown"></div>
                    </div>
				</div>
				<?php endif; ?>
				<div class="newsletter">
					<input type="text" name="email" id="email" placeholder="Enter your email here" id="popup-newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email inputbox" />
				</div>
				<div class="go">
					<button type="submit" title="<?php echo $this->__('Join Now') ?>" class="button fr" onclick="newsletterSubmit()"><span><img src="<?php echo $this->getSkinUrl('images/newsletter_popup/go.png'); ?>" /></span></button>
				</div>
                <div class="already-registered"><a href="#" id="close-link"><?php echo $this->__('Thanks, I am already registered.') ?></a></div>
                <div class="pop-text">
                    <ol>
                        <li><span><?php echo $this->__("G'Day Cobber... Thanks for visiting!") ?></span></li>
                        <li><span><?php echo $this->__("Leave your email and we'll donate to help our beloved Aussie icons - the KOALAS. There's a Mum and Joey just waiting to meet you!") ?></span></li>
                        <li><span><?php echo $this->__("Join ikOala, and we'll also keep you up to date with all our latest and greatest offers") ?></span></li>
                        <li><span><?php echo $this->__("Sign Up and check our FAQs for more details on how ikOala is helping to save Australia money and save the koalas") ?></span></li>
                        <li><span><?php echo $this->__("Simply enter your email address, and you'll have done your part. You Beaut!") ?></span></li>
                    </ol>
                </div>
                <div class="terms">
                    <input type="checkbox" name="terms" class="required-entry" checked="checked" />
                <?php echo $this->__("I agree to ikOala's Privacy Policy and Terms and Conditions") ?>
                </div>
			</form>
		</div>
</div>
<?php if($this->getRequest()->getParam('no_popup') != 1): ?>
    <script type="text/javascript">
    
                Event.observe(window, 'load', function() {      
                    
                    var today = new Date();
                    var expiry = new Date(today.getTime() + 10 * 24 * 3600 * 1000); 
                    
                    /* disable popup if mobile is enabled */
                    setCookie('ismobile','<?php echo Mage::helper('ikoala_mobile/switch')->isMobile() ?>',expiry);
                    
                    var ismobile = readCookie("ismobile");
                    
                    var newsletter_cookie = readCookie("popup-newsletter");
                    if(newsletter_cookie == "display" && ismobile == 0){
                        $("newsletter_form_bg").appear();
                        $("newsletter_form").appear();
                    }
                }); 
                Event.observe($("close"),"click",function(){
                        var today = new Date();
                        var expiry = new Date(today.getTime() + (3600000 * 3)); // 3h
                        setCookie("popup-newsletter","close", expiry);
                        $("newsletter_form_bg").fade();
                        $("newsletter_form").fade();							
                });	
                
                Event.observe($("close-link"),"click",function(){
                        var today = new Date();
                        var expiry = new Date(today.getTime() + (3600000 * 3)); // 3h
                        setCookie("popup-newsletter","close", expiry);
                        $("newsletter_form_bg").fade();
                        $("newsletter_form").fade();							
                });						
                
                function setCookie(name, value, expiry){
                    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
                }    
               
                function readCookie(name)
                {
                    var nameEQ = name + "=";
                    var ca = document.cookie.split( ';');
                    for( var i=0;i < ca.length;i++)
                    {
                        var c = ca[i];
                        while ( c.charAt( 0)==' ') c = c.substring( 1,c.length);
                        if ( c.indexOf( nameEQ) == 0) return c.substring( nameEQ.length,c.length);
                    }
                    return "display";
                }  	
                
                var newsletterSubscriberFormDetail = new VarienForm('popup-newsletter-validate-detail');
                
                function newsletterSubmit(){
                    if(newsletterSubscriberFormDetail.validator.validate()){
                            var today = new Date();
                            var expiry = new Date(today.getTime() + (3600000 * 3)); // 3h
                            setCookie("popup-newsletter", "submit", expiry); 
                            
                            $("newsletter_form_bg").fade();
                            $("newsletter_form").fade();    					
                            $("newsletter_form").submit();                  
                    }       
                }
                
            jQuery('#select-city-2').change(function(){
                var str = "";
                jQuery('#select-city-2 option:selected').each(function(){
                    str += jQuery(this).text() + " ";   
                });
                jQuery(".state").text(str);
            }).trigger('change');
    </script>
<?php endif; ?>
