<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_basic
 *
 */
?>

<!-- gift data -->

<div id="gift_detail">
	<div id="gift_detail_close"></div>
	<a id="gift_to_friend" href="#">
		<span><?php echo $this->__('Give this deal as gift') ?></span>
	</a>

	<?php //if(Mage::getSingleton('core/session')->getFriendEmail()): ?>
	<div id="gift_data" style="display:none;">
		<p>
			<span><?php echo $this->__('Send deal to') ?> : <?php echo Mage::getSingleton('core/session')->getGiftRecipentEmail(); ?></span>
			<a onclick="friendEdit()" id="friend_edit" href="#"><?php echo $this->__('Edit') ?></a>
		</p>
	</div>
	<?php //endif; ?>
</div>
<!-------------------->

<!-- friend popup form -->
<div id="friend_popup" style="display:none;">
	
	<div class="friend_popup_top">
		<div class="friend_popup_close" id="friend_close"></div>
	</div>

	<div class="friend_header">
		<h1><?php echo $this->__('Gift Options') ?></h1>
		<p>
		  <small><?php echo $this->__('Fill out the form below and give the gift') ?>!</small>
		</p>
	</div>

	<div class="friend_form">
	
		<form id="gifttofriend_form">

			<div class="section1">
				<p>
				<label><?php echo $this->__('To') ?>:</label>
				<input type="text" value="<?php echo Mage::getSingleton('core/session')->getGiftToName(); ?>" size="26" name="to" maxlength="26" id="friend_to" class="input input-text required-entry">
				</p>
				
				<p>
				<label>
				<?php echo $this->__('From') ?>:
				<span>(<?php echo $this->__('Name you want the recipient to see') ?>.)</span>
				</label>
				<input type="text" value="<?php echo Mage::getSingleton('core/session')->getGiftFromName(); ?>" size="40" name="from" maxlength="40" id="friend_from"  class="input input-text required-entry">
				</p>
				
				<p>
				<label><?php echo $this->__('Email it to') ?>:</label>
				<input type="text" value="<?php echo Mage::getSingleton('core/session')->getGiftRecipentEmail(); ?>" size="26" name="email" maxlength="26" id="friend_email" class="input input-text required-entry validate-email">
				</p>
			</div>

			<div class="section2">
				<p>
				<label>
				<?php echo $this->__('Message') ?>:
				<span>(<?php echo $this->__('Message') ?>) - <?php echo $this->__('Optional') ?></span>
				</label>
				<textarea rows="20" name="message" id="friend_message" data-max-length="330" cols="40" class="input-text text_counter" value="<?php echo Mage::getSingleton('core/session')->getGiftMessage(); ?>"></textarea>
				<p class="text_counter_message"><span class="counter">330</span> <?php echo $this->__('characters remaining') ?></p>
				</p>
			</div>
			
			<button type="button"  onclick="giftToFriend()" title="<?php echo Mage::helper('checkout')->__('Save') ?>" class="button"><span><span><?php echo Mage::helper('checkout')->__('Save') ?></span></span></button>
		</form>
		<script type="text/javascript">
		//<![CDATA[
		function giftToFriend(){
			var giftToFriendForm = new VarienForm('gifttofriend_form', true);
			if (giftToFriendForm.validator.validate()) {
				giftToFriendFormAjaxSubmit();
			}
		}
		//]]>
		</script>		
	</div>

	<div class="friend_footer"></div>

	<div class="friend_popup_bottom"></div>

</div>

<script type="text/javascript">
var friend = <?php (Mage::getSingleton('core/session')->getDealForFriend() ?  print 1 : print 0 );  ?>;
var send_to_friend = <?php (Mage::getSingleton('core/session')->getSendAsGift() ?  print 1 : print 0);  ?>;

if(friend == 0){
	$("gift_to_friend").show();
	$("gift_data").hide();
}

if(friend == 0 && send_to_friend == 1){
	$("gift_to_friend").hide();
	$("gift_data").show();
}

if(friend == 1 && send_to_friend == 0){
	$("friend_popup").appear();
	$("gift_to_friend").show();
	$("gift_data").hide();
}

if(friend == 1 && send_to_friend == 1){
	$("friend_popup").hide();
	$("gift_to_friend").hide();
	$("gift_data").show();
}

Event.observe("gift_to_friend","click",function()
	{
		$("friend_popup").appear();
	}
);

Event.observe("friend_close","click",function()	
	{
		$("friend_popup").fade();
	}
);

function giftToFriendFormAjaxSubmit()
	{
	
	var inputs = $("gifttofriend_form").serialize(true);
	var j_inputs = Object.toJSON(inputs);
	

	var path = '<?php echo $this->getUrl('deals/friend/setData') ?>';
	
	new Ajax.Request(path,
					{
						method:"get",
						parameters:"val="+j_inputs,
						onSuccess:function(transport){
									$('gift_data').innerHTML = transport.responseText;	
									$("friend_popup").fade();
									$('gift_to_friend').hide();
									$('gift_data').show();

						}
					});
	}
	
function friendEdit()
	{
	$("friend_popup").appear();
	}
	
Event.observe("gift_detail_close","click",function(){
	
	$("gift_to_friend").show();
	$("gift_data").hide();
	
	var path = '<?php echo $this->getUrl('deals/friend/unsetData') ?>';
	
	new Ajax.Request(path,
					{
						onSuccess:function(transport){
						$("friend_to").value = "";
						$("friend_from").value = "";
						$("friend_email").value = "";
						$("friend_message").value = "";
						}
					});
	}
);

</script>