<?php 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant_id = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id')->getMerchantId();
//echo  Mage::getSingleton('cms/wysiwyg_config')->getConfig();

?>

<div class="page-title">
    <h1><?php echo $this->__('New Product') ?></h1>
</div>

<div class="merchant-entry">

<form method="post" action="<?php echo $this->getFormActionUrl(); ?>" id="merchant_product_form">

<!------------------------ Extra ---------------------------------------->
<input type="hidden" value="<?php echo $merchant_id; ?>" name="merchant_id" id="merchant_id">
<input type="hidden" value="1" name="deal[target_count]" id="target_count">	
<input type="hidden" value="0" name="product[tax_class_id]" id="tax_class_id">	
<!------------------------------------------------------------------------>	
<div id="tabs"><?php Mage::app()->getLayout()->createBlock('adminhtml/widget_button'); ?>
	<ul>
        <li><a href="#merchant_info_tab" class="merchant_info_tab"><?php echo $this->__('Merchant >'); ?></a></li>
        <li><a href="#websites_info_tab" class="websites_info_tab"><?php echo $this->__('Websites >'); ?></a></li>
        <li><a href="#categories_info_tab" class="categories_info_tab"><?php echo $this->__('Categories >'); ?></a></li>
		<li><a href="#product_info_tab" class="product_info_tab"><?php echo $this->__('Deal Content >'); ?></a></li>
        <li><a href="#commission_info_tab" class="commission_info_tab"><?php echo $this->__('Commission >'); ?></a></li>
        <li><a href="#coupon_info_tab" class="coupon_info_tab"><?php echo $this->__('Coupon Settings >'); ?></a></li>
		<li><a href="#product_images_tab" class="product_images_tab"><?php echo $this->__('Images >'); ?></a></li>
		<li><a href="#custom_tab" class="custom_tab"><?php echo $this->__('Custom Attributes'); ?></a></li>
	</ul>
<!-------------------------------- websites --------------------------------------------->

<div id="merchant_info_tab">   
    <div class="tab-header"><?php echo $this->__('Select Merchant') ?></div> 
    <?php $merchant = Mage::getModel('dailydeals/merchant')->getMerchantCollection(); ?>
    <input placeholder='search here'  type="text" class="search-merchant"/><br/>
    <select name="product[merchant_id]" class="validate-select required merchant-dropdown">
        <?php foreach($merchant as $val): ?>
            <option rel="<?php echo $val->getMerchantName() ?>" value="<?php echo $val->getMerchantId() ?>"><?php echo $val->getMerchantName() ?></option>
        <?php endforeach; ?>
    </select>
    <div class="merchant-nav single-nav">
        <a href="javascript:void(0)" class="merchant-nav-next" redirect="websites_info_tab" id="next[0]"><?php echo $this->__('Next') ?></a>
        <div style="clear:both"></div>
    </div>
    
</div>

<!-------------------------------- websites --------------------------------------------->

<?php $websites = Mage::getSingleton('adminhtml/system_store')->getWebsiteCollection(); ?>
<div id="websites_info_tab">
    <div class="tree-store-scope">
        <div class="tab-header"><?php echo $this->__('Select Website') ?></div>
        <ul class="ik-website">
        <?php $ctr = 0; ?>
        <?php $count = 0; ?>
        <?php foreach ($websites as $_website): ?>
            <li class="ikoala-websites">
                <input name="product[website_ids][]" id="website[<?php echo $ctr; ?>]" value="<?php echo $_website->getId() ?>" class="checkbox website-checkbox" type="checkbox" />
                <label for="website[<?php echo $ctr; ?>]"><?php echo $_website->getName() ?></label>
                <?php $ctr++; ?>
                <?php $websites = Mage::getModel('core/website')->load($_website->getId())->getGroupCollection(); ?>
                
                <ul class="ik-group">
                <?php foreach ($websites as $_group): ?>
                    <li>
                        <input name="deal[stores][]" id="deal_cities[<?php echo $count; ?>]" value="<?php echo $_group->getId() ?>" class="checkbox website-checkbox" type="checkbox" />
                        <label for="deal_cities[<?php echo $count; ?>]"><?php echo $_group->getName() ?></label>
                    </li>
                 <?php $count++; ?>
                <?php endforeach; ?>
                </ul>
            </li>
        <?php endforeach; ?>
            <li style="clear:both"></li>
        </ul>
    </div>
    <div class="merchant-nav">
        <a href="javascript:void(0)" class="merchant-nav-prev" redirect="merchant_info_tab" ><?php echo $this->__('Prev') ?></a>
        <a href="javascript:void(0)" class="merchant-nav-next" redirect="categories_info_tab" ><?php echo $this->__('Next') ?></a>
        <div style="clear:both"></div>
    </div>
</div>

<!-- ------------------------------------------------ categories ------------------------------------------ -->
<div id="categories_info_tab">
<?php //$categories = Mage::helper('dailydeals')->getCategoriesDropdown(); ?>
<div class="tab-header"><?php echo $this->__('Select Categories') ?></div>
    <?php $catList = Mage::helper('dailydeals')->getCategories(); ?>
    <?php Mage::helper('dailydeals')->createTree($catList,1); ?> 
<div class="merchant-nav">
    <a href="javascript:void(0)" class="merchant-nav-prev" redirect="websites_info_tab" ><?php echo $this->__('Prev') ?></a>
    <a href="javascript:void(0)" class="merchant-nav-next" redirect="product_info_tab" ><?php echo $this->__('Next') ?></a>
    <div style="clear:both"></div>
</div>
</div>


	
<!-- ------------------------------------------------ product info ----------------------------------------- -->	 
	<div id="product_info_tab">
        <div class="tab-header"><?php echo $this->__('Deal Content') ?></div>
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="product_name"><?php echo $this->__('Product Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[name]" id="product_name" style="width:395px;">            			
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_name"><?php echo $this->__('Deal Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[deal_name]" id="deal_name" style="width:395px;">                    
							<p id="note_deal_name" class="note"><span><?php echo $this->__('eg: 50$ worth product for just 30$'); ?></span></p>
						</td>
					</tr>

					<tr>
                            <td class="label"><label for="merchant_sku"><?php echo $this->__('Merchant SKU'); ?></label></td>
                            <td class="value">
                                <input type="text" name="product[merchant_sku]" id="merchant_sku" style="width:395px;">
                            </td>
                        </tr>

					<tr> <!-- add to data -->
						<td class="label"><label for="deal_description"><?php echo $this->__('Deal Short Description'); ?><span>*</span></label></td>
						<td class="value">
						<textarea cols="15" rows="2" style="height: 14em; width: 48em;" class="textarea" id="deal_description"  name="product[short_description]"></textarea>          
						</td>
					</tr>
                    
                    <tr> <!-- Note: Not in the specs but required -->
                        <td class="label"><label for="deal_highlight"><?php echo $this->__('Deal Highlight'); ?><span>*</span></label></td>
                        <td class="value">
                            <textarea cols="15" rows="2" style="height: 14em; width: 48em;" class="textarea" id="deal_highlight"  name="product[deal_highlight]"></textarea>        
                        </td>
                    </tr>  
                    
                    
                    <tr>
						<td class="label"><label for="date_from"><?php echo $this->__('Deal Start Date'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text"  value="" name="deal[date_from]" id="datepicker1"  readonly="readonly" /> 
                            <select name="product[deal_starts]" id="start_time">
                                <?php foreach(Mage::helper('dailydeals')->getTimeOptions() as $key => $val): ?>
                                    <option value="<?php echo $key ?>"><?php echo $val; ?></option>
                                <?php endforeach; ?>
                            </select>
						</td>
					</tr>
                    
                    <tr>
                        <td class="label"><label for="date_to"><?php echo $this->__('End Date (yes/no)'); ?><span>*</span></label></td>
                        <td class="value">
                            <input type="radio" class="no-end-date" name="product[no_end_date]" id="end-yes" value=1 /><label for="end-yes"><?php echo $this->__('Yes') ?></label>
                            <input type="radio" class="no-end-date" checked name="product[no_end_date]" id="end-no" value=0 /><label for="end-no"><?php echo $this->__('No') ?></label>
                        </td>
                    </tr>
                    
					<tr class="end-date-container hideme">
						<td class="label"><label for="date_to"><?php echo $this->__('Deal End Date'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text"  class="input-text"  value=""  name="deal[date_to]" id="datepicker2"  readonly="readonly" /> 
                             <select name="product[deal_ends]" id="end_time">
                                <?php foreach(Mage::helper('dailydeals')->getTimeOptions() as $key => $val): ?>
                                    <option value="<?php echo $key ?>"><?php echo $val; ?></option>
                                <?php endforeach; ?>
                            </select>
						</td>
					</tr>
                    
                    <!-- SKU add to data, Deal Type required -->
                    <tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Deal SKU'); ?></label></td>
						<td class="value">
                           <span class="deal-sku"><?php echo Mage::helper('dailydeals')->generateSku(); ?></span>
                           <input type="hidden" value="<?php echo Mage::helper('dailydeals')->generateSku() ?>" name="product[sku]" />
						</td>
					</tr>   
                    <tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Deal Type'); ?></label></td>
						<td class="value">
							<select class="select" name="deal[deal_type]" id="deal_type">
								<option value="F"><?php echo $this->__('Featured'); ?></option>
								<option value="S"><?php echo $this->__('Special'); ?></option>
							</select>  
						</td>
					</tr>
                    <tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Deal Status'); ?></label></td>
						<td class="value">
							<select class="select" name="product[deal_approved]" id="deal_approved">
								<option value="0"><?php echo $this->__('Development'); ?></option>
                                <option value="2"><?php echo $this->__('Pending'); ?></option>
							</select>  
						</td>
					</tr>
                    
                    
                    <!-------------------------------------------------------------------------------------------------------->
                    
					<tr>
						<td class="label"><label for="deal_descriptions"><?php echo $this->__('What you Get'); ?><span>*</span></label></td>
						<td class="value">
                            <textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea editable" id="deal_descriptions"  name="product[description]"></textarea>          
						</td>
					</tr>	
                    
					<tr>
						<td class="label"><label for="deal_fineprint"><?php echo $this->__('Fineprint'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea editable" id="deal_fineprint"  name="product[deal_fineprint]">
                                <?php echo Mage::getResourceModel('eav/entity_attribute_collection')->setCodeFilter('deal_fineprint')->getFirstItem()->getDefaultValue(); ?>
                            </textarea>         
						</td>
					</tr>
                    
                    <tr>
						<td class="label"><label for="price"><?php echo $this->__('Price (RRP)'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required number" value="0" name="product[price]" id="price">        
						</td>
					</tr>
					<tr>
						<td class="label"><label for="special_price"><?php echo $this->__('Special Price (Sell)'); ?></label></td>
						<td class="value">
							<input type="text" class="required number" value="0" name="product[special_price]" id="special_price">
						</td>
					</tr>
                    
                    <tr>
						<td class="label"><label for="deal_target"><?php echo $this->__('Target (Min)'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" value="0" name="product[deal_target]" id="deal_target" class="required number">
						</td>
					</tr>
                    
                    <tr>
						<td class="label"><label for="inventory_qty"><?php echo $this->__('Stock (Max)'); ?><span>*</span></label></td>
						<td class="value">
							<input type="hidden" value="0" name="product[stock_data][original_inventory_qty]" id="original_inventory_qty">
							<input type="text" value="0" name="product[stock_data][qty]" id="inventory_qty" class="required input-text number">
                            <input type="hidden" value="1" name="product[stock_data][is_in_stock]" id="inventory_stock_availability" />
						</td>
					</tr>
                    
                    <tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Google Category'); ?></label></td>
						<td class="value">
							<select class="select" name="product[google_category_attr]" id="google_category_attr">
                                <?php foreach(Mage::getModel('ikdailydeals/sourcemodel_googlecats')->getAllOptions() as $val): ?>
                                    <option value="<?php echo $val['label']; ?>"><?php echo $val['label']; ?></option>
                                <?php endforeach; ?>
							</select>  
                            <?php //print_r(Mage::getModel('ikdailydeals/sourcemodel_googlecats')->getAllOptions()) ?>
						</td>
					</tr>

                                            

				<!--	<tr>
						<td class="label"><label for="sku">location<span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location"  name="product[deal_location]"></textarea>
						</td>
					</tr>	
					<tr>
						<td class="label"><label for="deal_location_map"><?php echo $this->__('Location Map'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location_map" name="product[deal_location_map]"></textarea>
						</td>
					</tr>	-->			
				</tbody>
			</table>
		</div>
        
        <div class="merchant-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="categories_info_tab" ><?php echo $this->__('Prev') ?></a>
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="commission_info_tab" ><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>
	  		
	</div>
	
<!-- ------------------------------------------------------------------------------------------------------- -->	

<!-- -------------------------------------------- Commission --------------------------------------------------------------- -->	
    <div id="commission_info_tab">
       
        <div class="hor-scroll">
            <div class="tab-header"><?php echo $this->__('Commission') ?></div>
			<table cellspacing="0" class="form-list">
				<tbody>
                    <tr>
						<td class="label"><label for="product[aammount]"><?php echo $this->__('Additional Cost') ?></label></td>
						<td class="value">
							 <input type="text" name="product[aammount]" id="product[aammount]" class="validate-digits" />
						</td>
					</tr>
					<tr>
						<td class="label"><label for="product[commission_percent]"><?php echo $this->__('Commission Percent') ?></label></td>
						<td class="value">
							 <input type="text" name="product[commission_percent]" id="product[commission_percent]" class="validate-digits" />
						</td>
					</tr>
                    <tr>
						<td class="label"> <label for="product[commission_fixed]"><?php echo $this->__('Commission Fixed') ?></label></td>
						<td class="value">
							  <input type="text" name="product[commission_fixed]" id="product[commission_fixed]" class="validate-digits" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        
        
        <div class="merchant-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="product_info_tab" ><?php echo $this->__('Prev') ?></a>
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="coupon_info_tab" ><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>

    </div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

<!-- -------------------------------------------- Coupon Setting --------------------------------------------------------------- -->	
    <div id="coupon_info_tab">
       
        <div class="hor-scroll">
            <div class="tab-header"><?php echo $this->__('Coupon Settings') ?></div>
			<table cellspacing="0" class="form-list">
				<tbody>
                    
                    <tr class="expiration-cointaner">
						<td class="label"><label for="deal_coupon_expiration_date"><?php echo $this->__('Expiry Date') ?><span>*</span></label></td>
						<td class="value">
							 <input type="text" name="product[deal_coupon_expiration_date]" class="required" id="deal_coupon_expiration_date" />
						</td>
					</tr>
                    
                    <tr>
                        <td class="label"><label for="expiry_options"><?php echo $this->__('Set Coupon Expiration from Date of Purchase') ?><span>*</span></label></td>
                        <td class="value">
                            <select name="product[deal_coupon_expiration_custom]" id="expiry_options">
                                <?php foreach(Mage::helper('dailydeals')->getDealExpiryOptions() as $key => $val): ?>
                                    <option value="<?php echo $key ?>"><?php echo $val; ?></option>
                                <?php endforeach; ?>
                            </select>                        
                        </td>
                    </tr>
                    
					<tr>
						<td class="label"><label for="product[how_to_redeem]"><?php echo $this->__('How to Redeem') ?></label></td>
						<td class="value">
							 <textarea name="product[how_to_redeem]" class="editable" id="product[how_to_redeem]"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        
        <div class="merchant-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="commission_info_tab" ><?php echo $this->__('Prev') ?></a>
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="product_images_tab" ><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>

    </div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->


<!-- -------------------------------------------- images --------------------------------------------------------------- -->	
<div id="product_images_tab">
    <div class="tab-header"><?php echo $this->__('Images') ?></div>
    <?php echo $this->getImageTabContent(); ?>
    
    <div class="merchant-nav">
        <a href="javascript:void(0)" class="merchant-nav-prev" redirect="coupon_info_tab" ><?php echo $this->__('Prev') ?></a>
        <a href="javascript:void(0)" class="merchant-nav-next" redirect="custom_tab" ><?php echo $this->__('Next') ?></a>
        <div style="clear:both"></div>
    </div>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->

<!-- -------------------------------------------- Custom Attribute --------------------------------------------------------------- -->	
<div id="custom_tab">
    <div class="tab-header"><?php echo $this->__('Custom Attribute') ?></div>

    <button style="" onclick="" class="scalable add" type="button" title="Add New Option" id="add_new_defined_option">
    	<span>
    		<span>
    			<span>Add New Option</span>
    		</span>
    	</span>
    </button>

    <div id="product_options_container" class="box">
    	<div id="product_options_container_top"></div>
    	
    </div>
    <input type="hidden" value="1" name="affect_product_custom_options">
    <input type="hidden" value="0" id ="max_item_id" name="max_item_id" >
    <input type="hidden" value="0" id="max_sub_item_id" name="max_sub_item_id" >

    <div class="merchant-nav single-nav">
        <a href="javascript:void(0)" class="merchant-nav-prev" redirect="product_images_tab" ><?php echo $this->__('Prev') ?></a>
        <div style="clear:both"></div>
    </div>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<div class="create-deal-container">
    <input class="" type="submit" value="<?php echo $this->__('Save Deal'); ?>" id="create-deal" />
</div>


</div>

</form>

</div><!-- End demo -->

<script type='text/javascript'>
	var optionCount = 0;
	var subOptionCount =0; 


jQuery(document).ready(function(){
    
    jQuery('input[name="product[email_image_2]"]').live('click',function(){ 
        var parent = jQuery(this).parent();
        jQuery(this).parent().next().children().trigger('click');
        jQuery(this).parent().next().children().trigger('click');
        jQuery(this).parent().next().children().attr('checked','checked');
        
        var label = parent.parent().children().first().next().children();
        label.val('Email Image 2');
        label.trigger('change');
        

     });
    
    jQuery('input[name="product[email_image_1]"]').live('click',function(){ 
         var parent = jQuery(this).parent();
        jQuery(this).parent().next().next().children().trigger('click');
        jQuery(this).parent().next().next().children().trigger('click');
        jQuery(this).parent().next().next().children().attr('checked','checked');        
        
        var label = parent.parent().children().first().next().children();
        label.val('Email Image 1');
        label.trigger('change');
        
     });

	
    tinymce.init({selector:'textarea.editable', menubar : false,
            plugins: ["autolink lists link"],
            init_instance_callback: function(){
                ac = tinyMCE.activeEditor;
                ac.dom.setStyle(ac.getBody(), 'fontSize', '14px');
                ac.dom.setStyle(ac.getBody(), 'fontFamily', 'Arial');
                ac.dom.setStyle(ac.getBody(), 'color', '#333');
            }
            });
   
    jQuery('.no-end-date').live('click',function(){
        if(jQuery(this).val() == 1){
            jQuery('.end-date-container').removeClass('hideme');
        }
        else{
            jQuery('.end-date-container').addClass('hideme');
        }
    });
   
   jQuery('#expiry_options').live('change',function(){
       if(jQuery(this).val() == 0){
           jQuery('#deal_coupon_expiration_date').addClass('required');
           jQuery('.expiration-cointaner').removeClass('hideme');
       }
       else{
           jQuery('#deal_coupon_expiration_date').removeClass('required');
           jQuery('.expiration-cointaner').addClass('hideme');
       }
   });
       
   jQuery('#end-no').live('click',function(){
        jQuery('#datepicker2').removeClass('required');
    });
    
    jQuery('#end-yes').live('click',function(){
        jQuery('#datepicker2').addClass('required');
    });
    
	jQuery("#datepicker1").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true });
	jQuery("#datepicker2").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true});
    jQuery("#deal_coupon_expiration_date").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true });

    jQuery('.merchant-nav-next').live('click', function() {
        var next = jQuery(this).attr('redirect');
        jQuery('.'+next).trigger('click');
    });
    
    jQuery('.merchant-nav-prev').live('click', function() {
        var prev = jQuery(this).attr('redirect');
        jQuery('.'+prev).trigger('click');
    });
    
    
    /* merchant name search on dropdown */
    
    jQuery('.search-merchant').live('keyup',function(){
        var count = 0;
        jQuery('.merchant-dropdown option').removeAttr('selected');
        jQuery('.merchant-dropdown option').each(function(){ 
            var search = jQuery('.search-merchant').val().toLowerCase();
            var searchstring = jQuery(this).attr('rel').toLowerCase();
            
            if (searchstring.match(search) && count == 0) {
                count = 1;
                jQuery(this).attr('selected','selected');
            }
            
            
        });
    });
       
});

jQuery("#tabs").tabs();

jQuery("#submitForm").button();

jQuery("#merchant_product_form").validate({
  submitHandler: function(form) {
    // alert("submitted!"); 
	// $("#merchant_product_form").submit();
	form.submit();
  },
  invalidHandler: function(form, validator) {
    var errors = validator.numberOfInvalids();
    if (errors) {
      var invalidPanels = jQuery(validator.invalidElements()).closest(".ui-tabs-panel", form);
      if (invalidPanels.size() > 0) {
        jQuery.each(jQuery.unique(invalidPanels.get()), function(){
          jQuery(this).siblings(".ui-tabs-nav")
            .find("a[href='#" + this.id + "']").parent().not(".ui-tabs-selected")
              .addClass("ui-state-error")
              .show("pulsate",{times: 3});
        });
      }
    }
  },
  unhighlight: function(element, errorClass, validClass) {
    jQuery(element).removeClass(errorClass);
    jQuery(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
    var $panel = jQuery(element).closest(".ui-tabs-panel", element.form);
    if ($panel.size() > 0) {
      if ($panel.find("." + errorClass + "").size() == 0) {
        $panel.siblings(".ui-tabs-nav").find("a[href='#" + $panel[0].id + "']")
          .parent().removeClass("ui-state-error");
      }
    }
  }
});	
					
</script>

