<?php 
$_product = Mage::registry('current_product');
$deal = Mage::registry('deal');
$deal_merchant_id = $deal->getMerchantId();
$dateFormatIso = Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT);
?>

<?php 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant_id = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id')->getMerchantId();
?>

<?php if($deal_merchant_id == $merchant_id){ ?>
<div class="page-title">
    <h1><?php echo $this->__('Edit') ?><?php echo " - ".$_product->getName(); ?></h1>
</div>

<div class="product_form_wrapper">

<form method="post" action="<?php echo $this->getFormActionUrl($deal); ?>" id="merchant_product_form">

<!------------------------ Extra ---------------------------------------->

<input type="hidden" value="<?php echo $merchant_id; ?>" name="merchant_id" id="merchant_id">
<input id="stores" name="store_id" value="0" type="hidden"/>
<input id="stores" name="deal[stores][]" value="" type="hidden"/>
<input id="attribute_set_id" name="product[attribute_set_id]" value="<?php echo $_product->getAttributeSetId(); ?>" type="hidden"/>
<input id="type_id" name="product[type_id]" value="<?php echo $_product->getTypeId(); ?>" type="hidden"/>

<!------------------------------------------------------------------------>	

<div class="newproduct-button">
	<a href="<?php echo $this->getUrl('deals/merchant/dashboard'); ?>" id="product-history" class="submit"><?php echo $this->__('Back'); ?></a>
	<input class="submit" type="submit" value="<?php echo $this->__('Save'); ?>" id="submitForm" />
</div>
<div id="tabs">
	<ul>
		<li><a href="#product_info_tab"><?php echo $this->__('Product Info'); ?></a></li>
		<li><a href="#deal_info_tab"><?php echo $this->__('Deal Info'); ?></a></li>
		<li><a href="#product_images_tab"><?php echo $this->__('Images'); ?></a></li>
		<li><a href="#product_price_tab"><?php echo $this->__('Price'); ?></a></li>
		<li><a href="#product_inventory_tab"><?php echo $this->__('Inventory'); ?></a></li>
	</ul>
	
<!-- ------------------------------------------------ product info ----------------------------------------- -->	 
	<div id="product_info_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="product_name"><?php echo $this->__('Product Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required" value="<?php echo $_product->getName(); ?>" name="product[name]" id="product_name" style="width:395px;">            			
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_name"><?php echo $this->__('Deal Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required" value="<?php echo $_product->getDealName(); ?>" name="product[deal_name]" id="deal_name" style="width:395px;">
							<p id="note_deal_name" class="note"><span><?php echo $this->__('eg: 50$ worth product for just 30$'); ?></span></p>
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_description"><?php echo $this->__('Description'); ?><span>*</span></label></td>
						<td class="value">
						<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_description"  name="product[description]"><?php echo $_product->getDescription(); ?></textarea>          
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_fineprint"><?php echo $this->__('Fineprint'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_fineprint"  name="product[deal_fineprint]"><?php echo $_product->getDealFineprint(); ?></textarea>         
						</td>
					</tr>	
					<tr>
						<td class="label"><label for="deal_highlight"><?php echo $this->__('Highlight'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_highlight"  name="product[deal_highlight]"><?php echo $_product->getDealHighlight(); ?></textarea>        
						</td>
					</tr>	
					<!-- <tr>
						<td class="label"><label for="sku"><?php // echo $this->__('Location'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location"  name="product[deal_location]"><?php // echo $_product->getDealLocation(); ?></textarea>     
						</td>
					</tr> -->	
					<tr>
						<td class="label"><label for="deal_location_map"><?php echo $this->__('Location Map'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location_map" name="product[deal_location_map]"><?php echo $_product->getDealLocationMap(); ?></textarea> 							
						</td>
					</tr>				
				</tbody>
			</table>
		</div>	  		
	</div>
	
<!-- ------------------------------------------------------------------------------------------------------- -->	
<!-- ------------------------------------------------- deal info ------------------------------------------- -->
	<div id="deal_info_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Deal Type'); ?></label></td>
						<td class="value">
							<select class="select" name="deal[deal_type]" id="deal_type">
								<?php if($deal->getDealType() == "F"){ ?>
									<option value="F" selected="selected"><?php echo $this->__('Featured'); ?></option>
									<option value="S"><?php echo $this->__('Special'); ?></option>								
								<?php }else if($deal->getDealType() == "S"){ ?>
									<option value="S" selected="selected"><?php echo $this->__('Special'); ?></option>
									<option value="F"><?php echo $this->__('Featured'); ?></option>															
								<?php } ?>	
							</select>  
						</td>
					</tr>
					<tr>
						<td class="label"><label for="date_from"><?php echo $this->__('Date From'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" style="width:110px !important;" class="required"  value="<?php echo date("m/d/Y", strtotime($deal->getDateFrom())); ?>" name="deal[date_from]" id="datepicker1"  readonly="readonly" />
      
						</td>
					</tr>
					<tr>
						<td class="label"><label for="date_to"><?php echo $this->__('Date To'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" style="width:110px !important;" class="required"  value="<?php echo date("m/d/Y", strtotime($deal->getDateTo())); ?>"  name="deal[date_to]" id="datepicker2"  readonly="readonly" />

           

						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_status"><?php echo $this->__('Deal Status'); ?></label></td>
						<td class="value">
							<select class="select" name="deal[deal_status]" id="deal_status">
								<?php if($deal->getDealStatus()){ ?>
									<option value="1" selected="selected"><?php echo $this->__('Active'); ?></option>
									<option value="0"><?php echo $this->__('Inactive'); ?></option>								
								<?php }else{ ?>
									<option value="1"><?php echo $this->__('Active'); ?></option>
									<option value="0" selected="selected"><?php echo $this->__('Inactive'); ?></option>								
								<?php } ?>
							</select>   
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_target"><?php echo $this->__('Deal Target'); ?><span class="required">*</span></label></td>
						<td class="value">
							<input type="text" value="<?php echo $deal->getTargetCount(); ?>" name="deal[target_count]" id="deal_target" class="required number">
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------- images --------------------------------------------------------------- -->	
	<div id="product_images_tab">
<?php echo $this->getImageTabContent(); ?>

	</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------- price ----------------------------------------------------------------- --> 	
	<div id="product_price_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="price"><?php echo $this->__('Price'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required" value="<?php echo $_product->getPrice(); ?>" name="product[price]" id="price">        
						</td>
					</tr>
					<tr>
						<td class="label"><label for="special_price"><?php echo $this->__('Special Price'); ?></label></td>
						<td class="value">
							<input type="text" class="required" value="<?php echo $_product->getSpecialPrice(); ?>" name="product[special_price]" id="special_price">
						</td>
					</tr>				
				</tbody>
			</table>
		</div>	
	</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------  inventory ----------------------------------------------------------------- -->  	
	<div id="product_inventory_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="inventory_qty"><?php echo $this->__('Qty'); ?><span>*</span></label></td>
						<td class="value">
							<input type="hidden" value="0" name="product[stock_data][original_inventory_qty]" id="original_inventory_qty">
							<input type="text" value="<?php echo $_product->getStockItem()->getQty(); ?>" name="product[stock_data][qty]" id="inventory_qty" class="number required">
						</td>

					</tr>
					<tr>
						<td class="label"><label for="inventory_stock_availability"><?php echo $this->__('Stock Availability'); ?></label></td>
						<td class="value">
							<select class="select" name="product[stock_data][is_in_stock]" id="inventory_stock_availability">
							<?php if($_product->getStockItem()->getIsInStock()){ ?>
								<option selected="selected" value="1"><?php echo $this->__('In Stock'); ?></option>
								<option  value="0"><?php echo $this->__('Out of Stock'); ?></option>							
							<?php }else{ ?>							
								<option value="1"><?php echo $this->__('In Stock'); ?></option>
								<option selected="selected" value="0"><?php echo $this->__('Out of Stock'); ?></option>							
							<?php } ?>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
<!-- ------------------------------------------------------------------------------------------------------------- --> 	
</div>

</form>

</div>

<script>
jQuery(document).ready(function(){
	jQuery("#datepicker1").datepicker({ minDate: '-1d', dateFormat : 'mm/dd/yy' });
	jQuery("#datepicker2").datepicker({ minDate: '-1d', dateFormat : 'mm/dd/yy' });
});

jQuery("#tabs").tabs();

jQuery("#submitForm").button();

jQuery("#merchant_product_form").validate({
  submitHandler: function(form) {
    // alert("submitted!"); 
	// $("#merchant_product_form").submit();
	form.submit();
  },
  invalidHandler: function(form, validator) {
    var errors = validator.numberOfInvalids();
    if (errors) {
      var invalidPanels = jQuery(validator.invalidElements()).closest(".ui-tabs-panel", form);
      if (invalidPanels.size() > 0) {
        jQuery.each(jQuery.unique(invalidPanels.get()), function(){
          jQuery(this).siblings(".ui-tabs-nav")
            .find("a[href='#" + this.id + "']").parent().not(".ui-tabs-selected")
              .addClass("ui-state-error")
              .show("pulsate",{times: 3});
        });
      }
    }
  },
  unhighlight: function(element, errorClass, validClass) {
    jQuery(element).removeClass(errorClass);
    jQuery(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
    var $panel = jQuery(element).closest(".ui-tabs-panel", element.form);
    if ($panel.size() > 0) {
      if ($panel.find("." + errorClass + ":visible").size() == 0) {
        $panel.siblings(".ui-tabs-nav").find("a[href='#" + $panel[0].id + "']")
          .parent().removeClass("ui-state-error");
      }
    }
  }
});	


							
</script>
<?php }else{ 

header("Status: 301");
header('Location: '.$this->getUrl('customer/account/login'));  // send to the login page
exit; 

 } ?>