<?php 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant_id = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id')->getMerchantId();
?>

<div class="page-title">
    <h1><?php echo $this->__('New Product') ?></h1>
</div>

<div class="demo">

<form method="post" action="<?php echo $this->getFormActionUrl(); ?>" id="merchant_product_form">

<!------------------------ Extra ---------------------------------------->
<input type="hidden" value="<?php echo $merchant_id; ?>" name="merchant_id" id="merchant_id">
<input type="hidden" value="1" name="deal[target_count]" id="target_count">	
<input type="hidden" value="0" name="product[tax_class_id]" id="tax_class_id">	
<!------------------------------------------------------------------------>	

<div class="newproduct-button">
	<a href="<?php echo $this->getUrl('deals/merchant/dashboard'); ?>" id="product-history" class="submit"><?php echo $this->__('Back'); ?></a>
	<input class="submit" type="submit" value="<?php echo $this->__('Save'); ?>" id="submitForm" />
</div>
<div id="tabs">
	<ul>
		<li><a href="#product_info_tab"><?php echo $this->__('Product Info'); ?></a></li>
		<li><a href="#deal_info_tab"><?php echo $this->__('Deal Info'); ?></a></li>
		<li><a href="#product_images_tab"><?php echo $this->__('Images'); ?></a></li>
		<li><a href="#product_price_tab"><?php echo $this->__('Price'); ?></a></li>
		<li><a href="#product_inventory_tab"><?php echo $this->__('Inventory'); ?></a></li>
	</ul>
	
<!-- ------------------------------------------------ product info ----------------------------------------- -->	 
	<div id="product_info_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="product_name"><?php echo $this->__('Product Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[name]" id="product_name" style="width:395px;">            			
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_name"><?php echo $this->__('Deal Name'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[deal_name]" id="deal_name" style="width:395px;">                    
							<p id="note_deal_name" class="note"><span><?php echo $this->__('eg: 50$ worth product for just 30$'); ?></span></p>
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_description"><?php echo $this->__('Description'); ?><span>*</span></label></td>
						<td class="value">
						<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_description"  name="product[description]"></textarea>          
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_fineprint"><?php echo $this->__('Fineprint'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_fineprint"  name="product[deal_fineprint]"></textarea>         
						</td>
					</tr>	
					<tr>
						<td class="label"><label for="deal_highlight"><?php echo $this->__('Highlight'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_highlight"  name="product[deal_highlight]"></textarea>        
						</td>
					</tr>	
				<!--	<tr>
						<td class="label"><label for="sku">location<span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location"  name="product[deal_location]"></textarea>
						</td>
					</tr>	-->
					<tr>
						<td class="label"><label for="deal_location_map"><?php echo $this->__('Location Map'); ?><span>*</span></label></td>
						<td class="value">
							<textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location_map" name="product[deal_location_map]"></textarea>
						</td>
					</tr>				
				</tbody>
			</table>
		</div>	  		
	</div>
	
<!-- ------------------------------------------------------------------------------------------------------- -->	
<!-- ------------------------------------------------- deal info ------------------------------------------- -->
	<div id="deal_info_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="deal_type"><?php echo $this->__('Deal Type'); ?></label></td>
						<td class="value">
							<select class="select" name="deal[deal_type]" id="deal_type">
								<option value="F"><?php echo $this->__('Featured'); ?></option>
								<option value="S"><?php echo $this->__('Special'); ?></option>
							</select>  
						</td>
					</tr>
					<tr>
						<td class="label"><label for="date_from"><?php echo $this->__('Date From'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text"  value="" name="deal[date_from]" id="datepicker1"  readonly="readonly" /> 
						</td>
					</tr>
					<tr>
						<td class="label"><label for="date_to"><?php echo $this->__('Date To'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text"  class="required input-text"  value=""  name="deal[date_to]" id="datepicker2"  readonly="readonly" /> 
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_status"><?php echo $this->__('Deal Status'); ?></label></td>
						<td class="value">
							<select class="select" name="deal[deal_status]" id="deal_status">
								<option value="1"><?php echo $this->__('Active'); ?></option>
								<option selected="selected" value="0"><?php echo $this->__('Inactive'); ?></option>
							</select>   
						</td>
					</tr>
					<tr>
						<td class="label"><label for="deal_target"><?php echo $this->__('Deal Target'); ?><span class="required">*</span></label></td>
						<td class="value">
							<input type="text" value="" name="product[deal_target]" id="deal_target" class="required number">
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
<!-- ------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------- images --------------------------------------------------------------- -->	
	<div id="product_images_tab">
		<?php echo $this->getImageTabContent(); ?>
	</div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------- price ----------------------------------------------------------------- --> 	
	<div id="product_price_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="price"><?php echo $this->__('Price'); ?><span>*</span></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[price]" id="price">        
						</td>
					</tr>
					<tr>
						<td class="label"><label for="special_price"><?php echo $this->__('Special Price'); ?></label></td>
						<td class="value">
							<input type="text" class="required input-text" value="" name="product[special_price]" id="special_price">
						</td>
					</tr>					
				</tbody>
			</table>
		</div>	
	</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------  inventory ----------------------------------------------------------------- -->  	
	<div id="product_inventory_tab">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label for="inventory_qty"><?php echo $this->__('Qty'); ?><span>*</span></label></td>
						<td class="value">
							<input type="hidden" value="0" name="product[stock_data][original_inventory_qty]" id="original_inventory_qty">
							<input type="text" value="0" name="product[stock_data][qty]" id="inventory_qty" class="required input-text">
						</td>
					</tr>
					<tr>
						<td class="label"><label for="inventory_stock_availability"><?php echo $this->__('Stock Availability'); ?></label></td>
						<td class="value">
							<select class="select" name="product[stock_data][is_in_stock]" id="inventory_stock_availability">
								<option value="1"><?php echo $this->__('In Stock'); ?></option>
								<option selected="selected" value="0"><?php echo $this->__('Out of Stock'); ?></option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
<!-- ------------------------------------------------------------------------------------------------------------- --> 	
</div>

</form>

</div><!-- End demo -->

<script>
jQuery(document).ready(function(){
	jQuery("#datepicker1").datepicker( { minDate: '-1d', dateFormat : 'mm/dd/yy' });
	jQuery("#datepicker2").datepicker( { minDate: '-1d', dateFormat : 'mm/dd/yy' });
});

jQuery("#tabs").tabs();

jQuery("#submitForm").button();

jQuery("#merchant_product_form").validate({
  submitHandler: function(form) {
    // alert("submitted!"); 
	// $("#merchant_product_form").submit();
	form.submit();
  },
  invalidHandler: function(form, validator) {
    var errors = validator.numberOfInvalids();
    if (errors) {
      var invalidPanels = jQuery(validator.invalidElements()).closest(".ui-tabs-panel", form);
      if (invalidPanels.size() > 0) {
        jQuery.each(jQuery.unique(invalidPanels.get()), function(){
          jQuery(this).siblings(".ui-tabs-nav")
            .find("a[href='#" + this.id + "']").parent().not(".ui-tabs-selected")
              .addClass("ui-state-error")
              .show("pulsate",{times: 3});
        });
      }
    }
  },
  unhighlight: function(element, errorClass, validClass) {
    jQuery(element).removeClass(errorClass);
    jQuery(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
    var $panel = jQuery(element).closest(".ui-tabs-panel", element.form);
    if ($panel.size() > 0) {
      if ($panel.find("." + errorClass + "").size() == 0) {
        $panel.siblings(".ui-tabs-nav").find("a[href='#" + $panel[0].id + "']")
          .parent().removeClass("ui-state-error");
      }
    }
  }
});	


							
</script>