<?php
/**
 * Create account form template
 */
?>
<?php echo $this->getChildHtml('form_fields_before')?>
    
<div class="page-title">

<h1><?php echo $this->__('SIGN UP &amp; WIN') ?></h1>

</div>
<div class="clear"></div>
<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
 	<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
	<div class="signup-create">
        <div class="sign-up">
            <h2>Sign up for <span>FREE</span> & you can win <b>$1000</b> <br />
            worth of ikoala deals!</h2>
        </div>
        <div class="just-fill">
            <h5>Just fill in this quick form:</h5>
        </div>
        <div class="form1">
            <div class="leftpart1">
                <div class="inputboxsign">
                    <label>First Name<strong>*</strong></label>
                    <input type="text" id="firstname" name="firstname" value="" title="First Name" class="input-text required-entry"  />
                </div>
                <div class="inputboxsign">
                    <label>Last Name<strong>*</strong></label>
                    <input type="text" id="lastname" name="lastname" value="" title="Last Name" class="input-text required-entry"  />
                </div>
                <div class="inputboxsign">
                    <label>Email Address<strong>*</strong></label>
                    <input type="text" name="email" id="email" value="" title="Email Address" class="input-text validate-email required-entry" />
                </div>
            </div>
            <div class="rgtpart1">
                <div class="inputboxsign">
                    <label>Password<strong>*</strong></label>
                    <input type="password" name="password" id="password" title="Password" class="input-text required-entry validate-password" />
                </div>
                <div class="inputboxsign">
                    <label>Confirm Password<strong>*</strong></label>
                    <input type="password" name="confirmation" title="Confirm Password" id="confirmation" class="input-text required-entry validate-cpassword" />
                </div>
                <div class="inputboxsign">
                    <label>Choose your city<strong>*</strong></label>
                    <?php echo $this->getChildHtml('ikoala_city_switcher_signup') ?>
                </div>
            </div>
            <div class="register-holder">
                <input  title="Terms and Conditions" id="terms" name="terms" type="checkbox" class="validate-input required-entry"><label style="padding-left:10px;">I agree to the <a href="/terms_conditions" target="_blank">Terms & Conditions</a> and <a href="/privacy_policy" target="_blank">Privacy Policy</a></label>
            </div>
            <div class="register-holder">
                <span class="signup-btn-container"><input type="submit" class="button" title="<?php echo $this->__('Login') ?>" value="" name="send" id=""/></span>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    <?php if($this->getShowAddressFields()): ?>
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    <?php endif; ?>
//]]>
</script>