<!--@subject [#{{var ticket.uid}}] Ticket created: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{var ticket.customer_name}}</strong>,</p>
                            <p style="margin-top:10px;">
                                G'Day and thank you for contacting the ikOala Support Team. 
                                This is an automated response from ikOala confirming that we've received your support ticket. 
                                One of our ikOala Support Team Members will get back to you as soon as possible. 
                                For your records, the details of your ticket are listed below. 
                                When replying, please make sure that the ikOala Ticket ID is kept in the subject line. 
                                This will ensure that your replies are tracked appropriately.
                            </p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;margin-top:10px">
                                <strong>iKOala Ticket ID:</strong> {{var ticket.uid}}<br/>
                                <strong>Title:</strong> {{var ticket.title}}<br/>
                            </p>

                            <p>


                            </p>

                            <p style="margin-top:10px;">
                                <strong>Have a Bonza Day! We’re Here to Help!<br/>
                                    ikOala Support Team</strong>
                            </p>

                            <br/>

                            {{var ticket.getCustomerUrlHtml()}}


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

