<!--@subject [#{{var ticket.uid}}] Ticket replied: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
<span class="_CONTENT_">
{{var message.content}}
</span>
                                <br/><br/>

                                <strong>With best regards,<br/>
                                    The ikOla Team!</strong></p>

                            <p>
                                <small>

                                    <br/>
                                    {{var ticket.getCustomerUrlHtml()}}


                                </small>
                            </p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
