<div class="prodcut-sl clearfix">
<h1><?php echo $this->__('tonic time products') ?></h1>
<div class="bx-controls-direction">
<div id="nextimg2"></div>
<div id="previmg2"></div>
</div>

<!--bx-slider-outer-start-->
<div class="bx-slider-outer" style="position: relative; overflow-x: hidden; overflow-y: hidden; ">
    <!--bx-slider-1-start-->
    <div class="bx-slider-1" style="position: absolute; opacity: 1; width: 1656px; height: 149px; z-index: 2; top: 0px; left: -1656px; display: none; ">
    <!--bx-slider-1-start-->
    
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/pro1.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class="box-txt">
                        <div class="feature-left">
                            <h3>IS day Slim Tea Programme</h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3>$35.00</h3>
                            <img src='<?php echo $this->getSkinUrl("images/five-star.png") ?>' alt="Healthburst">
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a>
            <!--feature-products-end-->
        </div>

        <!--bx-slider-1-end-->
        <!--bx-slider-1-start-->
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/cooming-soon.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class=" box-txt">
                        <div class="feature-left">
                            <h3></h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3></h3>
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a> 
        <!--feature-products-end-->
        </div>
        <!--bx-slider-1-end-->
        
        <!--bx-slider-1-end-->
        <!--bx-slider-1-start-->
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/cooming-soon.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class=" box-txt">
                        <div class="feature-left">
                            <h3></h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3></h3>
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a> 
        <!--feature-products-end-->
        </div>
        <!--bx-slider-1-end-->

</div>
<!--bx-slider-1-end-->

<!--bx-slider-1-start-->
<div class="bx-slider-1" style="position: absolute; z-index: 3; top: 0px; opacity: 1; display: block; width: 1656px; height: 149px; left: 0px; ">
        <!--bx-slider-1-end-->
        <!--bx-slider-1-start-->
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/cooming-soon.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class=" box-txt">
                        <div class="feature-left">
                            <h3></h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3></h3>
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a> 
        <!--feature-products-end-->
        </div>
        <!--bx-slider-1-end-->
        
        <!--bx-slider-1-end-->
        <!--bx-slider-1-start-->
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/cooming-soon.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class=" box-txt">
                        <div class="feature-left">
                            <h3></h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3></h3>
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a> 
        <!--feature-products-end-->
        </div>
        <!--bx-slider-1-end-->
        
        <!--bx-slider-1-end-->
        <!--bx-slider-1-start-->
        <div class="bx-slider-2">
            <a href="#">
                <div class="feature-products">
                    <div class="img-box-2">
                        <img src='<?php echo $this->getSkinUrl("images/cooming-soon.jpg") ?>' alt="Healthburst">
                    </div>
                    <div class=" box-txt">
                        <div class="feature-left">
                            <h3></h3>
                        </div> <!--feature-left-end--><!--feature-right-strat--> 
                        <div class="feature-right">
                            <h3></h3>
                        </div><!--feature-right-End-->
                    </div>
                </div>
            </a> 
        <!--feature-products-end-->
        </div>
        <!--bx-slider-1-end-->
    
</div>
<!--bx-slider-1-end-->
</div>

<!--bx-slider-outer-end-->

</div>
