<?php $deal = $this->getDeal() ?>
<?php $deal_id = $deal->getDealId(); ?>

<?php $history_collection = Mage::getModel('dailydeals/history')->getCollection()->getHistoryCollection($deal_id); ?>		

<h1> <?php  echo $deal->getProductName(); ?> </h1> 


<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <thead>
        <tr>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Customer Name') ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Coupon Code') ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Deal Name') ?></th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Qty') ?></th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Payment Status') ?></th>
        </tr>
    </thead>

    <?php $i=0; foreach ($history_collection as $history): ?>
	<?php
	$status_code = $history->getStatus(); 
		if($status_code == "P"){
			$status = "Pending";
		}else {
			$status = "Completed";
		}
	
	?>
		<tbody>
			<tr <?php echo $i%2 ? ' bgcolor="#F6F6F6"' : '' ?>>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getCustomerFirstname()." ".$history->getCustomerLastname(); ?></td>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getCouponCode(); ?></td>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getProductName(); ?></td>
				<td  align="right" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getQty(); ?></td>
				<td  align="right" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $status; ?></td>
			</tr>
		</tbody>
		<?php $i++; ?>
    <?php  endforeach; ?>
</table>