<div class="dashboard">
  <div class="clear"></div>
  <div class="std std-no-pad">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('account') ?>

    <div class="myaccount-left-content">
        <?php echo $this->getChildHtml('contact') ?>
        <br />
        <?php echo $this->getChildHtml('dashboard_address') ?>
        <br/>
        <?php if(Mage::getSingleton('customer/session')->getCustomer()->getIsMerchant()): ?>
            <?php echo $this->getChildHtml('merchant_dashboard') ?>
        <?php endif; ?>
    </div>
  </div>
</div>
