<div class="block block-account">
  <div class="block-title">
    <strong><span><?php if (Mage::helper('customer')->isLoggedIn()) { echo $this->__('My Account'); } else { echo 'iKoala'; } ?></span></strong>
  </div>
  <div class="clear"></div>
  <div class="block-content">
    <ul>
      <?php
      if (Mage::helper('customer')->isLoggedIn()):
        $_links = $this->getLinks();
        $_index = 1;
        $_count = count($_links);
        foreach ($_links as $_link):
          $_last = ($_index++ >= $_count);
          if ($this->isActive($_link)):
      ?>
      <li class="current<?php echo ($_last ? ' last' : '') ?>">
      <?php else: ?>
            <li<?php echo ($_last ? ' class="last"' : '') ?>>
      <?php endif; ?><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
      <?php
        endforeach;
      endif;
      ?>
    </ul>
  </div>
</div>
