    <div class="page-title clear">
        <h1>My <?php if (Mage::helper('customer')->isLoggedIn()): ?>Account <span id="hello-hi">(<?php echo $this->__('Hi, %s!', $this->htmlEscape(Mage::getSingleton('customer/session')->getCustomer()->getName())); ?>)</span><?php else: ?>Subscriptions<?php endif; ?></h1>
    </div>
