<?php 
$r = $this->getRequest();
$deal_id = $r->getParam('deal_id');
$deal = Mage::getModel('dailydeals/deal')->load($deal_id);

$deal_name = $deal->getDealName();
?>
<?php
$product_id = $deal->getProductId();
$product = new Mage_Catalog_Model_Product();
$product->load($product_id);
?>
<?php $history_collection = Mage::getModel('dailydeals/history')->getCollection()->getHistoryCollection($deal_id); ?>		
<div class="merchant_deal_view">

<div class="deal_info" style="height: 255px;margin-top: 10px;width: 700px;">
	<div class="deal_img" style="float: left;width: 325px;">
		<img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,250); ?>" 
		width="300" height="250" />
	</div>
	<div class="deal_content" style="float: left;width: 325px;margin-top: 30px;">
		<h1 style="font-size:26px;"> <?php  echo $deal->getDealName(); ?> </h1> 
			<table border="0">
				<tr><th style="width:110px"><?php echo $this->__('From Date') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $deal->getDateFrom();?></th></tr>
				<tr><th style="width:110px"><?php echo $this->__('To Date') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $deal->getDateTo();?></th></tr>
				<tr><th style="width:110px"><?php echo $this->__('Total Sold') ?></th><th style="width:20px">:</th><th style="width:180px"><?php if($deal->getSoldCount()==""){echo $this->__('Nil');}else{echo $deal->getSoldCount();}?></th></tr>
			</table>
	</div>
</div>

<div class="deal_table">
<h1><?php echo $this->__('Deal Purchase Info') ?></h1>
<?php 
if($deal->getSoldCount()=="")
{
echo $this->__('No coupons purchased as yet!');
}else{
?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <thead>
        <tr>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Customer Name') ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Coupon Code') ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Deal Name') ?></th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Qty') ?></th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Payment Status') ?></th>
        </tr>
    </thead>

    <?php $i=0; foreach ($history_collection as $history): ?>
	<?php
	$status_code = $history->getStatus(); 
		if($status_code == "P"){
			$status = "Pending";
		}else {
			$status = "Completed";
		}
	
	?>
		<tbody>
			<tr <?php echo $i%2 ? ' bgcolor="#F6F6F6"' : '' ?>>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getCustomerFirstname()." ".$history->getCustomerLastname(); ?></td>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getCouponCode(); ?></td>
				<td  align="center" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getProductName(); ?></td>
				<td  align="right" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $history->getQty(); ?></td>
				<td  align="right" valign="middle"  style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $status; ?></td>
			</tr>
		</tbody>
		<?php $i++; ?>
    <?php  endforeach; ?>
</table>
<?php } ?>
</div>

</div>
<script type="text/javascript">window.print();</script>