<?php if(Mage::helper('customer')->getCustomer()->getIsMerchant()){ 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id');
$merchant_id = $merchant->getMerchantId();
?>
<div class="page-title">
    <h1><?php echo $this->__('Edit Profile Information') ?></h1>
</div>
<form method="post" action="<?php echo $this->getMerchantProfileSaveUrl($merchant_id); ?>" id="merchant_profile_form">
    <div class="fieldset">
        <input type="hidden" value="bvyuDXCBsJ819oXa" name="form_key">
        <h2 class="legend"><?php echo $this->__('Merchant Profile') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="customer-name">
					<div class="field">
						<label class="required" for="firstname"><em>*</em>Name</label>
						<div class="input-box">
							<input type="text" class="input-text required-entry" title="merchant_name" value="<?php echo $merchant->getMerchantName(); ?>" name="merchant_name" id="merchant_name">
						</div>
					</div>
					<div class="field">
						<label class="required" for="lastname"><em>*</em>Email</label>
						<div class="input-box">
							<input type="text" class="input-text required-entry validate-email" title="merchant_email" value="<?php echo $merchant->getMerchantEmail(); ?>" name="merchant_email" id="merchant_email">
						</div>
					</div>
				</div>
            </li>
            <li class="fields">
                <div class="customer-name">
					<div class="field">
						<label class="" for="firstname">Website</label>
						<div class="input-box">
							<input type="text" class="input-text" title="merchant_website" value="<?php echo $merchant->getMerchantWebsite(); ?>" name="merchant_website" id="merchant_website">
						</div>
					</div>
					<div class="field">
						<label class="" for="lastname">Facebook Link</label>
						<div class="input-box">
							<input type="text" class="input-text" title="merchant_facebook_link" value="<?php echo $merchant->getMerchantFacebookLink(); ?>" name="merchant_facebook_link" id="merchant_facebook_link">
						</div>
					</div>
				</div>
            </li>
            <li class="fields">
                <div class="customer-name">
					<div class="field">
						<label class="" for="firstname">Twitter Link</label>
						<div class="input-box">
							<input type="text" class="input-text" title="merchant_twitter_link" value="<?php echo $merchant->getMerchantTwitterLink(); ?>" name="merchant_twitter_link" id="merchant_twitter_link">
						</div>
					</div>
					<div class="field">
						<label class="" for="lastname">Phone</label>
						<div class="input-box">
							<input type="text" class="input-text" title="merchant_phone" value="<?php echo $merchant->getMerchantPhone(); ?>" name="merchant_phone" id="merchant_phone">
						</div>
					</div>
				</div>
            </li>	
            <li class="fields">
                <div class="customer-name">
					<div class="field">
						<label class="" for="firstname">Mobile</label>
						<div class="input-box">
							<input type="text" class="input-text" title="merchant_mobile" value="<?php echo $merchant->getMerchantMobile(); ?>" name="merchant_mobile" id="merchant_mobile">
						</div>
					</div>
				</div>
            </li>				
        </ul>
    </div>
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Location') ?></h2>
        <ul class="form-list">
            <li>
                <label for="address1" class=""><?php echo $this->__('1st Address') ?></label>
                <div class="input-box">
                    <input type="text" title="" class="input-text" name="address1" id="address1" value="<?php echo $merchant->getAddress1(); ?>" />
                </div>
            </li>
            <li>
                <label for="address2" class=""><?php echo $this->__('2nd Address') ?></label>
                <div class="input-box">
                    <input type="text" title="" class="input-text" name="address2" id="address2" value="<?php echo $merchant->getAddress2(); ?>" />
                </div>
            </li>
            <li>
                <label for="address3" class=""><?php echo $this->__('3rd Address') ?></label>
                <div class="input-box">
                    <input type="text" title="" class="input-text" name="address3" id="address3" value="<?php echo $merchant->getAddress3(); ?>" />
                </div>
            </li>
		</ul>
    </div>	
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getUrl('deals/merchant/dashboard'); ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </div>	
</form>
<script type="text/javascript">
    var profileForm = new VarienForm('merchant_profile_form', true);			
</script>

<?php }?>