<?php 
       $r = $this->getRequest();
       $history_id = $r->getParam('history_id');
	   $history = Mage::getModel('dailydeals/history')->load($history_id, "history_id");
	   $is_redeemed = $history->getIsRedeemed();
	   $deal_id = $history->getDealId();
	   
?>	
<div id="coupon_details">
	<div id="coupon_title">
		<h2><?php echo $this->__('Coupon Details') ?></h2>
	</div>
	<div id="coupon_image">
		<img src="<?php $image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$history->getImageUrl();echo $image_url; ?>" 
	width="300px" height="250px" />
	</div>
	<div id="coupon_info">
			<table border="0">
			<tr><th style="width:110px"><?php echo $this->__('Coupon Code') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $history->getCouponCode();?></th></tr>
			<tr><th style="width:110px"><?php echo $this->__('Deal Name') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $history->getDealName();?></th></tr>
			<tr><th style="width:110px"><?php echo $this->__('Quantity') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $history->getQty();?></th></tr>
			<tr><th style="width:110px"><?php echo $this->__('Price') ?></th><th style="width:20px">:</th><th style="width:180px"><?php echo $history->getAmount();?></th></tr>
			<tr><th style="width:110px"><?php echo $this->__('Payment') ?></th><th style="width:20px">:</th><th style="width:180px"><?php if($history->getStatus() == "C"){echo "Complete";}else{echo "Pending";} ?></th></tr>
			<tr><th style="width:110px"><?php echo $this->__('Location') ?></th style="width:50px"><th>:</th><th style="width180px;"><?php echo $history->getRedeemLocation();?></th></tr>
			<?php if($is_redeemed == "1"){?>
			<tr><th style="width:110px"><?php echo $this->__('Is Redeemed') ?></th style="width:50px"><th>:</th><th style="width180px;"><span id="Is_Redeemed"><?php echo $this->__('Yes') ?></span></th></tr>
			<?php }else{ ?>
			<tr><th style="width:110px"><?php echo $this->__('Is Redeemed') ?></th style="width:50px"><th>:</th><th style="width180px;"><span id="Is_Redeemed"><?php echo $this->__('No') ?></span></th></tr>
			<?php } ?>
		</table>
	</div>
</div>

<div class="clear"></div>

<div id="redeemed_form">
	<form id="redeem_form">
		<input type="text" value="<?php echo $history_id ?>" name="historyId" style="display:none;" >
		<p>
		<label><?php echo $this->__('Enter Redeem Code ') ?>:</label>
		<input type="text" value="" size="26" name="redeemCode" maxlength="26" id="redeem_code" class="input input-text required-entry">
		</p>
		
		<button type="button"  onclick="checkRedeemCode()" title="<?php echo Mage::helper('checkout')->__('Save') ?>" class="button"><span><span><?php echo Mage::helper('checkout')->__('Save') ?></span></span></button>
	</form>
	<script type="text/javascript">
	//<![CDATA[
	function checkRedeemCode(){
		var redeemForm = new VarienForm('redeem_form', true);
		if (redeemForm.validator.validate()) {
			redeemFormAjaxSubmit();
		}
	}
	//]]>
	</script>		
</div>
<div id="back-btn">
	<a href="<?php echo $this->getUrl("dailydeals/merchant/view/")?><?php echo "deal_id/".$deal_id;?>">back to Mydeals</a>
</div>
<script type="text/javascript">
	function redeemFormAjaxSubmit()
	{
	var inputs = $("redeem_form").serialize(true);
	var j_inputs = Object.toJSON(inputs);
	var path = '<?php echo $this->getUrl('deals/redeem/setData') ?>';
	new Ajax.Request(path,
					{
						method:"get",
						parameters:"val="+j_inputs,
						onSuccess:function(transport){
						alert(transport.responseText);
					
						$("redeem_code").value="";
						}
					});
	}
	</script>