<?php 
$_product = Mage::registry('current_product');
$deal = Mage::registry('deal');
$deal_merchant_id = $deal->getMerchantId();
$dateFormatIso = Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT);
?>

<?php 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant_id = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id')->getMerchantId();
?>
<?php if($deal->getId()): ?>
    <div class="page-title">
        <h1><?php echo $this->__('Edit') ?><?php echo " - ".$_product->getName(); ?></h1>
    </div>

    <div class="merchant-entry">

    <form method="post" action="<?php echo $this->getFormActionUrl($deal); ?>" id="merchant_product_form">

    <!------------------------ Extra ---------------------------------------->

    <input type="hidden" value="<?php echo $merchant_id; ?>" name="merchant_id" id="merchant_id">
    <input id="stores" name="store_id" value="0" type="hidden"/>
    <input id="stores" name="deal[stores][]" value="" type="hidden"/>
    <input id="attribute_set_id" name="product[attribute_set_id]" value="<?php echo $_product->getAttributeSetId(); ?>" type="hidden"/>
    <input id="type_id" name="product[type_id]" value="<?php echo $_product->getTypeId(); ?>" type="hidden"/>

    <!------------------------------------------------------------------------>	
    <div id="tabs">
        <ul>
            <li><a href="#merchant_info_tab" class="merchant_info_tab"><?php echo $this->__('Merchant >'); ?></a></li>
            <li><a href="#websites_info_tab" class="websites_info_tab"><?php echo $this->__('Websites >'); ?></a></li>
            <li><a href="#categories_info_tab" class="categories_info_tab"><?php echo $this->__('Categories >'); ?></a></li>
            <li><a href="#product_info_tab" class="product_info_tab"><?php echo $this->__('Deal Content >'); ?></a></li>
            <li><a href="#commission_info_tab" class="commission_info_tab"><?php echo $this->__('Commission >'); ?></a></li>
            <li><a href="#coupon_info_tab" class="coupon_info_tab"><?php echo $this->__('Coupon Settings >'); ?></a></li>
            <li><a href="#product_images_tab" class="product_images_tab"><?php echo $this->__('Images >'); ?></a></li>
            <li><a href="#custom_tab" class="custom_tab"><?php echo $this->__('Custom Attributes'); ?></a></li>
        </ul>
        
    <!-------------------------------- Merchant --------------------------------------------->

    <div id="merchant_info_tab">   
        <div class="tab-header"><?php echo $this->__('Select Merchant') ?></div> 
        <?php $merchant = Mage::getModel('dailydeals/merchant')->getMerchantCollection(); ?>
        <input placeholder='search here' type="text" class="search-merchant"/><br/>
        <select name="product[merchant_id]" class="validate-select required merchant-dropdown">
            <?php foreach($merchant as $val): ?>
                <option rel="<?php echo $val->getMerchantName() ?>" value="<?php echo $val->getMerchantId() ?>" <?php if($deal->getMerchantId() == $val->getMerchantId()) echo 'selected' ?>><?php echo $val->getMerchantName() ?></option>
            <?php endforeach; ?>
        </select>
        <div class="merchant-nav single-nav">
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="websites_info_tab" id="next[0]"><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>
        
    </div>


    <!-------------------------------- websites --------------------------------------------->
    <?php $webIds = $_product->getWebsiteIds(); ?>
    <?php $groupIds = $_product->getDealCities(); ?>
    <?php $websites = Mage::getSingleton('adminhtml/system_store')->getWebsiteCollection(); ?>
    <div id="websites_info_tab">
        <div class="tree-store-scope">
            <div class="tab-header"><?php echo $this->__('Select Website') ?></div>
            <ul class="ik-website">
            <?php $ctr = 0; ?>
            <?php $count = 0; ?>
            <?php foreach ($websites as $_website): ?>
                <li class="ikoala-websites">
                    <input name="product[website_ids][]" id="website[<?php echo $ctr; ?>]" value="<?php echo $_website->getId() ?>" <?php if(in_array($_website->getId(),$webIds)) echo 'checked'; ?> class="checkbox website-checkbox" type="checkbox" />
                    <label for="website[<?php echo $ctr; ?>]"><?php echo $_website->getName() ?></label>
                    <?php $ctr++; ?>
                    <?php $websites = Mage::getModel('core/website')->load($_website->getId())->getGroupCollection(); ?>
                    <ul class="ik-group">
                    <?php foreach ($websites as $_group): ?>
                        <li>
                            <input name="deal[stores][]" id="deal_cities[<?php echo $count; ?>]" value="<?php echo $_group->getId() ?>" <?php if(in_array($_group->getId(),$groupIds)) echo 'checked'; ?> class="checkbox website-checkbox" type="checkbox" />
                            <label for="deal_cities[<?php echo $count; ?>]"><?php echo $_group->getName() ?></label>
                        </li>
                        <?php $count++; ?>
                    <?php endforeach; ?>
                    </ul>
                </li>
            <?php endforeach; ?>
                <li style="clear:both"></li>
            </ul>
        </div>
        
        <div class="merchant-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="merchant_info_tab" ><?php echo $this->__('Prev') ?></a>
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="categories_info_tab" ><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>
        
    </div>

    <!-- ------------------------------------------------ categories ------------------------------------------ -->
    <?php $catIds = $_product->getCategoryIds(); ?>
    <div id="categories_info_tab">
    <?php //$categories = Mage::helper('dailydeals')->getCategoriesDropdown(); ?>
    <div class="tab-header"><?php echo $this->__('Select Categories') ?></div>
        <?php $catList = Mage::helper('dailydeals')->getCategories(); ?>
        <?php Mage::helper('dailydeals')->createTree($catList,1,$catIds); ?>
    <div class="merchant-nav">
        <a href="javascript:void(0)" class="merchant-nav-prev" redirect="websites_info_tab" ><?php echo $this->__('Prev') ?></a>
        <a href="javascript:void(0)" class="merchant-nav-next" redirect="product_info_tab" ><?php echo $this->__('Next') ?></a>
        <div style="clear:both"></div>
    </div>
    
    </div>

        
    <!-- ------------------------------------------------ product info ----------------------------------------- -->	 
        <div id="product_info_tab">
            <div class="tab-header"><?php echo $this->__('Deal Content') ?></div>
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label for="product_name"><?php echo $this->__('Product Name'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="text" class="required" value="<?php echo $_product->getName(); ?>" name="product[name]" id="product_name" style="width:395px;">            			
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="deal_name"><?php echo $this->__('Deal Name'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="text" class="required" value="<?php echo $_product->getDealName(); ?>" name="product[deal_name]" id="deal_name" style="width:395px;">
                                <p id="note_deal_name" class="note"><span><?php echo $this->__('eg: 50$ worth product for just 30$'); ?></span></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="label"><label for="merchant_sku"><?php echo $this->__('Merchant SKU'); ?></label></td>
                            <td class="value">
                                <input type="text" value="<?php echo $_product->getMerchantSku(); ?>" name="product[merchant_sku]" id="merchant_sku" style="width:395px;">
                            </td>
                        </tr>

                        <tr> <!-- add to data -->
                            <td class="label"><label for="deal_description"><?php echo $this->__('Deal Short Description'); ?><span>*</span></label></td>
                            <td class="value">
                            <textarea cols="25" rows="2" style="height: 14em; width: 48em;" class="textarea" id="deal_description"  name="product[short_description]">
                                <?php echo $_product->getShortDescription(); ?>
                            </textarea>          
                            </td>
                        </tr>
                        
                        <tr> <!-- Note: Not in the specs but required -->
                            <td class="label"><label for="deal_highlight"><?php echo $this->__('Deal Highlight'); ?><span>*</span></label></td>
                            <td class="value">
                                <textarea cols="15" rows="2" style="height: 14em; width: 48em;" class="textarea" id="deal_highlight"  name="product[deal_highlight]">
                                    <?php echo $_product->getDealHighlight(); ?>
                                </textarea>        
                            </td>
                        </tr>  
                        
                        
                        <tr>
                            <td class="label"><label for="date_from"><?php echo $this->__('Deal Start Date'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="text" class="required input-text"  value="<?php echo date("d/m/Y", strtotime($deal->getDateFrom())); ?>" name="deal[date_from]" id="datepicker1"  readonly="readonly" /> 
                                <select name="product[deal_starts]" id="start_time">
                                    <?php foreach(Mage::helper('dailydeals')->getTimeOptions() as $key => $val): ?>
                                        <option <?php if($_product->getDealStarts() == $key) echo "selected"; ?> value="<?php echo $key ?>"><?php echo $val; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label"><label for="date_to"><?php echo $this->__('End Date (yes/no)'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="radio" class="no-end-date" name="product[no_end_date]" <?php if($_product->getNoEndDate() == 1) echo "checked"; ?> id="end-yes" value=1 /><label for="end-yes"><?php echo $this->__('Yes') ?></label>
                                <input type="radio" class="no-end-date" name="product[no_end_date]" <?php if($_product->getNoEndDate() == 0) echo "checked"; ?> id="end-no" value=0 /><label for="end-no"><?php echo $this->__('No') ?></label>
                            </td>
                        </tr>
                        
                        <?php if($_product->getNoEndDate() == 0): ?>
                            <?php $hide = 'hideme'; ?>
                        <?php endif; ?>
                            <tr class="<?php echo $hide; ?> end-date-container">
                                <td class="label"><label for="date_to"><?php echo $this->__('Deal End Date'); ?><span>*</span></label></td>
                                <td class="value">
                                    <input type="text"  class="<?php if($_product->getNoEndDate() == 1) echo 'required' ?> input-text"  value="<?php echo date("d/m/Y", strtotime($deal->getDateTo())); ?>"  name="deal[date_to]" id="datepicker2"  readonly="readonly" /> 
                                     <select name="product[deal_ends]" id="end_time">
                                        <?php foreach(Mage::helper('dailydeals')->getTimeOptions() as $key => $val): ?>
                                            <option <?php if($_product->getDealEnds() == $key) echo "selected"; ?> value="<?php echo $key ?>"><?php echo $val; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                        
                        <!-- SKU add to data, Deal Type required    -->
                        <tr>
                            <td class="label"><label for="deal_type"><?php echo $this->__('Deal SKU'); ?></label></td>
                            <td class="value">
                                <span class="deal-sku"><?php echo $_product->getSku(); ?></span>
                                <input type="hidden" value="<?php echo $_product->getSku(); ?>" name="product[sku]"/>     
                            </td>
                        </tr> 
                        <tr>
                            <td class="label"><label for="deal_type"><?php echo $this->__('Deal Type'); ?></label></td>
                            <td class="value">
                                <select class="select" name="deal[deal_type]" id="deal_type">
                                    <?php if($deal->getDealType() == "F"){ ?>
                                        <option value="F" selected="selected"><?php echo $this->__('Featured'); ?></option>
                                        <option value="S"><?php echo $this->__('Special'); ?></option>								
                                    <?php }else if($deal->getDealType() == "S"){ ?>
                                        <option value="S" selected="selected"><?php echo $this->__('Special'); ?></option>
                                        <option value="F"><?php echo $this->__('Featured'); ?></option>															
                                    <?php } ?>	
                                </select>  
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="deal_type"><?php echo $this->__('Deal State'); ?></label></td>
                            <td class="value">
                                <select class="select" name="product[deal_approved]" id="deal_approved">
                                    <option value="0" <?php if($_product->getDealApproved() == 0) echo 'selected' ?>><?php echo $this->__('Development'); ?></option>
                                    <option value="2" <?php if($_product->getDealApproved() == 2) echo 'selected' ?>><?php echo $this->__('Pending'); ?></option>
                                </select>  
                            </td>
                        </tr>
                        
                        <!-------------------------------------------------------------------------------------------------------->
                        
                        <tr>
                            <td class="label"><label for="deal_descriptions"><?php echo $this->__('What you Get'); ?><span>*</span></label></td>
                            <td class="value">
                                <textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea editable" id="deal_descriptions"  name="product[description]">
                                    <?php echo $_product->getDescription(); ?>
                                </textarea>          
                            </td>
                        </tr>	
                        
                        <tr>
                            <td class="label"><label for="deal_fineprint"><?php echo $this->__('Fineprint'); ?><span>*</span></label></td>
                            <td class="value">
                                <textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea editable" id="deal_fineprint"  name="product[deal_fineprint]">
                                    <?php echo $_product->getDealFineprint(); ?>
                                </textarea>         
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label"><label for="price"><?php echo $this->__('Price (RRP)'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="text" class="required number" value="<?php echo $_product->getPrice(); ?>" name="product[price]" id="price">        
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="special_price"><?php echo $this->__('Special Price (Sell)'); ?></label></td>
                            <td class="value">
                                <input type="text" class="required number" value="<?php echo $_product->getSpecialPrice(); ?>" name="product[special_price]" id="special_price">
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label"><label for="deal_target"><?php echo $this->__('Target (Min)'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="text" value="<?php echo $deal->getTargetCount(); ?>" name="product[deal_target]" id="deal_target" class="required number">
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label"><label for="inventory_qty"><?php echo $this->__('Stock (Max)'); ?><span>*</span></label></td>
                            <td class="value">
                                <input type="hidden" value="0" name="product[stock_data][original_inventory_qty]" id="original_inventory_qty">
                                <input type="text" value="<?php echo $_product->getStockItem()->getQty(); ?>" name="product[stock_data][qty]" id="inventory_qty" class="required input-text number">
                                <input type="hidden" value="1" name="product[stock_data][is_in_stock]" id="inventory_stock_availability" />
                            </td>
                        </tr>


                        <tr>
                            <td class="label"><label for="deal_type"><?php echo $this->__('Google Category'); ?></label></td>
                            <td class="value">
                                <select class="select" name="product[google_category_attr]" id="google_category_attr">
                                    <?php foreach(Mage::getModel('ikdailydeals/sourcemodel_googlecats')->getAllOptions() as $val): ?>
                                        <option value="<?php echo $val['label']; ?>" <?php if($_product->getGoogleCategoryAttr() == $val['label']) echo "selected='selected'"; ?>><?php echo $val['label']; ?></option>
                                    <?php endforeach; ?>
                                </select>  
                                <?php //print_r(Mage::getModel('ikdailydeals/sourcemodel_googlecats')->getAllOptions()) ?>
                            </td>
                        </tr>
                                                

                    <!--	<tr>
                            <td class="label"><label for="sku">location<span>*</span></label></td>
                            <td class="value">
                                <textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location"  name="product[deal_location]"></textarea>
                            </td>
                        </tr>	
                        <tr>
                            <td class="label"><label for="deal_location_map"><?php echo $this->__('Location Map'); ?><span>*</span></label></td>
                            <td class="value">
                                <textarea cols="15" rows="2" style="height: 10em; width: 30em;" class="textarea required" id="deal_location_map" name="product[deal_location_map]"></textarea>
                            </td>
                        </tr>	-->			
                    </tbody>
                </table>
            </div>
             
            <div class="merchant-nav">
                <a href="javascript:void(0)" class="merchant-nav-prev" redirect="categories_info_tab" ><?php echo $this->__('Prev') ?></a>
                <a href="javascript:void(0)" class="merchant-nav-next" redirect="commission_info_tab" ><?php echo $this->__('Next') ?></a>
                <div style="clear:both"></div>
            </div> 
                
        </div>
        
    <!-- ------------------------------------------------------------------------------------------------------- -->	

    <!-- -------------------------------------------- Commission --------------------------------------------------------------- -->	
        <div id="commission_info_tab">
           
            <div class="hor-scroll">
                <div class="tab-header"><?php echo $this->__('Commission') ?></div>
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label for="product[aammount]"><?php echo $this->__('Additional Cost') ?></label></td>
                            <td class="value">
                                 <input type="text" name="product[aammount]" value="<?php echo $_product->getAammount(); ?>" id="product[aammount]" class="validate-digits" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="product[commission_percent]"><?php echo $this->__('Commission Percent') ?></label></td>
                            <td class="value">
                                 <input type="text" name="product[commission_percent]" value="<?php echo $_product->getCommissionPercent(); ?>" id="product[commission_percent]" class="validate-digits" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label"> <label for="product[commission_fixed]"><?php echo $this->__('Commission Fixed') ?></label></td>
                            <td class="value">
                                  <input type="text" name="product[commission_fixed]" value="<?php echo $_product->getCommissionFixed(); ?>" id="product[commission_fixed]" class="validate-digits" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="merchant-nav">
                <a href="javascript:void(0)" class="merchant-nav-prev" redirect="product_info_tab" ><?php echo $this->__('Prev') ?></a>
                <a href="javascript:void(0)" class="merchant-nav-next" redirect="coupon_info_tab" ><?php echo $this->__('Next') ?></a>
                <div style="clear:both"></div>
            </div>

        </div>

    <!-- -------------------------------------------------------------------------------------------------------------------- -->

    <!-- -------------------------------------------- Coupon Setting --------------------------------------------------------------- -->	
        <div id="coupon_info_tab">
           
            <div class="hor-scroll">
                <div class="tab-header"><?php echo $this->__('Coupon Settings') ?></div>
                <table cellspacing="0" class="form-list">
                    <tbody>
                        
                        <?php if($_product->getDealCouponExpirationCustom() != 0): ?>
                            <?php $hideExpr = 'hideme'; ?>
                        <?php endif; ?>
                        <tr class="<?php echo $hideExpr; ?> expiration-cointaner">
                            <td class="label"><label for="deal_coupon_expiration_date"><?php echo $this->__('Expiry Date') ?><span>*</span></label></td>
                            <td class="value">
                                 <input type="text" name="product[deal_coupon_expiration_date]" id="deal_coupon_expiration_date" value="<?php if($_product->getDealCouponExpirationDate() != '') echo date("m/d/Y", strtotime($_product->getDealCouponExpirationDate())); ?>" class="<?php if($_product->getDealCouponExpirationCustom() != 0) echo 'required;' ?>" id="deal_coupon_expiration_date" />
                            </td>
                        </tr>
                        
                         <tr>
                            <td class="label"><label for="expiry_options"><?php echo $this->__('Set Coupon Expiration from Date of Purchase') ?><span>*</span></label></td>
                            <td class="value">
                                <select name="product[deal_coupon_expiration_custom]" id="expiry_options">
                                    <?php foreach(Mage::helper('dailydeals')->getDealExpiryOptions() as $key => $val): ?>
                                        <option value="<?php echo $key ?>" <?php if($_product->getDealCouponExpirationCustom() == $key) echo 'selected'; ?>><?php echo $val; ?></option>
                                    <?php endforeach; ?>
                                </select>                        
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label"><label for="product[how_to_redeem]"><?php echo $this->__('How to Redeem') ?></label></td>
                            <td class="value">
                                 <textarea name="product[how_to_redeem]" class="editable" id="product[how_to_redeem]">
                                    <?php echo $_product->getHowToRedeem(); ?>
                                 </textarea>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            
            <div class="merchant-nav">
                <a href="javascript:void(0)" class="merchant-nav-prev" redirect="commission_info_tab" ><?php echo $this->__('Prev') ?></a>
                <a href="javascript:void(0)" class="merchant-nav-next" redirect="product_images_tab" ><?php echo $this->__('Next') ?></a>
                <div style="clear:both"></div>
            </div>

        </div>

    <!-- -------------------------------------------------------------------------------------------------------------------- -->



    <!-- -------------------------------------------- images --------------------------------------------------------------- -->	
    <div id="product_images_tab">
        <?php echo $this->getImageTabContent(); ?>
        <div class="merchant-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="coupon_info_tab" ><?php echo $this->__('Prev') ?></a>
            <a href="javascript:void(0)" class="merchant-nav-next" redirect="custom_tab" ><?php echo $this->__('Next') ?></a>
            <div style="clear:both"></div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------------------------------- -->

    <!-- -------------------------------------------- Custom Attribute --------------------------------------------------------------- -->	
    <div id="custom_tab">
        <div class="tab-header"><?php echo $this->__('Custom Attribute') ?></div>
        
        <button style="" onclick="" class="scalable add" type="button" title="Add New Option" id="add_new_defined_option">
        <span>
            <span>
                <span>Add New Option</span>
            </span>
        </span>
    </button>

        <div id="product_options_container" class="box">
            <div id="product_options_container_top"></div>

                <?php foreach ($_product->getOptions() as $option): ?>
                    <?php $itemIds[] = $option->getId(); ?>
                    <div id="option_<?php echo $option->getId(); ?>" class="option-box">
                        <table id="product_option_<?php echo $option->getId(); ?>" cellspacing="0" cellpadding="0" class="option-header">
                            <input type="hidden" value="" name="product[options][<?php echo $option->getId(); ?>][is_delete]" id="product_option_<?php echo $option->getId(); ?>_is_delete">
                            
                            <input type="hidden" value="<?php echo $option->getType(); ?>" name="product[options][<?php echo $option->getId(); ?>][previous_type]" id="product_option_<?php echo $option->getId(); ?>_previous_type">
                            
                            <input type="hidden" value="<?php echo $option->getGroupByType(); ?>" name="product[options][<?php echo $option->getId(); ?>][previous_group]" id="product_option_<?php echo $option->getId(); ?>_previous_group">
                            
                            <input type="hidden" value="<?php echo $option->getId(); ?>" name="product[options][<?php echo $option->getId(); ?>][id]" id="product_option_<?php echo $option->getId(); ?>_id">
                            
                            <input type="hidden" value="<?php echo $option->getId(); ?>" name="product[options][<?php echo $option->getId(); ?>][option_id]" id="product_option_<?php echo $option->getId(); ?>_option_id">
                            
                            <thead>
                                <tr>
                                    <th class="opt-title">Title <span class="required">*</span></th>
                                    <th class="opt-type">Input Type <span class="required">*</span></th>
                                    <th class="opt-req">Is Required</th>
                                    <th class="opt-order">Sort Order</th>
                                    <th class="a-right">
                                        <button class="scalable delete delete-product-option" type="button" title="Delete Option"><span>Delete Option</span></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" value="<?php echo $option->getTitle(); ?>" name="product[options][<?php echo $option->getId(); ?>][title]" id="product_option_<?php echo $option->getId(); ?>_title" class="required-entry input-text required">
                                    </td>
                                    <td>
                                        <?php echo $this->getTypeSelectHtml($option->getId(), $option->getType()); ?>
                                    </td>
                                    <td class="opt-req">
                                        <?php echo $this->getRequireSelectHtml($option->getId(), $option->getType()); ?>
                                    </td>
                                    <td>
                                        <input type="text" value="<?php echo $option->getSortOrder(); ?>" name="product[options][<?php echo $option->getId(); ?>][sort_order]" class="validate-zero-or-greater input-text">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <?php if ($option->getGroupByType() == Mage_Catalog_Model_Product_Option::OPTION_GROUP_SELECT): ?>

                            <div class="grid tier form-list2" id="product_option_<?php echo $option->getId(); ?>_type_select">
                                <table cellspacing="0" cellpadding="0" class="border">
                                <thead>
                                    <tr class="headings">
                                        <th class="type-title">Title <span class="required">*</span></th>
                                        <th class="type-price">Price</th>
                                        <th class="type-type">Price Type</th>
                                        <th class="type-sku">SKU</th>
                                        <th class="type-order">Sort Order</th>
                                        <th class="type-butt last">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="select_option_type_row_<?php echo $option->getId(); ?>">

                                    <?php foreach ($option->getValues() as $_value): ?>
                                    <?php $subItemIds[] = $_value->getOptionTypeId(); ?>

                                    <tr id="product_option_<?php echo $option->getId(); ?>_select_<?php echo $_value->getOptionTypeId(); ?>">
                                        <td>
                                            <input type="hidden" value="<?php echo $_value->getOptionTypeId(); ?>" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][option_type_id]">
                                            
                                            <input type="hidden" value="" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][is_delete]" id="product_option_<?php echo $option->getId(); ?>_select_<?php echo $_value->getOptionTypeId(); ?>_is_delete">
                                            
                                            <input type="text" value="<?php echo $_value->getTitle(); ?>" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][title]" id="product_option_<?php echo $option->getId(); ?>_select_<?php echo $_value->getOptionTypeId(); ?>_title" class="required-entry input-text select-type-title required">
                                        </td>
                                        <td>
                                            <input type="text" value="<?php echo $this->getPriceValue($_value->getPrice(), $_value->getPriceType()); ?>" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][price]" id="product_option_<?php echo $option->getId(); ?>_select_<?php echo $_value->getOptionTypeId(); ?>_price" class="input-text validate-number product-option-price">
                                        </td>
                                        <td>
                                            <?php echo $this->getPriceTypeSelectHtml($option->getId(), $_value->getOptionTypeId(), $_value->getPriceType()); ?>
                                        </td>
                                        <td>
                                            <input type="text" value="<?php echo $_value->getSku();?>" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][sku]" class="input-text">
                                        </td>
                                        <td>
                                            <input type="text" value="<?php echo $_value->getSortOrder(); ?>" name="product[options][<?php echo $option->getId(); ?>][values][<?php echo $_value->getOptionTypeId(); ?>][sort_order]" class="validate-zero-or-greater input-text">
                                        </td>
                                        <td class="last">
                                            <span title="Delete row">
                                                <button style="width: 32px;" onclick="" class="scalable delete delete-select-row icon-btn" type="button" title="Delete Row" id="delete_select_row_button">
                                                    <span>Delete Row</span>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>

                                    <?php endforeach; ?>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="a-right" colspan="100">
                                            <button style="" onclick="" class="scalable add add-select-row" type="button" title="Add New Row" id="add_select_row_button_<?php echo $option->getId(); ?>">
                                                <span>
                                                    <span>
                                                        <span>Add New Row</span>
                                                    </span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            </div>
                            

                            
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
        </div>
        <input type="hidden" value="1" name="affect_product_custom_options">
        <input type="hidden" value="<?php echo max($itemIds); ?>" id ="max_item_id" name="max_item_id" >
        <input type="hidden" value="<?php echo max($subItemIds); ?>" id="max_sub_item_id" name="max_sub_item_id" >
         <div class="merchant-nav single-nav">
            <a href="javascript:void(0)" class="merchant-nav-prev" redirect="product_images_tab" ><?php echo $this->__('Prev') ?></a>
            <div style="clear:both"></div>
        </div>
        
    </div>

        <div class="create-deal-container">
            <input class="" type="submit" value="<?php echo $this->__('Save Deal'); ?>" id="create-deal" />
        </div>
    </div>

    </form>

    </div>
<?php endif; ?>
<script>

jQuery(document).ready(function(){
 
    jQuery('input[name="product[email_image_2]"]').live('click',function(){ 
        var parent = jQuery(this).parent();
        jQuery(this).parent().next().children().trigger('click');
        jQuery(this).parent().next().children().trigger('click');
        jQuery(this).parent().next().children().attr('checked','checked');
        
        var label = parent.parent().children().first().next().children();
        label.val('Email Image 2');
        label.trigger('change');
        

     });
    
    jQuery('input[name="product[email_image_1]"]').live('click',function(){ 
         var parent = jQuery(this).parent();
        jQuery(this).parent().next().next().children().trigger('click');
        jQuery(this).parent().next().next().children().trigger('click');
        jQuery(this).parent().next().next().children().attr('checked','checked');        
        
        var label = parent.parent().children().first().next().children();
        label.val('Email Image 1');
        label.trigger('change');
        
     });
    
    tinymce.init({selector:'textarea.editable', menubar : false,
        plugins: ["autolink lists link"],
        init_instance_callback: function(){
            ac = tinyMCE.activeEditor;
            ac.dom.setStyle(ac.getBody(), 'fontSize', '14px');
            ac.dom.setStyle(ac.getBody(), 'fontFamily', 'Arial');
            ac.dom.setStyle(ac.getBody(), 'color', '#333');
        }
    });
    
    
    jQuery('.no-end-date').live('click',function(){
        if(jQuery(this).val() == 1){
            jQuery('.end-date-container').removeClass('hideme');
        }
        else{
            jQuery('.end-date-container').addClass('hideme');
        }
    });

    jQuery('#expiry_options').live('change',function(){
       if(jQuery(this).val() == 0){
           jQuery('#deal_coupon_expiration_date').addClass('required');
           jQuery('.expiration-cointaner').removeClass('hideme');
       }
       else{
           jQuery('#deal_coupon_expiration_date').removeClass('required');
           jQuery('.expiration-cointaner').addClass('hideme');
       }
    });
    
    
    jQuery('#end-no').live('click',function(){
        jQuery('#datepicker2').addClass('required');
    });
    
    jQuery('#end-yes').live('click',function(){
        jQuery('#datepicker2').removeClass('required');
    });
    
	jQuery("#datepicker1").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true });
	jQuery("#datepicker2").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true});
    jQuery("#deal_coupon_expiration_date").datepicker( { minDate: '-1d', dateFormat : 'dd/mm/yy', changeMonth: true, changeYear: true });
    
    jQuery('.merchant-nav-next').live('click', function() {
        var next = jQuery(this).attr('redirect');
        jQuery('.'+next).trigger('click');
    });
    
    jQuery('.merchant-nav-prev').live('click', function() {
        var prev = jQuery(this).attr('redirect');
        jQuery('.'+prev).trigger('click');
    });
    
        
    /* merchant name search on dropdown */
    
    jQuery('.search-merchant').live('keyup',function(){
        var count = 0;
        jQuery('.merchant-dropdown option').removeAttr('selected');
        jQuery('.merchant-dropdown option').each(function(){ 
            var search = jQuery('.search-merchant').val().toLowerCase();
            var searchstring = jQuery(this).attr('rel').toLowerCase();
            
            if (searchstring.match(search) && count == 0) {
                count = 1;
                jQuery(this).attr('selected','selected');
            }
            
            
        });
    });
    
});

jQuery("#tabs").tabs();

jQuery("#submitForm").button();

jQuery("#merchant_product_form").validate({
  submitHandler: function(form) {
    // alert("submitted!"); 
	// $("#merchant_product_form").submit();
	form.submit();
  },
  invalidHandler: function(form, validator) {
    var errors = validator.numberOfInvalids();
    if (errors) {
      var invalidPanels = jQuery(validator.invalidElements()).closest(".ui-tabs-panel", form);
      if (invalidPanels.size() > 0) {
        jQuery.each(jQuery.unique(invalidPanels.get()), function(){
          jQuery(this).siblings(".ui-tabs-nav")
            .find("a[href='#" + this.id + "']").parent().not(".ui-tabs-selected")
              .addClass("ui-state-error")
              .show("pulsate",{times: 3});
        });
      }
    }
  },
  unhighlight: function(element, errorClass, validClass) {
    jQuery(element).removeClass(errorClass);
    jQuery(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
    var $panel = jQuery(element).closest(".ui-tabs-panel", element.form);
    if ($panel.size() > 0) {
      if ($panel.find("." + errorClass + ":visible").size() == 0) {
        $panel.siblings(".ui-tabs-nav").find("a[href='#" + $panel[0].id + "']")
          .parent().removeClass("ui-state-error");
      }
    }
  }
});	

   
							
</script>

