<div class="page-title">
    <h1><?php echo $this->__('Deal Preview') ?></h1>
</div>
<div class="merchant-entry">
    <?php $dealData = Mage::registry('dealprev'); ?>
    
    <div class="thumbnail">
        <div class="thumbnail-img"><img src="<?php echo $dealData['thumbnail'] ?>" style="border:1px solid #333" /></div>
        <div class="thumbnail-name"><?php echo $dealData['name'] ?></div>
        <div style="clear:both"></div>
    </div>
    
    <div class="updatelink">
        <a href="<?php echo $dealData['updatelink'] ?>"><?php echo $this->__('Click here to update this Deal') ?></a>
    </div>
    <div class="deal-preview-link">
        <?php echo $this->__('Preview: '); ?><span><a href="<?php echo $dealData['url'] ?>" target="_blank"><?php echo $dealData['url'] ?></a></span>
        <?php echo $this->__('(copy this link)') ?>
    </div>
    <?php Mage::unregister('dealprev'); ?>
</div>
