<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
  <head>
    <?php echo $this->getChildHtml('head') ?>
  </head>
  <body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
    <?php echo $this->getChildHtml('after_body_start') ?>
    <div class="wrapper">
      <?php echo $this->getChildHtml('global_notices') ?>
      <div class="page">
<?php
echo $this->getChildHtml('header');
echo $this->getChildHtml('global_messages');
echo $this->getChildHtml('breadcrumbsContainer');
echo $this->getChildHtml('sidebar_deals');
?>
        <div class="main home-page-container">
<?php
echo $this->getChildHtml('top_share_links');
echo $this->getChildHtml('featured_deals');
?>
          <div class="col-main">
            <?php echo $this->getChildHtml('content') ?>
          </div>
          <div id="peeking-koala">&nbsp;</div>
        </div>
        <?php echo $this->getChildHtml('footer_before') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
      </div>
    </div>
    <?php echo $this->getAbsoluteFooter() ?>
  </body>
</html>
