<div class="dashboard">
    <div class="clear"></div>
    <div class="std std-no-pad">
        <?php echo $this->getChildHtml('header') ?>
        
        <div class="myaccount-left-content">
            <?php echo $this->getChildHtml('myprofile') ?>
        </div>
    </div>
</div>