<div class="myaccount-container-top"></div>
<div class="myaccount-container-mid">
    <div class="myaccount-container-content">
       
        <div class="myprofile-form-container">
            <div class="myprofile-form-left">

                <form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate">
                    <?php echo $this->getBlockHtml('formkey')?>

                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getCustomer())->toHtml() ?>

                    <label for="email"><?php echo $this->__('Email Address') ?> <strong>*</strong></label>
                    
                    <div class="input-container">
                        <input class="input" type="text" name="email" id="email" value="<?php echo $this->htmlEscape($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email" />
                    </div>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?>
                    <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?>
                    <?php endif ?>

                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?>
                    <?php endif ?>
                    
                    
                    <div class="password-container">
                        <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="change_password" class="label"><?php echo $this->__('Change Password') ?></label>


                        <div id="password_fields" class="password_fields">
                            <label for="current_password"><?php echo $this->__('Current Password') ?></label>
                            <div class="input-container">
                                <input class="input" type="password" title="<?php echo $this->__('Current Password') ?>" name="current_password" id="current_password" />
                            </div>

                            <div>
                                <label for="password"><?php echo $this->__('New Password') ?></label>
                                <div class="input-container">
                                    <input class="input" type="password" title="<?php echo $this->__('New Password') ?>" name="password" id="password" />
                                </div>
                            </div>

                            <div>
                                <label for="confirmation"><?php echo $this->__('Confirm New Password') ?></label>
                                <div class="input-container">
                                    <input class="input" type="password" title="<?php echo $this->__('Confirm New Password') ?>" name="confirmation" id="confirmation" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div>
                        <button class="input-save" type="submit" title="<?php echo $this->__('Save') ?>"><span><span><?php echo $this->__('Save') ?></span></span></button>
                    </div>
                </form>

            </div>

            <div class="myprofile-form-right">
                <div class=""><strong>*</strong> <?php echo $this->__('Required Fields') ?></div>
            </div>
            
            <div class="clear"></div>
            
        </div>
        
    </div>
</div>
<div class="myaccount-container-bottom"></div>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#password_fields').hide();
});


//<![CDATA[
    //var dataForm = new VarienForm('form-validate', true);

//$(document).ready(function () {
    function setPasswordForm(arg){
        if(arg){
            jQuery('#password_fields').show();
        }else{
            jQuery('#password_fields').hide();
        }
    }
    <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
    <?php endif; ?>
//]]>
//});
</script>