@font-face {
    font-family: 'Aller Display';
    src: url('allerdisplay-webfont.eot');
    src: url('allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('allerdisplay-webfont.woff') format('woff'),
         url('allerdisplay-webfont.ttf') format('truetype'),
         url('allerdisplay-webfont.svg#aller_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
