
<?php $groups = $this->getGroups(); ?>
<?php if (count($groups) > 0): ?>
    <div class="city-switcher">
        <select id="select-city-signup" name="city" title="<?php echo $this->__('Select City') ?>" class="required-entry">
            <option value="" selected="selected">City</option>
            <?php foreach ($groups as $group): ?>
                <?php foreach ($group->getStores() as $_store): ?>
                    <option value=" <?php echo $_store->getName() ?>"<?php if ($_store->getId() == $this->getCurrentStoreId()): ?> class="current"<?php endif; ?>>
                        <?php echo $_store->getName() ?>
                    </option>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </select>
    </div>
<?php endif; ?>