<div id="newsletter_form_bg" style="display:none !important;"></div>
<div style="display:none !important" class="container_16 round_clear pushy" id="newsletter_form">


<div class="round">
<!-- left side -->
	<div class="popup-top-title">
		<p class="popup-title">Save up to 95% in our site</p>
		<p class="popup-subtitle">Get access to restaurants, spas, sporting events, cinemas and much more...</p>
	</div>
<!-- right side -->
	
	<div class="clear"></div>
	
	<div class="gradient">

		<div class="grid_6 gradient_left">	
			<div class="gradient_left_block">
				<h2 class="two" style="">Join with email</h2>
				
				<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="popup-newsletter-validate-detail">

					<div class="email_id"><label class="required" for="email">Your Email <span>*</span></label></div>
					<div class="newsletter">
					   <input type="text" name="email" placeholder="e.g. joe@bloggs.com" id="popup-newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email inputbox" style="width:190px" />
					</div>
					<div class="clear"></div>
					
					<?php if(count($this->getGroups())>1): ?>
					<div class="city-selector">
						<div class="email_id"><label class="required" for="city">Your City <span>*</span></label></div>
						<select id="select-city" name="cities" title="<?php echo $this->__('Select City') ?>">
						<?php foreach ($this->getGroups() as $_group): ?>
							<?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
							<option value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
						<?php endforeach; ?>
						</select>
					</div>
					<?php endif; ?>
					<div class="clear"></div>
					<div class="terms">
						By joining you accept our
						<a href="<?php echo $this->getUrl("terms"); ?>" target="_blank">terms and conditions</a>.
					</div>
					<div>
					<button type="submit" title="<?php echo $this->__('Join Now') ?>" class="button fr" onclick="newsletterSubmit()"><span><?php echo $this->__('Join Now') ?></span></button>
					</div>

				</form>
			</div>			
		</div>
		<div class="grid_6 gradient_right">	
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img1.png') ?>" alt="" />
			</div>
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img2.png') ?>" alt="" />
			</div>
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img3.png') ?>" alt="" />
			</div>
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img4.png') ?>" alt="" />
			</div>
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img5.png') ?>" alt="" />
			</div>
			<div class="popup-product-img">
				<img src="<?php echo $this->getSkinUrl('images/popup/img6.png') ?>" alt="" />
			</div>
		
		</div>

	</div>
	<div class="clear"></div>
	<div id="close">
		<span><?php echo $this->__('Already registered?') ?></span>
	</div>
</div>
</div>
				<script type="text/javascript">
				
							Event.observe(window, 'load', function() {      
								var newsletter_cookie = readCookie("popup-newsletter");
								if(newsletter_cookie == "display"){
									$("newsletter_form_bg").appear();
									$("newsletter_form").appear();
								}       
							}); 
							Event.observe($("close"),"click",function(){
									var today = new Date();
									var expiry = new Date(today.getTime() + 1 * 24 * 3600 * 1000); // plus 1 day
									setCookie("popup-newsletter","close", expiry);
									$("newsletter_form_bg").fade();
									$("newsletter_form").fade();							
							});						
							
							function setCookie(name, value, expiry){
								document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
							}    
						   
							function readCookie(name)
							{
								var nameEQ = name + "=";
								var ca = document.cookie.split( ';');
								for( var i=0;i < ca.length;i++)
								{
									var c = ca[i];
									while ( c.charAt( 0)==' ') c = c.substring( 1,c.length);
									if ( c.indexOf( nameEQ) == 0) return c.substring( nameEQ.length,c.length);
								}
								return "display";
							}  	
							
							var newsletterSubscriberFormDetail = new VarienForm('popup-newsletter-validate-detail');
							
							function newsletterSubmit(){
								if(newsletterSubscriberFormDetail.validator.validate()){
										var today = new Date();
										var expiry = new Date(today.getTime() + 10 * 24 * 3600 * 1000); // plus 1 day
										setCookie("popup-newsletter", "submit", expiry); 
										
										$("newsletter_form_bg").fade();
										$("newsletter_form").fade();    					
										$("newsletter_form").submit();                  
								}       
							}
					
				</script>
