<div class="header-container">
    <div class="header container">
        
        <div class="head_top nav-container1">
            <div class="cbp-af-header grid_12">
                    <div class="cbp-af-inner">
                        <div class="branding">
                            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                            <?php echo $this->getChildHtml('headerCallout') ?>
                        </div>
                        <div class="rgt_1 <?php if($this->helper('customer')->isLoggedIn()) echo 'clogin'; ?>">

                            <div class="header-spinwin">
                                <div class="news-latter">
                                    <a href="<?php echo $this->getUrl('clearance-sale.html') ?>"><img src="<?php echo $this->getSkinUrl('images/clearance-sale.png')?>" alt="image"></a>
                                </div>
                            </div>
                            <div class="quick-access">
                                <div class="cms-links">
                                    <?php echo $this->getChildHtml('topLinks') ?>
                                    <?php echo $this->getChildHtml('topCart') ?>
                                </div>
                            </div>   

                        </div>
                    </div>
                    <div class="black-bar">
                        <div class="header-location">
                            <div class="new-home-loction">
                                <?php echo $this->getChildHtml('ikoala_stores') ?> 
                                <?php echo  $this->getLayout()->createBlock('core/template','mini.search')->setTemplate('catalogsearch/form.mini.phtml')->toHtml(); ?>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <?php echo $this->getChildHtml('topstaticmenu'); ?>
        
        <div class="clear"></div>
        
        
        <?php echo $this->getChildHtml('global_messages'); ?>
        </div>
  </div>
  <?php echo $this->getChildHtml('topContainer') ?>
</div>

<?php echo $this->getChildHtml('banner.home'); ?>

<?php echo $this->getChildHtml('account.notification') ?>
<?php //echo $this->getChildHtml('topMenu') ?>

<?php if(Mage::getStoreConfig('livechat_options/chatenable/livechatenable') == 1): ?>

    <!-- HelpOnClick 
    <div id="topbar" class="livechat" style="display:none">

        <a class="close-topbar" id="close-topbar" href="#"><span><?php echo $this->__('close') ?></span></a>
        <a href="<?php echo $this->getUrl('seen-us-in-print') ?>" ><img src="<?php echo $this->getSkinUrl('images/print-out.png')?>" alt=""></a>
        <a href="javascript:$zopim.livechat.window.show()"><img id='chat_img' src="<?php echo $this->getSkinUrl('images/online.jpg')?>" /></a>
    </div> -->
    
    <script type="text/javascript">
   
        Event.observe($("close-topbar"),"click",function(){
            var today = new Date();
            var expiry = new Date(today.getTime() + (3600000 * 3)); // 3h
            setCookie("sidemenu","inactive", expiry);		
            $("topbar").fade();					
        });	
        
                
        Event.observe(window, 'load', function() {      
            var today = new Date();
            var expiry = new Date(today.getTime() + 10 * 24 * 3600 * 1000); 
            var sidemenu = readCookie("sidemenu");
            if(sidemenu != "inactive"){
                $("topbar").appear();
            }
        }); 
        
        function setCookie(name, value, expiry){
            document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
        }  
        
        function readCookie(name)
        {
            var nameEQ = name + "=";
            var ca = document.cookie.split( ';');
            for( var i=0;i < ca.length;i++)
            {
            var c = ca[i];
            while ( c.charAt( 0)==' ') c = c.substring( 1,c.length);
            if ( c.indexOf( nameEQ) == 0) return c.substring( nameEQ.length,c.length);
            }
            return "active";
        } 
        
    </script>
    
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?1l3P0tWqlON2ZdcVFBVdBXUsLn8y229F';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>


    <script type="text/javascript">$zopim(function() {
    $zopim.livechat.setOnStatus(change_chat_img);
    });
    function change_chat_img(status) {
        var img = document.getElementById('chat_img');
        if (status=='online'){
            img.src = '<?php echo $this->getSkinUrl('images/online.jpg')?>';
        }
        else if (status=='away'){
            img.src = '<?php echo $this->getSkinUrl('images/offline.jpg')?>';
        }
        else if (status=='offline'){
            img.src = '<?php echo $this->getSkinUrl('images/offline.jpg')?>'; 
        }
    }
    </script>
    <!--End of Zopim Live Chat Script-->
<?php endif; ?>

