<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>

    <?php if($this->getShowPerPage()): ?>
    <div class="limiter">
        <label><?php echo $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
            </option>
        <?php endforeach; ?>
        </select> <?php echo $this->__('per page') ?>
    </div>
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
       
        
        <?php if (!$this->isFirstPage()): ?>
            
                <a class="previous1<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">
                    <?php if(!$this->getAnchorTextForPrevious()): ?>
                        <img class="prev-pagi" src="<?php echo $this->getSkinUrl('images/prev-img.png') ?>" alt="<?php echo $this->__('Previous') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForPrevious() ?>
                    <?php endif;?>
                </a>
        <?php else: ?>
             <a class="previous1<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="#" title="<?php echo $this->__('Previous') ?>">
                <?php if(!$this->getAnchorTextForPrevious()): ?>
                    <img class="prev-pagi" src="<?php echo $this->getSkinUrl('images/prev-img.png') ?>" alt="<?php echo $this->__('Previous') ?>" class="v-middle" />
                <?php else: ?>
                    <?php echo $this->getAnchorTextForPrevious() ?>
                <?php endif;?>
            </a>            
        <?php endif;?>

        <?php if ($this->canShowFirst()): ?>
            <a class="first" href="<?php echo $this->getFirstPageUrl() ?>">1</a>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
            <a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>">...</a>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <a href=# class="active1"><?php echo $_page ?></a>
            <?php else: ?>
                <a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a>
            <?php endif;?>
        <?php endforeach;?>


        <?php if ($this->canShowNextJump()): ?>
            <a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>">...</a>
        <?php endif;?>
        
        <?php if ($this->canShowLast()): ?>
            <a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->__('last') ?></a>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            
                <a class="next1<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">
                    <?php if(!$this->getAnchorTextForNext()): ?>
                        <img class="next-pagi" src="<?php echo $this->getSkinUrl('images/next-img.png') ?>" alt="<?php echo $this->__('Next') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForNext() ?>
                    <?php endif;?>
                </a>
        
        <?php endif;?>
        

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
