<?php
$is_home = (Mage::getSingleton('cms/page')->getIdentifier() == 'home');
$is_category = (is_null(Mage::registry('current_product'))
                && is_null(Mage::registry('product'))
                && !is_null(Mage::registry('current_category')));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
  <body <?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

    <?php echo $this->getChildHtml('after_body_start') ?>
	<?php echo $this->getChildHtml('top_share_links'); ?>
    <?php echo $this->getChildHtml('ie') ?>
    <div class="outerwraper">
      <?php echo $this->getChildHtml('global_notices') ?>
      <?php echo $this->getChildHtml('header') ?>   
	  <?php echo $this->getChildHtml('global_messages') ?>
      <div class="main col1-layout<?php if ($is_home): ?> home-page-container<?php endif; ?>">
        <?php echo $this->getChildHtml('content') ?>  
        <?php //echo $this->getLayout()->createBlock('core/template')->setTemplate('cms/footer_all_together.phtml')->toHtml()?>  
      </div>
      <!--populerdeals section ends here-->
      <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml()?>  
      <!-- subscriptionsection ends and footer starts here-->   	  
      <?php echo $this->getChildHtml('footer') ?>
      <?php echo $this->getChildHtml('before_body_end') ?>
      <?php echo $this->getAbsoluteFooter() ?>
    </div>
  </body>
</html>