<?php $shop = Mage::getModel('catalog/category')->load(20)->getChildrenCategories(); ?>
 <?php $category = Mage::registry('current_category'); ?>
 <div class="drop-shop">
    <?php foreach($shop as $cat): ?>
        <?php if($category): ?>
            <?php $isActive = $category->getId() == $cat->getId() ? 'active-shop-cat' : false; ?>
        <?php endif; ?>
        <a href="<?php echo $cat->getUrl() ?>" class="<?php echo $isActive; ?>"><?php echo $cat->getName() ?> </a> 
    <?php endforeach; ?>
</div>
