#nav {margin-top:9px;}
.cms-home #nav .featured_link {margin-top:0;}
.dailydeals-all-index #nav .all_link {margin-top:0;}
#nav li.active a {margin-top:0;}
#nav li a {margin-top:0;}

#nav ul li a, #nav ul li a:hover{
    padding-bottom: 10px;
    padding-top: 10px;
}

#nav li ul li.over > ul {
    left: 100px;
}

#nav ul, #nav div {
    top: 35px;
}