<div class="aggregator">
    <?php
        $_productCollection=$this->getProductCollection();
        $_helper = $this->helper('catalog/output');
        $_coreHelper = $this->helper('core');
    ?>
    <?php if (!$_productCollection->count()): ?>
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    <?php
        $_collectionSize = $_productCollection->count();
        $_columnCount = $this->getColumnCount();
        $i = 0;
    ?>
    <div class="category-products">
        <h1><img src="<?php echo $this->getSkinUrl('images/h1-bg-dollar.png') ?>" />All ikOala <?php echo Mage::getModel('catalog/layer')->getCurrentCategory()->getName(); ?> Deals!</h1>
        <div class="search-listing">
            <ul class="product">
                <?php foreach ($_productCollection as $_product): ?>
                <?php $discount = ($_product->getPrice() - $_product->getFinalPrice()); ?>
                    <li>
                        <div>
                            <img title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(170,129); ?>" />
                            <p><?php echo Mage::helper('core/string')->truncate($_product->getName(), 60)?></p>
                            <h4><span><?php echo $_product->getFormatedPrice() ?></span> <span>View now</span></h4>
                            <a href="<?php echo $_product->getProductUrl(); ?>" alt="<?php echo $_product->getName(); ?>"> </a> 
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
    <?php endif; ?>
</div>


