<?php
$customer_id = Mage::getSingleton('customer/session')->getId();
$coupon_collection = Mage::getModel('dailydeals/history')->getCollection();
$sample_coupon = Mage::getModel('dailydeals/history')->load($customer_id, "customer_id");
if($sample_coupon->getCustomerId()){
?>
    <div class="category-products">
        <ul class="c-list">

<?php
foreach($coupon_collection as $coupon){
	if($customer_id == $coupon->getCustomerId()){
		$coupon_id = $coupon->getHistoryId();
		$image_url = $coupon->getImageUrl();
		$deal_name = $coupon->getDealName();
		$product_name = $coupon->getProductName();
?>
                <li>
                    <a href="<?php echo $this->getUrl('deals/coupon/view')."coupon_id/".$coupon_id; ?>" title="<?php echo $product_name; ?>">
                        <div class="wrap">
                            <div class="product-image">
                                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$image_url; ?>" width="75" height="60" />
                            </div>
                            <div class="product-shop">
                                <header>
                                    <h1><?php echo $deal_name; ?></h1>
                                    <?php echo $product_name; ?>
                                </header>
                            </div>
                        </div>
                    </a>
                </li>
<?php	
	}
}
?>
        </ul>
    </div>
	
<?php }else{ ?>
<div class="deal-coupon">
	<p class="no-access">Sorry you dont have any coupons!<p>
</div>
<?php } ?>	