<?php 
$coupon = Mage::registry("coupon");
$image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/product".$coupon->getImageUrl();
$deal_name = $coupon->getDealName();
$product_name = $coupon->getProductName();
$coupon_code = $coupon->getCouponCode();
$redeem_code = $coupon->getRedeemCode();
$barcode_url = $coupon->getBarcodeImageUrl();
$price = $coupon->getAmount();
$qty = $coupon->getQty();
if($coupon->getStatus() == 'P'){
	$payment_status =  "Pending";
}else{
	$payment_status =  "Complete";
}

if($coupon->getIsRedeemed()){
	$redeemed = "Yes";
}else{
	$redeemed = "No";
}

$redeem_location = $coupon->getRedeemLocation();
?>

<div class="deal-coupon">

	<h1><?php echo $deal_name; ?></h1>
	<h2><?php echo $product_name; ?></h2>
	<div class="deal-coupon-left">
		<img src="<?php echo $image_url; ?>" width="150" height="100" />
	</div>
	
	<div class="deal-coupon-right">
		<table width="100%" border="0">
		  <tr>
			<td>Coupon Code</td>
			<td><?php echo $coupon_code; ?></td>
		  </tr>
		  <tr>
			<td>Redeem Code</td>
			<td><?php echo $redeem_code; ?></td>
		  </tr>
		  <tr>
			<td>Price</td>
			<td><?php echo $price; ?></td>
		  </tr>
		  <tr>
			<td>Qty</td>
			<td><?php echo $qty; ?></td>
		  </tr>
		  <tr>
			<td>Payment</td>
			<td><?php echo $payment_status; ?></td>
		  </tr>
		  <tr>
			<td>Redeemed</td>
			<td><?php echo $redeemed; ?></td>
		  </tr>
		</table>
	</div>
	<div class="clear"></div>
	<div class="redeem-location">
		<?php echo $redeem_location; ?>
	</div>
	<div class="barcode">
		<img src="<?php echo $barcode_url; ?>" width="100" height="40" />
	</div>
	<div class="clear"></div>
</div>

<style>

</style>