<?php
/*
 * AdolMedia_DailyDeals_Block_Deal_Featured
 * 
 * */
?>
<a name="all-deals"></a>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<?php 
	$products = $this->getProductCollection();
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
	$count = $products->getSize();
?>
<?php $_iterator = 0; ?>
<?php if($count){ ?>

	<ol class="products-list" id="products-list">
		<?php foreach ($products->getItems() as $_product): ?>
		<?php
			$productId = $_product->getId();
			$deal = Mage::getModel('dailydeals/deal')->load($productId, 'product_id');
			if($deal && $_product->getIsDeal()){
		?>
		<li class="item<?php if( ++$_iterator == $count ): ?> last<?php endif; ?>">
			<div class="daily-deal">				
				<div class="deals">
					<div class="deal-img">
						<?php echo $this->getMediaHtml($_product,$deal) ?>
					</div>
					<div class="deal-detail">
						<ul>
							<li>
							  <h2 class="deal-name"><?php echo $_product->getDealName(); ?></h2>
							</li>
							<li>
							  <p class="product-name"><?php echo $_product->getName(); ?></p>
							</li>
							<li class="deal-price ">  
							  <?php echo $_coreHelper->currency($_product->getSpecialPrice(),true,false) ?>						
							</li>
						</ul>
					</div>
					<div class="deal-links">
						<div class="ui-grid-a">
							<div class="ui-block-a">
								<a href="<?php echo $_product->getProductUrl() ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
									<span class="ui-btn-inner ui-btn-corner-all info">
										<span class="ui-btn-text info">Info</span>
									</span>
								</a>
							</div>
							<?php $params = array( 'deal' => $deal->getId() ); ?>
							<div class="ui-block-b">
                            <?php if($_product->getLinkUrl() == ''): ?>   
                                <?php if($_product->isSaleable() && $deal->getCanPurchase() && !$this->hasOptions()){ ?>
                                    <a  href="<?php echo $this->getBuyUrl($_product,$params) ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                        <span class="ui-btn-inner ui-btn-corner-all buynow">
                                            <span class="ui-btn-text buynow">Buy now!</span>
                                        </span>
                                    </a>
                                <?php }else{ ?>	
                                    <a  href="#" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                        <span class="ui-btn-inner ui-btn-corner-all buynow">
                                            <span class="ui-btn-text buynow">Buy now!</span>
                                        </span>
                                    </a>							
                                <?php } ?>
                                
                            <?php else: ?>
                                <a  href="<?php echo $_product->getLinkUrl() ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                    <span class="ui-btn-inner ui-btn-corner-all buynow">
                                        <span class="ui-btn-text buynow">View now!</span>
                                    </span>
                                </a>     
                            <?php endif; ?>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>	
		</li>
			<?php } ?>
	<?php endforeach; ?>		
	</ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
	
<?php } ?>
