<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct(); ?>


<?php $_deal = $this->getDeal(); ?>
<?php $dealHelper = $this->helper('dailydeals/cart'); ?>
<?php $dateNow = date("Y-m-d H:i:s", Mage::getModel('core/date')->timestamp(time())); ?>
<?php if($_deal->getApproved() == 1 && strtotime($_product->getDealToDate()) >= strtotime($dateNow) && strtotime($_product->getDealFromDate()) <= strtotime($dateNow)): ?>
    <?php $running = true; ?>
<?php endif; ?>

<?php if($_product->getFactoryFastId() != '' && $_product->getMerchantId() == Ikoala_Catalog_Model_Observer::FACT_FAST_ID && $running == true): ?>
    <?php $class = 'deal-custom-option-fact-fast'; ?>
<?php endif; ?>
<?php $localDeal = false; ?>
<?php if($_product->getLinkUrl() != ''){ 
        $localDeal = true;
}?>
<div class="deal-main">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    <div class="daily-deal">
        <div class="deals">
            <div class="deal-img">
                <?php echo $this->getChildHtml('media'); ?>
            </div>
            <ul class="deal-detail">
                <li>
                  <h2><?php echo $_product->getDealName(); ?></h2>
                </li>
                <li>
                  <p><?php echo $_product->getName(); ?></p>
                </li>
                <li class="deal-price ">  
                  <?php echo $_coreHelper->currency($_product->getSpecialPrice(),true,false) ?>
                </li>
                </li>
                    <?php if($_product->getPostage() > 0): ?>
                <li class="mobile-postage"><?php echo $this->__('Postage: ')."".$_coreHelper->currency($_product->getPostage(),0,0); ?></li>
            <?php endif; ?>
            </ul>
            <div class="deal-links">
                <?php if($running == true): ?>
                    <div id="buy-button-container" class="buy-now-active auth-required ui-block-c">	
                        <?php $params = array( 'deal' => $_deal->getId() ); ?>		
                        
                        <?php if($_product->getLinkUrl() == ''): ?>
                            <?php if($_product->isSaleable() && $_deal->getCanPurchase() && !$this->hasOptions()){ ?>				
                            <a href="<?php echo $dealHelper->getBuyUrl($_product,$params) ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                <span class="ui-btn-inner ui-btn-corner-all buynow">
                                    <span class="ui-btn-text buynow">Buy now!</span>
                                </span>
                            </a>
                            <?php }else{ ?>
                            <button onclick="productAddToCartForm.submit(this)" class="custom-ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                <span class="ui-btn-inner ui-btn-corner-all buynow">
                                    <span class="ui-btn-text buynow">Buy now!</span>
                                </span>
                            </button>							
                            <?php } ?>
                        <?php else: ?>
                            <a href="<?php echo $_product->getLinkUrl() ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                                <span class="ui-btn-inner ui-btn-corner-all buynow">
                                    <span class="ui-btn-text buynow">View now!</span>
                                </span>
                            </a>
                        <?php endif; ?>
                            
                        
                    </div>
                <?php else: ?>
                    <div class="mob-sold-out">
                        <?php echo $this->__('Sorry,Sold Out!') ?>
                    </div>
                <?php endif; ?>
            </div>	
            
            <ul class="deal-meta">
            <li>
                <?php echo $this->getDealValue(); ?>
                <span>value</span>
            </li>
            <li>
                <?php echo $this->getDealDiscount(); ?>  
                <span>discount</span>
            </li>
            <li>
              <span id="deal-countdown" class="time-remaining"><?php echo $this->getDealSaving(); ?></span>
              <span>you save</span>
            </li>
        </ul>
        
        <?php if ($_product->isSaleable() && $this->hasOptions()){ ?>	
            <div class="deal-custom-option <?php echo $class; ?>">
            <h2>Product Options</h2>	
            <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container1') ):?>
                <div class="options-container-small">
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                </div>
            <?php endif;?>  
            <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container2') ):?>
                <div class="options-container-small">
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                </div>
            <?php endif;?>	
            </div>
            
            <?php $params = array( 'deal' => $_deal->getId() ); ?>		
                <?php if($running == true): ?>
                    
                    <?php if($_product->getLinkUrl() == ''): ?>
                        <?php if($_product->isSaleable() && $_deal->getCanPurchase() && !$this->hasOptions()){ ?>				
                        <a href="<?php echo $dealHelper->getBuyUrl($_product,$params) ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                            <span class="ui-btn-inner ui-btn-corner-all buynow">
                                <span class="ui-btn-text buynow">Buy now!</span>
                            </span>
                        </a>
                        <?php }else{ ?>
                        <button onclick="productAddToCartForm.submit(this)" class="custom-ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                            <span class="ui-btn-inner ui-btn-corner-all buynow">
                                <span class="ui-btn-text buynow">Buy now!</span>
                            </span>
                        </button>							
                        <?php } ?>
                <?php else: ?>
                    <a href="<?php echo $_product->getLinkUrl() ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                        <span class="ui-btn-inner ui-btn-corner-all buynow">
                            <span class="ui-btn-text buynow">View now!</span>
                        </span>
                    </a>
                <?php endif; ?>
                
            <?php endif; ?>
        <?php } ?>
            
            <div class="deal-description deal-info">
                <h2 class="deal-header">Description</h2>
                <?php if($localDeal != true): ?>
                    <div class="info-container"><p><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getDescription(), 'description'); ?></p></div>
                <?php else: ?>
                    <div class="info-container"><p><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('local_deals_conditions')->toHtml() ?></p></div>
                <?php endif; ?>
            </div>
            
                <!-- Share Icons -->
            <div class="share">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fd9c4de119acdc6"></script>
                <!-- AddThis Button END -->
            </div>
            
            <?php if($localDeal != true): ?>
                <div class="fine-print deal-info">
                    <h2 class="deal-header"><?php echo $this->__('The Fine Print') ?></h2>
                    <div class="info-container"><p><?php echo $_product->getDealFineprint(); ?></p></div>
                </div>
                    
                <div class="deal-highlights deal-info">
                    <h2 class="deal-header"><?php echo $this->__('Highlights') ?></h2>
                    <div class="info-container"><p><?php echo $_product->getDealHighlight(); ?></p></div>
                </div>
            <?php endif; ?>
            
            <?php if($running == true): ?>
                <?php $params = array( 'deal' => $_deal->getId() ); ?>		
                    
                <?php if($_product->getLinkUrl() == ''): ?>    
                    <?php if($_product->isSaleable() && $_deal->getCanPurchase() && !$this->hasOptions()){ ?>				
                        <a href="<?php echo $dealHelper->getBuyUrl($_product,$params) ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                            <span class="ui-btn-inner ui-btn-corner-all buynow">
                                <span class="ui-btn-text buynow">Buy now!</span>
                            </span>
                        </a>
                        <?php }else{ ?>
                        <button onclick="productAddToCartForm.submit(this)" class="custom-ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                            <span class="ui-btn-inner ui-btn-corner-all buynow">
                                <span class="ui-btn-text buynow">Buy now!</span>
                            </span>
                        </button>							
                    <?php } ?>
                <?php else: ?>
                    <a href="<?php echo $_product->getLinkUrl() ?>" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
                        <span class="ui-btn-inner ui-btn-corner-all buynow">
                            <span class="ui-btn-text buynow">View now!</span>
                        </span>
                    </a>
                <?php endif; ?>
                
                
            <?php endif; ?>
                        
                    
        </div>

        
        <!--	<div class="merchant-info deal-info">
            <h2 class="deal-header"><?php echo $this->__('Location') ?></h2>
            <p><?php echo $_product->getDealLocation(); ?></p>
        </div>

        
        <div class="merchant-info-map">
            <h2>Map</h2>
            <p><?php // echo $_product->getDealLocationMap(); ?></p>
        </div>
        -->
    </div>
    </form>
    <?php echo $this->getChildHtml('postage');  ?>
</div>

<script type="text/javascript">
//<![CDATA[

     var factfastForm = new VarienForm('factfast-form');

    Validation.add('validate-postage','Invalid Postage',function(the_field_value){
        if(the_field_value == 'Estimate Delivery Cost'){
            return false;
        }
        return true;
    });

    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
               form.action = url;
            }
            var e = null;
            try {
                var transformValue = {};

                if ( Modernizr.csstransforms3d ) {
                    transformValue[Modernizr.prefixed('transform')] = 'translate3d(-82px, -106px, 2px) scale(0) rotate(200deg)';
                } else if ( Modernizr.csstransforms ) {
                    transformValue[Modernizr.prefixed('transform')] = 'translate(-82px, -106px) scale(0) rotate(200deg)';
                } else {
                    this.form.submit();
                    return false;
                }

                var originalImg = $$('.product-image-wrap .product-image img')[0];
                originalImg.up('.product-image-wrap').insert(originalImg.clone().addClassName('cloned'));

                setTimeout(function () {
                    $$('.cloned')[0].setStyle(transformValue);
                }, 1);
                $$('.product-image-wrap .cloned')[0].observe(transEndEventName, function(e) {
                    this.form.submit();
                }.bind(this));

            } catch (e) {
            }
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }

            if (button && button != 'undefined') {
                //button.disabled = true;
            }
        }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function(button, url){
        if(this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);
//]]>
</script>
