<div class="deal_discount clearfix">
	<div class="dealdisc first">
		<span><?php echo $this->__('Value') ?></span>
		<p><?php echo $this->getDealValue(); ?></p>
	</div>
	<div class="dealdisc middle">
		<span><?php echo $this->__('Discount') ?></span>
		<p><?php echo $this->getDealDiscount(); ?></p>
	</div>
	<div class="dealdisc last">
		<span><?php echo $this->__('Save') ?></span>
		<p><?php echo $this->getDealSaving();	?></p>
	</div>
	<div class="clear"></div>
</div>	


<!-- <dl>
			<dt><?php echo $this->__('Value') ?></dt>
			<dd><?php echo $this->getDealValue(); ?></dd>
		</dl>
	</div>
	<div class="dealdisc">
		<dl class="discount">
			<dt><?php echo $this->__('Discount') ?></dt>
			<dd><?php echo $this->getDealDiscount(); ?></dd>
		</dl>
	</div>
	<div class="dealdisc last">
		<dl class="save">
			<dt><?php echo $this->__('You Save') ?></dt>
			<dd><?php echo $this->getDealSaving();	?></dd>
		</dl>
	</div>
	<div class="clear"></div>
</div>	 -->