<?php $_product = $this->getProduct(); ?>

<div class="info">	
	<div class="fineprint">
		<h3><?php echo $this->__('Fineprint') ?></h3>
		<?php echo $_product->getDealFineprint(); ?>
	</div>
	<div class="highlight">
		<h3><?php echo $this->__('Highlights') ?></h3>
		<?php echo $_product->getDealHighlight(); ?>
	</div>
</div>