<?php $_product = $this->getProduct(); ?>
<?php	$galleryCollection = $_product->getMediaGalleryImages(); ?>
<?php if (count($galleryCollection) > 1){ ?>
<div class="product-slider">
	 <div id="slider-ikoala" class="slider">
		<div class="scroller">
			<div class="content">	
				<?php $j=1;?>		
				<?php foreach ($galleryCollection as $_image): ?>
				<div class="sectionslide" id="section<?php echo $j;?>">
					<a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>">
						<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(400,auto); ?>" style="width:400px;height:400px;" />
					</a>
				</div>
				<?php $j++;?>			
				<?php endforeach; ?>
			</div>
		</div>
		<div class="slidercontrolwr">
		<a onClick="my_glider.previous()" id="previous"></a>
			<div class="slidercontrol">
					<?php $i=1;?>
					<?php foreach ($galleryCollection as $_image): ?>
							<a href="#section<?php echo $i;?>">
							&nbsp;
							</a>
					<?php $i++;?>
					<?php endforeach; ?>			
			</div>
		<a onClick="my_glider.next()" id="next"></a>
		</div>	
	</div>
	<script charset="utf-8" type="text/javascript">
		var my_glider = new Glider('slider-ikoala', {duration:0.5, autoGlide: true, frequency: 4, initialSection: 'section1'});   
	</script>
</div>

<?php }else{ ?>

<div class="media">	
	<a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>">
		<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(400,auto); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" style="width:400px;height:auto;" />
	</a>
</div>
<?php } ?>