<div class="share">
	<span class='st_facebook_large' displayText='Facebook' st_url="<?php echo $this->getProduct()->getProductUrl() ?>"></span>
	<span class='st_twitter_large' displayText='Tweet' st_url="<?php echo $this->getProduct()->getProductUrl() ?>"></span>
	<span class='st_googleplus_large' displayText='Google +' st_url="<?php echo $this->getProduct()->getProductUrl() ?>"></span>
	<span class='st_email_large' displayText='Email' st_url="<?php echo $this->getProduct()->getProductUrl() ?>"></span>
</div>

