<?php
    $_product = $this->getProduct();
    $deal = $this->getDeal();   
    $dealId = $deal->getId();
    $productId = $_product->getId(); 
    $galleryCollection = $_product->getMediaGalleryImages(); 

    $j = 1;   
    $_images = '';
    foreach ($galleryCollection as $_image):
        $_images .= '
            <div class="sectionslide" id="section<?php echo $j;?>">
                <a href="#">
                    <img src="'.$this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(200,auto).'" />
                </a>
            </div>';
    $j++;           
    endforeach;
?>


<div class="deal-menutabs">
    <ul class="product-<?php echo $productId; ?>-tabs info-tabs">
        <li id="product_<?php echo $productId; ?>_tabs_whatyouget"  class="first active" >
            <a href="javascript:void(0)"><?php echo $this->__('WHAT YOU GET') ?></a>
        </li>
        <li id="product_<?php echo $productId; ?>_tabs_conditions">
            <a href="javascript:void(0)"><?php echo $this->__('CONDITIONS') ?></a>
        </li>
        <li id="product_<?php echo $productId; ?>_tabs_company">
            <a href="javascript:void(0)"><?php echo $this->__('THE COMPANY') ?></a>
        </li>
        <li id="product_<?php echo $productId; ?>_tabs_reasonstobuy">
            <a href="javascript:void(0)"><?php echo $this->__('REASONS TO BUY') ?></a>
        </li>               
    </ul>
</div>
<div class="product-tabs-content" id="product_<?php echo $productId; ?>_tabs_contents">
    <div id="product_<?php echo $productId; ?>_tabs_whatyouget_contents" class="tab-info">
        <div class="tab-info-text">
            <?php echo $_product->getDealWhatyouget(); ?>
        </div>
        <div class="tab-info-images">
            <?php echo $_images; ?>
        </div>
    </div>      
    <div id="product_<?php echo $productId; ?>_tabs_conditions_contents" class="tab-info">
        <div class="tab-info-text">
            <?php echo $_product->getDealConditions(); ?>
        </div>
        <div class="tab-info-images">
            <?php echo $_images; ?>
        </div>
    </div>
    <div id="product_<?php echo $productId; ?>_tabs_company_contents" class="tab-info">
        <div class="tab-info-text">
            <?php echo $_product->getDealCompany(); ?>
        </div>
        <div class="tab-info-images">
            <?php echo $_images; ?>
        </div>
    </div>  
    <div id="product_<?php echo $productId; ?>_tabs_reasonstobuy_contents" class="tab-info">
        <div class="tab-info-text">
            <?php echo $_product->getDealReasonstobuy(); ?>
        </div>
        <div class="tab-info-images">
            <?php echo $_images; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    new Varien.Tabs('.product-<?php echo $productId; ?>-tabs');
</script>
