<?php 
	$products = $this->getProductCollection();
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
	$deal_count = $products->getSize();
?>
<?php if($deal_count){ ?>	
<?php $_iterator = 0; ?>
	<div class="block side-deals <?php echo $this->getClassName() ?> ">
		<div class="block-title">
			<strong><span><?php echo $this->getBlockTitle() ?></span></strong>
		</div>
		<div class="block-content">
			<ol class="products-list" id="products-list-<?php echo $this->getClassName(); ?>">
				<?php foreach ($products->getItems() as $_product): ?>
				<?php	$productId = $_product->getId();		?>
				<li class="deal_item<?php if( ++$_iterator == $deal_count ): ?> last<?php endif; ?>">
					<div class="side_deal">
						<div class="deal_title">
							<h4>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>">
									<?php echo $_product->getDealName(); ?>
								</a>
							</h4>
						</div>
						<div class="side_deal_info">
							<div class="side_deal_leftcol">
								<div class="side_deal_price_tag">
								  <div class="side_deal_price_tag_inner">
									<div class="amount">
										<span><?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false) ?></span>
									</div>
									<div class="actual_amount">
										<span><?php echo $_coreHelper->currency($_product->getPrice(),true,false) ?>&nbsp;<?php echo $this->__('value') ?></span>
									</div>
								  </div>
								  <button type="button" class="deal_btn_buy" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
									<span><?php echo $this->__('View') ?></span>
								  </button>		
								</div>
							</div>
							<div class="side_deal_rightcol">
								<?php // Product Image ?>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(115,74); ?>" width="115" height="74" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</li>
				<?php endforeach; ?>		
			</ol>
		</div>
		<script type="text/javascript">decorateList('products-list-<?php echo $this->getClassName(); ?>', 'none-recursive')</script>
	</div>
<?php } ?>	