<?php if(count($this->getGroups())>1): ?>
<div class="city-switcher">


	<div class="select-city" id="citymenu" onmouseout="toggleMenu(this,0)" onmouseover="toggleMenu(this,1)">
				<?php foreach ($this->getGroups() as $_group): ?>
					<?php if($_group->getId()==$this->getCurrentGroupId()): ?>
       					<a href="#" class="selected-city">
							<span><?php echo $this->htmlEscape($_group->getName()) ?></span>
						</a>
						

					<?php endif; ?>
		        <?php endforeach; ?>
            	<ul class="citymenu">
					<?php foreach ($this->getGroups() as $_group): ?>
			                <li><a href="<?php echo $_group->getHomeUrl() ?>"><?php echo $this->htmlEscape($_group->getName()) ?></a></li>
			        <?php endforeach; ?>
             	</ul>
   </div>

</div>
<?php endif; ?>


<script type="text/javascript">

function toggleMenu(el, over)
{
    if (over) {
        Element.addClassName(el, 'over');
    }
    else {
        Element.removeClassName(el, 'over');
    }
}

</script>
