    <form action="<?php echo $this->getFormActionUrl() ?>" id="groupdeals-subscriptions" method="post">
        <div class="slt">
        
			<div class="city">
				<select name="city" title="<?php echo $this->__('Select City') ?>">
				<?php foreach ($this->getGroups() as $_group): ?>
					<?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
					<option value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
				<?php endforeach; ?>
				</select>
                <div class="clear"></div>
			</div>

			 <div class="email">
				<input type="text" name="email" value=" Enter Your Email Address " onfocus="if (this.value == ' Enter Your Email Address ') {this.value = '';} else{fun(this)}" onblur="if (this.value == '') {this.value = ' Enter Your Email Address ';}" class="email input-text required-entry validate-email">
			</div>
			<div class="go">
				<button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="search"><img src="<?php echo $this->getSkinUrl('images/go.jpg')?>" alt="subscribe"/></button>
			</div>
        </div>
        <h4><?php echo $this->__('Enter to win $1000 worth of deals') ?></h4>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('groupdeals-subscriptions');
    //]]>
    </script>
