<?php
/**
 * Create account form template
 */
?>
<?php echo $this->getChildHtml('form_fields_before')?>
    
<div class="page-title">

<h1><?php echo $this->__('SIGN UP &amp; WIN') ?></h1>

</div>
<div class="clear"></div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(function() 
{  
	$('.error').hide();  
  	$(".button").click(function() 
  	{  
  		var city = $("#city1").val();
  		//alert (terms);
  		if (document.getElementById("terms").checked==false)
  		{
  			alert ('You must agree to the Terms & Conditions and Privacy Policy');
  			return false;
  		}
  		
  		if (city=="")
  		{
  			alert ('Please select your city');
  			return false;
  		}
  		
    // validate and process form here  
      
    	$('.error').hide();  
      	var city = $("#city1").val();  
       
        var email = $("input#email").val();
        if (city != "" && email !="")
        {
      		var dataString = 'city='+ city + '&email=' + email;  
    		//alert (dataString);return false;  
		    $.ajax({  
		      type: "POST",  
		      url: "<?php echo $this->getUrl('groupdeals/product/subscribe') ?>",  
		      data: dataString,  
		    });  
    		return true;  
  		}
	});  
}); 
</script>
<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
 	<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
	<div class="signup-create">
		<div class="sign-up">
			<h2>Sign up for <span>FREE</span> & you can win <b>$1000</b> <br />
			worth of ikoala deals!</h2>
		</div>
		<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
		<div class="just-fill">
		
			<h5>Just fill in this quick form:</h5>
		</div>
		<div class="clear"></div>
		<div class="form1">
			<div class="top"></div>
			<div class="mid" style=""><!-- padding-left:120px; -->
			
				<div class="leftpart1">
					<label>First Name<strong>*</strong></label>
					<br />
					<div class="inputboxsign">
						 <input type="text" id="firstname" name="firstname" value="" title="First Name" class="input-text required-entry"  />
					</div>
					<label>Last Name<strong>*</strong></label>
					<br />
					<div class="inputboxsign">
						<input type="text" id="lastname" name="lastname" value="" title="Last Name" class="input-text required-entry"  />
					</div>
					<label>Email Address<strong>*</strong></label>
					<br />
					<div class="inputboxsign">
						<input type="text" name="email" id="email" value="" title="Email Address" class="input-text validate-email required-entry" />
					</div>
				</div>
				<div class="rgtpart1">
					<label>Password<strong>*</strong></label>
					<br />
					<div class="inputboxsign">
						<input type="password" name="password" id="password" title="Password" class="input-text required-entry validate-password" />
					</div>
					<label>Confirm Password<strong>*</strong></label>
					<br />
					<div class="inputboxsign">
						<input type="password" name="confirmation" title="Confirm Password" id="confirmation" class="input-text required-entry validate-cpassword" />
					</div>
					<label>Choose your city<strong>*</strong></label>
					<br />
					
					<?php 
				     	$current = 40;
						$category = Mage::getModel('catalog/category')->load($current);
						$children = $category->getChildren();
						$children = explode(",",$children);
						
						if (strlen($children[0]) > 0)
						{
						    foreach($children as $child)
						    {
						        $_child = Mage::getModel('catalog/category')->load($child);
						        $optionarray[] = $_child->getName();    
						        
						    }
						}
						sort($optionarray);
						foreach ($optionarray as $value)
						{
							$option.="<option value='$value'>$value</option>";
						}
						
					?>
					
					<div class="inputboxsign">
						<select id="city1" title="city" name="city" style="margin-top:0px; height:34px; color:#6E777F; font-size: 14px; width:315px; padding-top:5px;">
							<option selected="selected" value="">Choose your city</option>
              <option value="Sydney">Sydney</option>
							<?php echo $option ?>
						</select>
					</div>
					
					
				</div>
				<div class="clear"></div>
				<p style="margin-left:20px; "><input  title="Terms and Conditions" id="terms" name="terms" type="checkbox"><label style="padding-left:10px;">I agree to the <a href="/terms_conditions" target="_blank">Terms & Conditions</a> and <a href="/privacy_policy" target="_blank">Privacy Policy</a></label> </p>
				<span class="signup-btn-container"><input type="submit" class="button" title="<?php echo $this->__('Login') ?>" value="" name="send" id=""/></span><!-- send2 -->
			
			</div>
			<div class="bot"></div>
		</div>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    <?php if($this->getShowAddressFields()): ?>
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    <?php endif; ?>
//]]>
</script>