<?php
$footer_block_ids = array('footer_company_info',
                          'footer_ikoala',
                          'footer_follow_us',
                          'footer_get_in_touch');
?>
<div class="footer-container">
  <div class="footer">
    <div class="footer-blocks">
<?php foreach ($footer_block_ids as $footer_block_id): ?>
      <div id="<?php echo $footer_block_id ?>">
        <?php echo $this->getChildHtml($footer_block_id); ?>
      </div>
<?php endforeach; ?>
    </div>
    <div class="footer-end-items">
      <div id="social-media-links">
        <ul>
          <li><p><a href="https://www.facebook.com/pages/Ikoalacomau/105494469524646"><img src="<?php echo $this->getSkinUrl('images/social-media-facebook.png') ?>" height="25" width="25"/> Facebook</a></p></li>
          <li><p><a href="https://twitter.com/ikOalaEveryday"><img src="<?php echo $this->getSkinUrl('images/social-media-twitter.png') ?>" height="21" width="25"/> Twitter</a></p></li>
        </ul>
      </div>
      <div class="copyright">
        <p><?php echo $this->getCopyright() ?></p>
      </div>
      <div id="financial-badges">
        <div id="badge-wrapper">
          <div id="cc-badges">
            <ul><?php foreach (array('visa', 'mastercard', 'amex', 'paypal') as $badge): ?>
              <li><img src="<?php echo $this->getSkinUrl("images/cc-badge-$badge.jpg"); ?>"/></li>
            <?php endforeach ?></ul>
          </div>
          <div id="ssl-seal">
            <img src="<?php echo $this->getSkinUrl('images/badge-rapidssl.gif') ?>" height="50" width="90"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

