<div class="header-container">
  <div class="header">
    <div class="branding">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
            <?php echo $this->getChildHtml('headerCallout') ?>
      <div id="header-deal-notice"><img src="<?php echo $this->getSkinUrl('images/header-home-deals.jpg') ?>"/></div>
      <div id="header-signup-button"><p><a href="<?php echo Mage::helper('customer')->getLoginUrl() ?>">SIGN UP HERE</a></p></div>
    </div>
  </div>
    <?php echo $this->getChildHtml('topMenu') ?>
    <?php echo $this->getChildHtml('topContainer') ?>
</div>
