<?php 
$_menu = $this->getHtml();
if($_menu):
?>
<div class="nav-container">
    <ul id="nav">
        <?php echo $_menu ?>
        <?php echo $this->getChildHtml('topLinks') ?>
    </ul>
</div>
<?php endif ?>
