<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <div class="bg-menu">
            <div class="bg-top-nav">
               <div class="bg-body-leaves">
                    <?php echo $this->getChildHtml('header') ?>
                    <?php echo $this->getChildHtml('global_messages') ?>
                    <?php echo $this->getChildHtml('breadcrumbsContainer') ?>
                    <div class="main col2-right-layout">
                        <?php echo $this->getChildHtml('customer_dashboard_title') ?>
                        <div class="clear"></div>
                        <div class="myaccount-container">
                            <div class="col-main">
                                <?php echo $this->getChildHtml('content') ?>
                            </div>
                            <div class="col-right sidebar"><?php echo $this->getChildHtml('right') ?></div>
                            <div class="clear"></div>
                        </div>
                        <div class="myaccount-container-bot"></div>
                    </div>
                    <?php echo $this->getChildHtml('footer_before') ?>
                    <?php echo $this->getChildHtml('footer') ?>
                    <?php echo $this->getChildHtml('before_body_end') ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>