<?php echo $this->getChildHtml('review_form') ?>
<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php if (count($_items)):?>
        <h2><?php echo $this->__('Customer Reviews') ?></h2>
        <dl>
		
        <?php $i=1;foreach ($_items as $_review):?>
			<div class="reviews">
			<dt>
				<div class="review_no"><?php echo $i." .";?>
					<strong><?php echo $this->__('Review by <span>%s</span>', $this->htmlEscape($_review->getNickname())) ?></strong>
					<small class="date">
						<?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?>
					</small>
				</div>
			</dt>
            <dd>
                <?php $_votes = $_review->getRatingVotes(); ?>
                <?php if (count($_votes)): ?>
                <table class="ratings-table">
                    <col width="1" />
                    <col />
                    <tbody>
                        <?php foreach ($_votes as $_vote): ?>
                        <tr>
                            <th><?php echo $this->escapeHtml($_vote->getRatingCode()) ?></th>
                            <td>
                                <div class="rating-box">
                                    <div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
                                </div>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <?php endif; ?>
                <?php echo nl2br($this->htmlEscape($_review->getDetail())) ?>
            </dd>
			<dt>
			
			</dt>
			</div>
		<?php $i++; ?>	
        <?php endforeach; ?>
        </dl>
    <?php endif;?>
</div>