<?php
	$deal = $this->getDeal();
?>
<div class="bought">
		<?php			
			$sold_count = $deal->getSoldCount() + $deal->getDummyCount();
		?>
				<p class="tipping-on">
					<?php echo $this->__('Deal is on with') ?><span class="number"><?php echo $sold_count ?></span> <?php echo $this->__('bought') ?>
				</p>

</div>