<?php
	$deal = $this->getDeal();
	$_product = $this->getProduct();	
?>

<div class="gift_a_deal">
  <?php 
	  $friendparams = array( 
		'deal' => $deal->getDealId(),
		'friend' => true 
	  ); 
  ?>

  <a class="icon_gift for_friend" href="<?php echo $this->getBuyUrl($_product,$friendparams) ?>"><?php echo $this->__('Buy it for a friend!') ?> </a>
</div>