<?php
    $_product = $this->getProduct();
    $deal = $this->getDeal();   
    $dealId = $deal->getId();
    $productId = $_product->getId(); 
    $galleryCollection = $_product->getMediaGalleryImages(); 
    $merchant_id = $_product->getMerchantId();
    $merchant = Mage::getModel('dailydeals/merchant')->load($merchant_id, 'merchant_id');
    $exl_merchant = array("NFS001",
                        "NFS002",
                        "SST001",
                        "360SUPCHA",
                        "REASHE001");
    $merchantName = $merchant->getMerchantName();
    $exlCondition = false;
    if(in_array($merchantName,$exl_merchant)){
        $exlCondition = true;
    }
    
    $localDeal = '';

        $j = 1;   
        $_images = '';
        
        if($_product->getAttributeSetId() != 10): /* refactor this section - get only base image for localdeals */ 
            foreach ($galleryCollection as $_image):
                $_images .= "
                    <div class=\"sectionslide\" id=\"section<?php echo $j;?>\">
                        <a href=\"#\" onclick=\"popWin('".$_image->getUrl()."', 'gallery', 'width=1024,height=768,left=450,top=150,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;\" title=\"".$this->escapeHtml($_image->getLabel())."\">
                            <img class=\"lazymedia\" data-original=\"".$this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(200,null)."\" src=\"".$this->getSkinUrl('images/grey.gif')."\" alt='".$this->getProduct()->getName()."'/>
                        </a>
                    </div>";
            $j++;           
            endforeach;
        else:
            $_images .= "
                    <div class=\"sectionslide\" id=\"section<?php echo $j;?>\">
                        <a href=\"#\">
                            <img class=\"lazymedia\" data-original=\"".$this->helper('catalog/image')->init($this->getProduct(), 'image')->keepFrame(false)->resize(200,null)."\" src=\"".$this->getSkinUrl('images/grey.gif')."\" alt='".$this->getProduct()->getName()."'/>
                        </a>
                    </div>";
        endif; 

?>





<?php if($_product->getLinkUrl() != ''){ 
        $localDeal = true;
}?>

<div class="inner-tabs">

<div class="deal-menutabs">
    <ul class="product-<?php echo $productId; ?>-tabs info-tabs resp-tabs-list">
        <?php if($localDeal != true): ?>
            <li id="product_<?php echo $productId; ?>_tabs_whatyouget"  class="first active" >
                <a href="javascript:void(0)"><?php echo $this->__('WHAT YOU GET') ?></a>
            </li>
        <?php endif; ?>
        <li id="product_<?php echo $productId; ?>_tabs_conditions">
            <a href="javascript:void(0)"><?php echo $this->__('CONDITIONS') ?></a>
        </li>
        
        <?php if($_product->getMerchantVisibleInFrontend() == 1): ?>
            <li id="product_<?php echo $productId; ?>_tabs_company">
                <a href="javascript:void(0)"><?php echo $this->__('THE COMPANY') ?></a>
            </li>
        <?php endif; ?>
        <?php if($localDeal != true): ?>
            <li id="product_<?php echo $productId; ?>_tabs_reasonstobuy">
                <a href="javascript:void(0)"><?php echo $this->__('REASONS TO BUY') ?></a>
            </li>               
        <?php endif; ?>
    </ul>
</div>
<div class="product-tabs-content resp-tabs-container" id="product_<?php echo $productId; ?>_tabs_contents">
    <?php if($localDeal != true): ?> 
        <div id="product_<?php echo $productId; ?>_tabs_whatyouget_contents" class="tab-info">
            <div class="tab-info-text">
                <?php echo preg_replace('/[^(\x20-\x7F)]*/','',$_product->getDescription()); ?>
            </div>
            <div class="tab-info-images">
                <?php echo $_images; ?>
            </div>
        </div>      
    <?php endif; ?>
    <div id="product_<?php echo $productId; ?>_tabs_conditions_contents" class="tab-info">
        <div class="tab-info-text">
            <?php if($exlCondition == true): ?>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('conditions_tab_exc')->toHtml() ?>
            <?php elseif($localDeal != true): ?>
                <?php echo $_product->getDealFineprint(); ?>
            <?php else: ?>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('local_deals_conditions')->toHtml() ?>
            <?php endif; ?>
        </div>
        <div class="tab-info-images">
            <?php echo $_images; ?>
        </div>
    </div> 
    <?php if($_product->getMerchantVisibleInFrontend() == 1): ?>
        <div id="product_<?php echo $productId; ?>_tabs_company_contents" class="tab-info">
            <div class="tab-info-text">
                <p><?php echo $merchant->getMerchantName(); ?></p>
                <p><?php echo $_product->getDealMerchantDescription(); ?></p>
            </div>
            <div class="tab-info-images">
                <?php echo $_images; ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if($localDeal != true): ?>  
        <div id="product_<?php echo $productId; ?>_tabs_reasonstobuy_contents" class="tab-info">
            <div class="tab-info-text">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('deal_reasons')->toHtml() ?>
            </div>
            <div class="tab-info-images">
                <?php echo $_images; ?>
            </div>
        </div>
    <?php endif; ?>
</div>
</div>


<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/easyResponsiveTabs.js')?>"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.inner-tabs').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
		
        
    });
</script>

<script type="text/javascript">
    new Varien.Tabs('.product-<?php echo $productId; ?>-tabs');
    jQuery(document).ready(function() {
        jQuery("img.lazymedia").lazyload({ effect : "show" });
   });
</script>




