<?php
	$deal = $this->getDeal();
	$sold_count = $deal->getSoldCount() + $deal->getDummyCount();
?>

<?php if($deal->getTargetCount()){ ?>
<div class="bought">
		<?php			
			$target_count = $deal->getTargetCount();
			$remaining_count = $target_count - $sold_count;
			
			$tipping_point_pos = $sold_count*187/$target_count;
			if($tipping_point_pos > 187) {
				$tipping_point_pos = 187;
			}
		?>   
		
        <div class="num-bought">
			<h3><?php echo $sold_count; ?>	<?php echo $this->__('DEALS SOLD') ?></h3>
		</div>
</div>
<?php }else{ ?>
<div class="bought">
	<div class="num-bought">
		<h3><?php echo $sold_count; ?>	<?php echo $this->__('DEALS SOLD') ?></h3>
	</div>
</div>
<?php } ?>
