<?php
	if(strlen($this->getDealSaving()) == 7){
		$padding = 'style="padding: 10px 10px !important;"';
	} elseif (strlen($this->getDealSaving()) == 9) {
		$padding = 'style="padding: 10px 5px !important;"';
	} else {
		$padding = '';
	}
?>
<div class="leftfly"></div>
<ul>
	<li <?php echo $padding; ?>>
		<?php echo $this->__('Value') ?>
		<span><?php echo $this->getDealValue(); ?></span>
	</li>
	<li>
		<?php echo $this->__('Discount') ?>
		<span><?php echo $this->getDealDiscount(); ?></span>
	</li>
	<li class="paddm" <?php echo $padding; ?>>
		<?php echo $this->__('Save') ?>
		<span><?php echo $this->getDealSaving(); ?></span>
	</li>
</ul>