<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
	$galleryCollection = $_product->getMediaGalleryImages();
?>


<div class="product">
	
    
<div class="slider" id="2nd-slider">
    <div class="scroller">
        <div class="content">
             <?php $j=1;?>		
                <?php foreach ($galleryCollection as $_image): ?>
                <div class="sectionslide" id="section<?php echo $j;?>">
                    <a href="#" onclick="popWin('<?php echo $_image->getUrl() ?>', 'gallery', 'width=1024,height=768,left=450,top=150,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(482,285); ?>" alt="<?php echo $_product->getName() ?>" />
                    </a>
                </div>
                <?php $j++;?>			
                <?php endforeach; ?>
        </div>
    </div>
    
    <div class="slidercontrolwr">
        <a onClick="my_glider.previous()" id="previous"></a>
        <div class="slidercontrol">
            <?php for($i=1; $i<$j; $i++):?>
                <a href="#section<?php echo $i;?>">&nbsp;</a>
            <?php endfor; ?>			
        </div>
        <a onClick="my_glider.next()" id="next"></a>
    </div>
</div>
    
    
	<?php if (count($galleryCollection) > 0): ?>
		<div class="item">
			<ul>
				<?php foreach ($galleryCollection as $_image): ?>
					<li>
						<a onclick="popWin('<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()) ?>', 'gallery', 'width=700,height=700,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" ><img onMouseover="changeMySrc('<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(500, 285) ?>')" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(110,110); ?>" width="110px" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
					</li>
					<?php if (++$i == 4) break; ?>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php endif; ?>
	<div class="clear"></div>
</div>

 
     
	<script charset="utf-8" type="text/javascript">
		var my_glider = new Glider('2nd-slider', {duration:0.5, autoGlide: true, frequency: 4, initialSection: 'section1'});   
	</script>
