<?php
	$_product = $this->getProduct();
	$deal = $this->getDeal();	
	$dealId = $deal->getId();
	$productId = $_product->getId(); 
?>
<?php
	$enable_googlemap_geocoding = Mage::getStoreConfig('dailydeals/googlemap/geocoder_enable');
	if($enable_googlemap_geocoding){
?>
<script type="text/javascript">

    var map<?php echo "_".$_product->getId(); ?> = null;
    var geocoder<?php echo "_".$_product->getId(); ?> = null;

    function initialize<?php echo "_".$_product->getId(); ?>(mapcanvas) {
      if (GBrowserIsCompatible()) {
        map<?php echo "_".$_product->getId(); ?> = new GMap2(document.getElementById(mapcanvas));
        map<?php echo "_".$_product->getId(); ?>.setCenter(new GLatLng(37.4419, -122.1419), 13);
        geocoder<?php echo "_".$_product->getId(); ?> = new GClientGeocoder();
		
		// Select a map type which supports aerial imagery
		map<?php echo "_".$_product->getId(); ?>.setMapType(G_NORMAL_MAP);
		map<?php echo "_".$_product->getId(); ?>.setUIToDefault();

		// Enable the additional map types within
		// the map type collection
		map<?php echo "_".$_product->getId(); ?>.enableRotation();	


		// map.openInfoWindow(map.getCenter(), document.createTextNode(address));		
      }
    }

    function showAddress<?php echo "_".$_product->getId(); ?>(address) {
      if (geocoder<?php echo "_".$_product->getId(); ?>) {
        geocoder<?php echo "_".$_product->getId(); ?>.getLatLng(
          address,
          function(point) {
            if (!point) {
              // alert(address + " not found");
            } else {
              map<?php echo "_".$_product->getId(); ?>.setCenter(point, 13);
              var marker = new GMarker(point);
              map<?php echo "_".$_product->getId(); ?>.addOverlay(marker);

              // As this is user-generated content, we display it as
              // text rather than HTML to reduce XSS vulnerabilities.
              // marker.openInfoWindow(document.createTextNode(address));
            }
          }
        );
      }
    }
</script>
<?php
		}
?>
	<div class="deal-tabs">
		<ul class="product-<?php echo $productId; ?>-tabs info-tabs">
			<li id="product_<?php echo $productId; ?>_tabs_description"  class="first active" >
				<a href="javascript:void(0)"><?php echo $this->__('Description') ?></a>
			</li>
			<li id="product_<?php echo $productId; ?>_tabs_location">
				<a href="javascript:void(0)"><?php echo $this->__('Location') ?></a>
			</li>
			<li id="product_<?php echo $productId; ?>_tabs_reviews">
				<a href="javascript:void(0)"><?php echo $this->__('Reviews') ?></a>
			</li>			
		</ul>
		<div class="product-tabs-content" id="product_<?php echo $productId; ?>_tabs_contents">
			<div id="product_<?php echo $productId; ?>_tabs_description_contents">
				<?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getDescription(), 'description'); ?>
			</div>		
			<div id="product_<?php echo $productId; ?>_tabs_location_contents">
				<div class="deal_location">
					<h4><?php echo $this->__('Deal address') ?></h4>
					<?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getDealLocation(), 'deal_location'); ?>
				</div>
				<?php
					if($enable_googlemap_geocoding){
				?>
					<div class="deal_location_map" id="<?php echo "deal_map_".$_product->getId(); ?>" style="width:400px;height:300px;">
					</div>
					<script type="text/javascript">					
						var address<?php echo "_".$_product->getId(); ?> = "<?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getDealLocationMap(), 'deal_location_map'); ?>";
						var mapcanvas<?php echo "_".$_product->getId(); ?> = "<?php echo 'deal_map_'.$_product->getId(); ?>";
						initialize<?php echo "_".$_product->getId(); ?>(mapcanvas<?php echo "_".$_product->getId(); ?>);
						showAddress<?php echo "_".$_product->getId(); ?>(address<?php echo "_".$_product->getId(); ?>);					
					</script>				
				
				<?php }else{ ?>
					<div class="deal_location_map">
						<?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getDealLocationMap(), 'deal_location_map'); ?>
					</div>				
				<?php } ?>

				<div class="clear"></div>
			</div>
			<div id="product_<?php echo $productId; ?>_tabs_reviews_contents">
				<?php 
				if ((bool) Mage::getStoreConfig('fb/fbcomments/statefb') ) {				
					echo  $this->getLayout()->createBlock('fbcomments/fbcomments','product.fbreviews')
							->setProductUrl($_product->getProductUrl())
							->setProductKey($_product->getUrlKey())
							->setProductId($_product->getId())
							->setProductTitle($_product->getDealName())
							->toHtml();
				}else{
				?>
				<div class="product-collateral">	
				<?php 
					echo  $this->getLayout()->createBlock('dailydeals/review_view_list','product.reviews')
							->setTemplate('dailydeals/reviews/list.phtml')
							->setProductId($productId)
							->toHtml();
							
					echo  $this->getLayout()->createBlock('dailydeals/review_view_form','product.reviews.form')
							->setTemplate('dailydeals/reviews/form.phtml')
							->setProductId($productId)
							->toHtml();							
							
				?>
				</div>				
				<?php
				}
				?>

			</div>						
		</div>
	</div>
	<script type="text/javascript">
		new Varien.Tabs('.product-<?php echo $productId; ?>-tabs');
	</script>