<?php 
	$_product = $this->getProduct();
    $deal = $this->getDeal();   
    $dealId = $deal->getId();
    $productId = $_product->getId();
	$merchant_id = $_product->getMerchantId();
	$merchant = Mage::getModel('dailydeals/merchant')->load($merchant_id, 'merchant_id');
?>
<ul id="dealtabs" class="shadetabs">
	<li><a rel="dealtab1" class="selected">Deal Info</a></li>
	<li><a rel="dealtab2">What you get</a></li>
	<li><a rel="dealtab3">why buy?</a></li>
	<li><a rel="dealtab4" style="border-bottom:none!important; border-radius: 0 0 0 4px;">Conditions</a></li>
</ul>
<div class="tab">
	<div id="dealtab1" class="tabcontent">
		<div class="tabcontent_scrol">
			<?php echo $_product->getShortDescription(); ?>
		</div>
	</div>
	<div id="dealtab2" class="tabcontent">
		<div class="tabcontent_scrol">
			<?php echo $_product->getDescription(); ?>
		</div>
	</div>
	<div id="dealtab3" class="tabcontent">
		<div class="tabcontent_scrol">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_reasonstobuy_upper')->toHtml(); ?>
		</div>
	</div>
	<div id="dealtab4" class="tabcontent">
		<div class="tabcontent_scrol">
			<?php echo $_product->getDealFineprint(); ?>
		</div>
	</div>
</div>
<script type="text/javascript">
	var countries=new ddtabcontent("dealtabs")
	countries.setpersist(true)
	countries.setselectedClassTarget("link") //"link" or "linkparent"
	countries.init()
</script>
<div class="clear"></div>
