<?php

$systemtimezone = Mage::app()->getStore()->getConfig('general/locale/timezone');
$timezone = new DateTimeZone($systemtimezone);
$offset = $timezone->getOffset(new DateTime("now"));


?>
	<?php
		$_deal = $this->getDeal();
		$hours = Mage::getStoreConfig('dailydeals/general/start_time');
		$lead_time = $hours*60*60;
		$targetDate  = $_deal->getDateTo();
		$my_time = strtotime($targetDate) + $lead_time;
	?>			
		
		
		<!-- <div class="timer">05<img src="<?php echo $this->getSkinUrl('images/timerbtn.jpg'); ?>" /><p>HOURS</p></div>
		<div class="timer">15<img src="<?php echo $this->getSkinUrl('images/timerbtn.jpg'); ?>" /><p>MINUTES</p></div>
		<div class="timer">25<p>SECONDS</p></div> -->

		<div class="timercontainer" id="cdcontainer_<?php echo $_deal->getDealId(); ?>"></div>

		<!-- <div class="timercontainer" id="cdcontainer_857"><span class="days">111</span><span class="days-text">days </span><ul class="time"><li class="date">20<span>hours</span></li><li><img src="/skin/frontend/enterprise/2nddeal_theme/images/timedot.gif" alt="time"></li><li class="date">02<span>minutes</span></li><li><img src="/skin/frontend/enterprise/2nddeal_theme/images/timedot.gif" alt="time"></li><li class="date">08<span>seconds</span></li></ul></div> -->
		<script type="text/javascript">					

			var dealActiveUntil = new Date();
			dealActiveUntil.setTime(<?php echo $my_time*1000; ?>);
			var serverNow = new Date();
			serverNow.setSeconds(serverNow.getSeconds() + <?php echo $offset ?>);
			var launchdate_<?php echo $_deal->getDealId(); ?>=new cdLocalTime("cdcontainer_<?php echo $_deal->getDealId(); ?>", "server-php", 0, dealActiveUntil.toString(), serverNow.toUTCString());
			// launchdate_<?php echo $_deal->getDealId(); ?>.displaycountdown("days", formatresults3); --> turned days to hours, displayed none the days text and days holder
			launchdate_<?php echo $_deal->getDealId(); ?>.displaycountdown("days", formatresults3);
		</script>