<?php
	$deal = $this->getDeal();

if($deal->getTargetCount()){
	$stock_text = $this->__('IN STOCK').'<br />
					<span>'.$this->__('This Deal is On').'<img src="'.$this->getSkinUrl('images/thumb.png').'" alt="deal on" /></span>';
	$buy_button = '<a onclick="productAddToCartForm.submit(this)">'.$this->__('BUY NOW').'</a>';
} else {
	$stock_text = $this->__('OUT OF STOCK');
	$buy_button = '<a style="pointer-events: none; cursor: default;">'.$this->__('Not available').'</a>';
}

?>

	<h2><?php echo $stock_text; ?></h2>
	<div class="buy">
		<span><?php echo $buy_button; ?></span>
		<div class="followus">
			Share This:
			<a href="http://www.facebook.com/pages/Ikoalacomau/105494469524646" target="_blank"><img src="<?php echo $this->getSkinUrl('images/fb.png')?>" alt="facebook" /></a>
			<a href="https://twitter.com/#!/ikOalaEveryday" target="_blank"><img src="<?php echo $this->getSkinUrl('images/twitter.png')?>" alt="twitter" /></a>            
			<a href="mailto:?subject=<?php echo $_product->getName();?>&body=<?php echo $_product->getProductUrl();?>"><img src="<?php echo $this->getSkinUrl('images/email.png')?>" alt="email" /></a>
		</div>  
	</div>
