<div class="whatonwrap">
    <div class="whaton">
        <div class="left">
            <h2>What is a 2ND$DEAL$? </h2>
            <div class="tabsec">
                <ul id="countrytabs2" class="shadetabs2">
                    <li><a rel="country5" class="selected"><img src="<?php echo $this->getSkinUrl('images/c1.png')?>" alt="arrow" />Factory 2nd</a></li>
                    <li><a rel="country6"><img src="<?php echo $this->getSkinUrl('images/c2.png')?>" alt="arrow" />Packaging damage</a></li>
                    <li><a rel="country7"><img src="<?php echo $this->getSkinUrl('images/c3.png')?>" alt="arrow" />manufacturer refurb</a></li>
                    <li><a rel="country8"><img src="<?php echo $this->getSkinUrl('images/c4.png')?>" alt="arrow" />excess stock</a></li>
                    <li><a rel="country9" style="border-bottom:none!important;"><img src="<?php echo $this->getSkinUrl('images/c5.png')?>" alt="arrow" />Big Bargains</a></li>
                </ul>
                <div class="tab2">
                    <div id="country5" class="tabcontent">
                        <h3>Factory 2nd</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_factory_2nd')->toHtml() ?>
                    </div>
                    <div id="country6" class="tabcontent">
                        <h3>Packaging damage</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_packagingdamage')->toHtml() ?>
                    </div>
                    <div id="country7" class="tabcontent">
                        <h3>manufacturer refurb</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_manufacturer')->toHtml() ?>
                    </div>
                    <div id="country8" class="tabcontent">
                        <h3>excess stock</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_excess_stock')->toHtml() ?>
                    </div>
                    <div id="country9" class="tabcontent">
                        <h3>Big Bargains</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_bigbargains')->toHtml() ?>          
                    </div>
                </div>
                <script type="text/javascript">
                    var countries=new ddtabcontent("countrytabs2")
                    countries.setpersist(true)
                    countries.setselectedClassTarget("link") //"link" or "linkparent"
                    countries.init()
                </script>
            </div>
            <div class="clear"></div>
        </div>
        <div class="right">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_reasonstobuy')->toHtml(); ?>
        </div>
        <div class="clear"></div>
    </div>
</div>