<div class="share">
	<?php $current_url = ''; ?>
	<a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($current_url); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>"><img src="<?php echo $this->getSkinUrl('images/fb1.png')?> " alt="2nddeal" /></a>
	<a href="javascript:popWin('http://twitter.com/share?text=An%20Awesome%20ikOala%20Deal&amp;url=<?php echo urldecode($current_url); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>"><img src="<?php echo $this->getSkinUrl('images/twitter1.png')?>" alt="2nddeal" /></a>
	<a href="#"><img src="<?php echo $this->getSkinUrl('images/email2.png')?>" alt="2nddeal" /></a>
</div>
<div id="topbar" class="call_us"  style="visibility: visible; right: 0px; top: 84px;">
<a href="javascript:$zopim.livechat.window.show()"><img id='chat_img' src="<?php echo $this->getSkinUrl('images/online.jpg')?>" /></a>
</div> 


<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1l3P0tWqlON2ZdcVFBVdBXUsLn8y229F';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>


<script type="text/javascript">$zopim(function() {
$zopim.livechat.setOnStatus(change_chat_img);
});
function change_chat_img(status) {
    var img = document.getElementById('chat_img');
    if (status=='online'){
        img.src = '<?php echo $this->getSkinUrl('images/online.jpg')?>';
    }
    else if (status=='away'){
        img.src = '<?php echo $this->getSkinUrl('images/offline.jpg')?>';
    }
    else if (status=='offline'){
        img.src = '<?php echo $this->getSkinUrl('images/offline.jpg')?>'; 
    }
}
</script>
<!--End of Zopim Live Chat Script-->
