<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_deals = $this->getDeals(); ?>
<div class="page-title">
    <h1><?php echo $this->__('Merchant Dashboard') ?></h1>
</div>

<?php if(Mage::helper('customer')->getCustomer()->getIsMerchant()){ 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id');
?>

<div class="welcome-msg">
    <p class="hello"><strong><?php echo $this->__('Hello Merchant') ?></strong></p>
    <p><?php echo $this->__("From your 'Merchant Dashboard' you have the ability to view the list of deals running on your account. Select a link below to view or print coupons for individual deals.") ?></p>
</div>
<div class="dashboard">
<div class="box-account box-info">
        <div class="box-head">
            <h2>Account Information</h2>
        </div>
        <div class="col2-set">
			<div class="col-1">
				<div class="box">
					<div class="box-title">
						<h3>Contact Information</h3>
						<a href="<?php echo $this->getUrl('deals/merchant_profile/index'); ?>">Edit</a>
					</div>
					<div class="box-content">
						<p>
							<?php echo $merchant->getMerchantName(); ?><br>
							<?php echo $merchant->getMerchantEmail(); ?><br>
						</p>
					</div>
				</div>
			</div>
		</div>

</div>
</div>	


<div class="add-button">
	<a href="<?php echo $this->getUrl('deals/merchant/redeemcoupon'); ?>" id="redeem-coupon"><span>Redeem now</span></a>
	<a href="<?php echo $this->getUrl('deals/merchant_product/new'); ?>" id="add-product"><span>Add product</span></a>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($_deals->getSize()): ?>
<table class="data-table" id="my-deals-table">
    <col width="1" />
	<col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Deal #') ?></th>
            <th><?php echo $this->__('Deal Name') ?></th>			
            <th><?php echo $this->__('Date From') ?></th>
			<th><?php echo $this->__('Date To') ?></th>
            <th><span class="nobr"><?php echo $this->__('Total Sold') ?></span></th>
            <th><span class="nobr"><?php echo $this->__('Deal Status') ?></span></th>
            <th>Action</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_deals as $_deal): ?>
        <tr>
            <td><?php echo $_deal->getDealId() ?></td>
			<td><?php echo $_deal->getDealName() ?></td>
			<td><?php echo $this->formatDate($_deal->getDateFrom()) ?></td>
			<td><?php echo $this->formatDate($_deal->getDateTo()) ?></td>
			<td><?php if($_deal->getSoldCount()==""){echo $this->__('Nil');}else{echo $_deal->getSoldCount();}?></td>
			<td><em><?php if($_deal->getDealStatus()=="1"){echo $this->__('Active');}else{echo $this->__('Inactive');} ?></em></td>
			<td class="a-center">
				<a href="<?php echo $this->getProductEditUrl($_deal) ?>"><?php echo $this->__('Edit') ?></a>
			</td>			
			<td class="a-center">
				<a href="<?php echo $this->getMerchantViewUrl($_deal) ?>"><?php echo $this->__('Purchase History') ?></a>
			</td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-deals-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have no deals running.'); ?></p>
<?php endif ?>

<?php }else{ ?>	
<div class="welcome-msg">
<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('dailydeals/merchant/merchant_request.phtml')->toHtml(); ?>
</div>
<?php } ?>