<h2><?php echo "Please fill out the information below to request a merchant account."; ?></h2>
<form action="<?php echo $this->getUrl('deals/merchant/sendMerchantRequest/'); ?>" method="post" id="sendMerchantRequest_form">
	<div class="fieldset">
		<h2 class="legend"><?php echo $this->__('Sender:') ?></h2>
		<ul class="form-list" id="sender_options">
			<li class="fields">
				<div class="field">
					<label for="sender_name" class="required"><em>*</em><?php echo $this->__('Name:') ?></label>
					<div class="input-box">
						<input name="sender_name" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>" title="<?php echo $this->__('Name') ?>" id="sender_name" type="text" class="input-text required-entry" />
					</div>
				</div>
				<div class="field">
				   <label for="sender_email" class="required"><em>*</em><?php echo $this->__('Email:') ?></label>
				   <div class="input-box">
					   <input name="sender_email" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>" title="<?php echo $this->__('Email Address') ?>" id="sender_email" type="text" class="input-text required-entry validate-email" />
				   </div>
				</div>
			</li>
			<li class="fields">
				<div class="field">
					<label for="sender_name" class="required"><em>*</em><?php echo $this->__('Company Name:') ?></label>
					<div class="input-box">
						<input name="company_name" value="" title="<?php echo $this->__('Company Name') ?>" id="company_name" type="text" class="input-text required-entry" />
					</div>
				</div>
				<div class="field">
				   <label for="sender_email" class="required"><em>*</em><?php echo $this->__('Addess:') ?></label>
				   <div class="input-box">
					   <input name="address" value="" title="<?php echo $this->__('Address') ?>" id="Address" type="text" class="input-text required-entry" />
				   </div>
				</div>
			</li>
			<li class="fields">
				<div class="field">
					<label for="sender_name" class="required"><em>*</em><?php echo $this->__('Telephone:') ?></label>
					<div class="input-box">
						<input name="telephone" value="" title="<?php echo $this->__('Telephone') ?>" id="Telephone" type="text" class="input-text required-entry" />
					</div>
				</div>
			</li>			
			<li class="wide">
				<label for="sender_message" class="required"><em>*</em><?php echo $this->__('Message:') ?></label>
				<div class="input-box">
					<textarea name="message" class="input-text required-entry" id="sender_message" cols="3" rows="3"></textarea>
				</div>
			</li>
		</ul>
	</div>
	<div class="buttons-set">
		<button type="submit" class="button"><span><span><?php echo $this->__('Send Email') ?></span></span></button>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
	var productSendtofriendForm = new VarienForm('sendMerchantRequest_form');
//]]>
</script>