<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct(); ?>

<?php $_deal = $this->getDeal(); ?>
<?php $dealHelper = $this->helper('dailydeals/cart'); ?>

<?php $productName = $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
<?php $productUrl = $_helper->productAttribute($_product, $_product->getProductUrl(), 'product_url'); ?>
<?php $productImage = $_product->getImageUrl() ?>

<?php
    if(Mage::registry('current_category')){
        $cat_name = Mage::registry('current_category')->getName();
    } else {
        $cat_name = '';
    }
?>

<?php
$showBuyButton = false;
if($_deal->getCanPurchase()):
    $showBuyButton = true;
endif;
?>
<?php 
    $_minimalPriceTax = $_product->getFinalPrice();
    if($_product->getTypeId() == "bundle"){
        $_priceModel  = $_product->getPriceModel();
        list($_minimalPriceTax, $_maximalPriceTax) = $_priceModel->getTotalPrices($_product, null, null, false); 
    }

    $_buynow_btn = '';
    $_buynow_opts = '';
    $_notavail_btn = '';
    
    if($_deal->getApproved() == 1){
        if ($showBuyButton && $_product->isSaleable()){ 
            $params = array( 'deal' => $_deal->getId() ); 
            if($_product->getTypeId() == "configurable"){      
                $_buynow_btn = '<div class="btn_buy">
                    <a href="#" id="show_config_options"><div>'.$this->__("BUY NOW").'</div></a>
                </div>
                <script type="text/javascript">
                    Event.observe($("show_config_options),"click",function(){
                    $("config_options").show();
                    $("config_options_background").show();
                    });                                     
                </script>';
            } elseif($_product->getTypeId() == "bundle" || $this->hasOptions()){
                $_buynow_opts = $this->getChildChildHtml('container2', '', true, true);
                $_buynow_btn = '<div class="add-to-cart"><div class="buynowbtn-bg"><button type="button" onclick="productAddToCartForm.submit(this)">BUY NOW</button></div></div>';
            } else {
                $_buynow_btn = '<div class="add-to-cart"><div class="buynowbtn-bg"><button type="button" onclick="productAddToCartForm.submit(this)">BUY NOW</button></div></div>';
            }
        }else{
            $_notavail_btn = $this->__("No Longer Available");        
        }
    } else {
        $_notavail_btn = $this->__("No Longer Available");
    }
    $timer_padd = '';
    $price_padd = '';
    if($_buynow_opts == ''){
        $timer_padd = 'style="padding:10px 0 20px 0;"';
        $price_padd = 'style="padding:20px 0; background: none;"';
    }
?>
<?php
    if($_notavail_btn == ''){
        $deal = $this->getDeal();
            $stock_text = '<h2>'.$this->__('IN STOCK').'<br />
                            <span>'.$this->__('This Deal is On').'<img src="'.$this->getSkinUrl('images/thumb.png').'" alt="deal on" /></span></h2>';
            $buy_button = '<a onclick="productAddToCartForm.submit(this)">'.$this->__('BUY NOW').'</a>';
            
    } else {
        $stock_text = '<h2 class="outofstock">'.$this->__('OUT OF STOCK').'</h2>';
        $buy_button = '<a class="notavail">'.$this->__('Not available').'</a>';
    }
?>
<!-- Deal Page - Top Deal Info -->
<div class="today">
    <div class="deal">
        <div class="deal-info">
            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                    <input type="hidden" name="related_product" id="related-products-field" value="" />
                </div> 
                <div class="deal-top">
                    <div class="left">
                        <div class="ribbon">
                            <?php if($this->getProduct()->getCategory()): ?>
                            <?php echo $this->getProduct()->getCategory()->getName(); ?>
                            <?php else: ?>
                                Today's Deal!
                            <?php endif; ?>
                        </div>
                        
                            <div class="timer" <?php echo $timer_padd; ?>>
                                <?php if($_notavail_btn == ''): ?>
                                    <a class="buy-left" onclick="productAddToCartForm.submit(this)"><?php echo $this->__('BUY NOW') ?> </a>;
                                <?php else: ?>
                                    <div class="out"><?php echo $this->__('OUT OF STOCK'); ?></div>
                                <?php endif; ?>
                            </div>
                        <div class="price" <?php echo $price_padd; ?>>
                            <?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false); ?>
                        </div>
                        <?php if($_buynow_opts != ''): ?>
                                <?php echo $_buynow_opts; ?>
                        <?php else: ?>
                            <div class="no-opts"></div>
                        <?php endif; ?>
                        <div class="value">
                            <?php echo $this->getChildHtml('discount'); ?>
                        </div>
                    </div>

                    <div class="right">
                        <h3><?php echo $_product->getName(); ?></h3>
                        <?php echo $this->getChildHtml('media'); ?>

                        <div class="del_soldinfo">
                            <?php echo $stock_text; ?>
                            <div class="buy">
                                <span><?php echo $buy_button; ?></span>
                                <div class="followus">
                                    Share This:
                                    <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($_product->getName()); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>"><img src="<?php echo $this->getSkinUrl('images/fb.png')?>" alt="Facebook" /></a>
                                    <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($_product->getName() . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>"><img src="<?php echo $this->getSkinUrl('images/twitter.png')?>" alt="Twitter" /></a>
                                    <a href="mailto:?subject=<?php echo $_product->getName();?>&body=<?php echo $_product->getProductUrl();?>"><img src="<?php echo $this->getSkinUrl('images/email.png')?>" alt="email" /></a>
                                </div>  
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>

            <script type="text/javascript">
                //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.submit = function(button){
                        if (this.validator.validate()) {
                            this.form.submit();
                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);

                    var productAddToCartFormGift = new VarienForm('product_addtocart_form');
                    productAddToCartFormGift.submit = function(button){
                        if (this.validator.validate()) {
                            document.getElementById('product_addtocart_form').action = document.getElementById('product_addtocart_form').action + 'gift/1/';
                            this.form.submit();
                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);
                //]]>
            </script>
            <!-- Start of Deal Tabs -->
			<?php echo $this->getChildHtml('tabs'); ?>
			<!-- End of Deal Tabs -->
        </div>
    </div>
</div>

<!-- Start of Mini Deals -->
<?php echo $this->getChildHtml('minideals'); ?>
<!-- End of Mini Deals -->

<!-- Start of Popular Deals Slider -->
<?php //echo $this->getChildHtml('mostviewed'); ?>
<!-- End of Popular Deals Slider -->

<!-- Start of What is 2nd Deals tabs -->
<?php echo $this->getChildHtml('whatis2ndtabs'); ?>
<!-- End of What is 2nd Deals tabs -->
