<?php
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Banner
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->getSkinUrl('unibanner/css/custom.css') ?>" />
<script type="text/javascript" src="<?php echo $this->getSkinUrl('unibanner/js/ajaxtabs.js') ?>"></script>
<?php
$bannerGroupCode = $this->getBannerGroupCode();
$data = $this->getDataByGroupCode($bannerGroupCode);
$bannerGroupData = $data['group_data'];
$mediaDir = Mage::getBaseDir('media');
$bannerData = $data['banner_data'];
$bannerdest = (($bannerGroupData->getLinkTarget() == 0) ? '_blank' : '_self');
$bannerType = $bannerGroupData->getAnimationType();
$bannerWidth = $bannerGroupData->getBannerWidth();
$bannerHeight = $bannerGroupData->getBannerHeight();
$duration = Mage::getStoreConfig('banner/banner/banner_time_delay');
$autoplay = Mage::getStoreConfig('banner/banner/banner_autoplay');
$imageWidth = ((int) $bannerWidth);
$imageHeight = ((int) $bannerHeight);
$styleNWH = 'width: ' . ((int) $bannerWidth + 5) . 'px; height: ' . ((int) $bannerHeight + 5) . 'px;';
$styleWH = 'width: ' . $imageWidth . 'px; height: ' . $imageHeight . 'px;';
if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'){
    $homepage = true;
}
?>
<style type="text/css">
    .bannerline{width:<?php echo ($imageWidth . "px"); ?>;}
    .slider{<?php echo $styleNWH; ?>;}
    .slider .slide-show{<?php echo $styleNWH; ?>;}
    .slider .slide-show .slider-images{<?php echo $styleNWH; ?>;}
    .slider .tabcontent{<?php echo $styleWH; ?>;}
    .slider .tabcontent img{<?php echo $styleWH; ?>}
</style>
<div class="bnr-new-outer">
<div class="bnr-new">
    <ul>
        <?php
            $i = 0;
            foreach ($bannerData as $banner):
                $i++;
                $disp = (($i == 1) ? 'inline' : 'none');
                $v = "imgnumber" . $i;
                $bannerPath = $banner->getFilename();
                $bannerType = $banner->getBannerType();
                $bannerTitle = $banner->getTitle();
                $bannerLink = $banner->getLink();
                $bannerContent = $banner->getBannerContent();
                if ($bannerType == 0) :
                    $bannerImage = '';
                    if ($bannerPath != '' && @file_exists($mediaDir . DS . $bannerPath)) :
                        $bannerImage = $this->getResizeImage($bannerPath, $bannerGroupCode, $imageWidth, $imageHeight);
                    endif;
                    if ($bannerImage != '') :
                        ?>
                        <li>
                            <a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" title="<?php echo $bannerTitle; ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?>><img src="<?php echo $bannerImage; ?>"  style="<?php echo $styleWH; ?>" alt="<?php echo $bannerTitle; ?>"/></a>
                        </li>
                    <?php endif;
                else: ?>
                    <li>
                        <a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" title="<?php echo $bannerTitle; ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?>><?php echo $bannerContent; ?></a>
                    </li>
                <?php
                endif;
            endforeach; ?>
    </ul> 
    <?php if($homepage): ?>   
        <div id="pager3"></div>
    <?php endif; ?>
</div>

<?php if($homepage): ?>
<div class="bnr-new-best">
    <?php echo $this->getLayout()->createBlock('banner/banner', 'homepage.add')->setBannerGroupCode('homepage_add')->setTemplate('unibanner/effects/homeadd.phtml')->toHtml(); ?>
</div>
<?php endif; ?>

</div>
<script type="text/javascript">
jQuery(function() {
    
    jQuery('.bnr-new ul').cycle({
        //fx: 'scrollHorz',
        pause: true,
        autorun: false,
        //prev: '#previmg3',
        //next: '#nextimg3'
        pager: '#pager3'
        
    }); 

}); 
</script>
