<div class="banner clearfix">
     <!--bnr-box-start-->
     <div class="bnr-box">
         <a href="<?php echo $this->getUrl('15-day-slim-tea-programme.html') ?>"><img src="<?php echo $this->getSkinUrl('images/sliem-tea.jpg') ?>" alt="Healthburst"></a>
         <div class="link-box"><a href="<?php echo $this->getUrl('15-day-slim-tea-programme.html') ?>">Slim Tea</a></div>
         <!-- link-box-End-->
     </div>
      <!--bnr-box-End-->

     <!--bnr-box-strat--> 
    <div class="bnr-box">
        <a href="#"><img src="<?php echo $this->getSkinUrl('images/welll-being.jpg') ?>" alt="Healthburst"></a>
        <div class="link-box"><a href="#">well being</a></div><!-- link-box-End-->
    </div>
     <!--bnr-box-End-->

     <!--bnr-box-strat-->  
    <div class="bnr-box">
        <a href="#"><img src="<?php echo $this->getSkinUrl('images/fitness-wear.jpg') ?>" alt="Healthburst"></a>
        <div class="link-box">
        <a href="#">fitness wear</a>
        </div><!-- link-box-End-->
    </div>
     <!--bnr-box-End-->
</div>
