<div id="newsletter_form_bg" style="display: none;"></div>
<div style="display: none;" class="" id="newsletter_form_new">
    <div id="close">
        <img src="<?php echo $this->getSkinUrl('images/popup/close-btn.png'); ?>" />
    </div>
    <div class="newsletter-header">
        <div class="first-level">
            <span><?php echo $this->__('Too many deals getting you lost?') ?></span>
        </div>
        <div class="second-level">
            <span class="header-bottom"><?php echo $this->__('Find your way with') ?><img src="<?php echo $this->getSkinUrl('images/popup/logo.png'); ?>" /></span>
        </div>
    </div>
    <div class="form-elem">
        <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="popup-newsletter-validate-detail">
            <?php if(count($this->getGroups())>1): ?>
            <div class="city-selector">
                <div class="select-container">
                    <div class="select-arrow"></div>
                    <select id="select-city-2" name="cities" title="<?php echo $this->__('Select City') ?>">
                    <?php foreach ($this->getGroups() as $_group): ?>
                        <?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
                        <option city="<?php echo $_group->getName() ?>" value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
                    <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <?php endif; ?>
            <div class="newsletter">
                <input type="text" name="email" placeholder="Enter your email address" id="popup-newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email inputbox" />
            </div>
            <div class="go">
                <input type="submit" class="newsletter-submit-btn" value=""/>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    
</div>
<script type="text/javascript">

    Event.observe(window, 'load', function() {      
        var newsletter_cookie = readCookie("popup-newsletter-new");
        if(newsletter_cookie == "display"){
            $("newsletter_form_bg").appear();
            $("newsletter_form_new").appear();
        }
    }); 
    Event.observe($("close"),"click",function(){
            var today = new Date();
            var expiry = new Date(today.getTime() + 1 * 24 * 3600 * 1000); // plus 1 day
            setCookie("popup-newsletter-new","close", expiry);
            $("newsletter_form_bg").fade();
            $("newsletter_form_new").fade();							
    });						
    
    function setCookie(name, value, expiry){
        document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
    }    
   
    function readCookie(name)
    {
        var nameEQ = name + "=";
        var ca = document.cookie.split( ';');
        for( var i=0;i < ca.length;i++)
        {
            var c = ca[i];
            while ( c.charAt( 0)==' ') c = c.substring( 1,c.length);
            if ( c.indexOf( nameEQ) == 0) return c.substring( nameEQ.length,c.length);
        }
        return "display";
    }  	
    
    var newsletterSubscriberFormDetail = new VarienForm('popup-newsletter-validate-detail');
    
    function newsletterSubmit(){
        if(newsletterSubscriberFormDetail.validator.validate()){
                var today = new Date();
                var expiry = new Date(today.getTime() + 10 * 24 * 3600 * 1000); // plus 1 day
                setCookie("popup-newsletter", "submit", expiry); 
                
                $("newsletter_form_bg").fade();
                $("newsletter_form").fade();    					
                $("newsletter_form").submit();                  
        }       
    }
    jQuery(function(){
        jQuery('.select-arrow').html(jQuery('#select-city-2 option:selected').attr('city'));
        jQuery('#select-city-2').live('change',function(){
            jQuery('.select-arrow').html(jQuery('#select-city-2 option:selected').attr('city'));
        });
    });
</script>
