<div class='newletter-success'>
    <span class='success-msg'><?php echo $this->__('Email sign up completed. Thank you for registering your details.') ?></span><br/><br/>
    <a href="<?php echo Mage::app()->getStore()->getBaseUrl() ?>"><?php echo $this->__('Go back to homepage') ?></a>
</div>
