<?php
	$_productCollection=$this->getProductCollection();
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
?>
<ul class="product products-grid"> 
    <?php $ctr = 0; ?>
    <?php foreach ($_productCollection as $_product): ?>
        <?php if($ctr%6 == 0 || $ctr == 0): ?><li><?php endif?> 
            <div>
                <a href="<?php echo $_product->getUrlKey() ?>">
                    <img width="207" height="164" title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(207,164); ?>" />					   
                    <span class="title">
                        <span class="title-padding">
                            <span class="deal-title">
                                <?php echo Mage::helper('core/string')->truncate($_product->getName(), 48)?>
                            </span>
                            <span class="deal-desc-snippet">
                                 <?php echo Mage::helper('core/string')->truncate(strip_tags($_product->getShortDescription()), 105)?>
                            </span>
                            
                        </span>
                    </span>
                    <h4>
                        <span class="price">
                            <small><?php echo $this->__('now only') ?></small><br/>
                            <span class="currency"><?php echo $this->__('$') ?></span>
                            <?php echo Mage::getModel('directory/currency')->format($_product->getFinalPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false) ?>
                        </span>
                        <span class="viewnowprod"><?php echo $this->__('View now') ?></span>
                    </h4>
                </a>
            </div>
            <?php $ctr++; ?>
            <?php if($ctr%6 == 0): ?></li><?php endif?>
    <?php endforeach; ?>
 </ul>
