<div class="new_cl">
<div class="tab-satifaction">
    <div class="deal-menutabs2" id="tab_con">	
        <div class="tabs2">
            <ul class="resp-tabs-list">
                <li><a href="#" class="tabLink2 " id="cont-1"><?php echo $this->__('Most Popular') ?> </a></li>
                <li><a href="#" class="tabLink2 " id="cont-2"><?php echo $this->__('Newest') ?></a></li>
                <li><a href="#" class="tabLink2 " id="cont-3"><?php echo $this->__('You May Also Like') ?></a></li>
            </ul>
        </div>
        <div id="product_1492_tabs_contents" class="product-tabs-content resp-tabs-container"><span class="scroll-wrapper"> 
            <img src='<?php echo $this->getSkinUrl('images/next12.png') ?>' id="previmg3"> 
            <img src='<?php echo $this->getSkinUrl('images/prev12.png') ?>' id="nextimg3"></span>

            <div class="tab-info2"  id="cont-1-1">
                <?php echo $this->getChildHtml('popular.deal') ?>
            </div>      
            <div class="tab-info2 hide" id="cont-2-1">
                <?php echo $this->getChildHtml('newest.deal') ?>
            </div> 
            <div class="tab-info2 hide" id="cont-3-1">
                <?php echo $this->getChildHtml('related.deal') ?>
            </div>    
        </div>
    </div> 
</div>
    <?php if(count(Mage::helper('dailydeals')->getTestimonials()->getData()) > 0): ?>  
    <div class="testi">
        <div class="testimonials-wrap2">
            <div class="testimonials_new2 <?php if(count(Mage::helper('dailydeals')->getTestimonials()->getData() == 1)) echo 'single-item'; ?>">
                <?php foreach(Mage::helper('dailydeals')->getTestimonials() as $val): ?>
                    <div>
                        <span><?php echo Mage::helper('core/string')->truncate($val['testimonial_text'],250) ?></span>
                        <span class="author"><?php echo $val['testimonial_name'] ?><br><?php echo $val['testimonial_company'] ?></span> 
                    </div>
                <?php endforeach; ?>
            </div>
            <span id="pager2"> </span>		
        </div>
    </div>
    <?php endif; ?>   
</div>


<div class="back-deal-outer">
    <div class="back-deal-bt"><a href="#" onclick="history.go(-1); return false;"><?php echo $this->__('Back To Deal') ?></a></div>
</div>		


<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/easyResponsiveTabs.js')?>"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tab-satifaction').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
		
        
    });
</script>

<script>
    
jQuery(document).ready(function() {
    jQuery(".tabLink2").each(function(){
      jQuery(this).click(function(){
        tabeId = jQuery(this).attr('id');
        jQuery(".tabLink2").removeClass("activeLink");
        jQuery(this).addClass("activeLink");
        jQuery(".tab-info2").addClass("hide");
        jQuery("#"+tabeId+"-1").removeClass("hide")   
        return false;	  
      });
    });  
  });

jQuery(function() {

	jQuery('div.products_gallery ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		next: '#nextimg',
		prev: '#previmg'
	});	
});

jQuery(function() {
	jQuery('div.products_gallery2 ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		prev: '#previmg2',
		next: '#nextimg2'
	});	
});



jQuery(function() {
	jQuery('div.tab-info2 ul.products-grid').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 5000,
		prev: '#previmg3',
		next: '#nextimg3'
	});	
});


jQuery(function() {
	
	jQuery('.new_cl .testimonials_new ').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		//prev: '#previmg3',
		//next: '#nextimg3'
		pager: '#pager	'
		
	});	
    
    jQuery('.testi .testimonials_new2').cycle({
            fx: 'scrollHorz',
            pause: true,
            autorun: false,
            timeout: 0,
            //prev: '#previmg3',
            //next: '#nextimg3'
            pager: '#pager2'
            
        });	
});

</script>
