<?php if(count($this->getGroups())>1): ?>
				<div id="cities_trigger">
					<div class="citycaption">Choose Your City:</div>
					<span class="cities-trigger-selected" onclick="cities_event();">
				<?php foreach ($this->getGroups() as $_group): ?>
					<?php if($_group->getId()==$this->getCurrentGroupId()): ?>
						<a href="#" class="selected-city">
							<span><?php echo $this->htmlEscape($_group->getName()) ?></span>
						</a>
					<?php endif; ?>
		        <?php endforeach; ?>
					</span>
				</div>
<?php endif; ?>