<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<ul id="nav">
	<li>
		<a href="<?php echo $this->getUrl('') ?>" class="featured_link"><span><?php echo $this->__('Featured Deal') ?></span></a>
	</li>	
	<li><a href="<?php echo $this->getUrl("deals/all"); ?>" class="all_link"><span><?php echo $this->__('All Deals') ?></span></a></li>
	<?php if($_menu): ?>	
			<?php echo $_menu; ?>
	<?php endif ?>		
</ul>

<script type="text/javascript">
function toggleMenu(el, over)
{
    if (over) {
        Element.addClassName(el, 'over');
    }
    else {
        Element.removeClassName(el, 'over');
    }
}
</script>