<span style='color: #000'>175 frames</span>	<span style='color: #900'>22,272 KB</span>	<span style='color: #090'>2,260.84 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />