<?php 
$customer_id = Mage::helper('customer')->getCustomer()->getEntityId(); 
$merchant = Mage::getModel('dailydeals/merchant')->load($customer_id, 'customer_id');
$merchant_id = $merchant->getMerchantId();
?>
<div class="page-title">
    <h1><?php echo $this->__('Redeem Coupon'); ?></h1>
</div>

<div id="redeemed_form">

	<form id="redeem_form">
		<input type="text" value="<?php echo $merchant_id ?>" name="merchantId" style="display:none;" >
		<div class="fieldset">
			<h2 class="legend"><?php echo $this->__('Coupon Info'); ?></h2>
			<ul class="form-list">
				<li class="fields">
					<div class="">
						<div class="field">
							<label for="couponCode" class="required"><em>*</em><?php echo $this->__('Coupon Code'); ?></label>
							<div class="input-box">
								<input type="text" id="couponCode" name="couponCode" value="" title="couponCode" class="input-text required-entry">
							</div>
						</div>
					</div>
				</li>
				<li class="fields">
					<div class="">
						<div class="field">
							<label for="redeemCode" class="required"><em>*</em><?php echo $this->__('Redeem Code'); ?></label>
							<div class="input-box">
								<input type="text" id="redeemCode" name="redeemCode" value="" title="redeemCode" class="input-text required-entry">
							</div>
						</div>
					</div>
				</li>		
			</ul>
		</div>				
		<div class="buttons-set">
			<p class="required">* <?php echo $this->__('Required Fields'); ?></p>
			<p class="back-link"><a href="<?php echo $this->getUrl('deals/merchant/dashboard'); ?>"><< <?php echo $this->__('Back to dashboard'); ?></a></p>
			<button type="button"  onclick="checkValidCode()" title="<?php echo $this->__('Verify') ?>" class="button"><span><span><?php echo $this->__('Verify') ?></span></span></button>
		</div>	
	</form>

	<script type="text/javascript">
	//<![CDATA[
	function checkValidCode(){
		var redeemForm = new VarienForm('redeem_form', true);
		if (redeemForm.validator.validate()) {
			redeemFormAjaxSubmit();
		}
	}
	//]]>
	</script>		
</div>
<div id="result" style="position: relative;top: 150px;">

</div>
<div id="loader" style="display:none;">
<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'skin/adminhtml/default/default/images/ajax-loader-tr.gif'; ?>" alt="" />
</div>
<script type="text/javascript">
	function redeemFormAjaxSubmit()
	{
	var inputs = $("redeem_form").serialize(true);
	var j_inputs = Object.toJSON(inputs);
	var path = '<?php echo $this->getUrl('deals/merchant/checkvalidcoupon') ?>';
	$('loader').show();
	new Ajax.Request(path,
					{
						method:"get",
						parameters:"val="+j_inputs,
						onSuccess:function(transport){
						$("result").update(transport.responseText);
						$('loader').hide();
					//	alert(transport.responseText);
					
					//	$("redeem_code").value="";
						}
					});
	}
	</script>