<div class="ratings">
    <div class="rating-box">
        <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
    </div>
    <div class="reviews-count">
        <h5><a href="#"><?php echo $this->__('%d', $this->getReviewsCount())." Reviews" ?></a></h5>
    </div>
</div>



