// Grid system
$columnWidth: 100%/$columns;

// Positioning
@mixin center-block {
  margin: 0 auto;
}

// Clearfix
@mixin clear {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}

@mixin columns($num: 1) {
  width: $columnWidth * $num;
  _width: $columnWidth * $num - 0.0694%; /* IE6-7 */
  float: left;
  display: inline;
}

@mixin offset($num: 1) {
  margin-left: $columnWidth * $num;
}

@mixin col-group {
  margin: 0 $gutterWidth / 2;
  @include clear;
  & h1, h2, h3, h4, h5, h6{margin-right:$gutterWidth / 2;margin-left: $gutterWidth / 2;}
}

@mixin col-group_col-content {
 margin:0 ($gutterWidth / 2);
 & h1, h2, h3, h4, h5, h6{margin-right:0;margin-left:0;}
}

.col-group{
 @include col-group;
 .col-group{margin:0;}
 .col-content{margin:0 ($gutterWidth / 2);}
}

.col-inset .col-content {
  padding: $gutterWidth / 2;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-right: $gutterWidth;
  margin-left: $gutterWidth;
}

.col-group h1, .col-group h2, .col-group h3, .col-group h4, .col-group h5, .col-group h6 {
  margin-right: $gutterWidth / 2;
  margin-left: $gutterWidth / 2;
}

.col-content h1, .col-content h2, .col-content h3, .col-content h4, .col-content h5, .col-content h6 {
  margin-right: 0;
  margin-left: 0;
}

// Default columns

.col-1     { @include columns(1); }
.col-2     { @include columns(2); }
.col-3     { @include columns(3); }
.col-4     { @include columns(4); }
.col-5     { @include columns(5); }
.col-6     { @include columns(6); }
.col-7     { @include columns(7); }
.col-8     { @include columns(8); }
.col-9     { @include columns(9); }
.col-10    { @include columns(10); }
.col-11    { @include columns(11); }
.col-12    { @include columns(12); }
.col-13    { @include columns(13); }
.col-14    { @include columns(14); }
.col-15    { @include columns(15); }
.col-16    { @include columns(16); }
.col-17    { @include columns(17); }
.col-18    { @include columns(18); }

.col-full  { @include columns($columns); }
.col-half  { @include columns($columns / 2); }
.col-third  { @include columns($columns / 3); }
.col-fourth  { @include columns($columns / 4); }
.col-fifth  { @include columns($columns / 5); }
.col-sixth  { @include columns($columns / 6); }
.col-seventh  { @include columns($columns / 7); }
.col-eighth  { @include columns($columns / 8); }
.col-ninth  { @include columns($columns / 9); }
.col-tenth  { @include columns($columns / 10); }
.col-eleventh  { @include columns($columns / 11); }
.col-twelfth  { @include columns($columns / 12); }
.col-thirteenth  { @include columns($columns / 13); }
.col-fourteenth  { @include columns($columns / 14); }
.col-fifteenth  { @include columns($columns / 15); }
.col-sixteenth  { @include columns($columns / 16); }
.col-seventeenth  { @include columns($columns / 17); }
.col-eighteenth  { @include columns($columns / 18); }

@mixin col-golden-a {
  width: 61.803399%;
  _width: 61.803399% - 0.0694%; /* IE6-7 */
  float: left;
}
@mixin col-golden-b {
  width: 38.196601%;
  _width: 38.196601% - 0.0694%; /* IE6-7 */
  float: left;
}

.col-golden-a {@include col-golden-a;}
.col-golden-b {@include col-golden-b;}

// Offset

.offset-1     { @include offset(1); }
.offset-2     { @include offset(2); }
.offset-3     { @include offset(3); }
.offset-4     { @include offset(4); }
.offset-5     { @include offset(5); }
.offset-6     { @include offset(6); }
.offset-7     { @include offset(7); }
.offset-8     { @include offset(8); }
.offset-9     { @include offset(9); }
.offset-10    { @include offset(10); }
.offset-11    { @include offset(11); }
.offset-12    { @include offset(12); }
.offset-13    { @include offset(13); }
.offset-14    { @include offset(14); }
.offset-15    { @include offset(15); }
.offset-16    { @include offset(16); }
.offset-17    { @include offset(17); }


// Mobile

@media screen and (max-width: 768px) {
  .col-group [class*="col-"] {
    width: auto;
    float: none;
  }
  .col-group .col-content {
    margin: 0;
  }
  .col-group [class*="offset-"] {
    margin-left: 0;
  }
}
