@mixin cross-browser-pie-wrapper($property, $value...) {
  #{$property}: $value;
  -pie-#{$property}: $value;
  /* IE 6-9 through PIE */
  behavior: url("#{$base_skin_css_url}htc/PIE.htc");
}

@mixin cross-browser-rounded-corners($radius_spec) {
  -moz-border-radius: $radius_spec;
  -webkit-border-radius: $radius_spec;
  -khtml-border-radius: $radius_spec;
  @include cross-browser-pie-wrapper(border-radius, $radius_spec);
}

@mixin cross-browser-background-linear-gradient($angle, $stop_1, $stop_2, $fallback...) {
  /* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
  // background: $fallback;
  /* Safari 5.1 / Chrome 10+ */
  background: -webkit-linear-gradient($angle, $stop_1, $stop_2);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient($angle, $stop_1, $stop_2);
  /* IE 10 */
  background: -ms-linear-gradient($angle, $stop_1, $stop_2);
  /* Opera 11.10+ */
  background: -o-linear-gradient($angle, $stop_1, $stop_2);
  /* MS filter */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$stop_1}", endColorstr="#{$stop_2}");
  @include cross-browser-pie-wrapper(background, linear-gradient($angle, $stop_1, $stop_2));
}

@mixin cross-browser-box-shadow($shadow_spec...) {
  -moz-box-shadow: $shadow_spec;
  -webkit-box-shadow: $shadow_spec;
  box-shadow: $shadow_spec;
}

@mixin cross-browser-text-rotate($origin, $direction, $ie_direction) {
  @include cross-browser-transform-origin($origin);
  @include cross-browser-transform(rotate($direction), "rotation=#{$ie_direction}");
}

@mixin cross-browser-transform-origin($origin_spec) {
  -moz-transform-origin: $origin_spec;
  -ms-transform-origin: $origin_spec;
  -o-transform-origin: $origin_spec;
  -webkit-transform-origin: $origin_spec;
  transform-origin: $origin_spec;
}

@mixin cross-browser-transform($transform_spec, $ie_transform) {
  -moz-transform: $transform_spec;
  -ms-transform: $transform_spec;
  -o-transform: $transform_spec;
  -webkit-transform: $transform_spec;
  transform: $transform_spec;
  filter: progid:DXImageTransform.Microsoft.BasicImage(#{$ie_transform});
}

@mixin effect-inset-text {
  text-shadow:rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

@mixin effect-engraved-text {
  text-shadow:0 1px 0 rgba(255,255,255,0.5),0 -1px 0 rgba(0,0,0,0.5);
}

@mixin products-view-title {
  float: left;
  width: 100%;
  margin: 0px;
  position: static;
  line-height: 17px;
  overflow: visible;
  background: url("#{$base_skin_images_url}top-before.png") no-repeat scroll top left transparent;
  height: 76px;
  margin-left: -13px;
}

@mixin products-view-h1 {
  @include cross-browser-background-linear-gradient(top, #82be1a, #208b00, #82be1a);
  @include cross-browser-box-shadow(-1px -1px 0 0 #7cbd1b);
  @include cross-browser-rounded-corners(3px 0px 0px 3px);
  @include effect-engraved-text;
  border-bottom:1px solid #5fac10;
  border-left:1px solid #5fac10;
  border-right:1px solid #4c7010;
  border-top:1px solid #b6dc79;
  color: #215300;
  font-weight: bold;
  font-size:125%;
  margin:0 0 0 -#{$default_font_size * 2};
  padding: 0.60em 0 0.5em 22px;
  left:0;
  float: left;
  width: 100%;
  height: 34px;
  text-transform:uppercase;
  text-shadow: 0 0 2px #FFFFFF;
}