$base_skin_url: "/skin/frontend/enterprise/ikoala/";
$base_skin_css_url: "#{$base_skin_url}css/";
$base_skin_fonts_url: "#{$base_skin_css_url}fonts/";
$base_skin_images_url: "#{$base_skin_url}images/";

$columns: 20;
$maxWidth: 1000px;
$gutterWidth: 64px;

$default_font_size: 16px;
$font_fallbacks: "Trebuchet MS", Helvetica, Arial, sans-serif;