<?php echo $this->helper('adminhtml/media_js')->includeScript('mage/adminhtml/events.js') ?>
<?php echo $this->helper('adminhtml/media_js')->includeScript('mage/adminhtml/form.js') ?>
<?php echo $this->helper('adminhtml/media_js')->includeScript('mage/adminhtml/uploader.js') ?>
<?php echo $this->helper('adminhtml/media_js')->includeScript('mage/adminhtml/product.js') ?>


<?php echo $this->helper('adminhtml/media_js')->includeScript('lib/flex.js') ?>
<?php echo $this->helper('adminhtml/media_js')->includeScript('mage/adminhtml/flexuploader.js') ?>
<?php echo $this->helper('adminhtml/media_js')->includeScript('lib/FABridge.js') ?>
<?php echo $this->helper('adminhtml/media_js')->getTranslatorScript() ?>


<div id="<?php echo $this->getHtmlId() ?>" class="uploader">
    <div class="buttons">
        <?php /* buttons included in flex object */ ?>
        <?php  /*echo $this->getBrowseButtonHtml()*/  ?>
        <?php  /*echo $this->getUploadButtonHtml()*/  ?>
        <div id="<?php echo $this->getHtmlId() ?>-install-flash" style="display:none">
            <?php echo Mage::helper('media')->__('This content requires last version of Adobe Flash Player. <a href="%s">Get Flash</a>', 'http://www.adobe.com/go/getflash/') ?>
        </div>
    </div>
    <div class="clear"></div>
    <div class="no-display" id="<?php echo $this->getHtmlId() ?>-template">
        <div id="{{id}}" class="file-row">
        <span class="file-info">{{name}} ({{size}})</span>
        <span class="delete-button"><?php echo $this->getDeleteButtonHtml() ?></span>
        <span class="progress-text"></span>
        <div class="clear"></div>
        </div>
    </div>
    <div class="no-display" id="<?php echo $this->getHtmlId() ?>-template-progress">
        {{percent}}% {{uploaded}} / {{total}}
    </div>
</div>

<script type="text/javascript">
//<![CDATA[

var maxUploadFileSizeInBytes = <?php echo $this->getDataMaxSizeInBytes() ?>;
var maxUploadFileSize = '<?php echo $this->getDataMaxSize() ?>';

<?php echo $this->getJsObjectName() ?> = new Flex.Uploader('<?php echo $this->getHtmlId() ?>', '<?php echo $this->getSkinUrl('media/uploader.swf') ?>', <?php echo $this->getConfigJson() ?>);

if (varienGlobalEvents) {
    varienGlobalEvents.attachEventHandler('tabChangeBefore', <?php echo $this->getJsObjectName() ?>.onContainerHideBefore);
}

//]]>
</script>
