<?php $catalogSearchHelper =  $this->helper('catalogsearch'); ?>
<form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
    <div class="form-search">
        
        <div class="new-search-bar">
        <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text required-entry keywords" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
        <div id="search_autocomplete" class="search-autocomplete"></div>
        </div>

        <?php echo $this->getLayout()->createBlock('ikoala_catalog/category_dropdown','catsearch')->setTemplate('catalog/category/dropdown.phtml')->toHtml(); ?>

        <div class="go-box">
			<input type="submit" class="go-submit" value="GO">
            <button class="go-cat" style="display:none"><?php echo $this->__('GO') ?></button>
		</div>
        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search') ?>');
            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>
    </div>
</form>
