<div class="footer-iphone">
    <div>
        <?php echo  $this->getLayout()->createBlock('page/switch','current_city')->setTemplate('dailydeals/header/current_city.phtml')->toHtml(); ?>
    </div>
    <div class="switcher-site">
        <a href="<?php echo Mage::helper('ikoala_mobile/switch')->getFullUrl(); ?>">View Desktop Version</a>
    </div>
</div>