<div id="mobile_newsletter_form_bg" style="display: none;"></div>

<div style="display: none;" class="container_16 round_clear pushy" id="mobile_newsletter_form">
		<div id="close">
			<img src="<?php echo $this->getSkinUrl('images/close.png'); ?>" width="23" height="23" />
		</div>
		<div class="clear"></div>
		<div class="register2">
      <span>Subscribe to Ikoala</span>
      <br />
      
			<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="popup-newsletter-validate-detail">
				<?php if(count($this->getGroups())>1): ?>
				<div class="city-selector">
					<select id="select-city-2" name="cities" title="<?php echo $this->__('Select City') ?>">
					<?php foreach ($this->getGroups() as $_group): ?>
						<?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
						<option value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
					<?php endforeach; ?>
					</select>
				</div>
				<?php endif; ?>
				<div class="newsletter">
					<input type="text" name="email" placeholder="e.g. joe@bloggs.com" id="popup-newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email inputbox" />
				</div>
        
        <div class="go">
					<button type="submit" title="<?php echo $this->__('Join Now') ?>" class="button fr" onclick="newsletterSubmit()"><span><img src="<?php echo $this->getSkinUrl('images/go.png'); ?>" /></span></button>
				</div>
			</form>
      
      <div class="clear"></div>
		</div>
    
    <div class="clear"></div>
</div>

<script type="text/javascript">
Event.observe(window, 'load', function() {      
  var newsletter_cookie = readCookie("popup-newsletter");
  if(newsletter_cookie == "display"){
    $("mobile_newsletter_form_bg").appear();
    $("mobile_newsletter_form").appear();
  }
}); 
Event.observe($("close"),"click",function(){
    var today = new Date();
    var expiry = new Date(today.getTime() + 1 * 24 * 3600 * 1000); // plus 1 day
    setCookie("popup-newsletter","close", expiry);
    $("mobile_newsletter_form_bg").fade();
    $("mobile_newsletter_form").fade();							
});						

function setCookie(name, value, expiry){
  document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
}    

function readCookie(name)
{
  var nameEQ = name + "=";
  var ca = document.cookie.split( ';');
  for( var i=0;i < ca.length;i++)
  {
    var c = ca[i];
    while ( c.charAt( 0)==' ') c = c.substring( 1,c.length);
    if ( c.indexOf( nameEQ) == 0) return c.substring( nameEQ.length,c.length);
  }
  return "display";
}  	

var newsletterSubscriberFormDetail = new VarienForm('popup-newsletter-validate-detail');

function newsletterSubmit(){
  if(newsletterSubscriberFormDetail.validator.validate()){
      var today = new Date();
      var expiry = new Date(today.getTime() + 10 * 24 * 3600 * 1000); // plus 1 day
      setCookie("popup-newsletter", "submit", expiry); 

      $("mobile_newsletter_form_bg").fade();
      $("mobile_newsletter_form").fade();    					
      $("mobile_newsletter_form").submit();                  
  }       
}
</script>