<div class="dashboard">
    <h1 class="loginsign"><?php echo $this->__('Create New Ticket') ?></h1>
	<div class="clear"></div>
	<div class="std my-account-form">
		<div class="mysupporttickets">
			<?php if ($this->getCollection() && $this->getCollection()->count()): ?>
			<?php foreach ($this->getCollection() as $_hd): ?>
				<div class="message-box">
					<div class="message-header inner-head">
						<div class="left">
							<h5>
								<?php echo $_hd->getAuthorName()?> <span class="separator">|</span> <?php echo $this->dateFormat($_hd->getCreatedTime()) ?>
							</h5>
						</div>
						<?php if ($this->getCanQuote()): ?>
						<div class="right">
							<p class="do-quote">
								<a href="#reply" onclick="insQuot(this)">
									<?php echo $this->__('Quote')?>
									<textarea class="no-display"><?php echo htmlspecialchars($this->getQuoteContent($_hd));?></textarea>
								</a>
							</p>
						</div>
						<?php endif; ?>
					</div>
					<div class="message-body">
						<?php echo $this->getContent($_hd); ?>
					</div>
					<?php if ($_hd->getFilename()): ?>
					<p class="attachment"><?php echo count($_hd->getFilename()) == 1 ? $this->__('Attachment')
							: $this->__('Attachments') ?>:
						<?php foreach ($_hd->getFilename() as $file) : ?>
							<a href="<?php echo $_hd->getFileUrl($file)?>" title="<?php echo $file;?>"><?php echo Mage::helper('helpdeskultimate/threads')->convertStringToSize($file, 35) ?></a>&nbsp;
							<?php endforeach ?>
					</p>
					<?php endif;?>
				</div>
				<?php endforeach; ?>
			<?php endif; ?>
			<div class="message-box">
				<div class="message-header inner-head">
					<h5><?php echo $this->getTicket()->getInitiator()->getName()?> <span
							class="separator">|</span>  <?php echo $this->dateFormat($this->getTicket()->getCreatedTime()) ?></h5>
				</div>

				<div class="message-body">
					<?php echo $this->getContent($this->getTicket()) ?>
				</div>
				<?php if ($this->getTicket()->getFilename()): ?>
				<p class="attachment">
					<?php echo count($this->getTicket()->getFilename()) == 1 ? $this->__('Attachment') : $this->__('Attachments') ?>
					:
					<?php foreach ($this->getTicket()->getFilename() as $file) : ?>
					<a href="<?php echo $this->getTicket()->getFileUrl($file)?>" title="<?php echo $file;?>"><?php echo Mage::helper('helpdeskultimate/threads')->convertStringToSize($file, 35) ?></a>&nbsp;
					<?php endforeach ?>
				</p>
				<?php endif;?>
			</div>

			<?php if (!$this->isExternal()): ?>
			<div class="back">
				<a href="<?php echo $this->getBackUrl() ?>"
				   class="left">&laquo;<?php echo $this->__(' Back to My Support Tickets') ?></a>
			</div>
			<?php endif; ?>
		</div>
	</div>
</div>