<div class="dashboard">
    <h1 class="loginsign"><?php echo Mage::helper('helpdeskultimate')->__("Ticket information")?></h1>
	<div class="clear"></div>
	<div class="std my-account-form">
		<div class="mysupporttickets">
			<!-- Common ticket info -->
			<table width="100%" class="single-ticket-info">
				<col width="50%"/>
				<col width="50%"/>
				<tbody>
					<tr>
						<td>
							<span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Department")?>:</span>
							<?php echo $this->getDepartment()->getName();?>
						</td>
						<td>
							<span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Status")?>:</span>
							<?php echo $this->getStatusText();?>
						</td>
					</tr>
					<?php if ($this->getOrder()): ?>
					<tr>
						<td>
							<span class="label"><?php echo Mage::helper('helpdeskultimate')->__("Order")?>:</span>
							<a href="<?php echo $this->getUrl('sales/order/view', array('order_id' => $this->getOrder()->getId()))?>">#<?php echo $this->getOrder()->getIncrementId();?></a>
						</td>
						<td></td>
					</tr>
					<?php endif;?>
				</tbody>
			</table>
		</div>
	</div>
</div>