<?php if($this->getRequest()->getActionName() == 'index' && $this->getRequest()->getModuleName() == 'ikoalasubscription'): ?>
    <div class="page-title">
        <h1><?php echo $this->__('Newsletter Preference') ?></h1><?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    </div>
<?php else: ?>
    <div class="welcome-msg">
        <div class="myaccount-content-title"><?php echo $this->__('NEWSLETTER PREFERENCE CENTRE') ?></div>
    </div>
<?php endif; ?>
<div class="std">
    <div class="standard">
        <div class="cont">
            <?php if($this->getIfSubscribed(Mage::helper('customer')->getCustomer()->getEmail()) || !Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <?php $frequency = $this->getSubscriberPreference(Mage::helper('customer')->getCustomer()->getEmail()); ?>
                <form method="POST" action="<?php echo $this->getUrl('ikoalasubscription/index/submit') ?>" id="subscription_form">
                    <div><label for="email"><?php echo $this->__('My Email') ?></label><input type="text" name="email" id="email" class="required-entry validate-email" value="<?php echo Mage::helper('customer')->getCustomer()->getEmail() ?>"/></div><br/>
                    <input type="radio" name="frequency" id="frequency1" value="2" <?php if(!$frequency || $frequency == 2) echo 'checked' ?>><label class="labels" for="frequency1"><?php echo $this->__('Never Miss a Deal!') ?></label><br/>
                    <input type="radio" name="frequency" id="frequency2" value="1" <?php if($frequency == 1) echo 'checked' ?>><label class="labels" for="frequency2"><?php echo $this->__('1 Email Per Day') ?></label><br/>
                    <input type="radio" name="frequency" id="frequency3" value="0"><label class="labels" for="frequency3"><?php echo $this->__('Unsubscribe') ?></label><br/>
                    <input type="submit" value="SUBMIT" />
                </form>
            <?php else: ?>
                <span class='note'><?php echo $this->__('You are not yet subscribe to our newsletter. Subscribe now?') ?></span>
                <form method="POST" action="<?php echo $this->getUrl('ikoalasubscription/index/subscribe') ?>" id="subscription_form">
                    <div><label for="email"><?php echo $this->__('My Email') ?></label><input type="text" name="email" id="email" class="required-entry validate-email" value="<?php echo Mage::helper('customer')->getCustomer()->getEmail() ?>"/></div><br/>
                    <input type="submit" value="SUBSCRIBE" />
                </form>
            <?php endif; ?>
        </div>
    </div>
    <!-- <a onclick="history.go(-1); return false;" href="##">&lt; <?php echo $this->__('Back') ?></a> -->
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('subscription_form', true);
    //]]>
</script>

