@font-face {
    font-family: 'Zurich BT';
    src: url('zurchb-webfont.eot');
    src: url('zurchb-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurchb-webfont.woff') format('woff'),
         url('zurchb-webfont.ttf') format('truetype'),
         url('zurchb-webfont.svg#zurich_btbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zurich BT';
    src: url('zurich-bt-roman-webfont.eot');
    src: url('zurich-bt-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurich-bt-roman-webfont.woff') format('woff'),
         url('zurich-bt-roman-webfont.ttf') format('truetype'),
         url('zurich-bt-roman-webfont.svg#zurich_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zurich BT BoldCondensed";
    src: url('zurich-cn-bt-bold.eot');
    src: url('zurich-cn-bt-bold.eot?#iefix') format('embedded-opentype'),  url('zurich-cn-bt-bold.woff') format('woff'),  url('zurich-cn-bt-bold.ttf') format('truetype'),  url('zurich-cn-bt-bold.svg#zurich-cn-bt-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zurich BT LightCondensed";
    src: url('zurich-ltcn-bt-light.eot');
    src: url('zurich-ltcn-bt-light.eot?#iefix') format('embedded-opentype'),  url('zurich-ltcn-bt-light.woff') format('woff'),  url('zurich-ltcn-bt-light.ttf') format('truetype'),  url('zurich-ltcn-bt-light.svg#zurich-ltcn-bt-light') format('svg');
    font-weight: normal;
    font-style: normal;
}