<?php
	/*
	 * BLOCK:  AdolMedia_DailyDeals_Block_Deal_View
	 * 
	 * */
	$_products = $this->getMostviewed();
	$_coreHelper = $this->helper('core');

	$_collectionSize = $_products->count();
	$_columnCount = 9;
	$i = 0;

?>

<div class="poplulerwrap">
	<div class="populerdeals">
		<h2><?php echo $this->__('Popular Deals'); ?></h2>
		<div class="slider_details">
			<div class="controls">
				<a href="#" id="previmg"><img src="<?php echo $this->getSkinUrl('images/prev.gif'); ?>" alt="Previous"></a>
				<a href="#" id="nextimg"><img src="<?php echo $this->getSkinUrl('images/next.gif'); ?>" alt="Next"></a>
			</div>

			<ul class="popular-deals">
				<?php $dealHelperBlock = $this->getLayout()->createBlock('dailydeals/deal') ?>
				<?php foreach ($_products->getItems() as $_product): ?>
				<?php $this->setProduct($_product);?>
					<?php if ($i++%$_columnCount==0): ?>
						<li>
					<?php endif ?>				
						<?php $dealHelperBlock->setProduct($_product);?>
						<div class="populer <?php if(($i-1)%$_columnCount==0): ?> nomarginleft<?php endif; ?>">
							<h3><?php echo Mage::helper('core/string')->truncate($this->htmlEscape($_product->getName()), 20); ?></h3>
							<img class="img" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(186,139) ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
							<div class="price2">
								<?php echo $this->__('Price') ?><br />
								<span class="orrange"><?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false) ?></span>
							</div>
							<div class="divider"><img src="<?php echo $this->getSkinUrl('images/sep22.jpg'); ?>" /></div>
							<div class="price2">
								<?php echo $this->__('Save') ?><br />
								<span><?php echo $dealHelperBlock->getDealSaving(); ?></span>
							</div>
							<a href="<?php echo $_product->getProductUrl() ?>" class="buynow"><img src="<?php echo $this->getSkinUrl('images/buy-now.jpg')?>" alt="buy now" width="249" /></a>
						</div>

					<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
						</li>
					<?php endif ?>

				<?php endforeach; ?>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
var jq = jQuery.noConflict();
jq(document).ready(function($){
	$('div.slider_details ul').cycle({
		fx: 'scrollHorz',
		autorun: false,
		timeout: 0,
		prev: '#previmg',
		next: '#nextimg'
	});	
 });

</script>
