<?php 
if ($_POST)
{
    $output = $this->featureBusinessEmail();
    echo $output;
}
?>
<div class="feature-box">
    <div class="standard">
        <div class="contactus">
            <h2 class="feature"><?php echo $this->__('welcome to the next evolution of group-buying') ?></h2>
            <div class="clear"></div>
            <div class="form1">
                <div class="left"></div>
                <div class="mid">
                    <h2 class="business"><?php echo $this->__('GET NEW CUSTOMERS FAST.') ?></h2>
                    <div class="contact">
                        <p class="cont">
                            ikOala is the new and exciting way to acquire thousands of new customers through the power of group buying. Request an information pack today and find out how ikOala can deliver a new flow of customers, free of any upfront charges. It's risk free advertising with guaranteed results. Easy.
                        </p>
                    </div>
                    
                                    
                    <form action="<?php $_SERVER['PHP_SELF'] ?>" id="contactForm" method="post">
                        <div class="leftpart">
                            <label class="ip">
                                <?php echo $this->__('Company Name') ?>
                            </label><br/>
                            <div class="inputbox_1">
                                <input type="text" id="company_name" name="co_name" />
                            </div>
                            
                            <label class="ip">
                                <em>*</em><?php echo $this->__('Email Address') ?>
                            </label><br/>
                            <div class="inputbox_1">
                                <input type="text" id="email" name="email" class="required-entry input-text" />
                            </div>
                            
                            <label class="ip">
                                <?php echo $this->__('Website Address') ?>
                            </label><br/>
                            <div class="inputbox_1">
                                <input type="text" name="website" />
                            </div>
                            <label class="ipt"><?php echo $this->__('I agree to the <a href="%s">Terms &amp; Conditions</a> and <a href="%s">Privacy Policy</a>',Mage::getUrl('terms_conditions'),Mage::getUrl('privacy_policy')) ?></label><br/>
                            <input class="send" type="image" src="<?php echo $this->getSkinUrl('images/submit.png')?>" alt="submit">
                            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;">
                            
                        </div>
                        <div class="rgtpart">
                            
                            <label class="ip">
                                <em>*</em><?php echo $this->__('Your Full Name') ?>
                            </label><br/>
                            <div class="inputbox_1">
                                <input type="text" name="name" id="name" class="required-entry input-text" />
                            </div>
                            
                            <label class="ip">
                                <em>*</em><?php echo $this->__('Phone Number') ?><strong class="black"> (include area code)</strong>
                            </label><br/>
                            <div class="inputbox_1">
                                <input type="text" name="phone" id="telephone" class="required-entry input-text" />
                            </div>
                            
                            <label class="ip">
                                <em>*</em><?php echo $this->__('Comments') ?>
                            </label><br/>
                            <div class="inputbox2">
                                <textarea name="msg" id="comment" class="required-entry input-text"></textarea>
                            </div>
                            <img src="<?php echo $this->getSkinUrl('images/gloab.jpg')?>" />
                        </div>
                        <div class="clear"></div>

                    </form>
 
                </div>
                <div class="rgt"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
