<div class="page-title">
<h1>Contact Us</h1>
</div>
<div class="clear"></div>
<div class="std">
  <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
  <div class="standard">
    <div class="contactus">
      <h2>Have any questions...?</h2>
      <div class="number"> 1800 IKOALA (1800 456 252) </div>
      <div class="clear"></div>
      <P>Our team is standing by ready to help you. Office hours are 10am - 3pm Monday - Friday EST. Please complete the contact form below and one of our team members will respond to you. Alternatively you may try our <a href="http://www.comm100.com/livechat/">Live Chat</a> or <a href="<?php echo $this->getWebsite();?>/faq">Help page</a>. </P>
      <div class="form1">
        <div class="left"></div>
        <div class="mid">
          <h2>Please Submit your Enquiry Details</h2>
          <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
            <div class="leftpart">
              <label> Enquiry Type </label>
              <div class="inputbox3">
                <select name="enquiry" id="enquiry">
                  <option>General Enquiry</option>
                  <option>Business</option>
                </select>
              </div>
              <label>Company Name</label><br />
              <div class="inputbox">
                <input name="company_name" id="company_name" title="<?php echo $this->__('Company') ?>" value="" class="input-text" type="text"/>
              </div>
              <label>Email Address <strong>*</strong></label><br />
              <div class="inputbox">
               <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
              </div>
              <span class="bounce2" >
              <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span style="width:94px;"><?php echo Mage::helper('contacts')->__('') ?></span></span></button>
             </span>
            </div>
            <div class="rgtpart">
              <label>Full Name <strong>*</strong></label><br />
              <div class="inputbox">
                <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
              </div>
              <label>Phone Number</label><br />
              <div class="inputbox">
                <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
              </div>
              <label>Message</label>
              <div class="inputbox2">
                 <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
              </div>
            </div>
            <div class="clear"></div>
          </form>
          <div class="contact"> <img src="<?php echo $this->getSkinUrl('images/map.jpg')?>" alt="ikola" />
            <h3>Mailing Address & Contact Details</h3>
            <p>Mailing Address & Contact Details<br />
              PO BOX 246, CHATSWOOD, NSW, 2057<br />
              <img src="<?php echo $this->getSkinUrl('images/fone.png')?>" class="imgleft" align="absmiddle" />(02) 9119 3170<br />
              <img src="<?php echo $this->getSkinUrl('images/mobile.png')?>" class="imgleft" align="absmiddle" />(02) 8072 2191<br />
              <img src="<?php echo $this->getSkinUrl('images/mail.png')?>" class="imgleft" align="absmiddle" /> <a href="mailto:support@ikoala.com.au">support@ikoala.com.au</a></p>
          </div>
        </div>
        <div class="rgt"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
