﻿<!--@subject [#{{var ticket.uid}}] Ticket created: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Olá {{var ticket.customer_name}}</strong>,<br/>
                                Obrigado por entrar em contato conosco. Esta é uma resposta automática para confirmar 
								o recebimento do seu chamado. Um de nossos agentes entrará em contato com você assim 
								que possível. Para sua informação, os detalhes do chamado seguem abaixo. Ao responder, 
								por favor mantenha o número do chamado na linha do assunto para garantir que suas 
								respostas sejam monitoradas apropriadamente.
                            </p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <strong>Nro. Chamado:</strong> {{var ticket.uid}}<br/>
                                <strong>Assunto:</strong> {{var ticket.title}}<br/>
                            </p>

                            <p>


                            </p>

                            <p>
                                <strong>Atenciosamente,<br/>
                                    {{var department.name}}</strong>
                            </p>

                            <br/>

                            {{var ticket.getCustomerUrlHtml()}}


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

