﻿<!--@subject [#{{var ticket.uid}}] Ticket created: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">

                            <p>
								<span class="_CONTENT_">
								{{var ticket.content}}
								</span>

                            <p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <strong>Chamado Nro.:</strong> {{var ticket.uid}}<br/>
                                <strong>Assunto:</strong> {{var ticket.title}}<br/>
                            </p>

                            <p>
                            </p>

                            <p>
                                <strong>Atenciosamento,<br/>
                                    {{var department.name}}
                                </strong>
                            </p>
                            <br/>
                            {{var ticket.getCustomerUrlHtml()}}
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
