﻿<!--@subject [#{{var ticket.uid}}] Ticket reassigned: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"> 
                           <span class="_CONTENT_">
                                Olá {{var customer.getName()}},<br/>
                                Seu chamado foi (re)direcionado ao departamento {{var newdepartment.name}}  
                            </span>                           
                            <p><strong>Detalhes chamado:</strong></p>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <strong>Chamado Nro.:</strong> {{var ticket.uid}}<br/>
                                <strong>Assunto:</strong> {{var ticket.title}}<br/>
                            </p> 
                            <p>{{var ticket.getCustomerUrlHtml()}}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


