<script src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">var jq = jQuery.noConflict();</script>
<div class="cart">
        <h1 class="loginsign"><?php echo $this->__('Shopping Cart') ?></h1>        
    <div class="clear"></div>
    
    <div class="standard">
        <div class="cart-container">
        
            <div class="std my-account-form">
              <?php if(!$this->hasError()): ?>
                  <?php endif; ?>
                  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
                  <?php echo $this->getChildHtml('form_before') ?>
                  <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
                      <fieldset>
                          <table id="shopping-cart-table" class="data-table cart-table">

                          <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                            <thead>
                                <tr>
                                    <th rowspan="<?php echo $mergedCells; ?>" class="a-left"><span class="nobr"><?php echo $this->__('Item') ?></span></th>
                                    <th rowspan="<?php echo $mergedCells; ?>" class="a-left"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>                        
                                    <th class="a-center" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
                                    <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"><?php echo $this->__('Qty') ?></span></th>
                                    <th class="a-center" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Subtotal') ?></span></th>
                                    <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"></span></th>
                                </tr>
                                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                <tr>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                </tr>
                                <?php endif; ?>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="a-right">
                                        <?php if($this->getContinueShoppingUrl()): ?>
                                            <button id="continue_button" type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-continue left" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
                                        <?php endif; ?>
                                            
                                        <?php if(!$this->hasError()): ?>
                                            <?php foreach ($this->getMethods('methods') as $method): ?>
                                                <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                                                    <?php echo $methodHtml; ?>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                            <?php foreach($this->getItems() as $_item): ?>
                                <?php //var_dump($_item); die('WERKT?!'); ?>
                                <?php echo $this->getItemHtml($_item) ?>
                            <?php endforeach ?>
                            </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
                    </fieldset>
                </form>
                <div class="cart-collaterals">                  
                  <div class="clear"></div>
                  
                    <div class="col2-set">
                        <div class="col-1">
                            <?php echo $this->getChildHtml('crosssell') ?>
                            <?php echo $this->getChildHtml('coupon') ?>
                        </div>
                        <div class="col-2">
                            <?php  echo $this->getChildHtml('cartpoints_spender') ?> 

                            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
                        </div>
                    </div>
                  
                    <div class="totals">
                        <?php echo $this->getChildHtml('totals'); ?>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</div>
<script type="text/javascript">
/* There seem to be no template for the discount row so this is the fix I can think of */
jq(document).ready(function() {
if ((/Discount/).test(jq('#shopping-cart-totals-table tbody tr:nth-child(2) th').text()))
{
    jq('#shopping-cart-totals-table tbody tr:nth-child(2) td').removeClass('a-right');
    jq('#shopping-cart-totals-table tbody tr:nth-child(2) td').css('text-align', 'left !important');
    jq('#shopping-cart-totals-table tbody tr:nth-child(2) td').css('padding-left', '45px');
}
});
</script>
