<?php
$bannerGroupCode = $this->getBannerGroupCode();
$data = $this->getDataByGroupCode($bannerGroupCode);
$bannerGroupData = $data['group_data'];
$mediaDir = Mage::getBaseDir('media');
$bannerData = $data['banner_data'];
$bannerdest = (($bannerGroupData->getLinkTarget() == 0) ? '_blank' : '_self');
$bannerType = $bannerGroupData->getAnimationType();
$bannerWidth = $bannerGroupData->getBannerWidth();
$bannerHeight = $bannerGroupData->getBannerHeight();
$duration = Mage::getStoreConfig('banner/banner/banner_time_delay');
$autoplay = Mage::getStoreConfig('banner/banner/banner_autoplay');
$imageWidth = ((int) $bannerWidth);
$imageHeight = ((int) $bannerHeight);
$styleNWH = 'width: ' . ((int) $bannerWidth + 5) . 'px; height: ' . ((int) $bannerHeight + 5) . 'px;';
$styleWH = 'width: ' . $imageWidth . 'px; height: ' . $imageHeight . 'px;';
?>

<div class="bnr-new2">
    <ul>
        <?php
            $i = 0;
            foreach ($bannerData as $banner):
                $i++;
                $disp = (($i == 1) ? 'inline' : 'none');
                $v = "imgnumber" . $i;
                $bannerPath = $banner->getFilename();
                $bannerType = $banner->getBannerType();
                $bannerTitle = $banner->getTitle();
                $bannerLink = $banner->getLink();
                $bannerContent = $banner->getBannerContent();
                if ($bannerType == 0) :
                    $bannerImage = '';
                    if ($bannerPath != '' && @file_exists($mediaDir . DS . $bannerPath)) :
                        $bannerImage = $this->getResizeImage($bannerPath, $bannerGroupCode, $imageWidth, $imageHeight);
                    endif;
                    if ($bannerImage != '') :
                        ?>
                        <li>
                            <a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" title="<?php echo $bannerTitle; ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?>><img src="<?php echo $bannerImage; ?>"  style="<?php echo $styleWH; ?>" alt="<?php echo $bannerTitle; ?>"/></a>
                        </li>
                    <?php endif;
                else: ?>
                    <li>
                        <a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" title="<?php echo $bannerTitle; ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?>><?php echo $bannerContent; ?></a>
                    </li>
                <?php
                endif;
            endforeach; ?>
    </ul>    
</div>

<script type="text/javascript">
jQuery(function() {
    
    jQuery('.bnr-new2 ul').cycle({
        //fx: 'scrollHorz',
        pause: true,
        autorun: false
        
    }); 
}); 
</script>
