<div class="myaccount-container-top"></div>
<div class="myaccount-container-mid">
    <div class="myaccount-container-title"><?php echo $this->__('MERCHANT DASHBOARD') ?></div>
    <div class="clear"></div>
    
    <div class="myaccount-container-content">
        <a href="/deals/merchant_product/new/"><?php echo $this->__('Create New Deal') ?></a>
    </div>
</div>
<div class="myaccount-container-bottom"></div>
