<?php
$_products = $this->getMostviewed();
if (($_products = $this->getProductCollection()) && $_products->getSize()): 
?>
<div class="page-title">
    <h1>Popular Deals</h1>
</div>
<?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
<ul class="products-grid" id="products-grid-table">
<?php $i=1; foreach ($_products->getItems() as $_product): ?>
    <li id="td_<?php echo $i;?>" <?php if($i%5==0 or $i==$_collectionSize){echo 'class="last"';} ?> >
        <div id="cont_<?php echo $i;?>">  
            <div class="popdeals">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
            </div>
            <div class="popdeals">
                <div class="info-img">
                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80); ?>" width="80" height="80" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                    </a>
                </div>
                <div class="price-holder">
                    <div class="value">
                        <span><?php echo $this->__('Value') ?></span>
                        <p><?php echo $this->getDealValue(); ?></p>
                    </div>
                    <div class="save">
                        <span><?php echo $this->__('Save') ?></span>
                        <p><?php echo $this->getDealSaving(); ?></p>
                    </div>
                    <div class="viewnow">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">View Now</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
<?php $i++; endforeach; $kol = $_collectionSize; ?>
</ul>
<?php endif; ?>