<div class="similar-product">
<h2><?php echo $this->__('Similar Products') ?></h2>

<!--clm-4-start-here-->
<div class="clm-4">
    <div class="product-box">
        <a href="#">
            <figure>
                <img src='<?php echo $this->getSkinUrl("images/similar-img.jpg") ?>' alt="images">
            </figure><!--produt-txt-start-->
            <div class="product-txt">
                <div class="product-txt-left">
                    <h4>15 Day Slim Tea Programme</h4>
                </div>
                <div class="product-txt-right">
                    <h5>$25.00</h5>
                    <img src='<?php echo $this->getSkinUrl("images/five-star.png") ?>' alt="images">
                </div>
            </div>
        <!--produt-txt-end-->
        </a>
    </div>
</div>
<!--clm-4-end-here-->

<!--clm-4-start-here-->
<div class="clm-4">
    <div class="product-box">
        <a href="#">
            <figure>
                <img src='<?php echo $this->getSkinUrl("images/similar-img.jpg") ?>' alt="images">
            </figure><!--produt-txt-start-->
            <div class="product-txt">
                <div class="product-txt-left">
                    <h4>15 Day Slim Tea Programme</h4>
                </div>
                <div class="product-txt-right">
                    <h5>$25.00</h5>
                    <img src='<?php echo $this->getSkinUrl("images/five-star.png") ?>' alt="images">
                </div>
            </div>
        <!--produt-txt-end-->
        </a>
    </div>
</div>
<!--clm-4-end-here-->

<!--clm-4-start-here-->
<div class="clm-4">
    <div class="product-box">
        <a href="#">
            <figure>
                <img src='<?php echo $this->getSkinUrl("images/similar-img.jpg") ?>' alt="images">
            </figure><!--produt-txt-start-->
            <div class="product-txt">
                <div class="product-txt-left">
                    <h4>15 Day Slim Tea Programme</h4>
                </div>
                <div class="product-txt-right">
                    <h5>$25.00</h5>
                    <img src='<?php echo $this->getSkinUrl("images/five-star.png") ?>' alt="images">
                </div>
            </div>
        <!--produt-txt-end-->
        </a>
    </div>
</div>
<!--clm-4-end-here-->

<!--clm-4-start-here-->
<div class="clm-4">
    <div class="product-box">
        <a href="#">
            <figure>
                <img src='<?php echo $this->getSkinUrl("images/similar-img.jpg") ?>' alt="images">
            </figure><!--produt-txt-start-->
            <div class="product-txt">
                <div class="product-txt-left">
                    <h4>15 Day Slim Tea Programme</h4>
                </div>
                <div class="product-txt-right">
                    <h5>$25.00</h5>
                    <img src='<?php echo $this->getSkinUrl("images/five-star.png") ?>' alt="images">
                </div>
            </div>
        <!--produt-txt-end-->
        </a>
    </div>
</div>
<!--clm-4-end-here-->

</div>
