<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<?php $_product = $this->getProduct();   ?>
<?php $_deal = $this->getDeal(); ?>
<?php $dateNow = date("Y-m-d H:i:s", Mage::getModel('core/date')->timestamp(time())); ?>
<?php if($_product->isSaleable() && $_deal->getCanPurchase() && $_deal->getApproved() == 1 && strtotime($_product->getDealFromDate()) <= strtotime($dateNow)){
    //$buy = "<a href='#' class='cart-bt' onclick='productAddToCartForm.submit(this)'>Add to cart</a>";
    $buy = "<a href='#' class='cart-bt'>Add to cart</a>";
} 
else{
    $buy = "<span class='notavail'>Not Available</span>";
}
?>
<?php $cats = $_product->getCategoryIds(); ?>
<?php if($cats): ?>
    <?php $catName = count($_product->getCategoryIds()) > 1 ? $cats[1] : $cats[0]; ?>
<?php endif; ?>
<div class="detail-part-outer">
    <?php echo $this->getChildHtml('tonic.breadcrumbs') ?>
    <div class="detail-mid-part">
        <div class="detail-top-part">
            <!--detail-top-left-strat-->
            <div class="detail-top-left">
                <div class="slider-outer">
                <!--thumb-slider-start-->
                    <div id="banner">
                        <?php echo $this->getChildHtml('media'); ?>			
                    </div>
                <!--thumb-slider-end-->
                </div>
            </div>

            <!--detail-top-left-end-->
            <!--detail-top-right-strat-->
            <div class="detail-top-right">
                <h2><?php echo Mage::getModel('catalog/category')->load($catName)->getName().":"; ?></h2>
                <h3><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>
                <div class="bdr"></div>
                <h5><?php echo $this->getReviewsSummaryHtml($_product, false, true)?></h5>
                <p><?php echo $_product->getShortDescription() ?></p>
                <div class="bdr"></div>
                
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <div class="price-row">
                        <h4><?php echo $_coreHelper->currency($_product->getPrice(),true,false) ?></h4>
                        <h5><?php echo $_coreHelper->currency($_product->getSpecialPrice(),true,false) ?></h5>
                        <h6>Quantity:</h6>
                        <div class="quantity-input">
                                <input type="text" name="qty" class="qty" onblur="if (this.value == '') {this.value = '1';}" onfocus="if (this.value == '1') {this.value = '';} " value="1">
                                <span>
                                    <a href="javascript:void(0)" class="plus"><img src="<?php echo $this->getSkinUrl('images/quantity-plus.jpg')?>" alt="image"></a>
                                    <a href="javascript:void(0)" class="minus"><img src="<?php echo $this->getSkinUrl('images/quantity-minus.jpg')?>" alt="image"></a>
                                </span>
                        </div>
                    </div>

                    <div class="bt-row">
                        <?php echo $buy ?>
                        <a href="#" class="wish-list-bt"><?php echo $this->__('Add to Wishlist') ?></a>
                        <a href="#" class="email-bt"><?php echo $this->__('Share By Email') ?></a>
                    </div>
                    <div class="bdr"></div>
                </form>
                <?php echo $_product->getDealPackage() ?>
            </div>
        <!--detail-top-right-strat-->
        </div>
        
        <div class="tab-outer">
        <!--tab-box-start-->
            <div class="tab-box"> 
                <ul>
                    <li><a id="cont-1" class="tabLink activeLink tab_icon1" href="javascript:;"><?php echo $this->__('Description') ?></a></li>
                    <li> <a id="cont-2" class="tabLink " href="javascript:;"><?php echo $this->__('Customer Reviews') ?></a></li>
                </ul>                   

                <!--social-icon-2-start--> 
                <div class="social-icon-2">
                <a href="#"><img src="<?php echo $this->getSkinUrl('images/f-icon.png') ?>" alt="image"></a>
                <a href="#"><img src="<?php echo $this->getSkinUrl('images/t-icon.png') ?>" alt="image"></a>
                <a href="#"><img src="<?php echo $this->getSkinUrl('images/g-icon.png') ?>" alt="image"></a>
                <a href="#"><img src="<?php echo $this->getSkinUrl('images/in-icon.png') ?>" alt="image"></a>
                </div>
            <!--social-icon-2-start-->                            
            </div>
            <!--tab box end-->
            <!--tabcontian-1-start-->
            <div id="cont-1-1" class="tabcontent">
                <!--tabcontian-box-start-->
                <div class="tabcontent-box">
                    <?php echo $_product->getDescription() ?>
                </div>
            <!--tabcontain-box-end-->
            </div>
            <!--tabcontain-1-end-->
            <!--tabcontain-2-start-->
            <div id="cont-2-1" class="tabcontent hide">
            <!--tabcontian-box-start-->
                <div class="tabcontent-box">
                    <?php echo $this->getChildHtml('product_additional_data') ?>
                </div>
            <!--tabcontain-box-end-->
            </div>
            <!--tabcontain-2-end-->
        </div>
        <?php echo $this->getChildHtml('similar.deals'); ?>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
               form.action = url;
            }
            var e = null;
            try {
                this.form.submit();
            } catch (e) {
            }
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }

            if (button && button != 'undefined') {
                button.disabled = true;
            }
        }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function(button, url){
        if(this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            // Remove custom datetime validators
            for (var methodName in Validation.methods) {
                if (methodName.match(/^validate-datetime-.*/i)) {
                    delete Validation.methods[methodName];
                }
            }

            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);
//]]>

  document.observe('dom:loaded', function() {
        $$('.plus').each(function(e, key) {
            $$('.plus')[key].on('click', function() { 
                var qty_value = $$('.qty')[key].value;
                if(!isNaN(parseFloat(qty_value)) && isFinite(qty_value)) {
                    var qty = ++qty_value;
                    $$('.qty').each(function(q, k) {
                        $$('.qty')[k].value = qty;
                    });
                }
            });
        });
        
        
         $$('.minus').each(function(e, key) {
            $$('.minus')[key].on('click', function() {
                var qty_value = $$('.qty')[key].value;
                if(!isNaN(parseFloat(qty_value)) && isFinite(qty_value) && qty_value > 1) {
                    var qty = --qty_value;

                    $$('.qty').each(function(q, k) {
                        $$('.qty')[k].value = qty;
                    });
                }
            });
        });
        
    });


</script>

