<!--hot-cataegry-row-start-->   
<div class="hot-catagery-row">        
<!--hot-green-start-->
    <div class="hot-green">
        <h4><?php echo $this->__('HOT') ?></h4>
        <span><?php echo $this->__('Categories') ?></span>
        </div>
        <!--hot-green-end-->   
        <ul>
            <li class="no-bg"><a href="<?php echo $this->getUrl('every-day.html') ?>" ><img src="<?php echo $this->getSkinUrl('images/evry-day-icon.png') ?>" alt="image"><br>Everyday</a></li>
            <li><a href="<?php echo $this->getUrl('kids.html') ?>"><img src="<?php echo $this->getSkinUrl('images/kids-icon.png') ?>" alt="image"><br>KIDS</a></li>
            <li><a href="<?php echo $this->getUrl('fashion.html') ?>"><img src="<?php echo $this->getSkinUrl('images/fashion-icon.png')?>" alt="image"><br>FASHION</a></li>
            <li><a href="<?php echo $this->getUrl('travel.html') ?>"><img src="<?php echo $this->getSkinUrl('images/treavel-icon.png') ?>" alt="image"><br>Travel</a></li>
            <li><a href="<?php echo $this->getUrl('homewares.html') ?>"><img src="<?php echo $this->getSkinUrl('images/home-icon.png') ?>" alt="image"><br>@home</a></li>
            <li><a href="<?php echo $this->getUrl('red-hot.html') ?>"><img src="<?php echo $this->getSkinUrl('images/red-hot-icon.png')?>" alt="image"><br>Red Hot</a></li>
            <li><a href="#" class="acti shop"><img src="<?php echo $this->getSkinUrl('images/shop-icon.png') ?>" alt="image"><br>shop</a></li>
        </ul>        
</div>
<!--hot-cataegry-row-end-->


<!--subscribe-row-start-->
<div class="subscribe-row">
    <?php echo  $this->getLayout()->createBlock('newsletter/subscribe','newsletter')->setTemplate('dailydeals/newsletter/subscribe.phtml')->toHtml(); ?>
</div>
<!--subscribe-row-end-->            


<script type="text/javascript">
    var currentUrl = jQuery(location).attr('href');

    jQuery('.hot-catagery-row ul li a').each(function(){
            if(currentUrl == jQuery(this).attr('href') || currentUrl+'/' == jQuery(this).attr('href')){
                jQuery(this).addClass("acti");
                jQuery('.hot-catagery-row ul li a.shop').removeClass('acti');
            }
    });
</script>


