<?php
	$_productCollection=$this->getProductCollection();
	$_helper = $this->helper('catalog/output');
	$_coreHelper = $this->helper('core');
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/easyResponsiveTabs.js')?>"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tab-part').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
		
        
    });
</script>

<div id="featured-deals">
    <?php if (!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo $this->__('There are no deals matching the selection.') ?></p>
    <?php else: ?>
            <?php
            $_collectionSize = $_productCollection->count();
            $_columnCount = $this->getColumnCount();
            $i = 0;
            ?>
            <div class="category-products " id="carousel_container">
            <div class="home-tab">
                <span class="scroll-wrapper2"> 
                    <img src='<?php echo $this->getSkinUrl("images/hone-tab-next.jpg") ?>' id="previmg"> 
                    <img src='<?php echo $this->getSkinUrl("images/hone-tab-prev.jpg") ?>' id="nextimg"> 
                </span>
                <div class="tab-part ">
                    <div class="tab-box">
                
                        <ul class="resp-tabs-list">
                        <?php  if(!Mage::helper('ikoala_mobile/switch')->isMobile()): ?>
                            <li class="no-bg"><a onclick="showtab('tab-1',jQuery(this))" href="javascript:void(0)" class="tab-head current"><img src='<?php echo $this->getSkinUrl("images/h1-bg-dollar.png") ?>'><?php echo $this->__("Today's Deals!") ?></a></li> 
                            <?php  endif?>                                   
                            <li><a onclick="showtab('tab-2',jQuery(this))" href="javascript:void(0)" class="tab-head"> <img src='<?php echo $this->getSkinUrl("/images/glob-icon.png") ?>'><?php echo $this->__('Most Popular') ?> </a></li>
                            <li><a onclick="showtab('tab-3',jQuery(this))" href="javascript:void(0)" class="tab-head"><img src='<?php echo $this->getSkinUrl("/images/star.png") ?>'><?php echo $this->__('You May Also Like') ?></a></li> 
                            <li><a onclick="showtab('tab-3',jQuery(this))" href="javascript:void(0)" class="localdeal-li tab-head"><img src='<?php echo $this->getSkinUrl("/images/loacal-icon.png") ?>'><?php echo $this->__('Local Deals') ?></a></li> 
                        </ul>

                        <!--local-deal-start-->
                        <div class="local-deal">
                            <!--sub-menu-star-->
                            <div class="local-deal-part ">
                                <?php echo $this->getChildHtml('localdealsmenu') ?>
                            </div>
                            <!--sub-menu-end-->    
                        </div>
                        <!--local-deal-end-->
                        

                    </div>

                    <div class="tabscontent carousel_inner products_gallery resp-tabs-container">
                        <?php if(!Mage::helper('ikoala_mobile/switch')->isMobile()): ?>
                        <div id="tab-1" class="tabs">
                            <ul class="product" id="carousel_ul">
                            <?php foreach ($_productCollection as $_product): ?>
                                <?php if ($i++%$_columnCount==0): ?>
                                    <li>
                                <?php endif ?>
                                <div>
                                    <a href="<?php echo $_product->getProductUrl(); ?>">
                                        <img width="207" height="164" title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" class="lazy-featured" src="<?php echo $this->getSkinUrl('images/grey.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(207,164); ?>" />					   
                                        <span class="title">
                                            <span class="title-padding">
                                                <span class="deal-title"> 
                                                <?php echo Mage::helper('core/string')->truncate($_product->getName(), 65)?>
                                                </span>
                                                <span class="deal-desc-snippet">
                                                    <?php echo Mage::helper('core/string')->truncate(strip_tags($_product->getShortDescription()), 105)?>
                                                </span>
                                            </span>
                                        </span>
                                        <h4>
                                            <span>
                                                <small><?php echo $this->__('now only') ?></small><br/>
                                                <span class="currency"><?php echo $this->__('$') ?></span>
                                                <?php echo Mage::getModel('directory/currency')->format($_product->getFinalPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false) ?>
                                            </span>
                                            <span class="viewnow-but"><?php echo $this->__('View now') ?></span>
                                        </h4>
                                    </a>
                                </div>
                                <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                                    </li>
                                <?php endif ?>
                            <?php endforeach; ?>
                            </ul>
                        </div>
                          <?php endif ?>
                        <div id="tab-2" class="tabs hide">
                            <?php echo $this->getChildHtml('popular_deals') ?>
                        </div>
                        
                        <div id="tab-3" class="tabs hide">
                            <?php echo $this->getChildHtml('related_deals') ?>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>



<script type="text/javascript">
    /*
var tabs;
    jQuery(function($) {
        tabs = jQuery('.tabscontent').tabbedContent().data('api');

        // switch to tab...
        jQuery('a[href=#click-to-switch]').on('click', function(e) {
            var tab = prompt('Tab to switch to (number or id)?');
            if (!tabs.switchTab(tab)) {
                alert('That tab does not exist :\\');
            }
            e.preventDefault();
        });
    });
    */
    
function showtab(tabId,current){
    jQuery('.tab-head').each(function(){
        jQuery(this).removeClass('current');
    });
    
    jQuery('.tabs').each(function(){
        jQuery(this).addClass('hide');
    });
    current.addClass('current');
    jQuery('#'+tabId).removeClass('hide');
    jQuery("img.lazy-featured").trigger('featuredProductsInteraction');
}
jQuery(function() {

	jQuery('div.products_gallery ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 5000,
		next: '#nextimg',
		prev: '#previmg',
        before: lazyloadImg
	});	
});

jQuery(function() {
	jQuery('div.products_gallery2 ul.product').cycle({
		fx: 'scrollHorz',
		pause: true,
		autorun: false,
		timeout: 0,
		prev: '#previmg2',
		next: '#nextimg2'
	});
    	
});

function lazyloadImg(){
    jQuery("img.lazy-featured").trigger('featuredProductsInteraction');
}

jQuery(document).ready(function() {
    //jQuery("img.lazy-featured").trigger('featuredProductsInteraction');
    jQuery("img.lazy-featured").lazyload({ effect : "show", event: 'featuredProductsInteraction' });
    jQuery('#tab-1 ul li:first img.lazy-featured').trigger('featuredProductsInteraction');
});
</script>


<?php if($this->getRequest()->getParam('cro') == 'homepage'): ?>
    <?php echo $this->getChildHtml('newsletter_subscription_new'); ?>
<?php else: ?>
    <?php echo $this->getChildHtml('newsletter_subscription'); ?>
<?php endif; ?>
