    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="content">
            <label><?php echo $this->__('Receive Daily Deal Alerts for:') ?></label>			
			<?php if(count($this->getGroups())>1): ?>
			<div class="city-selector">
				<select id="select-city" name="cities" title="<?php echo $this->__('Select City') ?>">
				<?php foreach ($this->getGroups() as $_group): ?>
					<?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
					<option value="<?php echo $_group->getId() ?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($_group->getName()) ?></option>
				<?php endforeach; ?>
				</select>
			</div>
			<?php endif; ?>

            <div class="input-box">
               <input type="text" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
            </div>
			<div id="newsletter_close" onclick="newsletter_event();"></div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
