<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento enterprise edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento enterprise edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdeskultimate
 * @version    2.10.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Additional Information')?></h4>
    </div>
    <div class="fieldset">

        <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
                <tbody>
                <tr>
                    <td class="label">
                        <label><?php echo $this->__('ID')?></label>
                    </td>
                    <td><?php echo $this->getTicket()->getUid()?></td>
                </tr>
                <?php if ($this->isAssigned()): ?>
                <tr>
                    <td class="label">
                        <label><?php echo $this->__('Assigned to customer')?></label>
                    </td>
                    <td><?php echo $this->getAssignedHtml()?></td>
                </tr>
                    <?php endif;?>
                <?php if ($this->isOrderAssigned()): ?>
                <tr>
                    <td class="label">
                        <label><?php echo $this->__('Assigned to order')?></label>
                    </td>
                    <td><?php echo $this->getAssignedOrderHtml()?></td>
                </tr>
                    <?php endif;?>

                <tr>
                    <td class="label">
                        <label><?php echo $this->__('External URL')?></label>
                    </td>
                    <td><?php echo $this->getTicket()->getAccessUrl('forceExternalUrl')?></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

