<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento enterprise edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento enterprise edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdeskultimate
 * @version    2.10.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><tr id="file0">
    <td class="label"><label for="filename"><?php echo Mage::helper('helpdeskultimate')->__('File') . ("(" . Mage::getStoreConfig('helpdeskultimate/advanced/maxupload') . " Mb)") ?></label></td>
    <td class="value">
        <input type="file" value="" name="filename0" id="filename0">                  
        <button class="scalable" id="addfile_button" type="button" onclick="fileOption.add(0)"><span><?php echo Mage::helper('helpdeskultimate')->__('Add file') ?></span></button>
    </td>
</tr>
<script type="text/javascript">
//<![CDATA[    
    var lastId = 1;
    var fileOption = function() {
        return {
            del : function(obj) {
                if( confirm('<?php echo $this->__('Are you sure you want to delete it?') ?>') ) {
                    var fileRow = document.getElementById('file'+obj);
                    fileRow.remove();
                }
            },            

            add : function(obj) {
                var id = this.createId();
                var fileRow = document.getElementById('file'+obj);
                var fileTable = fileRow.parentNode.parentNode;
                var newRow = fileTable.insertRow(fileTable.rows.length);
                newRow.innerHTML=this.getTemplate(id); 
                newRow.id='file'+id;
            },

            getTemplate : function(id) {                
                return  '<td class="label"><label for="filename"><?php echo Mage::helper('helpdeskultimate')->__('File') . ("(" . Mage::getStoreConfig('helpdeskultimate/advanced/maxupload') . " Mb)") ?></label></td>'
                    +   '<td class="value">'
                    +   '<input type="file" value="" name="filename'+ id + '" id="filename'+ id + '">'  
                    +   '<button class="scalable delete" id="deletefile_button" type="button" onclick="fileOption.del('+ id + ')"><span><?php echo Mage::helper('helpdeskultimate')->__('Delete') ?></span></button>'
                    +   '</td>';
                    
            },

            createId : function () {
                return lastId++;
            }
        }
    }();
//]]>
</script>
