.wrapper .page .category-products .products-listing{ padding-bottom: 50px; }
.wrapper .page .home-page-container .category-products .products-grid li { width:212px; height:300px; margin:0 10px 20px 10px;}
 .wrapper .page .home-page-container .category-products .products-grid li div p{ text-transform:uppercase;font: 13px/20px "latobold" ; color:#237604; padding: 9px 15px 15px 15px; height:46px;}
.wrapper .page .home-page-container .category-products .products-grid li div a{ height:283px;}
.wrapper .page .category-products .products-listing .category_list form.search{ background:#6f879a; padding:5px; display:inline-block; margin-top:20px; border-radius:3px;  width: 95%;}
.wrapper .page .category-products .products-listing .category_list form.search input{ padding:10px 0 10px 14px; width:148px; color:#959595; font-family:Arial, Helvetica, sans-serif; font-size:11px; border-radius:3px 0 0 3px; border:none; float:left;}
.wrapper .page .category-products .products-listing .category_list form.search input[type="button"]{   width: 23%;
     background: #fff url(../images/seach-icon.gif) 13px 7px no-repeat; border-radius:0 3px 3px 0;}
.wrapper .page .category-products .products-listing .category_list .logos-section{ border-radius:3px; padding-top:12px; margin-top:15px; padding-bottom:10px; }

.wrapper .page .category-products .products-listing .category_list .logos-section ul li a{  background:none; padding:0;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li.master-card{ float:left; padding-left:6px;  }
.wrapper .page .category-products .products-listing .category_list .logos-section ul li.master-card a{ padding:0 3px;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li a.logo3{ float:left;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li a + a.logo2{ width:29%; float:left;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li:after, .wrapper .page .category-products .products-listing .category_list .logos-section:after{ display:block; clear:both; width:100%; content:""; height:0;}
.wrapper .page .category-products .products-listing .category_list .logos-section h5{ font: 28px/28px "ZurichBTBold"; color:#545858; text-transform:uppercase;
margin:0; text-align:center;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li, .wrapper .page .category-products .products-listing .category_list .logos-section ul{ border:none; text-align:center;}
.wrapper .page .category-products .products-listing .category_list .logos-section ul li:first-child{ padding-bottom:5px; }

.wrapper .page .home-page-container::before{ background: none; }

.products-listing, .search-listing {
  position: relative;
  padding: 0 0 0 27px; }
  .products-listing ul.product, .search-listing ul.product {
    padding: 20px 0 !important;
    width: 975px;
    display: inline-block;
    float: left; }
    .products-listing ul.product li, .search-listing ul.product li {
        float: left;
        display: list-item;
        z-index: 4;
        opacity: 1;
        margin-left:0;
        width: 215px;
        margin-bottom: 20px;
        height: 215px; 
        background:url(../images/line-hori.png) no-repeat bottom right; 
        padding:0 14px 0 0;
    }
    .products-listing ul.product li div, .search-listing ul.product li div {
        text-align: center;
        position: relative;
        border-radius: 3px;
        margin: 0;
        float: left;
        width: 207px; 
        border: none;
      }
        .products-listing ul.product li div:before, .search-listing ul.product li div:before {
          /*background: url("../images/sd2-2.png") 0 0 no-repeat;*/
          content: "";
          height: 216px;
          position: absolute;
          left: -3px;
          top: 0;
          width: 12px; }
        .products-listing ul.product li div:after, .search-listing ul.product li div:after {
       /*   background: url("../images/sd1-1.png") 0 0 no-repeat;*/
          content: "";
          height: 216px;
          position: absolute;
          right: -13px;
          top: 0;
          width: 12px; }
        .products-listing ul.product li div p, .search-listing ul.product li div p {
          background: #f3f3f3;
          padding: 8px;
          color: #666c71;
          font: 11px/15px Arial,Helvetica,sans-serif;
          text-align: left;
          height: 30px; }
        .products-listing ul.product li div h4, .search-listing ul.product li div h4 {

          margin: 0px;
          height: 40px;
          text-transform: uppercase; }
          .products-listing ul.product li div h4 span, .search-listing ul.product li div h4 span {
            padding: 0 0 0 0; text-align:center; width: 50%;
    float: left;
    color: #F18B46;
    font: 33px/35px "ZurichBTBold";}
  
 .products-listing ul.product li div h4 span, .search-listing ul.product li div h4 span small { font: 14px/18px ZurichBT-Roman; color: #63686c; display:inline-block; text-align:center; text-transform:lowercase;}
 .products-listing ul.product li div h4 span + span, .search-listing ul.product li div h4 span + span,.wrapper .page .col1-layout .col-main div.products-listing ul.product li h4 span + span ,
 .wrapper .page .new_cl .tab-info2 .products-grid li h4 span + span{
    text-shadow: -1px -1px #70a92d, 1px 1px #9CCB7F; 
    background:url(../images/viewnow2.jpg);
    font: bold 13px/36px "ZurichBT-Roman";
    float: right;
    color:#ffffff;
    padding: 0 0px 0 0; 
    margin:20px 2px 0 0;
    font-weight: bold; 
    border-radius:5px; 
    text-transform:uppercase;
    text-align: center;
}
  
.products-listing ul.product li div a:hover, .search-listing ul.product li div a:hover {
            opacity: 1; }


  .products_gallery ul.product li div a, .wrapper .page .home-page-container .category-products .products-grid li div a {
  
    height: 280px; display:block;
     width: 100%;
    border-radius: 3px; position:relative; }
  
  .products_gallery ul.product li div a .title, .wrapper .page .home-page-container .category-products .products-grid li div a .title,
  .wrapper .page .new_cl .tab-info2 .products-grid li div a .title {
  position: absolute;
  bottom: 46px;
  left: 0;
  height: 83px;
  width: 100%; 
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.wrapper .page .new_cl .tab-info2 .products-grid li div a .title {
    bottom: 30px;
}

.wrapper .page .new_cl .tab-info2 .products-grid li div a .deal-title{
    text-transform: capitalize;
}

.products_gallery ul.product li div a .title .title-padding, .wrapper .page .home-page-container .category-products .products-grid li div a .title .title-padding,
.wrapper .page .new_cl .tab-info2 .products-grid li div a .title .title-padding {
  padding: 10px 0px 10px 0px;
  display: block;
  position: absolute; 
  top: 11px;
  bottom: 0px;
  left: 0px;
  right: 0px; overflow:hidden;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;

}

.viewnow-but{
    width: 46% !important;
    text-align: center !important;
 }

.products_gallery ul.product li div a .deal-title, .wrapper .page .home-page-container .category-products .products-grid li div a .deal-title,
.wrapper .page .new_cl .tab-info2 .products-grid li div a .deal-title { 
    height: 62px;
    border-bottom:1px solid #F2F2F2;
    display: block;
    line-height: 20px;
    overflow: hidden;
    margin-top: -3px; 
    /*padding:0 0 0 3px;
    font-family: 'latoregular'; 
    color:#343b40; 
    font-size:13px;
    text-align:left; */
   /*check on this */
  /*white-space: nowrap;
  text-overflow: ellipsis;
 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
}

.products_gallery ul.product li div a .deal-title, .wrapper .page .home-page-container .category-products .products-grid li div a .deal-title{
    text-transform: capitalize;
}


.products_gallery ul.product li h4, .wrapper .page .col1-layout .col-main div.products-listing ul.product li h4,
.wrapper .page .new_cl .tab-info2 .products-grid li h4 {
    background-image: none;
    height: 70px;
    text-transform: uppercase;
    margin: 65px 0 0 0; }

 .wrapper .page .col1-layout .col-main div.products-listing ul.product li h4 span,
 .wrapper .page .new_cl .tab-info2 .products-grid li h4 span.price{ 
    color:#F18B46;
    color: #F18B46;
    float: left;
    font: 30px/30px "ZurichBTBold";
    padding: 0;
    text-align: left;
    width: 47%;
    text-shadow: none;
 }
 
.wrapper .page .col1-layout .col-main div.products-listing ul.product li h4 span.currency,
.wrapper .page .new_cl .tab-info2 .products-grid li h4 span.price .currency{
    width: auto;
    font-size: 20px;
    color: #F18B46;
    line-height: 30px;
}

.wrapper .page .col1-layout .col-main div.products-listing ul.product li h4 span small,
.wrapper .page .new_cl .tab-info2 .products-grid li h4 span.price small{
    color: #63686C;
    display: inline-block;
    font: 14px/18px ZurichBT-Roman;
    text-align: center;
    text-transform: lowercase;
    width: 85px;
     }


/* pagination */

.prev-pagi, .next-pagi{
  margin-top: -3px;
}

.toolbar .pager{ padding:0; }
.right_part .pagi_top a, .right_part .pagi_top2 a{ background: #52595f; background-image: none; margin:0; text-align:center; font: 12px/34px "latobold" ; padding:0; width:35px; height:34px; float:left;   color:#969595; text-decoration:none; border-left:1px solid #62686e;}
.right_part .pagi_top a.next1, .right_part .pagi_top2 a.next1, .right_part .pagi_top a.previous1, .right_part .pagi_top2 a.previous1{ background: #52595f; width:auto; height: 34px; }
.right_part .pagi_top a.next1, .right_part .pagi_top2 a.next1 img, .right_part .pagi_top a.previous1, .right_part .pagi_top2 a.previous1 img{}
.right_part .pagi_top a:hover, .right_part .pagi_top2 a:hover{ color:#fff;}
.right_part .pagi_top a:hover, .right_part .pagi_top2 a.active1{ color:#fff;}
.right_part .pagi_top a:hover, .right_part .pagi_top2 a.active1,
.right_part .pagi_top a:hover, .right_part .pagi_top a.active1{ border-top: none; color:#fff;
/* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #f3910d, #ef6e18);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #f3910d, #ef6e18);
            /* IE 10 */
            background: -ms-linear-gradient(top, #f3910d, #ef6e18);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #f3910d, #ef6e18);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3910d", endColorstr="#ef6e18");
            background: linear-gradient(top, #f3910d, #ef6e18);
            -pie-background: linear-gradient(top, #f3910d, #ef6e18);

}

.wrapper .page .col1-layout .category-products .page-title h1,.wrapper .page .col1-layout .col-main .category-view .category-products .page-title h1 {
            /* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #80b734, #57aa25);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #80b734, #57aa25);
            /* IE 10 */
            background: -ms-linear-gradient(top, #80b734, #57aa25);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #80b734, #57aa25);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80b734", endColorstr="#57aa25");
            background: linear-gradient(top, #80b734, #57aa25);
            -pie-background: linear-gradient(top, #80b734, #57aa25);
            /* IE 6-9 through PIE */
            behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
            line-height:34px !important;
            -moz-border-radius: 3px 0px 0px 3px;
            -webkit-border-radius: 3px 0px 0px 3px;
            -khtml-border-radius: 3px 0px 0px 3px;
            border-radius: 3px 0px 0px 3px;
            -pie-border-radius: 3px 0px 0px 3px;
            /* IE 6-9 through PIE */
            behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc"); 
            /*
            text-transform:capitalize; 
            text-shadow:none; 
            color: #ffffff;
            border:none;
            */
            margin: 0 0 0 -32px;
            padding: 0.60em 0 0.5em 22px;
            left: 0;
            float: left;
            font:20px "latobold";
            width: 100%;
            height: 34px;
            border-right: none;
            width: 99%; 
}


.wrapper .page .category-products .products-listing .category_list{ float:left; width:222px; }
.wrapper .page .category-products .products-listing .category_list ul.rightnav{border-radius:3px;border-bottom:1px solid #e0e0e0;  border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; border-top: none; padding-bottom:5px;}   

/*
.wrapper .page .category-products .products-listing .category_list h4{  border-radius:3px 3px 0 0; height:58px; margin:0;
 font: 16px/58px "ZurichBTBold"; color:#3f4950; padding-left: 20px; border:1px solid #E0E0E0; border-bottom:none;  
            background: -webkit-linear-gradient(top, #fcfbfc, #f4f4f4);
            background: -moz-linear-gradient(top, #fcfbfc, #f4f4f4);
            background: -ms-linear-gradient(top, #fcfbfc, #f4f4f4);
            background: -o-linear-gradient(top, #fcfbfc, #f4f4f4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfbfc", endColorstr="#f4f4f4");
            background: linear-gradient(top, #fcfbfc, #f4f4f4);
            -pie-background: linear-gradient(top, #fcfbfc, #f4f4f4);
 
 }

.wrapper .page .category-products .products-listing .category_list ul li{ z-index:3; position:relative; border-top:1px solid #dedede; margin-left:1px; }
.wrapper .page .category-products .products-listing .category_list ul li a{ text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#223744;  background:  url(../images/arrow_new.gif) 20px 13px no-repeat; display:block; padding:10px 0 10px 40px; line-height:16px;}
.wrapper .page .category-products .products-listing .category_list ul li a:hover{ color:#e07d06;}

.wrapper .page .category-products .products-listing .category_list ul.rightnav{ background: none; }
.wrapper .page .category-products .products-listing .category_list ul li ul.sub-category{ background: #fff; border-left: 1px solid #e0e0e0; }
*/
/* Toolbar */

.wrapper .page .main #sort-toolbar{ border-radius: 5px 5px 0 0;  width: 999px; }

/* featured deals */
.wrapper .page .main #sort-toolbar h2:after{ background:url(../images/short-by-arrow.png) no-repeat right center; clear:both; content:""; width:31px; height:63px; display:block; position:absolute; top:-19px; left:100%;} 
.wrapper .page .main #sort-toolbar h1, .wrapper .page .main #sort-toolbar h2{ text-shadow:none; font-weight: normal;  margin: 14px 70px 0 34px;}
.wrapper .page .main #sort-toolbar div #select-city_msdd{ width: 215px !important;}
.wrapper .page .main #sort-toolbar div .ddcommon{ font: 12px/26px Arial, sans-serif;}
.wrapper .page #featured-deals{ 
    background: #F9F9F9;
    padding: 0;
    width: 1000px;
}

.wrapper .page .main #sort-toolbar h2 { margin:14px 70px 0 34px;  font-family: "ZurichBTBold";
          float: left;
          color: #fff;
          font-size:19px!important;
          padding: 0;
          text-align: left;
          text-transform: uppercase; position:relative; }

/******************tab-css-start-here******************/

.tab-box{ padding:0;  background:url(../images/today-bg.jpg) repeat-x; position:relative; width:100%; height:57px; border:solid #d4d4d4 1px;}
.tab-box:after{ background: none; }
div.tab-part ul li, div.tab-part ul li.last {list-style: none; background:url(../images/all-deal-bdr.png) 0 0 no-repeat;  float: left; margin-right: 28px;}
div.tab-part ul:first-child{ background: none; }
div.tab-part ul li a.current { background:url(../images/new-tab-bg.jpg) repeat-x; border-radius:5px; color:#FFF; position:relative;}
div.tab-part ul li a.current:after, .new_cl .deal-menutabs2 .tabs2 ul li a.activeLink:after { clear:both; content:""; width:14px; height:7px; background:url(../images/tab-active-after.png) no-repeat bottom center; position:absolute; bottom:-6px; left:50%;}
.new_cl .deal-menutabs2 .tabs2 ul li a.activeLink:after{ bottom: 4px; }
div.tabscontent > div { padding:15px 0 0 0;}
.scroll-wrapper2 { float: right;  margin-right: 10px; position: absolute; top: 64px; right:27px; z-index:4;}
.tab-box li a { margin:0px 12px; float:left; color:#3c4044; padding:0px 15px; text-decoration:none; font:14px/42px ZurichBTBold;  text-transform:uppercase; 
 }
 div.tab-part ul li a { display: inline-block; color: #3c4044; outline: 0; text-decoration: none; text-shadow: none; }

.products_gallery ul.product li h4 span{
    padding: 0 0 0 0; text-align:left; width: 50%;
    float: left;
    color: #f18b46;
    font: 30px/30px "ZurichBTBold";  
}

.products_gallery ul.product li h4 span.currency{
    font-size: 18px;
    width: auto;
}

.products_gallery ul.product li h4 span.price{
    width: 20px;
}

.products_gallery ul.product li h4 span, .wrapper .page .col1-layout .col-main div.products-listing ul.product li h4 span{
    text-shadow: none;
}

.products_gallery ul.product li h4 span { padding:0;}
.products_gallery ul.product li h4 span small{  font: 14px/18px ZurichBT-Roman; color: #63686c; display:inline-block; text-align:center; text-transform:lowercase; width: 85px; }
.products_gallery ul.product{ height: 325px; }
.products_gallery ul.product li h4 span + span {
    text-shadow: -1px -1px #70a92d, 1px 1px #9CCB7F; 
    background:url(../images/viewnow2.jpg);
    font: bold 13px/36px "ZurichBT-Roman";
    float: right;
    color:#ffffff;
    padding: 0 0px 0 0; margin:20px 0 0 0;
    font-weight: bold; border-radius:5px;}
.products-listing ul.product li div, .search-listing ul.product li div, .products_gallery ul.product li div, .category-products .products-grid ul li div{ 
    border: none; 
}

.products-listing ul.product li div, .search-listing ul.product li div,.category-products .products-grid ul li div{
    background:url(../images/line.png) no-repeat right top;
    padding-right: 20px;
 
}

.products_gallery ul.product li{
  padding: 20px 0 0 15px;
}

.products_gallery{
  background: #fff !important;
}


/* Hot category row */
.hot-catagery-row{ width:100%; margin:0 auto; height:88px; position:relative; border-radius:0 0 5px 5px;
/* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #495157, #353b40);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #495157, #353b40);
            /* IE 10 */
            background: -ms-linear-gradient(top, #495157, #353b40);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #495157, #353b40);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#495157", endColorstr="#353b40");
            background: linear-gradient(top, #495157, #353b40);
            -pie-background: linear-gradient(top, #495157, #353b40);
            /* IE 6-9 through PIE */
}

.catalog-category-view .hot-catagery-row, .catalog-category-view .subscribe-row{
  width: 1000px;
}

.catalog-category-view .subscribe-row{
  margin: 15px auto;
}

.hot-catagery-row:after{ width:100%; height:0; clear:both; content:""; display:block;}
.hot-catagery-row ul{ list-style:none; float:right;}
.hot-catagery-row ul li{ float:left; height:87px;}

.hot-catagery-row ul li a{ text-decoration:none; color:#FFFFFF; display:block;  text-align:center; padding:14px 24px 0 24px; font:17px/32px "ZurichBTBold"; color:#ffffff; text-transform:uppercase; height:74px;}

.hot-catagery-row ul li a:hover{

background: -webkit-linear-gradient(top, #f4930c, #ed641b);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #f4930c, #ed641b);
            /* IE 10 */
            background: -ms-linear-gradient(top, #f4930c, #ed641b);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #f4930c, #ed641b);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4930c", endColorstr="#ed641b");
            background: linear-gradient(top, #f4930c, #ed641b);
            -pie-background: linear-gradient(top, #f4930c, #ed641b);
            /* IE 6-9 through PIE */ position:relative;}

.hot-catagery-row ul li a.acti{

background: -webkit-linear-gradient(top, #f4930c, #ed641b);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #f4930c, #ed641b);
            /* IE 10 */
            background: -ms-linear-gradient(top, #f4930c, #ed641b);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #f4930c, #ed641b);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4930c", endColorstr="#ed641b");
            background: linear-gradient(top, #f4930c, #ed641b);
            -pie-background: linear-gradient(top, #f4930c, #ed641b);
            /* IE 6-9 through PIE */ position:relative;}

.hot-green{ height:88px; float:left; width:175px; text-align:center;  border-radius: 0 0 0 5px;
/* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #82b736, #59ab26);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #82b736, #59ab26);
            /* IE 10 */
            background: -ms-linear-gradient(top, #82b736, #59ab26);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #82b736, #59ab26);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82b736", endColorstr="#59ab26");
            background: linear-gradient(top, #82b736, #59ab26);
            -pie-background: linear-gradient(top, #82b736, #59ab26);
            /* IE 6-9 through PIE */ position:relative;}

.hot-green h4{font:33px/40px "ZurichBTBold"; color:#ffffff; text-transform:uppercase;  padding:8px 0 0 0px; margin:0; text-align:center;}
.hot-green span{ text-transform:capitalize; font:20px/25px "ZurichBTBold"; color:#ffffff;  margin:0; text-align:center;}

.hot-green:after{ width:36px; height:87px; clear:both; content:""; display:block; background:url(../images/hot-green-after.png) no-repeat right top; position:absolute; right:-36px; top:0;}

/* Subscriber bottom */

.subscribe-row{ width:100%; margin:0 auto; height:60px; position:relative; border-radius: 3px; margin:15px 0 0 0; 
/* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #41494e, #343a3f);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #41494e, #343a3f);
            /* IE 10 */
            background: -ms-linear-gradient(top, #41494e, #343a3f);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #41494e, #343a3f);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41494e", endColorstr="#343a3f");
            background: linear-gradient(top, #41494e, #343a3f);
            -pie-background: linear-gradient(top, #41494e, #343a3f);
            /* IE 6-9 through PIE */
}

.subscribe-row-left{ float:left; width:135px; position:relative;}
.subscribe-row-left h4{font:16px/24px "ZurichBTBold"; color:#ffffff; text-transform:uppercase; text-align:center; padding:8px 0 0 0; margin:0;}
.subscribe-row-left h6{font:10px/15px "ZurichBT-Roman"; color:#ffffff; text-transform:uppercase; text-align:center;  margin:0;}

.subscribe-row-left:after{ background:url(../images/subscribe-after.png) no-repeat right top; clear:both; content:""; display:block; width:32px; height:59px; position:absolute; right:-32px; top:0;}

.subscribe-row-right{ float:left; margin:0 0 0 50px; padding:10px 0; position:relative;}
.subscribe-row-right input{  width:250px; background:#FFFFFF; height:40px; border-radius:3px; font:13px/40px "latoregular"; color:#42443f; padding:0 10px 0 35px; border:0; margin:0 15px 0 0; position:relative;

/* Supplying a fallback renders PIE unusable on IE10 (in IE8 mode) */
            /* Safari 5.1 / Chrome 10+ */
            background: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
            /* IE 10 */
            background: -ms-linear-gradient(top, #fcfcfc, #f5f5f5);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #fcfcfc, #f5f5f5);
            /* MS filter */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#f5f5f5");
            background: linear-gradient(top, #fcfcfc, #f5f5f5);
            -pie-background: linear-gradient(top, #fcfcfc, #f5f5f5);
            /* IE 6-9 through PIE */

}


.subscribe-row-right select{  width:270px; background:#FFFFFF; height:40px; border-radius:3px; font:13px/40px "latoregular"; color:#42443f; padding:10px 5px; border:0; position:relative;}
.subscribe-row-right select option{ padding:6px 0 6px 5px; border:0;}
.select-arrow{ position:absolute; right:117px; top:10px; width:33px; height:40px;  display:block; z-index:9999; background:url(../images/select-after-arrow.jpg) no-repeat right top; border-radius:0 5px 5px 0;}

.subscribe-row-right input[type="submit"]{ width:106px; height:40px; text-align:center; font:17px/40px "ZurichBTBold"; color:#ffffff; text-transform:uppercase; border-radius:5px; background:url(../images/submit-bt.jpg) repeat-x; padding:0; margin:0 0 0 2px;}

.email-icon{ position:absolute; left:10px; top:25px; width:14px; height:10px; z-index:999999;}
.subscribe-row-right .validation-advice{ display:none;}
/*-----------------------------home05b-page-end--end----------------------*/

/* header */
.wrapper .page .bg-top-nav, .head_top, .cbp-af-header .new-hdr{background: url(../images/new-hdr.jpg)0 0 repeat-x;}
.new-home-loction{ width:772px; float:right;}
.wrapper .page .header-container .header .header-location .new-home-loction .change-loc{background:none; float:left; border-right:none; width:120px; margin-top:8px;}
.wrapper .page .header-container .header .header-location .new-home-loction .loc-dd{background:none; float:left; border-right:none; width:102px; margin-top:6px;}
.wrapper .page .header-container .header .header-location .new-home-loction .loc-dd ul li div.loc-list{ right:-180px;}
.wrapper .page .header-container .header .header-location .new-home-loction .loc-dd ul li img{ margin-left:10px;}
.wrapper .page .header-container .header .rgt_1{ width: 72%; } 
.wrapper .page .header-container .header .header-right .header-spinwin, .wrapper .page .header-container .header .rgt_1 .header-spinwin{ width: auto; margin-top: 10px; margin-left: 38px;}

.new-search-bar{ width:220px; float:left; margin-top:6px; margin-left:5px;}
.wrapper .page .header-container .header .form-search input#search{ width:210px; height:38px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px;     -o-border-radius:3px; background:#f7f7f7; color:#777777; font:11px "ZurichBTBold"; text-transform:uppercase;  border:none; padding:0 0 0 10px; }
.wrapper .page .bg-top-nav, .head_top, .cbp-af-header .new-hdr{background: url(../images/new-hdr.jpg)0 0 repeat-x;}
 
.styled-select{ position:relative; padding:0; float:left; margin: 5px 7px 0 8px;} 
.styled-select select .jqTransformSelectWrapper { background:#FFFFFF ; border: 1px solid #D3D9DD;  border-radius: 3px; color: #424446; float: left; font:11px/18px "ZurichBTBold"; color:#777777; height: 38px;  overflow: hidden; width: 230px; position:relative; text-transform:uppercase; padding:10px 0;}

.go-box{ width:46px; height:38px; background:#e0e0e0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; float:left; margin-top:6px;}
.go-box input[type="submit"]{background:#e0e0e0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; font:15px/38px "ZurichBTBold"; color:#4f575e; cursor:pointer; border:none; padding:0px 0 0 11px; height:38px;}

.styled-select{ position:relative; padding:0; float:left; margin: 5px 7px 0 8px;} 
.styled-select select .jqTransformSelectWrapper { background:#FFFFFF ; border: 1px solid #D3D9DD;  border-radius: 3px; color: #424446; float: left; font:11px/18px "ZurichBTBold"; color:#777777; height: 38px;  overflow: hidden; width: 230px; position:relative; text-transform:uppercase; padding:10px 0;}
 .jqTransformSelectWrapper ul

.styled-select .jqTransformSelectWrapper

.styled-select:after{  width:40px; height:38px; clear:both; content:""; display:block; position:absolute; right:6px; top:5px;}

.styled-select select option { padding:10px 0 10px 5px;}

.wrapper .page .header-container .header .header-right .quick-access, .wrapper .page .header-container .header .rgt_1 .quick-access{
    margin-top: 10px;
}

.wrapper .page .header-container .header .header-right .quick-access, .wrapper .page .header-container .header .rgt_1 .quick-access{
    float: left;
    margin-left: 17px;
}

.wrapper .page .header-container .header .header-right .header-spinwin, .wrapper .page .header-container .header .rgt_1 .header-spinwin{
    margin-left: 45px;
}

.header .quick-access .links li.link-chat a{
    padding: 0 27px 0 40px;
}

.wrapper .page .header-container .header .header-right .quick-access .top-cart .block-title ul.links li, .wrapper .page .header-container .header .rgt_1 .quick-access .top-cart .block-title ul.links li{
    padding: 0 0 0 32px;
}

/* top menu */
#fashion-nav{ width:100%; background:#ff7420; height:70px; margin-bottom:10px;}
.fashion-nav:before{background: url("../images/bg-body-leaves.png") no-repeat scroll 0 bottom; width:289px; height:146px; clear:both; content:""; position:absolute; bottom:-172px; left:-298px;}
.fashion-nav{ width:1010px; margin:4px auto; padding-top:2px; position:relative;}
.fashion-nav ul{ list-style-type:none; border-top: solid #ff8f4b 1px; padding-bottom:8px; margin:3px 0 0 0;}
.fashion-nav ul li{  background: url(../images/fashion-nav-icon.jpg)left 10px no-repeat; color:#FFF; float:left; }
.fashion-nav ul li .sub-menu-3 li{ background: none; }
.fashion-nav ul li a{ text-decoration:none; color:#FFF; display:block; padding:7px 14px; font:13px/15px "ZurichBT-Roman";}
.fashion-nav ul li:hover a{ background:#FFFFFF; color:#575757; text-decoration:none;}
.fashion-nav ul:first-child{ border-top:none; margin:0;}
.fashion-nav ul li:first-child{ background:none;}
.bnr-new-outer{ width:1005px; margin:0 auto; padding-bottom:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; display:inline-block; position:relative; z-index:1;}
.bnr-new{ width:708px; float:left; padding:0; height:376px; position:relative;}
.bnr-new ul{ list-style:none; height:376px; width:708px;}
.bnr-new ul li{ padding:0; position:relative}
.bnr-new-best{ width:294px; height:376px; float:left; padding:0; position:relative; background: url(../images/best-deal-pic.jpg)0 0 no-repeat;}
.shop-color-text{ width:auto; padding:15px 30px; position:absolute; top:180px;}
.shop-color-text p{ font:14px/24px  'latoregular'; color:#FFF; text-align:left;}
.learn-bt{ width:135px; height:36px; background: url(../images/learn-bt-bg.jpg)0 0 repeat-x; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; margin-top:15px; }
.learn-bt a{ text-decoration:none; font:13px/36px "ZurichBTBold"; text-transform:uppercase; background: url(../images/learn-bt.png) 91% 12px no-repeat; color:#FFF; display:block; text-align:center; padding-right:10px;}
.bnr-new-outer:after{ background: url(../images/dog-dol.png) no-repeat 0 top ; content: "";  height: 409px; right: -177px; position: absolute;top: 0px; width: 180px;}


/**drop-down-menu-css-start-here**/  

.fashion-nav ul li .sub-menu {display:none;  height:auto;}
.fashion-nav ul li .sub-menu02 {display:none;  height:auto;}

.fashion-nav ul li:hover .sub-menu { display:block; list-style:none; background:#ffffff;  position:absolute;  top:29px;  left:-2px;  height:auto;  z-index:99999!important; width:auto; border:2px solid #ff7420; border-top:0; }
.fashion-nav ul li:hover .sub-menu02 { display:block; list-style:none; background: #fff;  position:absolute;  top:62px;  left:-2px;  height:auto;  z-index:99999!important; width:auto; border:none; border-top:0; }

.fashion-nav ul li .sub-menu-local { display:none; list-style:none; background:#ffffff;  position:absolute;  top:29px;  left:-2px;  height:auto;  z-index:99999!important; width:auto; border:2px solid #ff7420; border-top:0; }
.fashion-nav ul li .sub-menu02-local { display:none; list-style:none; background: transparent;  position:absolute;  top:64px;  left:-2px;  height:auto;  z-index:99999!important; width:auto; border:none; border-top:0; }

.fashion-nav ul li:hover .local-top{ background: transparent; }
/**drop-down-menu-css-end-here**/ 

.fashion-nav ul li:hover .sub-menu .sub-menu-2{ border-bottom:1px solid #d3d3d3; float:left;  border-right:1px solid #d3d3d3; float:left; width:501px; padding:10px 0 0 0;} 
.fashion-nav ul li:hover .sub-menu .sub-menu-2:after{ width:100%; height:0; clear:both; content:""; display:block;}

.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3{ float:left;}
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 img{ vertical-align:bottom; width:150px!important; min-height:200px;}
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 h4, .fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 h4 a.topmenus{ font:13px/24px "ZurichBTBold"; color:#ff9352; padding:10px 0 5px 0; margin:0; }
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 h4 a.topmenus{ padding: 0; }
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 ul{ list-style:none; border:none; padding:0 0px 0 0;}
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 ul li{ padding:0; font:12px/22px "ZurichBT-Roman"; color:#333639; float:none;}
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 ul li a{ text-decoration:none; color:#333639; padding:0; display:inline-block;}
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 ul li a:hover{ text-decoration:none;  color:#ff9352;}
.padd-top{ padding:40px 8px 0 0; float:right!important; }
.fashion-nav ul li:hover .sub-menu .sub-menu-2 .sub-menu-3 .view-all{ background:url(../images/view-all-bt.jpg) repeat-x; padding:0 10px; text-align:center; font:11px/29px "ZurichBTBold"; color:#ffffff; display:block; text-transform:uppercase; width:140px; border-radius:3px; margin:5px 0 0 0;}

.min-h{ min-height:260px!important;}
.adult-deal{ left:390px!important;}

.topmenus:hover{
  color: #31B404 !important;
}


/* cat search */
.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid li{ margin:0 0 10px 18px; }

.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid{ width:998px; }
.clogin{ width: 79% !important;}

/* slider */
.bnr-new-outer{ width:1005px; margin:0 auto; padding-bottom:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; display:inline-block; position:relative; z-index:1;}
.bnr-new{ width:708px; float:left; padding:0; height:376px; position:relative;}
.bnr-new ul{ list-style:none; height:376px; width:708px;}
.bnr-new ul li{ padding:0; position:relative}
.bnr-new-best{ width:294px; height:376px; float:left; padding:0; position:relative; background: url(../images/best-deal-pic.jpg)0 0 no-repeat;}
.shop-color-text{ width:auto; padding:15px 30px; position:absolute; top:180px;}
.shop-color-text p{ font:14px/24px  'latoregular'; color:#FFF; text-align:left;}
.learn-bt{ width:135px; height:36px; background: url(../images/learn-bt-bg.jpg)0 0 repeat-x; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; margin-top:15px; }
.learn-bt a{ text-decoration:none; font:13px/36px "ZurichBTBold"; text-transform:uppercase; background: url(../images/learn-bt.png) 91% 12px no-repeat; color:#FFF; display:block; text-align:center; padding-right:10px;}
.bnr-new-outer:after{ background: url(../images/dog-dol.png) no-repeat 0 top ; content: "";  height: 409px; right: -177px; position: absolute;top: 0px; width: 180px;}

#pager3{ position:absolute; bottom:5px; left:310px; padding:0; margin:0; z-index:99999;}
#pager3 a{ background:url(../images/bullet-pegi.png) no-repeat; width:10px; height:10px;  z-index:99999; margin:0 2px; padding:0 2px; text-indent: -3333em; display:inline-block; outline:none}
#pager3 a.activeSlide { background:url(../images/bullet-pegi-active.png) no-repeat; width:12px; height:12px;  z-index:99999; margin:0 1px; padding:0 2px; text-indent:-999999em!important;}

/* Adds */
.add-part{ width:100%; text-align:center; padding:5px 0;}
.add-part img{ margin:5px 0 0 0;}

/* local deals */
.local-deal{ width:auto; float:right; padding:0 0 0 40px; background:url(../images/all-deal-bdr.png) no-repeat left; cursor:pointer;}
.local-deal p { font:14px/56px "ZurichBTBold"; color:#3C4044; text-transform:uppercase; float:left; padding-right:40px;}
.local-deal p img{ padding:2px 5px 0 0; vertical-align:middle;}
.local-dropdown{ width:43px; height:0px; padding:0; float:left;}
.local-dropdown img{ padding:0; cursor:pointer;}
.local-deal:hover{ background:#FFFFFF; border-left:1px solid #e1e1e1;}

.local-deal-2{ float:left; padding:10px 14px 10px 12px; width: 95px;}
.local-deal-2 h5{font:13px/24px "ZurichBTBold"; color:#ff9352;  margin:5px 0; }
.local-deal-2 ul{ list-style:none; border:none; padding:0;}
.local-deal-2 ul li{padding:0; font:12px/22px "ZurichBT-Roman"!important; color:#333639; float:none!important; background:none!important; padding:0; margin:0!important; height:auto;}
.local-deal-2 ul li a{ text-decoration:none; color:#333639; padding:0; display:inline-block; margin:0!important; text-transform:none; font:12px/22px "ZurichBT-Roman"!important;}
.local-deal-2 ul li a:hover{ text-decoration:none; color:#ff9352; }

.local-deal .local-deal-part{ display:none; list-style:none; background:transparent;  position:absolute;  top:54px;  right:0px;  height:auto;  z-index:99999!important; width:auto; border-top:0; }


.styled-select{ position:relative; padding:0; float:left; margin: 5px 7px 0 8px;} 
.styled-select select .jqTransformSelectWrapper { background:#FFFFFF ; border: 1px solid #D3D9DD;  border-radius: 3px; color: #424446; float: left; font:11px/18px "ZurichBTBold"; color:#777777; height: 38px;  overflow: hidden; width: 230px; position:relative; text-transform:uppercase; padding:10px 0;}

.styled-select:after{  width:40px; height:38px; clear:both; content:""; display:block; position:absolute; right:6px; top:5px;}

.styled-select select option { padding:10px 0 10px 5px;}


/*---------------jquery--select-box-css-start-here------------------*/
.jqTransformInputWrapper{ float:left;}

.jqTransformSelectWrapper { background:#f7f7f7; width:230px; height:38px; font:11px/38px "ZurichBTBold"; color:#777777; text-transform:uppercase; border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px;  position:relative; padding:0 0 0 5px; float:left;}

.jqTransformSelectWrapper div span{ width:230px!important; display:block; cursor:pointer; }
	
.jqTransformSelectWrapper a.jqTransformSelectOpen{ background:url(../images/select-after-arrow.jpg) no-repeat; display: block; height: 38px; position: absolute; right:2px; top:0; width: 33px;}

.jqTransformHidden{ display:none;}

.jqTransformSelectWrapper ul { height: 300px; overflow-y: scroll; background-color: #ffffff;   display: none;  left: 0; list-style: none outside none;  margin: 0;  overflow: auto; padding: 0;  position: absolute;  top:38px;  width: 230px!important;  z-index: 10; border-radius:0 0 5px 5px; border:1px solid #999999; border-bottom:none;}

.jqTransformSelectWrapper ul li a { background-color: #ffffff; display: block; font:11px/25px ZurichBTBold; color:#777777; padding: 5px; text-decoration: none; border-bottom:1px solid #999999; font-weight:normal!important;}

.jqTransformSelectWrapper ul li a:hover, .jqTransformSelectWrapper ul li a.selected:hover{ background:#dbdbdb; color:#777777;}

.header .form-search .styled-select a{ display: block; }
.wrapper .page .category-products .products-listing .category_list .subcatlist { margin-bottom: 15px; }

/* Deal Page */
.wrapper .page .col2-right-layout{
  background-image: none !important;
}

.wrapper .page .col2-right-layout .col-main{
  border-right: 1px solid #D4D4D4;
  width: 772px;
}

.customer-account-index .wrapper .page .col2-right-layout .col-main,
.customer-account-edit .wrapper .page .col2-right-layout .col-main,
.customer-address-editshipping .page .col2-right-layout .col-main,
.helpdeskultimate-customer-index .page .col2-right-layout .col-main,
.sales-order-history .page .col2-right-layout .col-main,
.customer-address-form .page .col2-right-layout .col-main,
.customer-address-form .page .col2-right-layout .col-main
{
    width: 698px;
}

.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder{
    margin-top: 0;
    width: 772px;
}

.wrapper .page .col2-right-layout .col-main .deal{
    margin-bottom: 0;
    border-radius: 0;
}

.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder{
    border-radius: 0;
}

.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder .deal-info .rightcol .product-img-box .product-slider #slider-ikoala{
    z-index: 1;
}

.wrapper .page .col2-right-layout .col-main .deal-tabs{
    width: 771px;
    margin-bottom: 0px;
    padding-bottom: 0px; position:relative; z-index:3;
}
.wrapper .page .col2-right-layout .col-main .deal-tabs .deal-menutabs {
    width:100%; 
    background: #f1f2f1 url(../images/ddeal-tab-bg.jpg) repeat-x; 
    padding: 0;    
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .deal-menutabs ul li{
   border-right: 1px solid #D4D4D4; 
   background: transparent;
   margin-right: 0;
   border-radius: 0;
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .deal-menutabs ul li a{
    padding: 0 21px;
}

.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder .deal-info .leftcol .special-price{
    line-height: 90px;
    height: 75px;
}

 .wrapper .page .col2-right-layout .col-main .deal-tabs .deal-menutabs ul li.active a {
    border-top:3px solid #f98409; 
    padding-bottom:0;
    border-radius: 0;
    margin-right: 0;
}

 .wrapper .page .col2-right-layout .col-main .deal-tabs .deal-menutabs ul li a { 
    padding-bottom:3px;
    background: #f1f2f1 url(../images/ddeal-tab-bg.jpg) repeat-x; outline:none;
    color: #2b3238;
    height: 52px;
    font:14px/52px ZurichBTBold;
    font-weight: bold;
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content{
    border: 1px solid #D4D4D4;
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text, .wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text p, .wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text span, .wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text ul li, .wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text a, .wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content .tab-info .tab-info-text p span{
    font: 14px/20px ZurichBT-Roman !important;
}
.wrapper .page .col2-right-layout .col-main .deal-tabs .buynow-bottom .special-price,.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder .deal-info .leftcol .special-price{
    /* font-family: ZurichBT-BoldCondensed, "Trebuchet MS", Helvetica, Arial, sans-serif; */
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .buynow-bottom{
    margin: 15px 0 0 10px;
    width: 97%;
}

.wrapper .page .category-products .products-listing .category_list h4{
  height: auto;
  min-height: 58px;
}

/* Deal page tabs */
.wrapper .page .tab-info2 .products-grid{
    height: 665px;
}

.wrapper .page .new_cl .tab-info2 .products-grid li div a{
    text-decoration: none;
    border: none;
}

.wrapper .page .new_cl .tab-info2 .products-grid li h4 span.viewnowprod{
    width: 46%
}

.new_cl{
    margin: 30px 0 0 0;
    width: 771px;
}

.new_cl .deal-menutabs2{
    width: 772px;
    border: none;
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .product-tabs-content{
    border: none;
    border-top: 1px solid #D4D4D4;
}

.new_cl .tabs2 ul{
    background: url(../images/today-bg.jpg) 0 0 repeat-x;
    border: solid #D4D4D4 1px;
}

.new_cl .deal-menutabs2 .tabs2 ul li a{
    color: #3C4044;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.new_cl .deal-menutabs2 .tabs2 ul li{
    background: url(../images/deal-page-tab-li-bdr.jpg) no-repeat right top;
    height: 56px;
    padding: 0;
    position: relative;
    margin:0 10px;
}

.new_cl .deal-menutabs2 .tabs2 ul li a.activeLink{
    border-top: none;
    background: url(../images/new-tab-bg.jpg) repeat-x;
    color: #fff;
    border-radius:5px;
    padding: 0 30px;
    margin: 6px 18px 0 18px;
    height: 39px;
    line-height: 40px;
    
}
.new_cl .deal-menutabs2 .tabs2 ul li:first-child a.activeLink{
    border-radius: 5px;
}

.new_cl .deal-menutabs2 .tabs2 ul li a{
    background: none;
}

.product-tabs-content .scroll-wrapper{
    right: 24px;
}

/* Bottom menu */
.bottom-menu{ width: 1000px; margin: auto; }
.wrapper .page .footer-container .footer::before{
    top: -127px;
    right: -162px;
    height: 104px;
    width: 203px;
}


.wrapper .page .col2-right-layout .col-main .deal-tabs .buynow-bottom{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -pie-border-radius: 10px;
    border-radius: 10px;
    behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
}

.wrapper .page .col2-right-layout .col-main .deal-tabs .buynow-bottom .buynow-btn .add-to-cart .buynowbtn-bg{
    border-radius: 0px 10px 10px 0px;
    -pie-border-radius: 0px 10px 10px 0px;
    behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
}

.subcat-height{
  line-height: 18px !important;
  padding-top:10px !important;
  min-height: 50px !important;
  
}

/* Handpicked localdeals */
.handpick-localdeals{
    width: 990px;
}
.handpick-localdeals .local-select{
    background: #4c555c;
    color: #fff;
    padding: 30px 20px 20px 20px;
}

.handpick-localdeals .local-select span.more{
    font-weight: bold;
    font-size: 23px;
    display: block;
    margin-top: 18px;
    color: #f58634;
}

.handpick-localdeals .partners{
    border: 5px solid #4C555C;
    -moz-border-radius: 0 0 55px 55px;
    -webkit-border-radius: 0 0 55px 55px;
    -pie-border-radius: 0 0 55px 55px;
    border-radius: 0 0 55px 55px;
    behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
    float:left;
    width: 980px;
    background: #fff;
    padding-bottom: 10px;
}

.handpick-localdeals .partners a{
    margin-left: 50px;
    display:block;
    float:left;
    padding: 0;
}

.handpick-localdeals .partners a.partnerlogo2{
    margin-left: 24px;
}

.handpick-localdeals .partners a.partnerlogo3{
    margin-left: 25px;
    font-size: 31px;
    font-weight: bold;
    text-decoration: none;
    color: #F58634;
    padding-top: 25px;
}

.header .handpick-localdeals .partners a.partnerlogo3{
    padding-top: 42px;
}

.handpick-localdeals h1{
    font-size: 66px !important;
    color: #fff !important;
    margin: 0 !important;
    font-family: "Zurich BT", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0 1em;
    padding: 0;
    text-transform:uppercase;
}

.handpick-localdeals form select{
    font: 16px/38px "ZurichBTBold";
    color: #777;
    width: 400px;
    padding:15px;
    height: 52px;
    margin-right: 10px;
    background: #fff;
}

.handpick-localdeals form select option{
   font: 20px/38px "ZurichBTBold"; 
}

.handpick-localdeals form .go{
    width: 82px;
    height: 62px;
    color: #777;
    font-size: 26px;
}

.right_part .pagi_top2{
    bottom: 15px;
}

.wrapper .page .category-products .products-listing .category_list ul.subcatlist, .wrapper .page .category-products .products-listing .category_list ul.subcatlist li ul.sub-category{
    background:  #F3910D;
}

.wrapper .page .category-products .products-listing .category_list h4.side-subcat{
    background: #F3910D url(../images/arrow_rev.gif) 13px 17px no-repeat;
}

.wrapper .page .category-products .products-listing .category_list ul.subcatlist li a{
    background: url(../images/arrow_rev2.gif) 20px 13px no-repeat;
}

.wrapper .page .category-products .products-listing .category_list ul.subcatlist li a:hover{
    color: #52595F;
}


