@media screen and ( max-width: 768px){
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus{ width:100%; min-width:98%;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .lft{ width:70%; padding-left:5px;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .rigt{  width:35%;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}

.cms-terms-conditions .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}
.cms-terms-conditions .wrapper .page .col2-right-layout .col-main .standard .terms_and_condition{ width:100%;}

.cms-privacy-policy .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}

.cms-how-it-works .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}
.cms-how-it-works .wrapper .page .col2-right-layout .col-main .standard .contactus h3{ width:100%;}
.cms-how-it-works .wrapper .page .col2-right-layout .col-main .standard .contactus .how_it_works{ width:100%;}

.cms-help .wrapper .page .col2-right-layout .col-main .standard{ width:94%!important; padding:2%;}
.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus .arrowlistmenu{ width:100%;}
.cms-help .wrapper .page .page-title h1{ width:98%!important;  padding-left:2%!important;}
.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus h3{ width:98%; }
.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus .arrowlistmenu .menuheader{ background-size:100% 100%; width:97%;}


.cms-feature-business .wrapper .feature-box{ width:100%;}
.cms-feature-business .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}
.contacts-index-index .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding:2%;}

}



@media screen and ( max-width: 767px){
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .lft{ width:100%}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .rigt{  width:100%;}

.catalogsearch-result-index .category-products .right_part{ width: 100% !important; }
.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid { width: 790px !important; }
.catalogsearch-result-index .right_part .pagi_top2{ margin-left: 400px !important;}
}


@media screen and ( max-width: 640px){
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .lft{ width:100%; padding:0;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard .aboutus .rigt{  width:100%; float:left; padding-top:1px;}

.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus .arrowlistmenu{ margin-top:455px;}

.gomage-checkout-onepage-index .wrapper .page .main .col-main .glc-login-and-paypal{ float:none !important; margin: auto!important; width: 300px !important; }
#featured-deals .products_gallery ul.product li div a .deal-title{ margin-top: 20px!important; }

.right_part .pagi_top2{ float:right !important; margin-right:15px !important;}

.catalogsearch-result-index .category-products .right_part{ width: 100% !important; }
.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid { width: 540px !important; margin-top: 10px; }
.catalogsearch-result-index .right_part .pagi_top2{ margin-left: 300px !important;}
}

@media screen and ( max-width: 480px){
.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus .arrowlistmenu .menuheader{ font-size:11px;}
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard{ width:96%!important; padding-left:2%;}
.wrapper .page .col2-right-layout .col-main .standard .contactus .form1 .bounce2 button.button{ position:absolute; bottom:19px;}
.contacts-index-index .wrapper .page .col2-right-layout .col-main .standard .contactus .form1 .mid{ padding-bottom:60px;}

.cms-feature-business .leftpart input.send{ position:absolute; bottom:246px; left:30px;}
.cms-feature-business .wrapper .page .col2-right-layout .col-main .standard .contactus .form1 .mid label.ipt{ position:absolute; bottom:257px; left:150px; width:auto;}
.cms-feature-business .wrapper .page .col2-right-layout .col-main .standard .contactus .form1 .mid form .rgtpart img{ margin-top:66px;}

.gomage-checkout-onepage-index .wrapper .page .main .col-main .glc-login-and-paypal{ float:none !important; margin: auto!important; width: 300px !important; }
#featured-deals .products_gallery ul.product li div a .deal-title{ margin-top: 20px!important; }

.right_part .pagi_top2{ float:right !important; margin-right:15px !important;}

.catalogsearch-result-index .category-products .right_part{ width: 100% !important; }
.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid { 
	width: 250px !important; 
	display: block !important;
	margin: 10px auto !important;

}
.catalogsearch-result-index .right_part .pagi_top2{ margin-left: 300px !important;}
}

@media screen and ( max-width: 320px){
.cms-aboutus .wrapper .page .col2-right-layout .col-main .standard{ width:92%!important; padding-left:15px;}
.cms-help .wrapper .page .col2-right-layout .col-main .standard .contactus .arrowlistmenu .menuheader{ font-size:9px;}

.gomage-checkout-onepage-index .wrapper .page .main .col-main .glc-login-and-paypal{ float:none !important; margin: auto!important; width: 300px !important; }
#featured-deals .products_gallery ul.product li div a .deal-title{ margin-top: 20px!important; }

.right_part .pagi_top2{ float:right !important; margin-right:15px !important;}

.catalogsearch-result-index .category-products .right_part{ width: 100% !important; }
.catalogsearch-result-index .wrapper .page .home-page-container .category-products .products-grid { 
	width: 250px !important; 
	display: block !important;
	margin: 10px auto !important;

}
.catalogsearch-result-index .right_part .pagi_top2{ margin-left: 100px !important;}
}



/** ikola responsive css end here 2 7 14 **/