/****************************************************************************
			                              common css
***************************************************************************/
* { margin:0; padding:0; outline:0; }
.Fleft { float:left!important; }
.Fright { float:right!important; }
.Middle { vertical-align:middle; }
.nobdr { border:none !important; }
.nobg{ background:none !important; }
.nobdr_top { border-top:none !important; }
.nobdr_bottom { border-bottom:none !important; }
.nomargin { margin:0px !important; }
.nomargin-left{ margin:0 1px 0 0;}
.nomargin-left { margin-left:0px !important; }
.nomargin-bottom { margin-bottom:0px !important; }
.nomargin-right{ margin-right:0px !important; }
.no-padding-right{ padding-right:0px !important;}
.nopadding { padding:0px !important; }
.alignbottom { vertical-align:text-top; }
img { border:0px; }
ul { list-style-type:none; padding:0; margin:0; }
ul li { list-style:none; padding:0; margin:0; }
a { text-decoration:none; outline:none; }
aside, details, figcaption, figure, ins, summary, small, mark, title, video, footer, header, hgroup, nav, section, article { display: block; }
.clear { padding:0; margin:0; clear:both; }
h1, h2, h3, h4, h5, h6 { padding:0; margin:0; font-weight:normal !important; }
html, body { height: 100%; width: 100%; padding: 0; margin: 0; background:url(../images/promotions/main-bg.gif) repeat; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;}
/***************************************************
			     font face styles
******************************************/
@font-face {
    font-family: 'latoregular';
    src: url('Fonts/lato-reg-webfont.eot');
    src: url('Fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/lato-reg-webfont.woff') format('woff'),
         url('Fonts/lato-reg-webfont.ttf') format('truetype'),
         url('Fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geoslab703_xbd_btextra_bold';
    src: url('Fonts/geo703xb.eot');
    src: url('Fonts/geo703xb.eot?#iefix') format('embedded-opentype'),
         url('Fonts/geo703xb.woff') format('woff'),
         url('Fonts/geo703xb.ttf') format('truetype'),
         url('Fonts/geo703xb.svg#geoslab703_xbd_btextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


#inline1{ width:975px; margin: 0 autoa; background:url(../images/promotions/pop-bg.jpg) center no-repeat;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#inline1 h2{font-family: 'geoslab703_xbd_btextra_bold'; font-size:41.4px; color:#ffffff; text-shadow: 1px 1px 1px rgba(44, 66, 0, 1); width:545px; padding-top:105px; text-align:center; line-height:55px; background:url(../images/promotions/heading-bor.gif) bottom repeat-x; padding-bottom:20px; margin-left:30px;}
.searh-field{position:relative; padding:0 0 0 30px; width:570px;}
.searh-field div{ float:left; margin:0 5px 0 0;}
.searh-field .select{  border:none; width:190px; position:absolute;  margin:10px 0 0 0px; border:1px solid #d0d0d0; height:53px; line-height:53px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#f8f8f8;font-family: 'latoregular'; font-size:14px; padding:0 0 0 15px; left:22px;}
.searh-field select option{font:14px/20px 'latoregular'; color:#1C1C1C; text-indent:10px; height:23px; padding:5px 0 0 0;}
.searh-field span.select:before{ background:url(../images/promotions/droparrow.gif) no-repeat ; content:""; width:47px; height:53px; position:absolute; right:0px;}
.searh-field input{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; margin:10px 0 0 205px; width:270px; height:53px; border:#dddbdb solid 1px; color:#545252; font-size:11px; padding-left:10px; line-height:53px;font:14px/20px 'latoregular';}
.searh-field input[type="submit"]{ background:url(../images/promotions/go-btn.png) no-repeat; width:56px; height:53px;  color:#FFFFFF; border:none; margin:10px 24px 0 0; cursor:pointer;-webkit-border-radius: 3px; float:right;font-family: 'geoslab703_xbd_btextra_bold'; font-size:30px;
-moz-border-radius: 3px;border-radius: 3px;}
.searh-field p{ color:#000000; font-size:12px;font-family: 'latoregular'; padding:10px 0 0 0;}
.searh-field p a{color:#000000;}
.contr{ width:545px; margin:42px 0 0 19px;}
.contr p{ color:#ffffff; font-size:13px;font-family: 'latoregular'; line-height:22px;}
#fancybox-loading {position: fixed;top: 50%;left: 50%;width: 40px;height: 40px;margin-top: -20px;margin-left: -20px;cursor: pointer;
overflow: hidden;z-index: 1104;display: none;}
#fancybox-tmp {padding: 0;margin: 0;border: 0;overflow: auto;display: none;}
#fancybox-wrap {position: absolute;top: 0;left: 0;z-index: 1101;display: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#fancybox-outer {position: relative;width: 100%;height: 100%;}
#fancybox-content {width: 0;height: 0;padding: 0;outline: none;position: relative;overflow: hidden;z-index: 1102;border: 0px solid #fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#fancybox-close {position: absolute;top:20px;right:20px;width:27px;height:27px;background:url(../images/promotions/fancy_close.png) no-repeat;
cursor: pointer;z-index: 1103;display: none;}


.new-box{ width:550px; float:left;}
.new-box h3{ color:#ffffff; font:21px/21px 'latoregular'; padding:10px 16px 0 20px; float:left;}
.new-box span{ color:#FFF; font:21px/21px 'latoregular'; padding:10px 5px 0 10px;  display: inline-block;}

.new-box .validation-advice{ position: absolute; left:225px; }
.searh-field .validation-advice, .new-box #advice-validate-one-required-by-name-yellow{ display:none; }


#fancybox-close{
    display: none !important;

}

.env-container{
    float:left;
}

.agree-env{
    float:left;
    margin-top: 16px;
}

.env-header{
    width: 579px;
    text-align: left;
    padding: 16px;
}

.env-header span{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.env-header .gday{
    font-size: 54px;
}

.hurry-env{
    width: 536px;
    text-align: left;
    padding-top: 22px;
}

.hurry-env span{
    color: yellow;
    font-size: 38px;
    font-weight: bold;
}

.hurry-env div{
    font-size: 15px;
    color: #fff;
    margin-top: 16px;
}

#fancybox-overlay{
    display:none !important;
}

body{
    background-color: #777;
}
