.wrapper .page .col2-right-layout .col-main .deal .deal-info-holder .deal-info .leftcol .add-to-cart .buynowbtn-bg button{
    margin-top: 12px;
}

.change-loc, .ch-location{
    margin-top: 0 !important;
}

.wrapper .page .header-container .header .form-search input#search, .jqTransformSelectWrapper ,.go-box{
    -pie-border-radius: 3px;
    border-radius: 3px;
    behavior: url("/skin/frontend/enterprise/ikoala/css/htc/PIE.htc");
    height: 35px;
    line-height: 35px;

}

.jqTransformSelectOpen, .go-box input[type="submit"]{
    height: 35px !important;
}

.head_top{
    background-image: url(../images/new-hdr.jpg) !important;
    height: 104px !important;
}

#fashion-nav{
    margin-top: -4px;
}
