/********************* Glider **********************************/
#slider {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #D9DDD3;
    height: 334px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 12px 0 0 11px;
    position: relative;
    width: 925px;
    z-index: 5;
}
#slider div.slidercontrolwr {
    background: none repeat scroll 0 0 #EBEBEB;
    bottom: 6px;
    height: 30px;
    left: 12px;
    position: absolute;
    width: 910px;
    z-index: 6;
}
#slider .slidercontrol {
    left: 380px;
    list-style: none outside none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    position: absolute;
    top: 5px;
}
#slider .slidercontrol a {
    background: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 0 2px;
    overflow: hidden;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slider .slidercontrol a:hover, .slidercontrol a.active {
    background: #F0F0F0;
    color: #C2C2C2;
}
#slider div.scroller {
    height: 295px;
    overflow: hidden;
    position: relative;
    width: 910px;
}
#slider  div.scroller div.content {
    padding: 0;
    width: 10000px;
}
#slider  div.scroller div.sectionslide {
    float: left;
    height: 290px;
    overflow: hidden;
}
#slider  .content a {
    color: #5A5A5A;
    text-decoration: none;
}
#slider  .content a:hover {
    text-decoration: underline;
}
#slider div.scroller img {
    border: medium none;
}
/****************************************************************/
/********************* Glider for product page and for featured deal **********************************/
.deal-info #slider {
    height: 320px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 2px 0 0 11px;
    position: relative;
    width: 450px;
    z-index: 5;
}

.deal-info .slider {
    height: 320px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 2px 0 0 11px;
    position: relative;
    width: 450px;
    z-index: 5;
}


.deal-info  div.slidercontrolwr {
    padding: 10px 0 0;
    text-align: center;
    width: 450px;
    z-index: 6;
}
.deal-info .slidercontrol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.deal-info .slidercontrol a {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 2px;
    overflow: hidden;
    padding: 6px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 59px;
	height:45px;
}
.deal-info .slidercontrol a:hover,.deal-info  .slidercontrol a.active {
    background: url("../images/dd/active_bg.png") no-repeat scroll 0 0 transparent;

}
.deal-info div.scroller {
    height: 267px;
    overflow: hidden;
    position: relative;
    width: 440px;
}
.deal-info div.scroller div.content {
    padding: 0;
    width: 10000px;
}
.deal-info div.scroller div.sectionslide {
    float: left;
    height: 290px;
    overflow: hidden;
}
.deal-info .content a {
    color: #5A5A5A;
    text-decoration: none;
}
.deal-info .content a:hover {
    text-decoration: underline;
}
.deal-info div.scroller img {
    border: medium none;
}



.scroller .deal-img {
    border: medium none;
    float: left;
    width: 440px;
}
#slider {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 0;
    padding-right: 0;
    width: 927px;
}
#slider .slidercontrol {
    left: 432px;
}
.scroller .sectionslide .deal-info{
    float: left;
    margin-left: 40px;
    width: 430px;
}

/****************************************************************/
/********************************All deals slider*********************************************************/
.dailydeals-all-index #slider {
    height: 340px;
}
.dailydeals-all-index #slider div.slidercontrolwr {
    left: 11px;
    width: 915px;
}
.dailydeals-all-index #slider div.scroller {
    width: 915px;
}
.dailydeals-all-index #slider div.scroller div.sectionslide {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #EBEBEB 100%) repeat scroll 0 0 #EBEBEB;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EBEBEB');
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EBEBEB)) repeat scroll 0 0 #EBEBEB;
    border: 1px solid #CCCCCC;
    height: 258px;
    padding: 10px 10px 25px;
}
.dailydeals-all-index #slider div.scroller img {
    border: 3px solid #FFFFFF;
}
.dailydeals-all-index .scroller .deal-img {
    border: 1px solid #EBEBEB;
    width: 446px;
}
.dailydeals-all-index #slider {
    padding-right: 11px;
    width: 915px;
}
.dailydeals-all-index .scroller .sectionslide .deal-info {
    float: left;
    margin-left: 20px;
    width: 425px;
}
/******************************************************************************************************/