/******************************************************* newsletter subscription popup form *************************************************/ 
.newsletter_logo {
    background: url("../images/dd/newsletter_logo.png") no-repeat scroll center bottom transparent;
    float: left;
    height: 101px;
    width: 325px;
	float:left;
}

#newsletter_form #close {
    cursor: pointer;
    float: left;
    margin-top: 3px;
    position: relative;
}

.round_clear {
	background : none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 5px solid #87B156;
	border-radius:22px;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
}
.round h2 {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}
.round label.required {
    display: block;
    float: left;
    font-weight: normal;
    line-height: 30px;
    width: 120px;
	color:#707070;
}

.round .button {
    background: none repeat scroll 0 0 #ED1C25 !important;
    border: 1px solid #ED1C25 !important;
    color: #FFFFFF !important;
    font-size: 12px !important;
    padding: 5px 8px !important;
    text-transform: uppercase;
    vertical-align: middle !important;
	margin-top:10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width:100px; 
	height 28px;
	float:right;
}
.round .button span{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.round {
    display: block;
    float: left;
    padding: 14px;
}
.container_16 .grid_6 {
    width: 350px;
}

.wijmo-wijtextbox.ui-widget, textarea, input[type="text"], input[type="password"], input[type="file"], select {
    background: -moz-linear-gradient(center top , #EDEFF0, #FFFFFF) repeat scroll 0 0 transparent;
    border: 1px solid #C1C1C1;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    color: #333333;
    outline: medium none;
    padding: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
}

h2.tagline {
    color: #ED1C25;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
}

#bug_bullets {
    list-style: circle outside none;
    margin-left: 0;
    padding-left: 0;
}

#bug_bullets li {
    background: url("") no-repeat scroll 0px 0px transparent;
    background-position: 0 13px;
    background-repeat: no-repeat;
    color: #999999;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    padding: 4px 0 0 22px;
}

.gradient {

}
.gradient .gradient_left{
    background: none repeat scroll 0 0 #DDEDCC;
    border-radius: 8px 8px 8px 8px;
    float: left;
    padding: 18px 8px;
	width: 325px;
}
.gradient .gradient_left_block{
	margin:15px 5px;
}
.gradient .gradient_left_block .one{
	margin-bottom:20px;
}
.gradient .gradient_left_block .two{
	margin-top:0px;
	margin-bottom:20px;
}
.gradient .gradient_left_block .email_id{
	width:70px; 
	float:left
}
.gradient .gradient_left_block .newsletter{
	float:right
}
.gradient .gradient_left_block .terms{
	font-size:11px;
	margin-top:10px; 
	color:#999999;
}
.gradient .gradient_right{
    float: right;
    margin-left: 2px;
    margin-top: -4px;
    width: 435px;
}
.gradient .gradient_right h2{
	margin-top:2px;
}
#newsletter_form_bg {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#newsletter_form {
    float: left;
    margin-left: 65px;
    position: fixed;
    top: 24%;
    width: 815px;
    z-index: 100000;
}	


#newsletter_form a{
	text-decoration:none;
}


.round .already{
	margin-left:28px;
	float:right;
	width:160px;
}
/***************************************************************/

#popup-newsletter-validate-detail #select-city{
    float: right;
    padding: 3px 5px;
    width: 201px;
}
#popup-newsletter-validate-detail .city-selector{
	margin-top: 8px;
}
.popup-top-title{
	width:auto;
}
.popup-top-title .popup-title{
    color: #0891BE;
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}
.popup-top-title .popup-subtitle{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 21px;
    margin-top: 4px;
    position: relative;
	line-height: 25px;
}

.gradient_right .popup-product-img {
    float: left;
    margin: 5px;
}