<?php if(count($this->getGroups())>1): ?>
<div class="citybox">
	<ul class="citylist">
		<?php foreach ($this->getGroups() as $_group): ?>
				<li><a href="<?php echo $_group->getHomeUrl() ?>"><?php echo $this->htmlEscape($_group->getName()) ?></a></li>
		<?php endforeach; ?>
	</ul>
</div>
<?php endif; ?>
