<div class="bread-cum-outer">
    <div class="bread-cum">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">/  Collections Collections</a></li>
            <li><a href="#">/  All</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
