<footer class="footer">
<?php echo $this->getChildHtml() ?>
<div class="footer-inner">
    <div class="fotr-box">
        <h4>Info</h4>
        <ul>
        <li><a href="#">Sign up as a member!</a></li>
        <li><a href="#">Customer results!</a></li>
        <li><a href="#">  Buy Tonic Time</a></li>
        <li><a href="#">FAQ.</a></li>
        <li><a href="#">Disclaimer</a></li>
        </ul>
    </div> 
    <!--fotr-box-End-->

    <div class="fotr-box2">
        <h4>Secure Payments by</h4>
        <ul>
            <li><a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/visa.png") ?>'>Visa card</a></li>
            <li><a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/master-card.jpg") ?>'>Master Card</a></li>
            <li><a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/amx.jpg") ?>'>  Amex Card</a></li>
            <li><a href="#"><img alt="" src='<?php echo $this->getSkinUrl("images/paypal.jpg") ?>'>Paypal</a></li>
        </ul>
    </div> 
    <!--fotr-box-End-->

    <div class="fotr-box3">
        <h4>security</h4>
        <ul>
            <li><a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/ssl-icon.png") ?>'>SSL encryption</a></li>
            <li><a href="#"><img alt="Healthburst" src='<?php echo $this->getSkinUrl("images/lock-icon.png") ?>'>Locked</a></li>
        </ul>
    </div> 
    <!--fotr-box-End-->
 
    <div class="newsletter">
        <h4> Newsletter</h4>
        <label>Signup to get the latest news...</label>
        <input type="text" name="Search" value="Enter Email Address:" onfocus="if (this.value == 'Enter Email Address:') {this.value = '';} " onblur="if (this.value == '') {this.value = 'Enter Email Address:';}"> <input type="submit" value="go">
        <div class="socal-icon">
            <a href="#" class="in-icon"></a>
            <a href="#" class="t-icon"></a>
            <a href="#" class="f-icon"></a>
            <a href="#" class="p-icon"></a>
            <a href="#" class="g-icon"></a>
        </div> 
        <!--socal-icon-End-->
    </div> 
    <!--fotr-box-End-->
    <div class="clear"></div>
</div>
</footer>

<div class="coppy-right">
    <div class="footer-inner">
        <p><?php echo $this->__('© 2014 Tonic Time. All rights reserved.') ?></p>
    </div>
</div>
