<header class="header">
    <a href="<?php echo Mage::getBaseUrl() ?>"><img class="logo" src="<?php echo $this->getSkinUrl('images/logo.png')?>" alt="Healthburst"></a>
    <nav class="nav">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SHOP<img src="<?php echo $this->getSkinUrl('images/drop-arrow.png') ?>" alt="Healthburst"></a>
            <ul class="submenu-2">
            <li><a href="#">Demo-1</a></li>
            <li><a href="#">Demo-2</a></li>
            <li><a href="#">Demo-3</a></li>
            <li><a href="#">Demo-4</a></li>
            <li><a href="#">Demo-5</a></li>
            </ul>
            </li>
            <li><a href="#">ABOUT US </a></li>
            <li><a href="#">PRODUCT INFO<img src="<?php echo $this->getSkinUrl('images/drop-arrow.png') ?>" alt="Healthburst"></a>
            <ul class="submenu-2">
            <li><a href="#">Demo-1</a></li>
            <li><a href="#">Demo-2</a></li>
            <li><a href="#">Demo-3</a></li>
            <li><a href="#">Demo-4</a></li>
            <li><a href="#">Demo-5</a></li>
            </ul>
            </li>
            <li><a href="#">CONTACT US </a></li>
            <li><a href="#">Delivery</a></li>
        </ul>
    </nav>
    <div class="rigt-hed">
        <ul>
            <li>
                <div class="serac-box">
                    <form>
                        <input type="text" name="Search" value="Search" onfocus="if (this.value == 'Search') {this.value = '';} " onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit">
                    </form>
                </div>
            </li>
            <li><img src="<?php echo $this->getSkinUrl('images/log-in.png') ?>" alt="Healthburst"><a href="#">Login</a> /  <a href="#">sign up</a></li>
            <li><img src="<?php echo $this->getSkinUrl('images/cart.png') ?>" alt="Healthburst"><a href="#">Bag (0)</a></li>
        </ul>
    </div> <!--rit-hed-End-->
    <div class="clear"></div>
</header>
<?php echo $this->getChildHtml('global_messages'); ?>
