<?php
$is_home = (Mage::getSingleton('cms/page')->getIdentifier() == 'home');
$is_category = (is_null(Mage::registry('current_product'))
                && is_null(Mage::registry('product'))
                && !is_null(Mage::registry('current_category')));
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
  <head>
    <?php echo $this->getChildHtml('head') ?>
  </head>
  <body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
    <?php echo $this->getChildHtml('after_body_start') ?>
    <div class="wrapper">
      <?php echo $this->getChildHtml('global_notices') ?>
      <div class="page">
          <div class="bg-menu">
              <div class="bg-top-nav">
                 <div class="bg-body-leaves">
                      <?php
						echo $this->getChildHtml('header');
						echo $this->getChildHtml('breadcrumbsContainer');
                      ?>
                              <div class="main col1-layout<?php if ($is_home || $is_category): ?> home-page-container<?php endif; ?>">
                      <?php
                      echo $this->getChildHtml('top_share_links');
                      if ($is_home || $is_category) {
                        echo $this->getChildHtml('featured_deals');
                        echo $this->getChildHtml('ikoala_sort_toolbar');
                      }
                      ?>
                                <div class="col-main">
                                  <?php echo $this->getChildHtml('content') ?>
                                    <?php if ($is_home || $is_category): ?>
                                        <?php echo $this->getChildHtml('seo_footer') ?>
                                    <?php endif; ?>
                                </div>
                               
                              </div>
                               
                      <?php
                      echo $this->getChildHtml('footer_before');
                      echo $this->getChildHtml('footer');
                      echo $this->getChildHtml('before_body_end');
                      ?>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <?php echo $this->getAbsoluteFooter() ?>
  </body>
</html>
