<?php if ($this->getStoreCount() > 1): ?>
<div class="city-switcher">
    <label for="select-city"><?php echo $this->__('Filter Deals') ?></label>
    <select id="select-city" title="<?php echo $this->__('Select City') ?>" onchange="location.href=this.value">
    <?php foreach ($this->getStores() as $_store): ?>
        <option value="<?php echo $_store->getUrl('') ?>"<?php if ($_store->getId() == $this->getCurrentStoreId()): ?> selected="selected"<?php endif; ?>><?php echo $_store->getName() ?></option>
    <?php endforeach; ?>
    </select>
</div>
<?php endif; ?>
