.gomage-checkout-onepage-index .wrapper .page .col1-layout {
	background:none;
	border: none;
}
.gomage-checkout-onepage-index .subscribe-search-wrapper {
	display: none;
}

.checkout-onepage-success .wrapper .page .main .col-main{
    background-color: #fff;
}   
