.wrapper .page .toolbar, .wrapper .page .toolbar-bottom { 
    display: block; 
    border-top: 1px solid #D9DDD3;
    width: 100%;
}
.pager .limiter, .pager .amount { display:none; }
.toolbar .pager { border: none; }
.toolbar .pager .pages strong, .toolbar .pager .pages li, .toolbar .pager .pages li a{
    font-size: 15px; 
    text-decoration: none;
}

.toolbar .pager .pages .current{
    background: #21610B;
    font-weight: normal;
    color: #fff;
}

.toolbar .pager .pages .previous, .toolbar .pager .pages .next, .toolbar .pager .pages .prev{
    font-size: 13px;
    background: #fff;
}

.toolbar .pager .pages li{
    padding: 2px 6px;
    background: #ccc;
}

.toolbar-bottom .toolbar .pager{ display: block !important; }
