.merchant-entry{
    clear:both;
}

.my-account, #tabs{
    min-height: 300px;
}

#merchant_info_tab{
    text-align: center;
    padding: 50px 0 0 0;
}

#merchant_info_tab select{
    font-weight: bold;
    width: 240px;
    padding: 10px;
}


#websites_info_tab .ik-website li{
    font-weight: bold;
}

.tab-header{
    font-weight: bold;
    margin-bottom: 10px;
}

 #product_images_tab .tab-header{
    font-size: 18px;
    padding: 1em 1.4em;
}

#websites_info_tab .ik-website .ik-group li{
    font-weight: normal;
    margin-left: 20px;
}

#websites_info_tab .ikoala-websites{
    float:left;
    padding: 0 20px;
}

#product_images_tab{
    font-size: 12px;
   
}

#product_images_tab .headings th{
    font-weight: bold;
}

#product_images_tab .messages .notice-msg li{
    font-size: 10px;
} 
#categories_info_tab ul{
    padding: 0 20px;
}

#categories_info_tab .level-1{
    font-weight: bold;
}

#categories_info_tab .level-2, #categories_info_tab .level-3, #categories_info_tab .level-4{
    font-weight: normal;
}

#tabs li{
    font-size: 13px;
    color: #444;
}

#create-deal{
    width: 147px;
    height: 40px;
    background:url('../images/header-home-signup.png') no-repeat;
    color: #333;
}

.create-deal-container{
    width: 147px;
    margin: 40px auto;
}

.dailydeals-merchant-product-preview .merchant-entry{
    min-height: 250px;
    border: 1px solid #DDD;
    background: #fff;
    padding: 30px;
}

.thumbnail{
    margin-bottom: 15px;
}

.thumbnail .thumbnail-name, .thumbnail .thumbnail-img{
    float:left;
    font-weight: bold;
}

.thumbnail .thumbnail-name{
    padding: 20px;
}

.updatelink{
    margin-bottom: 15px;
}

.deal-preview-link{
    font-size: 14px;
}

.deal-preview-link span{
    font-size: 20px;
    font-weight: bold;
}

.ui-state-default{
    font-size: 12px;
}

.merchant-nav{
    text-align:center;
    font-weight: bold;
    margin: 10px auto 0 auto;
    max-width: 210px;
}

.single-nav{
    max-width: 95px; 
}

.merchant-nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.merchant-nav .merchant-nav-prev{
     background:url('../images/dd/back-button.png') no-repeat;
     height: 30px;
     width: 92px;
     display: block;
     margin:0 auto;
     padding: 2px 0 0 5px;
     float:left;
}

.merchant-nav .merchant-nav-next{
     background:url('../images/dd/next-button.png') no-repeat;
     height: 30px;
     width: 78px;
     display: block;
     margin:0 auto;
     padding: 2px 15px;
     text-align: left;
     float:left;
}

.search-merchant{
    margin-bottom: 10px;
    font-style: italic;
    padding: 10px !important;
    font-size: 14px !important;
}

#merchant_product_form label{
    float:none;
}

.hor-scroll input[type="text"], .hor-scroll textarea, .hor-scroll select, .deal-sku{
    font-size: 12px;
}

#custom_tab button.delete, button.save, button.add {
    padding-left: 6px;
}

#custom_tab button:hover{
    background: url("../images/btn_over_bg.gif") repeat-x scroll 0 0;
}


#custom_tab{
    font: 12px/1.5em Arial,Helvetica,sans-serif;
}
#custom_tab button, .form-button{
    background: url("../images/btn_bg.gif") repeat-x scroll 0 100% #FFAC47;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    padding: 1px 7px 2px;
    text-align: center !important;
    white-space: nowrap;
}

#custom_tab button.add span:after, button.delete span:after {
    clear: both;
    content: ".";
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
#custom_tab button.add span {
    background-image: url("../images/add_btn_icon.gif");
}
#custom_tab button.btn-reset span, button.cancel span, button.delete span, button.save span, button.add span, button.back span, button.add-image span, button.add-widget span {
    padding-left: 20px;
}
#custom_tab button span {
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 1.35em;
}

#custom_tab button span span {
    background: none repeat scroll 0 0 transparent !important;
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
}

#custom_tab button.cancel span, button.delete span {
    background-image: url("../images/cancel_btn_icon.gif");
}

#custom_tab button.icon-btn {
    width: 32px !important;
}
#custom_tab button.fail, button.cancel, button.delete {
    background-color: #FCAF81;
    background-image: url("../images/cancel_btn_bg.gif");
    border-color: #D24403 #A92000 #A92000 #D24403;
    color: #FFFFFF;
}
#custom_tab button.delete, button.save, button.add {
    padding-left: 6px;
}

#custom_tab button.fail, button.cancel, button.delete {
    color: #FFFFFF;
}

#custom_tab button.icon-btn span {
    display: block;
    overflow: hidden;
    padding: 0;
    text-indent: -999em;
    width: 16px;
}

#custom_tab button.fail:hover, button.cancel:hover, button.delete:hover{
    background-image: url("../images/cancel_btn_over_bg.gif");
}

#custom_tab .option-header .input-text, .custom-options .option-header .select {
    width: 95%;
}

#custom_tab .option-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E7EFEF;
    border-color: -moz-use-text-color -moz-use-text-color #E7EFEF;
    border-image: none;
    border-style: none;
    border-width: 0 0 1em;
    width: 100%;
    margin-bottom: 5px;
}

#custom_tab input.input-text, textarea {
    padding-right: 2px;
}
#custom_tab input.input-text, textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
}
#custom_tab input, select {
    vertical-align: middle;
}

#custom_tab .option-box {
    background: none repeat scroll 0 0 #E7EFEF;
    border: 1px solid #CDDDDD;
    margin: 1.5em 0;
    padding: 1em;
}

#start_time, #end_time{
    width: 100px;
    margin-left: 10px;
}

.hideme{
    display:none;
}

.show-tree{
    cursor: pointer;
}
