<?php
/**
 * AdolMedia
 *
 * @category    design
 * @package     default_default
 *
 */
?>
<?php
	$_productCollection=$this->getProductCollection();
    $_helper = $this->helper('catalog/output');
	$count = $_productCollection->getSize();
?>
<?php 	$_coreHelper = $this->helper('core'); ?>
<?php if(!$count): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="page-title category-title">
        <h1><?php echo $this->__('Deals Preview'); ?></h1>
</div>
<div class="category-products">

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->getSize() ?>
    <?php $_columnCount = 2; ?>
    <?php $overlay_id = 1; $i=0; foreach ($_productCollection->getItems() as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
		
<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
<div class="product clickable rolloverEffect" style="position: relative;" onmouseover='showme(<?php echo '"overlay_'.$overlay_id.'"'; ?>);'  onmouseout='hideme(<?php echo '"overlay_'.$overlay_id.'"'; ?>);'>	
		<div class="description"><?php echo $_product->getName(); ?></div>
		<div class="thumbnail">				
			<img title="<?php echo $_product->getName(); ?>" alt="<?php echo $_product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(300,190); ?>" width="300px" height="190px">	
		</div>
		<div class="deal_discount clearfix">
			  <dl class="price">
				<dt><?php echo $this->__('Price'); ?></dt>
				<dd>
					<span class="symbol"><?php echo $_coreHelper->currency($_product->getSpecialPrice(),true,false); ?></span>
				</dd>
			  </dl>
			  <dl>
				<dt><?php echo $this->__('Value'); ?></dt>
				<dd>
					<span class="symbol"><?php echo $_coreHelper->currency($_product->getPrice(),true,false); ?></span>
				</dd>
			  </dl>
			  <?php $discount =  $_product->getPrice() - $_product->getSpecialPrice();?>
			  <dl class="discount">
				<dt><?php echo $this->__('Discount'); ?></dt>
				<dd>
					<span class="symbol"><?php echo $_coreHelper->currency($discount,true,false); ?></span>
				</dd>
			  </dl>
			  <div class="clear"></div>			  
		</div>	
		<div class="arrow">
			<a href="#"></a>
		</div>	
		<a style="width: 300px; height: 280px; opacity: 0.5; display: none;" class="rolloverEffectOverlay" id="overlay_<?php echo $overlay_id; ?>" href="<?php echo $_product->getProductUrl(); ?>"></a>
	</div>	
</li>
			

        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
		<?php $overlay_id++; ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>

    <div class="toolbar-bottom">
        <?php echo $this->getChildHtml('toolbar') ?>
    </div>
</div>
<?php endif; ?>
<script type="text/javascript">
function showme(id){
document.getElementById(id).style.display="block";
}

function hideme(id){
document.getElementById(id).style.display="none";
}
</script>