<div class="guarantee">
    <div>
        <div class="hurry"><a href="javascript:void(0)" onclick="productAddToCartForm.submit(this)"><img width="104" src="<?php echo $this->getSkinUrl('images/hurry.png')?>"/></a></div>
        <div class="hurry"><a href="<?php echo Mage::getUrl('you-beaut-guarantee') ?>"><img width="122" src="<?php echo $this->getSkinUrl('images/guaranty.png')?>"/></a></div>
    </div>
</div>
