
<?php $_product = $this->getProduct(); ?>
<?php	$galleryCollection = $_product->getMediaGalleryImages(); ?>
<?php if (count($galleryCollection) > 1){ ?>
<?php /*echo '<pre>';
					print_r($galleryCollection);
					die;*/
				?>
<div class="product-slider">
	 <div id="slider-ikoala" class="slider">
           
   <?php if($_product->getAttributeSetId() != 10): /* refactor this section - get only base image for localdeals */ ?>
        <div class="scroller">
            <div class="content">
                <?php $j=1;?>		
                <?php foreach ($galleryCollection as $_image): ?>
                <div class="sectionslide" id="section<?php echo $j;?>">
                    <a href="#" onclick="popWin('<?php echo $_image->getUrl() ?>', 'gallery', 'width=1024,height=768,left=450,top=150,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->resize(485,410); ?>" alt="<?php echo $_product->getName() ?>" />
                    </a>
                </div>
                <?php $j++;?>			
                <?php endforeach; ?>
            </div>
        </div>
        <div class="slidercontrolwr">
        <a onClick="my_glider.previous()" id="previous"></a>
            <div class="slidercontrol">
                    <?php $i=1;?>
                    <?php foreach ($galleryCollection as $_image): ?>
                            <a href="#section<?php echo $i;?>">
                            &nbsp;
                            </a>
                    <?php $i++;?>
                    <?php endforeach; ?>			
            </div>
        <a onClick="my_glider.next()" id="next"></a>
        </div>
    <?php else: ?>
        <div class="scroller">
            <div class="content">

                <div class="sectionslide" id="section1">
                    <a href="#">
                        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image')->keepFrame(false)->resize(485,410); ?>" alt="<?php echo $_product->getName() ?>" />
                    </a>
                </div>

            </div>
        </div>
    <?php endif; ?>
        
	</div>
    
    
	<script charset="utf-8" type="text/javascript">
		var my_glider = new Glider('slider-ikoala', {duration:0.5, autoGlide: true, frequency: 4, initialSection: 'section1'});   
	</script>
</div>

<?php }else{ ?>

<div class="media single-image">	
	<a href="#" onclick="popWin('<?php echo $_product->getImageUrl(); ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->escapeHtml($_product->getLabel()) ?>">
		<img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize(485,410); ?>" alt="<?php echo $_product->getName() ?>" />
	</a>
</div>
<?php } ?>
