<?php
    /*
     * BLOCK:  AdolMedia_DailyDeals_Block_Deal_View
     * 
     * */
    $_products = $this->getMostviewed();
    $_coreHelper = $this->helper('core');

    $_collectionSize = $_products->count();
    $_columnCount = 9;
    $i = 0;
?>

<div class="pagewrap">
    <div class="top">
        <h2><img alt="sydney" src="<?php echo $this->getSkinUrl('images/h1-bg.png') ?>">POPULAR DEALS </h2>
    </div>
    <div id="popular-pro">
        <?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
        
            <div class="controls">
                <a href="javascript:;"><img id="nextimg3"src="<?php echo $this->getSkinUrl('images/next1.png');?>" alt="Next"></a>
                <a href="javascript:;"><img id="previmg3" src="<?php echo $this->getSkinUrl('images/prev1.png');?>" alt="Previous"></a>
            </div>
            
            <ul class="popular-deals">
                <?php $dealHelperBlock = $this->getLayout()->createBlock('dailydeals/deal') ?>
                <?php foreach ($_products->getItems() as $_product): ?>
                    <?php if ($i++%$_columnCount==0): ?>
                        <li>
                    <?php endif ?>              
                        <?php $dealHelperBlock->setProduct($_product);?>
                        <div>
                            <p class="deal-name"><?php echo Mage::helper('core/string')->truncate($this->htmlEscape($_product->getName()), 75); ?></p>
                            <span class="pro">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(60); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                            </span>
                            <h5 class="price">
                                <p><?php echo $this->__('Value') ?><br><span><?php echo $_coreHelper->currency($_product->getFinalPrice(),true,false) ?></span></p> 
                                <p><?php echo $this->__('Save') ?><br><span><?php echo $dealHelperBlock->getDealDiscount(); ?></span></p>
                                <br/><br/>
                                <span class="view">View Now</span>
                            </h5>
                            <a href="<?php echo $_product->getProductUrl() ?>"></a>
                        </div>

                    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                        </li>
                    <?php endif ?>

                <?php endforeach; ?>
            </ul>

        <?php endif; ?>
    </div>
</div>


<script>
    jQuery(document).ready(function(e) {
        jQuery('ul.popular-deals').cycle({
            fx: 'scrollHorz',
            autorun: false,
            timeout: 0,
            prev: '#previmg3',
            next: '#nextimg3'
        }); 
    });
</script>
